{% if exprs %}
{% for expr in exprs %}
{% include "partials/expr_card.html" %}
{% endfor %}
{% elif users %}
{% for user in users %}
{% include "partials/user_card.html" %}
{% endfor %}
{% endif %}

{% block footer_scripts %}
  <script>
    var fix_borders = function(){
      var items = $('#feed .item');
      var initial_offset = $(items[0]).offset().left;
      var i = 1;
      while (i < items.length && $(items[i]).offset().left != initial_offset) i++;
      var columns = i;
      var remainder = items.length % columns

      items.each(function(i,el){
        if ( (i + 1) % columns == 0 ) $(el).removeClass('border_right');
        if ( i > items.length - remainder - 1 || items.length == 1 ) $(el).removeClass('border_bottom');
      });
    }

    $(fix_borders);
  </script>
{% endblock %}
