{% for item in cards %}
  {% if item.email %}
    {% include "partials/user_card.html" %}
  {% elif item.entity_class %}
    {% include "partials/feed_card.html" %}
  {% else %}
    {% include "partials/expr_card.html" %}
  {% endif %}
{% endfor %}
{% if next_page %}<a href='{{next_page}}' class='next_page hide'>Next page</a>{% endif %}
{% if create_expr_card %}
  {% set expr = {
      'title': "Create A New Expression",
      'url': create, 
      'thumb': 'skin/1/create_expr_card.png'|asset_url, 
      'tags': [], 
      'owner_name': None,
      'id': None
  } %} 
  {% set expr_context = None %}
  {% include "partials/expr_card.html" %}
{% endif %}
