<form action='{{ secure_server }}' method='POST' onsubmit="Hive.login_submit(this);">
  <div class="field username">
      <input id='username' type='text' name='username' value='{{ user['name'] }}' placeholder='Username or email'>
      <div class='spacer'></div>
  </div>
  <div class="field password">
      <input type='password' name='secret' placeholder='Password'><br>
  </div>
  {% if error %}<div id='login_error' class='error'>{{ error }}</div>{% endif %}
  <div class='spacer'></div>
  <div class='field login submit'>
    <a href="#" class='password_recovery' onclick="showDialog('#dia_password_recovery'); return false;">Forgot Password?</a>
    <input type='submit' class='btn black rounded submit' value='Enter'>
  </div>
  <input id='login_submit' type='hidden' name='action' value='login'>
  <input type='hidden' name='url' value='{{ url }}'>
</form>
