<!-- Begin Nav Template -->
<div class='nav' id='nav_bg'></div>
<div class='nav' style='font-weight : bold'>
  <a href='{{ server }}home/Recent' title="Explore Expressions"><img id='logo' class='hoverable' style='left : 5px; top : 0px; height : 50px; vertical-align : middle' src={{ icon }}></a>

 {% if user.logged_in %}
  <div class='nav_icon medbold' style='left : 50px; top : 0;'><a class="username" href='{{ home_url }}' title="Your Profile">{{ user['name'] }}</a></div>
  <img id='user_menu_handle' src='{{ server }}lib/skin/1/drop_arrow_circle.png'>
  <div id='notifications' class='nav_icon has_count' data-count='{{user.notification_count or 0}}'></div>
  <div id='feed_menu' class='menu feed_menu border selected'>
    {% include "dialogs/feed.html" %}
  </div>
  <div id='user_menu' class='menu'>
    <form name='logout_form' action='{{ secure_server }}' method='POST'>
      <input name='action' value='logout' type='hidden'>
    </form>
    {% if user.referrals > 0 %}
      <div class='menu_item' onclick='showDialog("#dia_referral")'>
        Invites <span class="referral_count">{{ user.referrals }}</span>
      </div>
    {% endif %}
    <div class='menu_item'><a href="{{secure_server}}settings">Settings</a></div>
    <div class='menu_item' onclick='document.logout_form.submit()'>Logout</div>
  </div>
  <script>
    hover_menu(
      $('#user_menu_handle'), 
      $('#user_menu'), 
      { offsetY: 10 }
    );
    hover_menu($('#notifications'), $('#feed_menu'), {
      open: function(){
        var div = $('#notifications');
        if ( div.attr('data-count') != "0" ) {
          div.attr('data-count', 0);
          iconCounts();
          logAction('notifications_open');
        }
      }
    });
  </script>
  {% else %}
    <a href='{{ server }}' title="Explore Expressions"><div style='position: relative; left : -11px; top : -1px; width: 240px;' class='nav nav_icon'><img src='/lib/skin/1/logotype.png'><img src='/lib/skin/1/logotype_beta.png'></div></a>
  {% endif %}
  {% if template != "pages/edit.html" %} {# don't show random button in editor #}
    <a href='{{server}}random'><img style="position: relative; left: {{'0' if user.logged_in else '-24px'}}; top: 0;" class="nav nav_icon hoverable" src='/lib/skin/1/shuffle.png' title="View Random Expression"></a>
  {% endif %}
</div>
<div class="nav" id="search" style="left: 40%; padding: 6px 0 6px 10px;">
    <input type="text" id="search_box" value="{{query}}" style="width: 250px;" onkeydown="if (event.keyCode == 13) $('#search_submit').click()"/>
    <div id="search_submit" class="hoverable" onclick="window.location = buildSearch()"></div>
</div>

{% if not user.logged_in %}
<div class='nav' style='right : 10px; top : 0px;'>
  <div id='signup_btn' class='btn hoverable nav_icon text signup_button'>Sign Up</div><div id='login_btn' class='btn hoverable nav_icon text'>Log In</div>
  <div id='login_menu' class='menu top'>
    <form id='login_form' action='{{ secure_server }}' method='POST'>
      {% if error %}<div id='login_error' class='error'>{{ error }}</div><br>{% endif %}
      <b>Username</b><br>
      <input id='username' type='text' name='username' value='{{ user['name'] }}'>
      <div class='spacer'></div>
      <b>Password</b><br>
      <input type='password' name='secret'><br>
      <a href="#" id='password_recovery_link' onclick="showDialog('#dia_password_recovery'); return false;">Forgot Password?</a>
      <div class='spacer'></div>
      <div style='float : left'>
        <input id='expires' type='checkbox' name='no_expires'><label for='expires' style='font-size:.75em'> Remember me</label>
      </div>
      <div style='float : right;'>
        <input id='login_submit' type='submit' class='btn black rounded' value='Enter'>
      </div>
      <input type='hidden' name='action' value='login'>
      <input type='hidden' name='url' value='{{ url }}'> <!-- Redirect to current URL on login instead of profile -->
    </form>
  </div>
</div>

 <script>
  $(function() {
   var login_menu = hover_menu($('#login_btn'), $('#login_menu'),
       { open : function() { $('#username').get(0).focus(); $('#username').get(0).select(); },
         close_delay : 1000, auto_close : false, click_persist : '#login_menu' });
   {% if error %} login_menu.options.hover_close = false; login_menu.open(); {% endif %}
  });
 </script>
{% endif %}

<!-- End Nav Template -->
