 <form id="signup_form" action='{{ secure_server }}' method='POST'>
  <input type='hidden' name='forward' value=''/>
  <input type='hidden' name='action' value='mail_us'/>
  <div class="field name">
      <label for='name'>Name</label>
      <input type='text' name='name'>
      <div class='spacer'></div>
  </div>
  <div class="field">
      <label for='email'>Email</label>
      <input type='text' name='email'>
      <div class='spacer'></div>
  </div>
  <div class="field">
      <label for='referral'>How did you hear about us?</label>
      <input type='text' name='referral'>
      <div class='spacer'></div>
  </div>
  <div class="field">
      <label for='message'>How do you express yourself?</label>
      <input type='text' name='message'>
      <div class='spacer'></div>
  </div>
  <div class="field submit">
      <div class='spacer'></div>
      <div><input type='submit' id='send_msg' class='btn black rounded' value='Send'></div>
  </div>
 </form>

