 <div id='tags'>
   {% for t in system_tags %}<div class='tag_label hoverable drag system {{ 'current' if t.name == tag.name }} {{ t.name}} '><a href='{{ t.url |e }}' draggable='false' value='{{ t.name|e }}'>
     {% if t.img %}
     {#<img class="hoverable" style="margin-top: 1px;" src="{{t.img}}">#}
    {% endif %}
    {{ t.name }}
   </a></div>{% endfor %}
   <div id="user_tags">
     {% for t in tags %}<div class='tag_label hoverable drag user {{ 'current' if t.name == tag.name }} tag_{{loop.index0 | mod(9) }}'><a href='{{ t.url |e }}' draggable='false' value='{{ t.name|e }}'>
       {% if t.img %}
         <img class="hoverable" style="margin-top: 1px;" src="{{t.img}}">
       {% else %}
         <p>#{{ t.name }}</p>
      {% endif %}
     </a></div>{% endfor %}
   </div>
  {% if user_is_owner %}
   <img src='/lib/skin/1/add_tab.png' class='hoverable' onclick='folder_add()' style='vertical-align : bottom' title='Add Folder'>
   {% if tag %}<img src='/lib/skin/1/remove_tab.png' class='hoverable' onclick='folder_remove()' style='vertical-align : bottom' title='Remove folder "{{ tag.name|e }}"'>{% endif %}
  {% endif %}
</div>

{% if user_is_owner %}
 <form id='upload_form' method='POST' action='{{ secure_server }}' style='position : absolute; left : -1000px' target='upload_target'>
  <input type='hidden' name='action' id='action_input'>
  <input type='hidden' name='expr_id' id='id_input'>
  <input type='hidden' name='value' id='value_input'>
  <iframe id='upload_target' name='upload_target'></iframe>
 </form>

 <script>
 var current_tag = '{{ tag.name|e }}';
 function folder_add() {
     var tag = prompt('New Folder');
     $('#action_input').val('user_tag_add');
     $('#value_input').val(tag);
     $('#upload_form').submit();
     $('#upload_target').load(function() { window.location = window.location });
 }
 function folder_remove() {
     $('#action_input').val('user_tag_remove');
     $('#value_input').val(current_tag);
     $('#upload_form').submit();
     $('#upload_target').load(function() { window.location = '{{ home_url }}' });
 }
 function add_tag(item, tag) {
     tag = $(tag).find('a')[0];
     var tags = $(item).find('.tags'), v = $(tag).attr('value');
     if ( v == "listening") return;
     // check if tag is already there (blehck)
     if(tags.children().filter(function() { return $(this).attr('value') == v }).length) return;
     var updateHtml = function(data){
       if (data && typeof(data) == "string"){
         tags.append($("<span class='tag'>").attr('value', data).append('#' + data + ' '));
         tags.append(' ');
       }
     }
     $.post('', {action:'tag_add', expr_id: $(item).find('.expr_id').val(), value: v}, updateHtml, 'json')
     return false;
 }
 function remove_tag(item) {
     $('#action_input').val('tag_remove');
     $('#id_input').val($(item).find('.expr_id').val());
     $('#value_input').val(current_tag);
     $('#upload_form').submit();
     return false;
 }
 
 $('.tag_label.drag').draggable().droppable({
     accept : '.feed.item', drop : function(target, dragged) { add_tag(dragged, target) } });
 $('.feed.item').droppable({ accept : '.tag_label.drag', drop : add_tag }).draggable();
 {% if tag and not feed_items %}
  $('#feed .feed.item').each(function() {
      var del = $("<img src='/lib/skin/1/remove_tab.png' class='hoverable' style='position : absolute; bottom : 3px; right : 3px' title='Remove from \"{{ tag.name|e }}\"'>");
      var that = $(this);
      del.click(function() {
          remove_tag(that);
          that.remove();
          return false;
      });
      $(this).append(del);
  });
 {% endif %}
 </script>

{% endif %}
