body {
  margin: 0;
  font-family: gibson, helvetica, sans-serif;
  width: 500px;
}
body.landscape { width: 900px; }

@font-face {
  font-family: 'gibson';
  src: url('fonts/gibson/gibson.ttf') format('opentype');   
  font-weight: 400;
}
@font-face {
  font-family: 'gibson';
  src: url('fonts/gibson/gibson-semibold.ttf') format('opentype');   
  font-weight: 600;
}