{<if (not cards_at)}
  {set cards_at 0}
{>}
{<for cards "card_num"}
  {<if type "user"}
    <div class='user card' id='card_{id}' draggable='false'>
      {|templates/user_card.html}
    </div>
  {>}{<elif (or (eq type "expr") (eq type "cat"))}
    <div class='expr activity card hoverable
    {<if auth} unlisted{>}' id='card_{id}' draggable='false' 
      data-num={plus card_num cards_at}>
      {<if (or (eq layout "grid") (eq layout "cat"))}
        {|templates/expr_card_feed.html}
      {>}
      {<if layout "profile"}
        {|templates/expr_card_large.html}
      {>}
      {<if auth}
        <div class="private icon"></div>
      {>}

    </div>
  {>}
{>}
