@import "compass/utilities/sprites/base";

// General Sprite Defaults
// You can override them before you import this file.
$pagethrough-sprite-base-class: ".pagethrough-sprite" !default;
$pagethrough-sprite-dimensions: false !default;
$pagethrough-position: 0% !default;
$pagethrough-spacing: 0 !default;
$pagethrough-repeat: no-repeat !default;
$pagethrough-prefix: '' !default;
$pagethrough-clean-up: true !default;

// These variables control the generated sprite output
// You can override them selectively before you import this file.
$pagethrough-next-position: $pagethrough-position !default;
$pagethrough-next-spacing: $pagethrough-spacing !default;
$pagethrough-next-repeat: $pagethrough-repeat !default;
$pagethrough-next_hover-position: $pagethrough-position !default;
$pagethrough-next_hover-spacing: $pagethrough-spacing !default;
$pagethrough-next_hover-repeat: $pagethrough-repeat !default;
$pagethrough-prev-position: $pagethrough-position !default;
$pagethrough-prev-spacing: $pagethrough-spacing !default;
$pagethrough-prev-repeat: $pagethrough-repeat !default;
$pagethrough-prev_hover-position: $pagethrough-position !default;
$pagethrough-prev_hover-spacing: $pagethrough-spacing !default;
$pagethrough-prev_hover-repeat: $pagethrough-repeat !default;

$pagethrough-sprites: sprite-map("pagethrough/*.png", 
$cleanup: $pagethrough-clean-up,
  $next-position: $pagethrough-next-position,
  $next-spacing: $pagethrough-next-spacing,
  $next-repeat: $pagethrough-next-repeat,
  $next_hover-position: $pagethrough-next_hover-position,
  $next_hover-spacing: $pagethrough-next_hover-spacing,
  $next_hover-repeat: $pagethrough-next_hover-repeat,
  $prev-position: $pagethrough-prev-position,
  $prev-spacing: $pagethrough-prev-spacing,
  $prev-repeat: $pagethrough-prev-repeat,
  $prev_hover-position: $pagethrough-prev_hover-position,
  $prev_hover-spacing: $pagethrough-prev_hover-spacing,
  $prev_hover-repeat: $pagethrough-prev_hover-repeat);

// All sprites should extend this class
// The pagethrough-sprite mixin will do so for you.
#{$pagethrough-sprite-base-class} {
  background: $pagethrough-sprites no-repeat;
}

// Use this to set the dimensions of an element
// based on the size of the original image.
@mixin pagethrough-sprite-dimensions($name) {
  @include sprite-dimensions($pagethrough-sprites, $name)
}

// Move the background position to display the sprite.
@mixin pagethrough-sprite-position($name, $offset-x: 0, $offset-y: 0) {
  @include sprite-background-position($pagethrough-sprites, $name, $offset-x, $offset-y)
}

// Extends the sprite base class and set the background position for the desired sprite.
// It will also apply the image dimensions if $dimensions is true.
@mixin pagethrough-sprite($name, $dimensions: $pagethrough-sprite-dimensions, $offset-x: 0, $offset-y: 0) {
  @extend #{$pagethrough-sprite-base-class};
  @include sprite($pagethrough-sprites, $name, $dimensions, $offset-x, $offset-y)
}

@mixin pagethrough-sprites($sprite-names, $dimensions: $pagethrough-sprite-dimensions, $prefix: sprite-map-name($pagethrough-sprites)) {
  @include sprites($pagethrough-sprites, $sprite-names, $pagethrough-sprite-base-class, $dimensions, $prefix)
}

// Generates a class for each sprited image.
@mixin all-pagethrough-sprites($dimensions: $pagethrough-sprite-dimensions, $prefix: sprite-map-name($pagethrough-sprites)) {
  @include pagethrough-sprites(next next_hover prev prev_hover, $dimensions, $prefix);
}
