@import "compass/utilities";
@import "compass/css3";
@import "colors";

$nav_height: 50px;
$left_padding: 30px;
$left_column_width: 210px;

// Imports
@import "nav";
@import "dialogs";
@import "tags";
@import "cards";
@import "feed";
@import "home";
@import "expression";

// Page Layout
.expr_cards {
  @import "profile";
}


#nav{ height: $nav_height; }

.expr_cards #header { 
  padding-top: 48px; 
  padding-left: $left_padding; 
  padding-bottom: 23px;
  }
#primary_content{ clear: both; }
.logged_in #primary_content, .tag_search #primary_content { padding-top: 12px; }

#left_column, #right_column, #header, #feed{ 
  @include pie-clearfix;
}
#left_column {
  float: left; 
  width: $left_column_width;
  padding-left: $left_padding;
}
#right_column {
  margin-left: $left_column_width + $left_padding;
}

// Resets
iframe { border: none; }
