@import "common";

.upper { text-transform: uppercase; }
.ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline {
    display: inline-block;
    vertical-align: top;
    /*
    TODO: We don't know how we want to handle this yet.
    &> * {
        vertical-align: middle;
    }
    */
}
.rightalign {
    position: absolute;
    right: 0px;
}
.rightify {
    text-align: right;
}
.show_hover {
    display:none;
}
.hoverable:hover .show_hover {
    display:block;
}
.full_wide { width: 100%; }
.vcenter_outer {
    display: table;
    width: 100%;
}
.vcenter_middle {
    display: table-cell;
    vertical-align: middle;
    &> * {
        overflow: hidden;
    }
}

button {
    border: none;
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
.teal_btn, .text_btn, .grey_btn, .black_btn {
    padding: 10px;
    font-family: Gibson;
    font-size: 17px;
    &:hover {
        color: white;
        background-color: black;
    }
}
.grey_btn {
    background-color: $color_light_grey;
}
.black_btn {
    color: white;
    background-color: black;
}
.teal_btn {
    background-color: $color_selected;
}
.ncolumn {
    width: 100%;
    .column {
        // margin-right: -3px;
        // display: inline-block;
        vertical-align: top;
        width: 33.33%;
        // float: left;
        display: inline-block;

        &> * {
            vertical-align: bottom;
        }
    }
}

// vertical centering
.vcenter_spacer {
    display: table;
    width: 100%;
    &> * {
        height: 100%;
        vertical-align: middle;
        display: table-cell;
        overflow: hidden;
    }
}
table.vcenter {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
   & td {
      vertical-align: middle;
      text-align: center;
   }
}

// horizontal centering
.centered { 
    text-align: center; 
}
img.centered, div.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Text
.text {
    display:inline-block;
}
.title {
    font-size: 42px;
}

.error_msg {
    color: $color_bright_red;
}

// Icons
$icon_class: logo plus-minus love comment republish share views;
$icon_name: logo close love-lg comment-lg republish-lg share-lg views-lg;
$icon_name_on: logo close love-lg-on comment-lg-on republish-lg-on share-lg views-lg;

.hover.arrow {
    position: absolute;
    width: 59px;
    height: 31px;
    background-image: asset_url('skin/nav/arrow.png');
}

.count {
    position: absolute;
    font-family: Bebas;
    font-size: 14px;
}

.counts_icon {
    display:inline-block;
    width:74px;
    border-radius: 12px;

    &.narrow {
        width:60px !important;
    }

    span {
        position: absolute;
        font-family: Bebas;
        font-size: 14px;
    }

    .icon {
        width:36px;
        height:48px;
    }

    @for $nth from 1 through length($icon_class) {
        $class_name: nth($icon_class, $nth);
        .icon.#{$class_name} {
            &.icon { background-image: asset_url('skin/nav/'#{nth($icon_name, $nth)}'.png'); }
            &.on.icon { background-image: asset_url('skin/nav/#{nth($icon_name_on, $nth)}.png'); }
        }
        &.#{$class_name}:hover, &.#{$class_name}:hover.on {
            .icon {
                background-image: asset_url('skin/nav/'#{nth($icon_name, $nth)}'-hover.png');
            }
        }
    }

    &.logo {
        margin-left: 15px;
    }
    .icon.logo {
        width:45px;
    }
    // BUGBUG
    .icon.share {
        &:hover { background-image: asset_url('skin/nav/share-lg.png'); }
    }
    &.plus-minus {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    &.comment.discussions {
        position: absolute;
        right: 8px;
        top: -2px;
        width: 64px;
        .icon { background-image: asset_url('skin/nav/comment.png'); }
        &:hover .icon { background-image: asset_url('skin/nav/comment.png'); }
        .counts { line-height: 44px }
    }

    &.love.on {
        background-color: $color_bright_red;
        color: $color_white;
    }

    &.comment.on {
        color: $color_white;
        background-color: $color_blue;
    }
    &.republish.on {
        color: $color_white;
        // !!TODO where is the gradient asset for bg color?
        // Edit here: http://www.colorzilla.com/gradient-editor/
        // @include background-image(linear-gradient(to bottom, rgba(193,113,93,1) 0%,rgba(237,249,97,1) 44%,rgba(45,146,155,1) 100%)); /* W3C */
        @include background-image(linear-gradient(to right, rgba(249,51,24,1) 0%,rgba(234,144,47,1) 33%,rgba(150,170,4,1) 66%,rgba(150,170,4,1) 66%,rgba(105,130,147,1) 100%)); /* W3C */
    }
    &.republish .counts {margin-left: 3px;}
    &.nohover:hover {
        background-color: transparent; 
    }
}

// Resets
iframe { border: none; }
html, body { background-color: white; height: 100%; }

img.thumb { background-color: $color_grey_medium; }

// Site-wide form styling
input, textarea { @include box-sizing(border-box); }
input[type=text], input[type=password], textarea {
    border: 1px solid black;
    padding: 8px;
    outline: none;
    font-family: Gibson;
    font-size: 17px;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 4px solid $color_selected;
    padding: 5px;
}
input[type=button], input[type=submit], button { border : none; margin: 0px; }

.hide { display: none !important; }

.border { border : 5px solid $color_unselected; padding : 5px; }
.selected { border-color: $color_selected; }
.medbold { font-weight : bold; font-size : 1.2em; }
.button { 
    padding:5px 10px; 
    font-weight : bold; 
    font-size : 20px; 
    display : inline-block; 
    cursor : default;
    white-space: nowrap;
    &.inactive { background-color : $color_24; color: white;}
    &.black:hover { 
        color : $color_1; 
        background-color : $color_32;
        &.inactive { background-color : $color_24; color: white;}
    }
}

.rounded {
    @include border-radius(5px);
}
.black { background-color : black; color: white; }
.error { color: $color_active; }
.inactive { color: $color_24; }
#user { position : fixed; display : inline-block; }
.spacer { height : 10px; clear : both; }

$placeholder_color: $color_light_charcoal;
::-webkit-input-placeholder { color: $placeholder_color; }
:-moz-placeholder { color: $placeholder_color; }
:-ms-input-placeholder { color: $placeholder_color; }

#btn_help { color : #696E76; }
#btn_help.active { color : white; }
.color_active {
    color: $color_active;
}
