// Main Colors
$color_0  : #000000;     $color_black          : $color_0;
$color_1  : #FF3C00;     $color_bright_red     : $color_1;
$color_2  : #EA902F;     $color_dark_yellow    : $color_2;
$color_3  : #96AA04;     $color_lime_green     : $color_3;
$color_4  : #ACEFE2;     $color_selected       : $color_4;
$color_5  : #698394;     $color_blue           : $color_5;
$color_6  : #464646;     $color_charcoal       : $color_6;
$color_7  : #AF001E;     $color_maroon         : $color_7;
$color_8  : #FFCA40;     $color_bright_yellow  : $color_8;
$color_9  : #38D65A;     $color_grass_green    : $color_9;
$color_10 : #024E63;     $color_navy_blue      : $color_10;
$color_11 : #652A6B;     $color_eggplant       : $color_11;
$color_12 : #7A7F87;     $color_grey_medium    : $color_12;
$color_13 : #AD055A;     $color_deep_maroon    : $color_13;
$color_14 : #FC6215;     $color_orange         : $color_14;
$color_15 : #587F7A;     $color_forest_teal    : $color_15;
$color_16 : #30B2E5;     $color_bright_blue    : $color_16;
$color_17 : #BA5DB1;     $color_purple         : $color_17;
$color_18 : #B5AEA9;     $color_light_charcoal : $color_18;
$color_19 : #F9485A;     $color_active         : $color_19;
$color_20 : #894C29;     $color_brown          : $color_20;
$color_21 : #84CEB7;     $color_money_green    : $color_21;
$color_22 : #49A7B7;     $color_deep_teal      : $color_22;
$color_23 : #A5898C;     $color_mauve          : $color_23;
$color_24 : #D9DADC;     $color_light_grey     : $color_24;
$color_25 : #F9B4BF;     $color_pink           : $color_25;
$color_26 : #D8A045;     $color_gold           : $color_26;
$color_27 : #6E7839;     $color_olive_green    : $color_27;
$color_28 : #9CD8E5;     $color_sky_blue       : $color_28;
$color_29 : #BFC3D6;     $color_greyish_purple : $color_29;
$color_30 : #E0DDDA;     $color_tan            : $color_30;
$color_31 : #F9E9E4;     $color_pale_pink      : $color_31;
$color_32 : #FFF685;     $color_pale_yellow    : $color_32;
$color_33 : #DBEA4E;     $color_pale_lime      : $color_33;
$color_34 : #E6F3FC;     $color_light_blue     : $color_34;
$color_35 : #FFFFFF;     $color_white          : $color_35;

// Aliases
$color_medium_blue    : $color_blue;
$color_unselected     : $color_light_grey;
$color_highlight      : $color_pale_yellow;
$color_facebook       : #3c5a98;

// Category Colors
$category_colors: $color_bright_red, $color_active, $color_orange, $color_dark_yellow, $color_bright_yellow, $color_lime_green, $color_grass_green, $color_light_grey;

// Tag Colors
$color_tag_0  : $color_bright_red;
$color_tag_1  : $color_active;
$color_tag_2  : $color_orange;
$color_tag_3  : $color_dark_yellow;
$color_tag_4  : $color_bright_yellow;
$color_tag_5  : $color_lime_green;
$color_tag_6  : $color_grass_green;
$color_tag_7  : $color_deep_teal;
$color_tag_8  : $color_forest_teal;
$color_tag_9  : $color_bright_blue;
$color_tag_10 : $color_blue;
$color_tag_11 : $color_greyish_purple;
$color_tag_12 : $color_purple;
$color_tag_13 : $color_grey_medium;
$color_tag_14 : $color_charcoal;
$color_tag_15 : $color_deep_maroon;

.color_grey_medium { color: $color_grey_medium; }

@function tag_color($i, $total) {

    @if $total == 1 {
        @return $color_bright_red;
    } @else if $total == 2 {
        @return nth( $color_bright_red $color_blue, $i );
    } @else if $total == 3 {
        @return nth( $color_bright_red $color_dark_yellow $color_blue, $i );
    } @else if $total == 4 {
        @return nth( $color_bright_red $color_dark_yellow $color_lime_green $color_blue, $i );
    } @else if $total == 5 {
        @return nth(
            $color_bright_red
            $color_dark_yellow
            $color_bright_yellow
            $color_lime_green
            $color_blue
            , $i
        );
    } @else if $total == 6 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_blue
            , $i
        );
    } @else if $total == 7 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_blue
            , $i
        );
    } @else if $total == 8 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_blue
            $color_greyish_purple
            , $i
        );
    } @else if $total == 9 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_forest_teal
            $color_blue
            $color_greyish_purple
            , $i
        );
    } @else if $total == 10 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_forest_teal
            $color_blue
            $color_greyish_purple
            , $i
        );
    } @else if $total == 11 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            , $i
        );
    } @else if $total == 12 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            , $i
        );
    } @else if $total == 13 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            $color_purple 
            , $i
        );
    } @else if $total == 14 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            $color_purple 
            $color_grey_medium 
            , $i
        );
    } @else if $total == 15 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            $color_purple 
            $color_grey_medium 
            $color_charcoal  
            , $i
        );
    } @else if $total == 16 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            $color_purple 
            $color_grey_medium 
            $color_charcoal
            $color_deep_maroon 
            , $i
        );
    } @else {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            $color_purple 
            $color_grey_medium 
            $color_charcoal
            $color_deep_maroon 
            , $i - floor($i / 16) * 16
        );
    }
}