// Main Colors
$color_0  : #000000;     $color_black          : $color_0;
$color_1  : #F73627;     $color_bright_red     : $color_1;
$color_2  : #E87B25;     $color_dark_yellow    : $color_2;
$color_3  : #7BA009;     $color_lime_green     : $color_3;
$color_4  : #96E2CE;     $color_selected       : $color_4;
$color_5  : #698293;     $color_blue           : $color_5;
$color_6  : #423C3E;     $color_charcoal       : $color_6;
$color_7  : #9C0008;     $color_maroon         : $color_7;
$color_8  : #F9A819;     $color_bright_yellow  : $color_8;
$color_9  : #13A507;     $color_grass_green    : $color_9;
$color_10 : #54D3AC;     $color_bright_teal    : $color_10;
$color_11 : #0A2655;     $color_navy_blue      : $color_11;
$color_12 : #696E76;     $color_grey_medium    : $color_12;
$color_13 : #810032;     $color_deep_maroon    : $color_13;
$color_14 : #F45519;     $color_orange         : $color_14;
$color_15 : #0E610E;     $color_forest_green   : $color_15;
$color_16 : #069674;     $color_deep_teal      : $color_16;
$color_17 : #7F4799;     $color_purple         : $color_17;
$color_18 : #A09B97;     $color_light_charcoal : $color_18;
$color_19 : #F72E4D;     $color_active         : $color_19;
$color_20 : #703C1F;     $color_brown          : $color_20;
$color_21 : #9E8118;     $color_gold           : $color_21;
$color_22 : #2D6A5D;     $color_forest_teal    : $color_22;
$color_23 : #419DD6;     $color_bright_blue    : $color_23;
$color_24 : #D1D1D1;     $color_light_grey     : $color_24;
$color_25 : #E27BB6;     $color_pink           : $color_25;
$color_26 : #986970;     $color_mauve          : $color_26;
$color_27 : #565E20;     $color_olive_green    : $color_27;
$color_28 : #68AD92;     $color_money_green    : $color_28;
$color_29 : #9196A7;     $color_greyish_purple : $color_29;
$color_30 : #EDEBE1;     $color_tan            : $color_30;
$color_31 : #F3D3C1;     $color_pale_pink      : $color_31;
$color_32 : #FFF673;     $color_pale_yellow    : $color_32;
$color_33 : #D6D64D;     $color_pale_lime      : $color_33;
$color_34 : #D0E0F0;     $color_light_blue     : $color_34;
$color_35 : #FFFFFF;     $color_white          : $color_35;

// Aliases
$color_medium_blue    : $color_blue;
$color_unselected     : $color_tan;
$color_highlight      : $color_pale_yellow;
$color_facebook       : #3c5a98;

// Tag Colors
$color_tag_0  : $color_bright_red;
$color_tag_1  : $color_active;
$color_tag_2  : $color_orange;
$color_tag_3  : $color_dark_yellow;
$color_tag_4  : $color_bright_yellow;
$color_tag_5  : $color_lime_green;
$color_tag_6  : $color_grass_green;
$color_tag_7  : $color_deep_teal;
$color_tag_8  : $color_forest_teal;
$color_tag_9  : $color_bright_blue;
$color_tag_10 : $color_medium_blue;
$color_tag_11 : $color_greyish_purple;
$color_tag_12 : $color_purple;
$color_tag_13 : $color_grey_medium;
$color_tag_14 : $color_charcoal;
$color_tag_15 : $color_deep_maroon;

.color_grey_medium { color: $color_grey_medium; }

@function tag_color($i, $total) {

    @if $total == 1 {
        @return $color_bright_red;
    } @else if $total == 2 {
        @return nth( $color_bright_red $color_blue, $i );
    } @else if $total == 3 {
        @return nth( $color_bright_red $color_dark_yellow $color_blue, $i );
    } @else if $total == 4 {
        @return nth( $color_bright_red $color_dark_yellow $color_lime_green $color_blue, $i );
    } @else if $total == 5 {
        @return nth(
            $color_bright_red
            $color_dark_yellow
            $color_bright_yellow
            $color_lime_green
            $color_blue
            , $i
        );
    } @else if $total == 6 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_blue
            , $i
        );
    } @else if $total == 7 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_blue
            , $i
        );
    } @else if $total == 8 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_blue
            $color_greyish_purple
            , $i
        );
    } @else if $total == 9 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_forest_teal
            $color_blue
            $color_greyish_purple
            , $i
        );
    } @else if $total == 10 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_forest_teal
            $color_blue
            $color_greyish_purple
            , $i
        );
    } @else if $total == 11 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            , $i
        );
    } @else if $total == 12 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            , $i
        );
    } @else if $total == 13 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            $color_purple 
            , $i
        );
    } @else if $total == 14 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            $color_purple 
            $color_grey_medium 
            , $i
        );
    } @else if $total == 15 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            $color_purple 
            $color_grey_medium 
            $color_charcoal  
            , $i
        );
    } @else if $total == 16 {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            $color_purple 
            $color_grey_medium 
            $color_charcoal
            $color_deep_maroon 
            , $i
        );
    } @else {
        @return nth( 
            $color_bright_red 
            $color_active 
            $color_orange
            $color_dark_yellow 
            $color_bright_yellow
            $color_lime_green
            $color_grass_green
            $color_deep_teal 
            $color_forest_teal
            $color_blue
            $color_bright_blue
            $color_greyish_purple
            $color_purple 
            $color_grey_medium 
            $color_charcoal
            $color_deep_maroon 
            , $i - floor($i / 16) * 16
        );
    }
}
