$color_0: #000000;
$color_1: #F73627;
$color_2: #E87B25;
$color_3: #7BA009;
$color_4: #96E2CE;
$color_5: #698293;
$color_6: #423C3E;
$color_7: #9C0008;
$color_8: #F9A819;
$color_9: #13A507;
$color_10: #54D3AC;
$color_11: #0A2655;
$color_12: #696E76;
$color_13: #810032;
$color_14: #F45519;
$color_15: #0E610E;
$color_16: #069674;
$color_17: #7F4799;
$color_18: #A09B97;
$color_19: #F72E4D;
$color_20: #703C1F;
$color_21: #9E8118;
$color_22: #2D6A5D;
$color_23: #419DD6;
$color_24: #D1D1D1;
$color_25: #E27BB6;
$color_26: #986970;
$color_27: #565E20;
$color_28: #68AD92;
$color_29: #9196A7;
$color_30: #EDEBE1;
$color_31: #F3D3C1;
$color_32: #FFF673;
$color_33: #D6D64D;
$color_34: #D0E0F0;
$color_35: #FFFFFF;

$color_selected    : $color_4;
$color_bright_red  : $color_1;
$color_unselected  : $color_30;
$color_active      : $color_19;
$color_highlight   : $color_32;
$color_tan         : $color_30;
$color_grey_medium : $color_12;
