@import "common";

#exprs {
    position:absolute; left: 0; bottom: 0;
    width:100%; height:95%;

    .expr {
        width:100%; height:100%; position:absolute; left: 0; top:0;
        .expr-visible { display:block; }
        .expr-hidden { display:none; }
    }
}

#site {
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 95%;
    overflow: auto;
    
    #header {
        margin: 60px 0;
        text-align: center;
        .heading {
            font-size: 50px;
            font-family: Bebas Neue;
            border-bottom: 4px solid black;
            padding: 0 2px 6px 2px;
        }
    }

    #user_header {
        .profile {
            margin: 180px auto 50px auto;
            width: 800px;
            position: relative; z-index: 1;
            background-color: white;

            .thumb {
                width: 222px; height: 222px;
                vertical-align: top;
                margin: 10px;
            }
            .info {
                font-family: Gibson;
                margin: 20px;
                .name {
                    font-size: 50px;
                    img {
                        vertical-align: middle;
                        margin: 0 10px 4px 10px;
                    }
                }
                display: inline-block;
                width: 500px; height: 222px;
            }
        }
        .background {
            z-index: 0;
            position: absolute; top: 0; left: 0;
            height: 300px;
            width: 100%;
        }

        #edit_btn, #mail_btn { width: 44px; height: 44px; }
        #edit_btn { background-image: asset_url('skin/nav/edit.png'); }
        #mail_btn { background-image: asset_url('skin/nav/edit.png'); }
    }

    #feed {
        width: 715px;
        margin: 0 auto 0 auto;

        .card {
            position: relative;
            border-bottom: 2px solid $color_grey_medium;
            padding-bottom: 10px;
            margin-bottom: 20px;

            .title {
                position:absolute;
                left: 0; top: 22px;
                max-width: 550px;
                font-weight: 300;
                font-size: 36px;
                font-family: Museo;
                border-left: 7px solid rgba(255,255,255,.95);
                .words {
                    padding: 4px 0;
                    word-spacing: -3px;
                    line-height: 49px;
                    background-color: rgba(255,255,255,.95);
                }
            }

            .snapshot {
                width: 715px;
                height: 430px;
            }

            .info {
                position: relative;
                padding: 10px 0;

                .owner {
                    font-family: Gibson;
                    .username {
                        font-family: Gibson Semibold;
                        text-transform: uppercase;
                    }
                   .thumb {
                       width:50px;
                       height:50px;
                       vertical-align: middle;
                   }
                }

                .stats {
                    position: absolute;
                    right: 0; top: 13px;
                    font-family: Bebas Neue;
                    img { vertical-align: middle; }
                }
            }
        }
    }
}

.tag_label {
    float: right;
    clear: both;
    color: white;
    padding: 0 8px;
    margin: 5px 0;
    font-size: 16px;
    &:hover { color: white; padding-left: 30px; }

    &.tag_0 { background-color: $color_tag_0; }
    &.tag_1 { background-color: $color_tag_1; }
    &.tag_2 { background-color: $color_tag_2; }
    &.tag_3 { background-color: $color_tag_3; }
    &.tag_4 { background-color: $color_tag_4; }
    &.tag_5 { background-color: $color_tag_5; }
    &.tag_6 { background-color: $color_tag_6; }
    &.tag_7 { background-color: $color_tag_7; }
    &.tag_8 { background-color: $color_tag_8; }
    &.tag_9 { background-color: $color_tag_9; }
    &.tag_10 { background-color: $color_tag_10; }
    &.tag_11 { background-color: $color_tag_11; }
    &.tag_12 { background-color: $color_tag_12; }
    &.tag_13 { background-color: $color_tag_13; }
    &.tag_14 { background-color: $color_tag_14; }
    &.tag_15 { background-color: $color_tag_15; }
}