// Important, if you change anything here, make sure to clear scss/.webassets-cache
@import "compass/utilities";
@import "compass/css3";
@import "colors";

// nav takes 3 layers. For invisible nav handles, the navigation,
// and their submenus, (4, 5, 6) respectively
$nav_layer: 40;
$nav_size: 44px;

$left_padding: 30px;
$right_padding: 12px;
$left_column_width: 178px;
$right_column_x: $left_padding + $left_column_width + $right_padding;

@mixin calc-width($w: 100%) {
    width: -moz-calc(#{$w});
    width: -webkit-calc(#{$w});
    width: calc(#{$w});
}
