@import "common";

#exprs {
    position:absolute; left: 0; bottom: 0;
    overflow:hidden;
    z-index: 1;
    width:100%; height:100%;
    display: none;
    background-color: $color_grey_medium;

    .expr {
        width:100%; height:100%; position:absolute; left: 0; top:0;
        &.expr-visible { display:block; }
        &.expr-hidden { display:none; }
    }
}

#user_header {
    .profile {
        margin: 180px auto 50px auto;
        width: 800px;
        margin: 180px auto 50px auto;
        position: relative; z-index: 1;
        background-color: white;

        .thumb {
            width: 222px; height: 222px;
            vertical-align: top;
            margin: 10px;
            display: inline-block;
            img { width: 222px; height: 222px; }
        }
        .info {
            font-family: Gibson;
            margin: 20px;
            .name {
                font-size: 50px;
                img {
                    vertical-align: middle;
                    margin: 0 10px 4px 10px;
                }
            }
            display: inline-block;
            width: 500px; height: 222px;

            /* for editing view */
            textarea {
                font-family: Gibson;
                padding: 0;
                width: 480px;
                border: none;
            }
        }
    }
    .background {
        z-index: 0;
        position: absolute; top: 0; left: 0;
        height: 300px;
        width: 100%;
        overflow: hidden;
        img { width: 100%; }
    }

    .info .icon {
        width: 44px; height: 44px;
        display: inline-block;
        vertical-align: middle;
    }
    #edit_btn { background-image: asset_url('skin/nav/edit.png'); }
}

// moved out of #feed because it applies to social overlay
.owner {
    font-family: Gibson;
    .username {
        font-family: Gibson Semibold;
        text-transform: uppercase;
    }
    .thumb {
       width:50px;
       height:50px;
       vertical-align: middle;
    }
    .icon {
        width: 44px; height: 44px;
        display: inline-block;
        vertical-align: middle;
    }
    .mail_btn { background-image: asset_url('skin/nav/mail.png'); }
    .follow_btn {
        padding: 6px;
        background-color: $color_selected;
    }
}

#site {
    position: absolute;
    z-index: 0;
    left: 0px; 
    top: 0px;
    width: 100%; height: 100%;
    
    .network_nav {
        display: block;
        text-align: center;
        .text_btn {
            display: inline-block;
            margin: 5px;
        }
        // @include border-radius(0px);
        // @include box-shadow(rgba(black, 0.4) 0px 0px 0px);
    }
    #header {
        margin: 60px 0;
        text-align: center;
        .heading {
            font-size: 50px;
            font-family: Bebas Neue;
            padding: 0 2px 6px 2px;
        }
    }

    #user_header {
    }
    .tag_list {
        text-align: center;
    }
    #tag_bar {
        padding-bottom: 10px;
        position: relative;
        button .plus_button {
            position:absolute;
            top: -4px;
            left: 0px;
            background-image: asset_url('skin/nav/plus.png');
            display:inline-block;
            width:36px;
            height:36px;
            background-size: 100% 100%;
            // vertical-align: middle;
        }
        .float_right {
            position: absolute;
            right: 0px;
            top: 0px;
            // #follow_tag_form
            .teal_btn {
                padding: 6px;
                background-color: $color_selected;
            }
            #new_expr_form button {
                padding-left: 36px;
                position: relative;
            }
        }
    }

    #feed {
        margin: 0 auto 0 auto;
        .card {
            &:hover {
                @include box-shadow(05px 05px 05px #666);
            }
            .title {
                font-weight: 300;
                font-size: 36px;
                font-family: Museo;
                .words {
                    padding: 4px 0;
                    word-spacing: -3px;
                    line-height: 49px;
                    background-color: rgba(255,255,255,.95);
                }
            }
        }
        .user.card {
            height: 363px;
        }
    }
    
    #feed.profile {
        width: 715px;

        .card {
            position: relative;
            border-bottom: 2px solid $color_grey_medium;
            padding-bottom: 10px;
            margin-bottom: 20px;

            .snapshot {
                width: 715px;
                height: 430px;
            }
            .title {
                opacity: 0.4;
                position: absolute;
                left: 0; top: 22px;
                max-width: 550px;
                border-left: 7px solid rgba(255,255,255,.95);
            }
            .info {
                position: relative;
                padding: 10px 0;

                .stats {
                    position: absolute;
                    right: 13px; top: 13px;
                    font-family: Bebas Neue;
                    img { vertical-align: middle; }
                }
            }
        }
    }

    #feed.grid {
        .title_spacer { height:88px; }
        .title {
            max-width: 390px;
            height: 88px;
            vertical-align: middle;
            display: table-cell;
        }
        .snapshot {
            width: 390px;
            height: 235px;
        }
        /* max-width: 1256px; */
        margin: auto;
        width: 1230px;

        .card {
            float: left;
            padding: 10px;
        }
    }
}

.tag_label {
    display: inline-block;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 3px 8px;
    clear: both;
    color: white;
    margin: 3px 0;
    font-size: 16px;
    &:hover { 
        color: white; 
        //padding-left: 30px; 
    }

    &.tag_0 { background-color: $color_tag_0; }
    &.tag_1 { background-color: $color_tag_1; }
    &.tag_2 { background-color: $color_tag_2; }
    &.tag_3 { background-color: $color_tag_3; }
    &.tag_4 { background-color: $color_tag_4; }
    &.tag_5 { background-color: $color_tag_5; }
    &.tag_6 { background-color: $color_tag_6; }
    &.tag_7 { background-color: $color_tag_7; }
    &.tag_8 { background-color: $color_tag_8; }
    &.tag_9 { background-color: $color_tag_9; }
    &.tag_10 { background-color: $color_tag_10; }
    &.tag_11 { background-color: $color_tag_11; }
    &.tag_12 { background-color: $color_tag_12; }
    &.tag_13 { background-color: $color_tag_13; }
    &.tag_14 { background-color: $color_tag_14; }
    &.tag_15 { background-color: $color_tag_15; }
}

