@import "common";

/* === click shield element === */
.dialog_shield, #menu_shield {
  position:fixed;
  width:100%;
  height:100%;
  z-index: 200;
  top: 0;
}
.dialog_shield.fade { background-color:black; opacity:0.33; }
#menu_shield{ z-index: 3; }
$header_font: Gibson, Helvetica, Arial, sans-serif;

/* === General === */
.dialog {
    display: none; 
    position: fixed;
    
    padding: 10px;
    z-index: 201;
    width: 500px;
    background-color : white;
    @include box-sizing(border-box);
    &.standard {
        width: 480px;
        padding: 20px;
        .title { margin-bottom: 20px; }
        .error_msg { margin-bottom: 10px; }
        textarea, input[type=text] {
            width: 100%;
            resize: none;
            margin: 10px 0px;
            white-space: pre-wrap;
        }
    }
    @include box-shadow(05px 05px 05px #666);
    .center, &.center {text-align: center;}
    .line { margin: 7px 0; clear: both;}
    .line .element { float: left; }
    .line .label {float:left; margin-top: 6px; margin-right:4px;}
    h1 { 
          font-family: $header_font;
          font-size: 33px;
          font-weight: normal;
          margin-top: 0;
    }
    h3 {
        font-family: $header_font;
        font-weight: normal;
        font-size: 28px;
        margin: 0;
    }
    .success_show {
        height: 180px;
        color: black;
        // color: white;
        background-color: $color_selected;
        .centered {
            padding: 0px 30px;
        }
    }
    .heading {
        margin-bottom: 20px;
    }
    .subheading {
        margin-bottom: -5px;
        margin-top: 10px;
    }
    .btns {
        text-align: right;
        margin-top: 20px;
    }

    // Send me a copy.
    .copy {
        margin-top: 10px;
        font-family: Gibson;
        font-size: 17px;
        input { margin-right: 5px; }
    }

    // for confirmation dialogs like overwrite and delete
    &.confirm {
    width: 320px;
    text-align: center;
    button[type=cancel] {float: left;}
    }   
    .submit { float: right; }
}

.btn_dialog_close, #btn_dialog_close {
    position: absolute; width: 20px; height: 20px; background-image: asset_url("skin/1/close.png");
    right:10px; top:5px; z-index : 100; 
}
.btn_dialog_close:hover, #btn_dialog_close:hover {background-image: asset_url("skin/1/close-hover.png")}

.dialog.iframe {
    width: 90%;
    height: 60%;
    // max-width: 1000px;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.confirm {
    width: 320px;
    text-align: center;
    button[type=cancel] {float: left;}
}

#dia_overwrite{
    padding : 20px;
    width : 20em;
    button[type=cancel] { float: left; }
}
#dia_delete_ok {
    padding: 20px;
    width: 320px;
    .title {margin-bottom: 15px;}
    // button[type=submit] {
    //     float: right;
    // }
}
#dia_confirm_deactivate {
    button[type=cancel] { float: left; }
}
#dia_share {
    width: 480px;
    padding: 20px;
    hr { margin-bottom: 20px; }
    textarea, input[type=text] {
        width: 100%;
        margin: 10px 0px;
    }
    textarea {
        resize: none;
        white-space: pre-wrap;
        height: 40px;
        &.message {
            height: 100px;
        }
    }
}
#dia_recover {
}
#dia_embed {
    width: 480px;
    padding: 20px;
    // textarea, input[type=text] {
    //     width: 100%;
    // }
    textarea {
        width: 100%;
        resize: none;
        margin: 10px 0px;
        white-space: pre-wrap;
        &.copy {
            height: 100px;
        }
        &.image_link {
            height: 60px;
        }
    }
}
#dia_mail {
    // Total width = 480px
    width: 480px;
    padding: 20px;
    .username {
        text-transform: inherit;
        font-size: 33px;
    }
    textarea {
        width: 100%;
        resize: none;
        height: 155px;
        margin: 10px 0px;
    }
}
#dia_delete {
    width: 280px;
    input { background-color: $color_highlight; }
}

#dia_TOS {
    padding: 0px;
    .title { margin: 20px 0px; }
    .content {
        font-size: 16px;
        padding: 0px 20px;
        max-height: 450px;
        overflow-y: scroll;
        white-space: pre-wrap;
    }
}
#dia_signup, #dia_login_or_join {
    width: auto;
    .line1 {}
    .line2 { 
        color: $color_bright_red;
    }
}
#dia_signup {
    padding: 20px 35px;
    .field { margin: 0 auto; }
    .column { float: left; }
    .column.left { float: left; padding-right: 20px; }
    .column.right { float: right; padding-left: 20px; }

    input[type=text] { width: 100%; }
    h3 { text-align: left; margin: 10px 0; }
}

#dia_login_or_join {
    padding: 20px 40px;
    .heading { margin: 15px 0px; }
    .spacer { height: 10px; }
    h3 {
        margin: 10px 0px;
        // text-align: center;
        // font-size: 22px;
    }
    .main_fields {
        height: 350px;
    }
    .field {
        margin-left: auto;
        margin-right: auto;
        label {
            display: block;
            font-weight: bold;
        }
    }

    input[type=submit] { float: right; }
    .column {
        width: 230px;
        display: inline-block;
        padding: 0 40px;
    }
    .left {
        // .field { width: 240px; }
        border-right: 1px solid #D1D1D1;
        float: left;
    }
    .right {
        // .field { width: 270px; }
        float: left;
        input[type=text], input[type=password] {
            width: 100%;
            margin: 4px 0px;
            &[name=message] { margin-bottom: 10px; }
        }
        .heading { display: none; }
    }
    .name { display: none; }
}

// Thumbnail Dialog
#dia_thumbnail .thumb {
    @include border-radius(7px);
    img { @include border-radius(7px); }
    background-color: #EEEEEE;
    cursor: pointer;
    img:hover { @include opacity(0.75); }
}

.dialog.login {
    width: 260px;
    padding: 20px;
    .title { margin-bottom: 10px; }
}

form.login {
    input[type=text], input[type=password] {
        width: 100%;
        margin: 4px 0px;
    }
    .password_recovery {
        color: grey;
        font-size: 13px
    }
    input[type=submit] { float: right; }
}

#dia_expr_password {
    width: 350px;
    padding: 30px;
    input[type=password] { width: 100%; }
}

// #dia_facebook_connect {
//     width: 860px;
//     .list { font-weight: bold; }
//     .smallprint {
//         color: $color_grey_medium;
//         font-size: 15px;
//         margin: 20px 0 0 0;
//     }
// }

// #dia_facebook_listen {
//     padding: 20px 10px 20px 20px;
//     width: auto;
//     h1 {
//         display: inline;
//         font-size: 35px;
//         font-family: $header_font;
//         margin-bottom: 15px;
//     }
//     img.thumb {
//         width: 50px;
//         height: 50px;
//         &.tnh { display: none; }
//     }
//     .friends {
//         width: 671px;
//         max-height: 400px;
//         overflow: auto;
//     }
//     .friend {
//         width: 300px;
//         padding: 7px;
//         padding-left: 0;
//         border: none;
//         float: left;
//         margin-right: 20px;
//         font-size: 16px;
//         img { 
//             vertical-align: middle; 
//             margin-right: 5px;
//         }
//     }
//     .names {
//         display: inline-block;
//         vertical-align: middle;
//         font-weight: bold;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         white-space: nowrap;
//         width: 193px;
//     }
//     .facebook_name {
//         font-size: 19px;
//         margin-bottom: 3px;
//     }
//     .username {
//         font-size: 12px;
//     }
//     .invite_fb_link {
//         float: left;
//         font-weight: bold;
//         padding-right: 8px;
//         margin-right: 25px;
//         cursor: pointer;
//         img { vertical-align: middle; }
//         &:hover { 
//             color: white;
//             background-color: $color_facebook; 
//         } 
//     }
//     .line2 {
//         margin-bottom: 22px;
//         overflow: auto;
//     }
//     #listen_to_all {
//         font-size: 17px;
//         margin: 0 55px 0 0;
//         float: right;
//         background-color: $color_active;
//         color: white;
//         &:hover, &.disabled {
//             background-color: $color_blue;
//             color: white;
//         }
//     }

//     .listen {
//         width: 37px;
//         height: 31px;
//         margin: 10px 0;
//         float: right;
//         background: asset_url("skin/1/people_small.png");
//         @include border-radius(3px);
//         &:hover {
//           background: $color_active asset_url("skin/1/people_small-hover.png");
//         }
//         &.active {
//           background: asset_url("skin/1/people_small_active.png");
//           &:hover {
//             background: $color_active asset_url("skin/1/people_small_active-hover.png");
//           }
//         }
//     }
// }

// #dia_fb_connect_landing {
//   .line { 
//       clear: both;
//       @include clearfix;
//       margin-top: 10px;
//   }
//   .button, .fb_icon { float: left; }
//   .fb_icon { width: 50px; height: 50px; }
//   $button_width: 280px;
//   .button_wrapper { width: $button_width; }
//   .button {
//       $padding: 15px;
//       padding: $padding;
//       margin-left: 5px;
//       width: $button_width - 56px - 2 * $padding; 
//       height: 51px - 2*$padding; 
//       text-align: left;
//       font-weight: bold;
//       font-size: 18px;
//       background-color: $color_facebook;
//       color: white;
//       cursor: default;
//   }
//   .button_wrapper:hover .button {
//       background-color: $color_highlight;
//       color: $color_active;
//   }
//   p { margin-bottom: 27px; }
// }

// #dia_fb_account_duplicate {
//     width: 640px;
// }

#dia_save {
    font-family: Gibson;
    font-size: 17px;

    .label._2column {
        margin: 15px 0px;
        &:first-child { margin-top: 0px; }
        .right.fill {
            padding-left: 10px;
        }
        .left { 
            min-width: 63px; 
            margin-top: 9px;
        }
    }
    .url_bar { margin-bottom: 3px; }
    input { margin: auto; }
    .remix_label {
        // font-family: Arial;
        margin-top: 5px;
    }
    .note { color: $color_grey_medium }
    .pointer:hover { color: $color_bright_red; }
    form { // form scope to not change menu hovers
        .active, .active .teal_btn { background-color: black; color: white; }
        .active div.drop_arrow { 
            background-image: asset_url('skin/nav/small_arrow_hover.png');
        }
    }
    div.drop_arrow { 
        background-image: asset_url('skin/nav/small_arrow.png');
        width: 17px;
        height: 16px;
    }
    .extra_buttons { 
        margin: 14px 0px 6px 0px; 
        div.drop_arrow { @include transform(rotate(-90deg)) }
    }
    span.teal_btn { cursor: default; }
    #password_ui { float: right; }
    #password { width:300px; }

    // .button_options.active span {
    //     color: white;
    //     background-color: black;
    // }
    .button_options {
        padding: 7px 7px 7px 0;
        span { padding: 4px; }
    }
    #privacy {
        padding-right: 7px;
        margin-top: 15px;
    }
    #save_submit {
        clear: both;
        margin-top: 15px;
        float: right;
    }


    .button_options_menu {
        .menu_item {
            padding: 5px;
            display: inline-block;
        }
        img {
            vertical-align: middle;
            margin: -2px 0px 0px -2px;
        }
        label { 
            margin-right: 2px; 
        }
    }
}
#menu_privacy .selected { display : none; }

.dialog.add_to_collection {
    .title { margin-bottom: 10px; }
    .tag_list_container {
        margin: 1px auto;
        .expander {
            margin: 0px;
            position: inherit;
            float: left;
        }
        .tag_list {
            width: 100%;
            min-width: initial;
        }
    }
}
