@import "common";

/* === click shield element === */
#dialog_shield{
  position:fixed;
  width:100%;
  height:100%;
  z-index: 200;
  top: 0;
}
#dialog_shield.fade { background-color:black; opacity:0.33; }

$header_font: Gibson, Helvetica, Arial, sans-serif;

/* === General === */
.dialog {
    display: none; 
    position: fixed;
    padding: 10px;
    z-index: 201;
    width: 500px;
    background-color : white;
    @include box-shadow(05px 05px 05px #666);
    .center, &.center {text-align: center;}
    .line { margin: 7px 0; clear: both;}
    .line .element { float: left; }
    .line .label {float:left; margin-top: 6px; margin-right:4px;}
    h1 { 
          font-family: $header_font;
          font-size: 33px;
          font-weight: normal;
          margin-top: 0;
    }
    h3 {
        font-family: $header_font;
        font-weight: normal;
        font-size: 28px;
        margin: 0;
    }
    .success_show {
        height: 180px;
        color: white;
        background-color: $color_selected;
        .centered {
            padding: 0px 30px;
        }
    }
    .heading {
        margin-bottom: 20px;
    }
    .subheading {
        margin-bottom: -5px;
        margin-top: 10px;
    }
    .btns {
        text-align: right;
        margin-top: 20px;
    }

    // Send me a copy.
    .copy {
        margin-top: 10px;
        font-family: Gibson;
        font-size: 17px;
        input { margin-right: 5px; }
    }
    .submit, button[type=submit] { float: right; }
}

.btn_dialog_close, #btn_dialog_close {
    position: absolute; width: 20px; height: 20px; background-image: asset_url("skin/1/close.png");
    right:10px; top:5px; z-index : 100; 
}
.btn_dialog_close:hover, #btn_dialog_close:hover {background-image: asset_url("skin/1/close-hover.png")}

#dia_editor_help {
    width: 90%;
    height: 60%;
    // max-width: 1000px;
    iframe {
        width: 100%;
        height: 100%;
    }
}

#dia_delete_ok {
    padding: 20px;
    width: 280px;
    .title {margin-bottom: 15px;}
    // button[type=submit] {
    //     float: right;
    // }
}
#dia_confirm_deactivate {
    button[type=cancel] { float: left; }
}
#dia_share {
    width: 440px;
    padding: 20px;
    hr { margin-bottom: 20px; }
    textarea, input[type=text] {
        width: 100%;
        margin: 10px 0px;
    }
    textarea {
        resize: none;
        white-space: pre-wrap;
        height: 40px;
        &.message {
            height: 100px;
        }
    }
}
#dia_embed {
    width: 440px;
    padding: 20px;
    // textarea, input[type=text] {
    //     width: 100%;
    // }
    textarea {
        width: 100%;
        resize: none;
        margin: 10px 0px;
        white-space: pre-wrap;
        &.copy {
            height: 100px;
        }
        &.image_link {
            height: 60px;
        }
    }
}
#dia_mail {
    // Total width = 480px
    width: 440px;
    padding: 20px;
    .username {
        text-transform: inherit;
        font-size: 33px;
    }
    textarea {
        width: 100%;
        resize: none;
        height: 155px;
        margin: 10px 0px;
    }
}
#dia_delete {
    width: 240px;
    input { background-color: $color_highlight; }
}


/* Referral Dialog */
#dia_referral {
    width: 490px;
    padding: 20px 40px 20px 50px;
    text-align: left;
}
#dia_referral h3 {
  margin: 20px 0;
}
#referral_count { color: red; }
#dia_referral input[type="text"], #dia_referral textarea { width: 150px; float: left; }
#dia_referral input[type="submit"] { 
    float: right; 
    font-size: 18px; 
    margin: 5px 12px; 
}

#dia_referral .line.first { margin-top: 27px; }

#dia_referral .medbold { line-height: 1em; }
#dia_referral .label .small { font-size: 12px; font-weight: normal }

/* Editor browser warning dialog */
#editor_browsers, #ie_warning {
    padding: 20px 50px;
    text-align: center;
}
#editor_browsers h1, #ie_warning h1{
    font-family: Lobster, serif;
    font-weight: normal;
    color: red;
    margin: 8px 0 0 0;
    font-size: 38px;
}
#editor_browsers h2, #ie_warning h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}

#editor_browsers h3, #ie_warning h3{
    font-size: 25px;
    margin: 20px 0;
}
#editor_browsers a {
    text-decoration: underline;
}

/* signup thank-you dialog */
#signup_thank_you {
    width: 400px;
    padding: 20px 50px;
    margin: 0;
}

#signup_thank_you h1 {
    font-family: League Gothic, sans-serif;
    font-weight: normal;
    font-size: 62px;
    color: #13A507;
    margin: 20px
}

#signup_thank_you h3 {
    margin-top: 10px;
}

#signup_thank_you h4 {
    margin-top: 10px;
    font-family: $header_font;
    font-size: 20px;
}

#signup_thank_you h4 a:hover {
    color: #419DD6;
}

#dia_TOS {
    padding: 0px;
    .title { margin: 20px 0px; }
    .content {
        font-size: 16px;
        padding: 0px 20px;
        max-height: 450px;
        overflow-y: scroll;
        white-space: pre-wrap;
    }
}
#dia_signup, #dia_login_or_join {
    width: auto;
    .line1 {}
    .line2 { 
        color: $color_bright_red;
    }
}
#dia_signup {
    padding: 20px 35px;
    .field { margin: 0 auto; }
    .column { float: left; }
    .column.left { float: left; padding-right: 20px; }
    .column.right { float: right; padding-left: 20px; }

    input[type=text] { width: 100%; }
    h3 { text-align: left; margin: 10px 0; }
}

#dia_login_or_join {
    padding: 20px 0px;
    .heading { margin: 15px 0px; }
    h3 {
        margin: 10px 0px;
        // text-align: center;
        // font-size: 22px;
    }
    .main_fields {
        height: 350px;
    }
    .field {
        margin-left: auto;
        margin-right: auto;
        label {
            display: block;
            font-weight: bold;
        }
    }

    input[type=submit] { float: right; }
    .column {
        min-width: 220px;
        overflow: auto;
        float: left;
        padding: 0 40px;
    }
    .left {
        // .field { width: 240px; }
        border-right: 1px solid #D1D1D1;
    }
    .right {
        // .field { width: 270px; }
        input[type=text], input[type=password] {
            width: 100%;
            margin: 4px 0px;
            &[name=message] { margin-bottom: 10px; }
        }
        .heading { display: none; }
    }
    .name { display: none; }
}

#dia_password_recovery {
    padding: 0px 35px 22px 35px;
}

// Thumbnail Dialog
#dia_thumbnail .thumb {
    @include border-radius(7px);
    img { @include border-radius(7px); }
    background-color: #EEEEEE;
    cursor: pointer;
    img:hover { @include opacity(0.75); }
}

.dialog.login {
    width: 220px;
    padding: 20px;
    .title { margin-bottom: 10px; }
}

form.login {
    input[type=text], input[type=password] {
        width: 100%;
        margin: 4px 0px;
        &[name=secret] { margin-bottom: 10px; }
    }
    .password_recovery {
        font-size: 12px;
        color: black;
        margin-right: 15px;
        float: left;
        line-height: 40px;
        height: 40px;
    }
    input[type=submit] { float: right; }
}

#dia_expr_password {
    width: 290px;
    padding: 30px;
    input[type=password] { width: 100%; }
}

// #dia_facebook_connect {
//     width: 860px;
//     .list { font-weight: bold; }
//     .smallprint {
//         color: $color_grey_medium;
//         font-size: 15px;
//         margin: 20px 0 0 0;
//     }
// }

// #dia_facebook_listen {
//     padding: 20px 10px 20px 20px;
//     width: auto;
//     h1 {
//         display: inline;
//         font-size: 35px;
//         font-family: $header_font;
//         margin-bottom: 15px;
//     }
//     img.thumb {
//         width: 50px;
//         height: 50px;
//         &.tnh { display: none; }
//     }
//     .friends {
//         width: 671px;
//         max-height: 400px;
//         overflow: auto;
//     }
//     .friend {
//         width: 300px;
//         padding: 7px;
//         padding-left: 0;
//         border: none;
//         float: left;
//         margin-right: 20px;
//         font-size: 16px;
//         img { 
//             vertical-align: middle; 
//             margin-right: 5px;
//         }
//     }
//     .names {
//         display: inline-block;
//         vertical-align: middle;
//         font-weight: bold;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         white-space: nowrap;
//         width: 193px;
//     }
//     .facebook_name {
//         font-size: 19px;
//         margin-bottom: 3px;
//     }
//     .username {
//         font-size: 12px;
//     }
//     .invite_fb_link {
//         float: left;
//         font-weight: bold;
//         padding-right: 8px;
//         margin-right: 25px;
//         cursor: pointer;
//         img { vertical-align: middle; }
//         &:hover { 
//             color: white;
//             background-color: $color_facebook; 
//         } 
//     }
//     .line2 {
//         margin-bottom: 22px;
//         overflow: auto;
//     }
//     #listen_to_all {
//         font-size: 17px;
//         margin: 0 55px 0 0;
//         float: right;
//         background-color: $color_active;
//         color: white;
//         &:hover, &.disabled {
//             background-color: $color_blue;
//             color: white;
//         }
//     }

//     .listen {
//         width: 37px;
//         height: 31px;
//         margin: 10px 0;
//         float: right;
//         background: asset_url("skin/1/people_small.png");
//         @include border-radius(3px);
//         &:hover {
//           background: $color_active asset_url("skin/1/people_small-hover.png");
//         }
//         &.active {
//           background: asset_url("skin/1/people_small_active.png");
//           &:hover {
//             background: $color_active asset_url("skin/1/people_small_active-hover.png");
//           }
//         }
//     }
// }

// #dia_fb_connect_landing {
//   .line { 
//       clear: both;
//       @include clearfix;
//       margin-top: 10px;
//   }
//   .button, .fb_icon { float: left; }
//   .fb_icon { width: 50px; height: 50px; }
//   $button_width: 280px;
//   .button_wrapper { width: $button_width; }
//   .button {
//       $padding: 15px;
//       padding: $padding;
//       margin-left: 5px;
//       width: $button_width - 56px - 2 * $padding; 
//       height: 51px - 2*$padding; 
//       text-align: left;
//       font-weight: bold;
//       font-size: 18px;
//       background-color: $color_facebook;
//       color: white;
//       cursor: default;
//   }
//   .button_wrapper:hover .button {
//       background-color: $color_highlight;
//       color: $color_active;
//   }
//   p { margin-bottom: 27px; }
// }

// #dia_fb_account_duplicate {
//     width: 640px;
// }
