@import "common";

/* ==========================================
   popup dialogs 
   ========================================== */


/* === Container element === */
#dialogs { display: none; }

/* === click shield element === */
#dialog_shield{
  position:fixed;
  width:100%;
  height:100%;
  z-index:4;
  top: 0;
}
#dialog_shield.fade { background-color:black; opacity:0.6; }

$header_font: Museo, Helvetica, Arial, sans-serif;

/* === General === */
.dialog { 
  display: none; 
  position:absolute;
  z-index:4; 
  width: 500px;
  background-color : white;
  -moz-box-shadow: 05px 05px 05px #666;
  -webkit-box-shadow: 05px 05px 05px #666;
  box-shadow: 05px 05px 05px #666;
  .center, &.center {text-align: center;}
  .line { margin: 7px 0; clear: both;}
  .line .element { float: left; }
  .line .label {float:left; margin-top: 6px; margin-right:4px;}
  h1 { 
      font-family: $header_font;
      text-align: center;
  }
}

.btn_dialog_close, #btn_dialog_close { position: absolute; width: 20px; height: 20px; background-image: asset_url("skin/1/close.png");
    right:10px; top:5px; z-index : 100; }
.btn_dialog_close:hover, #btn_dialog_close:hover {background-image: asset_url("skin/1/close-hover.png")}
input[type="text"].copy, textarea.copy {
    border: none;
    font-family: helvetica, verdana, sans-serif;
    white-space: pre-wrap;
}
.dialog h3 {
  font-family: $header_font;
  font-weight: normal;
  font-size: 28px;
}

/* Share dialog */
#email_send {margin-top: 26px; margin-left:20px; font-family:Arial; font-size:17px;}
#congrats_message h1 {font-weight:lighter; font-family:$header_font; display:inline; font-size: 33px;}
#congrats_message strong {font-weight:normal; color: red; }
#dia_share .share_context_explanation { 
    font-size: 13px;
    padding: 0 40px;
    input { float: left; }
}
#expression_url { 
    display:block; 
    float: left; 
    font-size:14px; 
    padding:7px; 
    margin:3px auto auto 10px; 
    width: 470px; 
    background-color: #FFF673; 
}
#expression_embed_code { 
    overflow:auto; 
    display:block; 
    float: left; 
    font-size:12px; 
    padding:7px; 
    margin: 0; 
    width: 439px; 
    height: 60px;
    background-color: #D0E0F0; 
}
#btn_url_copy { background-image:asset_url("skin/1/copy_clipboard.png"); float:right; width:20px; height:24px; margin: 5px 5px 0 0;}
#btn_url_copy.hover { background-image:asset_url("skin/1/copy_clipboard-hover.png");}
#dia_share{ 
  width: 555px; 
  padding: 20px;
}
#like_buttons { margin: 20px 0;}
#like_buttons .like_button {
  display: inline-block;
  margin: 10px;
}
#dia_share #email_message { width:350px; }
#dia_share #email_to { width: 301px; }
#dia_share .line.embed { padding-top: 20px; }
#dia_share label { font-size: 14px; }
#dia_share .count {
  font-family: League Gothic, sans-serif;
  font-size: 55px;
}
#dia_share .label.align {
    width: 89px;
}


/* Referral Dialog */
#dia_referral {
  width: 490px;
  padding: 20px 40px 20px 50px;
  text-align: left;
}
#dia_referral h3 {
  margin: 20px 0;
}
#referral_count { color: red; }
#dia_referral input[type="text"], #dia_referral textarea { width: 150px; float: left; }
#dia_referral input[type="submit"] { 
  float: right; 
  font-size: 18px; 
  margin: 5px 12px; 
}

#dia_referral .line.first { margin-top: 27px; }

#dia_referral .medbold { line-height: 1em; }
#dia_referral .label .small { font-size: 12px; font-weight: normal }

/* Editor browser warning dialog */
#editor_browsers, #ie_warning {
  padding: 20px 50px;
  text-align: center;
}
#editor_browsers h1, #ie_warning h1{
  font-family: Lobster, serif;
  font-weight: normal;
  color: red;
  margin: 8px 0 0 0;
  font-size: 38px;
}
#editor_browsers h2, #ie_warning h2{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
}

#editor_browsers h3, #ie_warning h3{
  font-size: 25px;
  margin: 20px 0;
}
#editor_browsers a {
  text-decoration: underline;
}

/* signup thank-you dialog */
#signup_thank_you {
  width: 400px;
  padding: 20px 50px;
  margin: 0;
}

#signup_thank_you h1 {
  font-family: League Gothic, sans-serif;
  font-weight: normal;
  font-size: 62px;
  color: #13A507;
  margin: 20px
}

#signup_thank_you h3 {
  margin-top: 10px;
}

#signup_thank_you h4 {
  margin-top: 10px;
  font-family: $header_font;
  font-size: 20px;
}

#signup_thank_you h4 a:hover {
  color: #419DD6;
}


/* password for private expression */
#dia_password {
  padding: 0 10px 20px 10px;
}

/* signup dialog */
#dia_signup {
  width: auto;
  padding: 20px 35px;
  .field { margin: 0 auto; }
  .column { float: left; }
  .column.left { float: left; padding-right: 20px; }
  .column.right { float: right; padding-left: 20px; }
  .line1 { font-weight: bold; }
  .line2 { color: $color_active; }

  input[type=text] { width: 290px; }
  h3 { text-align: left; margin: 10px 0; }
}

/* Comments dialog */
#dia_comments {
  width: 505px;
  padding: 20px;
}

#dia_comments .icon {
  float: left;
  margin: -10px 0 0 -10px;
}
#dia_comments .title.sub {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  font-family: $header_font;
}
#dia_comments .title {
  margin: 0;
  font-size: 26px;
  font-weight: normal;
  font-family: $header_font;
}
#dia_comments .title .comments_count {
    font-weight: bold;
    color: #F72E4D;
}
#dia_comments textarea {
  width: 480px;
  margin-top: 10px;
}
#dia_comments input[type=submit] {
  float: right;
  margin: 5px;
}
#dia_comments .header {
  overflow: auto;
  min-height: 45px;
}
#dia_comments #comments {
  clear: both;
  width: 520px;
  overflow: auto;
}

#dia_comments .comment {
  clear: both;
  padding-top: 20px;
}
#dia_comments .comment_content {
  width: 390px;
  float: left;
}
#dia_comments .text {
  min-height: 40px;
  margin: 0 0 10px 0;
  white-space: pre-wrap;
}
#dia_comments .author, #dia_comments .age {
  font-size: 20px;
  margin: 0;
}
#dia_comments .author {
  color: blue;
  float: left;
}
#dia_comments .age {
  float: right;
}
#dia_comments .comment_thumb {
  width: 70px;
  height: 70px;
  background-color: #aaa;
  float: left;
  margin-right: 10px;
}

#dia_password_recovery {
  padding: 0px 35px 22px 35px;
}

// Thumbnail Dialog
#dia_thumbnail .thumb {
  @include border-radius(7px);
  img { @include border-radius(7px); }
  background-color: #EEEEEE;
  cursor: pointer;
  img:hover { @include opacity(0.75); }
}

#dia_facebook_connect {
  width: 860px;
  .list { font-weight: bold; }
  .smallprint {
      color: $color_grey_medium;
      font-size: 15px;
      margin: 20px 0 0 0;
  }
}

#dia_facebook_listen {
  padding: 20px 10px 20px 20px;
  width: auto;
  h1 {
      display: inline;
      font-size: 35px;
      font-family: $header_font;
      margin-bottom: 15px;
  }
  img.thumb {
      width: 50px;
      height: 50px;
      &.tnh { display: none; }
  }
  .friends {
      width: 671px;
      max-height: 400px;
      overflow: auto;
  }
  .friend {
      width: 300px;
      padding: 7px;
      padding-left: 0;
      border: none;
      float: left;
      margin-right: 20px;
      font-size: 16px;
      img { 
          vertical-align: middle; 
          margin-right: 5px;
      }
  }
  .names {
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 193px;
  }
  .facebook_name {
      font-size: 19px;
      margin-bottom: 3px;
  }
  .username {
      font-size: 12px;
  }
  .invite_fb_link {
      float: left;
      font-weight: bold;
      padding-right: 8px;
      margin-right: 25px;
      cursor: pointer;
      img { vertical-align: middle; }
      &:hover { 
          color: white;
          background-color: $color_facebook; 
      } 
  }
  .line2 {
      margin-bottom: 22px;
      overflow: auto;
  }
  #listen_to_all {
      font-size: 17px;
      margin: 0 55px 0 0;
      float: right;
      background-color: $color_active;
      color: white;
      &:hover, &.disabled {
          background-color: $color_blue;
          color: white;
      }
  }

  .listen {
    width: 37px;
    height: 31px;
    margin: 10px 0;
    float: right;
    background: asset_url("skin/1/people_small.png");
    @include border-radius(3px);
    &:hover {
      background: $color_active asset_url("skin/1/people_small-hover.png");
    }
    &.active {
      background: asset_url("skin/1/people_small_active.png");
      &:hover {
        background: $color_active asset_url("skin/1/people_small_active-hover.png");
      }
    }
  }
}

#dia_sign_in_or_join {
  padding: 20px;
  width: auto;
  img {
      width: 70px;
      height: 70px;
  }
  h3 {
      text-align: center;
      font-size: 22px;
      .line1 {
          font-weight: bold;
      }
      .line2 {
          color: $color_active;
      }
  }
  .main_fields {
      height: 350px;
  }
  .field {
      margin-left: auto;
      margin-right: auto;
      label {
          display: block;
          font-weight: bold;
      }
  }

  input[type=submit] { float: right; }
  .column {
      overflow: auto;
      float: left;
      padding: 0 40px;
  }
  .left {
      .field { width: 240px; }
      input[type=text], input[type=password] { width: 220px; }
      border-right: 1px solid #D1D1D1;
  }
  .right {
      .field { width: 270px; }
      input[type=text], input[type=password] { width: 250px; }
  }
  .name { display: none; }
}

.newdialog {
    display: none; 
    position: absolute;
    z-index: 2; 
    max-width: 700px;
    padding: 30px 20px;
    background-color : white;
    border: 5px solid $color_selected;
    @include box-shadow(05px 05px 05px #666);

    h1, h2 {
        font-family: $header_font;
        letter-spacing: -1px;
        margin: 0;
    }
    h1 { font-size: 42px; }
    h2 { font-size: 34px; }
    h3 { 
        margin: 30px 0 0 0;
        letter-spacing: -1px;
    }
    .btn_dialog_close + h3{
        margin-top: 0;
    }
    h3 + form {
        display: block;
        margin-top: 20px;
    }
    p { margin: 10px 0 20px 0; }
    &.centered {
        text-align: center;
    }
}

#dia_fb_connect_landing {
  .line { 
      clear: both;
      @include clearfix;
      margin-top: 10px;
  }
  .button, .fb_icon { float: left; }
  .fb_icon { width: 50px; height: 50px; }
  $button_width: 280px;
  .button_wrapper { width: $button_width; }
  .button {
      $padding: 15px;
      padding: $padding;
      margin-left: 5px;
      width: $button_width - 56px - 2 * $padding; 
      height: 51px - 2*$padding; 
      text-align: left;
      font-weight: bold;
      font-size: 18px;
      background-color: $color_facebook;
      color: white;
      cursor: default;
  }
  .button_wrapper:hover .button {
      background-color: $color_highlight;
      color: $color_active;
  }
  p { margin-bottom: 27px; }
}

#dia_fb_account_duplicate {
    width: 640px;
}

#dia_must_login {
    width: auto;
    .field { margin: 0 auto; }
    .column { float: left; padding: 10px 35px 0; margin-top: 10px; }
    input[type=text], input[type=password] { width: 220px; }
    .right.separator { border-left: 1px solid #D1D1D1; }
    h1, h2, h3, h4 { margin: 0 0 20px 0; text-align: center; }
    .line1 { font-weight: bold; }
    .line2 { color: $color_active; }
    .description { background-color: $color_highlight; padding: 2px; }

    #send_msg { float: right; }
    .right { input[type=text], input[type=password] { width: 290px; } }
    .description { font-family: Helvetica, Arial, sans-serif; }
    .field.username { margin-top: 30px; }
    .field.login.submit { margin-top: 20px; }
}

#login_error {
    font-size: 12px;
}
