@import "common";

#happs {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.edit.overlay {
    background-color: white;
    position: fixed;
    z-index: 4;
    padding: 0 10px;
}

#edit_nav {
    right: 20px; bottom: 20px;

    & > * {
        display: inline-block;
        padding: 10px 4px;
        height: 22px;
        vertical-align: top;
    }
}

#bg {
    z-index: 1;
}
#grid_guide {
    z-index: 2;
    position : fixed;
    width : 100%; height : 100%;
}

.ehapp, .ehapp > * { position : absolute; }
.ehapp .shield {
    left : 0px; top : 0px;
    z-index: 2;
    width : 100%; height : 100%;
}
.select_border {
    background-color: $color_selected; position: absolute;
    border-color: $color_light_blue;
    border-style: solid;
    box-sizing: border-box;
    &.left { border-width: 0 0 0 1px; }
    &.top { border-width: 1px 0 0 0; }
    &.right { border-width: 0 1px 0 0; }
    &.bottom { border-width: 0 0 1px 0; }
    position: absolute;
    z-index: 1;
}
.select_box {
    width: 100%; height:100%;
    border: 2px dashed $color_selected;
}
.app_select { position : absolute; }

.content { z-index : 2 }
/* it would be nice to make all .content 100%x100%, but that distorts new images */
.content.rectangle { width : 100%; height : 100%; }
.content.sketch { width : 100%; height : 100%; } 
.content.code {
    width: 100%; height: 100%;
    border: none;
    margin: 0;
    box-sizing: border-box;
    font-family: Bitstream Mono, fixed;
}

.controls_src { display : none; }
.drag { cursor : move; }

.controls {
    position:absolute;
    width:0; height:0;
    z-index: 4;
}
.control { position : absolute; cursor : default; z-index : 1 }
.control.resize_h { cursor : ew-resize; }
.control.resize { cursor : se-resize; }
.control.stack img { display : inline-block; margin-left : 5px; }
.control.drawer { position : absolute; text-align : left; background-color : white; display : none; }
.drawer { background-color : white; }

.control.stack { white-space : nowrap; }
.control.buttons .button {
    margin-right: 4px;
    float: left;
}
.drawer.brush .option:hover { background-color: $color_selected; }
.drawer.brush .option.selected { background-color: $color_pale_yellow; }
.control .button, .control .option { cursor : default; }
.button.blank {
    display: inline-block;
    background-image: asset_url('skin/1/button.png');
    width: 28px; height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
}
.option.small { display : inline-block; }
.drawer.bstyle { padding : 5px 5px 0 5px; }
.bstyle .border { background-color : #54D3AC; border-color : #0A2655; border-width : 3px; width : 20px; height : 15px; margin-bottom : 10px; }
.bstyle .border.none { width : 26px; height : 18px; }
.drawer.fontname { width : 24em; }
.drawer.fontname .option { margin-bottom : 5px; display : float; float : left; width : 8em; height : 1em; }
.align .option.small { margin : 5px; }
.drawer.link { background-color : transparent; }
.drawer.link img { vertical-align : middle; }
.drawer.fontsize { white-space : nowrap; overflow : hidden; }
.fontsize .option { line-height : 100px; vertical-align : middle; }

#app_btns {
    bottom: 20px;

    .insert_btn { cursor: default; }
    .icon {
        display: inline-block;
        width: 59px;
        background-size: 59px 44px;
    }

    .active { background-color: black; }

    #insert_text   { &.active { background-image: asset_url('skin/1/text-hover.png');   } background-image: asset_url('skin/1/text.png');   }
    #insert_image  { &.active { background-image: asset_url('skin/1/images-hover.png'); } background-image: asset_url('skin/1/images.png'); }
    #insert_audio  { &.active { background-image: asset_url('skin/1/audio-hover.png');  } background-image: asset_url('skin/1/audio.png');  }
    #insert_embed  { &.active { background-image: asset_url('skin/1/editor_embed-hover.png');  } background-image: asset_url('skin/1/editor_embed.png');  }
    #insert_shape  { &.active { background-image: asset_url('skin/1/shapes-hover.png'); } background-image: asset_url('skin/1/shapes.png'); }
    #insert_file   { &.active { background-image: asset_url('skin/1/upload-hover.png'); } background-image: asset_url('skin/1/upload.png'); }
    #labs          { &.active { background-image: asset_url('skin/1/labs-hover.png');   } background-image: asset_url('skin/1/labs.png'); }
}

textarea.code {
    font-family: monospace;
}

.code_editor{
    width: auto;
    h2 {
        margin: 10px 0 0 5px;
    }
    p {
        margin: 0 0 0 5px;
    }
    .small_text {
        font-size: 12px;
        color: $color_grey_medium;
    }
    textarea {
        margin-top: 10px;
        width: 600px;
        min-height: 200px;
        font-size: 14px;
    }
}

#menu_image {
    width: 200px;
    .embed_box { width: 150px; height: 1.2em; }
}

.btn { display: inline-block; padding: 5px; cursor: default; }
// .menu label { font-weight: normal; font-size: 15px; }

#btn_save .loading { width: 25px; }
#menu_save {
    font-size: .85em;
    width: 220px;
    padding : 10px;
    top : 43px;
    right : 0px;
}
#menu_save textarea { height : 2.5em; }
#menu_save input, #menu_save textarea { width : 200px; }
#menu_save .note { color: $color_grey_medium }
#menu_privacy .selected { display : none; }
#right { position : absolute; right : 0px; top : 0px; }
#right * { vertical-align : middle }

.color_picker {
    width: 300px; height: 176px;
    & > * { position: absolute; }
}
.color_picker img { width : 100%; }
.color_picker .palette {
    left: 7px; top: 7px;
    width: 150px; height: 150px;
}
.color_picker .color_select {
    display: inline-block;
    width: 20px; height: 20px;
    float: left;
    margin: 2px;
}
.color_picker .hue_bar {
    width: 10px; height: 170px;
    left: 149px; top: 9px;
    margin: 2px 10px;
}
.color_picker .shades {
    width : 120px; height : 120px;
    left: 179px; top: 9px;
}
.color_picker .color_input {
    left: 187px; top: 134px;
    width: 100px;
}

#dia_edit_bg {
    width: 560px;
    padding: 20px;

    .small_text { font-size : x-small; }
    h2 { margin : 0 0 20px; text-align : center; }
    #edit_bg_image { float : left; margin-right : 30px; }
    #bg_preview { width : 120px; height : 80px; overflow : hidden; }
    #bg_preview img { width : 100%; }
    #bg_opacity_label { margin : 5px; }
    #bg_opacity { font-size : xx-small; }
}

#btn_thumbnail_wrapper { padding-top: 8px; }
#btn_thumbnail_text { float: left; margin-right: 5px; font-weight : bold; cursor : default; }
#dia_thumbnail { width : 823px; max-height : 480px; overflow : auto; }
#dia_thumbnail .thumb { float : left; margin : 5px; width : 190px; height : 190px; overflow : hidden; position : relative; }
#dia_thumbnail .thumb img { width: 190px; height: 190px; }

#menu_embed { width: 275px; padding: 10px; }
#image_embed_submenu { display: none; }
.embed_box { font-size: 12px; margin: 10px 0; width: 250px; height: 4em; }
.embed_button { font-size: 18px; }

.btn_text.selected { color: white; background-color: #696E76; }
.btn_text { background: none; color: #696E76; padding: 2px 4px; padding: 3px 8px; display: inline-block; }
.clickable { cursor: default; }

input, textarea { font-size : inherit; }

.drawer { z-index: 2; white-space : nowrap;  }

.fontsize .option { color : $color_12; vertical-align : bottom; }
.menu label { color: $color_18; }
.fontsize .bigger .option.small { width : 70px; height : 135px; }
.fontsize .option:hover { background-color : $color_selected; color : $color_0; }
.drawer.fontname .option:hover { background-color : $color_selected; }

#privacy { background-color : $color_selected; color : $color_0; }

.dialogue_handle { background-color : $color_selected; }

.hive_selection {
    background: $color_light_grey;
}
.text_content_element {
    min-width: 100%;
    word-wrap: normal;
}
