@import "common";

body.edit {

background-color: lightgrey;

// for backwards-compatability with old editor.
// TODO: Make Gibson default and migrate all old expressions to override
// default
.happ.text { font-family: Helvetica, Arial, sans-serif; }
.happ.fixed { position: absolute; }
.happ.hive_image > * {
    position : absolute;
}

.prompts.gifwall {display:none}
&.default {
    #edit_nav > .change_zoom {display:none}
    .happ .highlight {
        position: absolute;
        top: 0px; left: 0px; right: 0px; bottom:0px;
        background-color: $color_selected;
        opacity: .6;
    }
}
&.gifwall {
    overflow-x:hidden;
    .overlay .fluff {display:none !important}
    .control.stack {display:none}
    .control.rotate {display:none}
    .control.copy {display:none}
    .control .set_bg {display:none}
    .control .opacity {display:none}
    .control .rounding {display:none}
    .control .button.align {display:none}
    .prompts.gifwall {
        display:block;
        // padding-top: 160px;
        // padding-bottom: 160px;
        .hint { pointer-events:auto; }
        img.plus_btn { 
            // display: none;
            width: 140px; 
            margin: 40px 0px; 
            pointer-events:auto;
        }
    }
    .app_btns {display:none !important}
    .app_btns {min-width:0px}
    .app_btns .icon {display:none}
    .app_btns .icon.insert_image {display:inline-block}
    .app_btns .icon.change_zoom {display:inline-block}
    #image_background { display: none; }

    .highlight_box {
        z-index: 2;
        position: absolute;
        top: 0px;
        bottom: 0px;
        // height: 100%;
        width: 100%;
        padding: 10px;
        @include box-sizing( border-box );
        pointer-events: none;
        .highlight {
            width: 100%;
            height: 100%;
            border: $color_selected 10px dashed;
            @include box-sizing( border-box );
            background-color: inherit;
            opacity: inherit;
            // position: absolute;
            // top: 0px;
        }
    }
}

.ruler {
    z-index: 1337;
    position: absolute;
    background-color: $color_selected;
}
#edit_debug {
    background-color: #88D;
    width: 300px;
    position: fixed;
    z-index: 1337;
    white-space: pre;
}
#happs {
    position: absolute;
    left: 0; top: 0; 
    // right:0; bottom: 0;
    z-index: 3;
    &.zoomed {
        border-color: black;
        border-style: dashed;
        border-width: 0 2px 2px 2px;
    }
}
#overlay_frame {
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 4;
    background-color: rgb(212, 62, 170);
}
#happs, #grid_guide {
    // currently selection always gets events, but they can be intercepted
    &.default .drag { cursor: move; }
    &.draw { cursor: crosshair; }
}

.edit.overlay {
    background-color: white;
    position: fixed;
    z-index: 4;
    padding: 0 10px;
}

#edit_nav {
    right: 20px;
    .change_zoom {
        padding: 6px 0px;
        img { width: 40px; }
    }
    & > * {
        display: inline-block;
        padding: 10px 4px;
        height: 22px;
        vertical-align: top;
    }
}
#menu_shape {
    // width: 150px;
    white-space: normal;

    .menu_item {
        padding: 0;
        display: inline-block;
    }
}
.menu_item.change_zoom img { height: 30px; } //margin-left: -10px; } 
.misc_menu .menu_item { padding: 7px 7px; text-align: center; }
// So that using the form doesn't cause the window to scroll
#media_upload { position: fixed; }
#bg {
    position: fixed;
    z-index: 0;
    background-color: white;
    overflow: hidden;
}
#grid_guide {
    z-index: 2;
    position : fixed;
    width : 100%; height : 100%;
}
.editor_overlay {
    z-index: 40;
    position: fixed;
    width : 100%; height : 100%;
    pointer-events:none;

    @include box-sizing( border-box );
    padding: 20px;
    .inset {
        width : 100%; height : 100%;
        border: $color_forest_teal 2px dashed;
    }
}
.prompts {
    z-index: 4;
    position : absolute;
    width : 100%;
    pointer-events:none;

    font-size: 32px;
    font-weight: 700;
}
// .happ { @include box-sizing( border-box ); }
.help_highlight {
    position: fixed;
    z-index: 1336;
    // pointer-events:none;

    background-color: $color_selected;
    opacity: .5;
}
.happ .highlight {
    width: 100%;
    height: 100%;
    pointer-events:none;
    z-index: 1336;
}
.happ .shield {
    left : 0px; top : 0px;
    z-index: 2;
    width : 100%; height : 100%;
}
.happ .crop_box { width:100%; height:100%; z-index:2; }
.select_border {
    background-color: $color_selected; position: absolute;
    border-color: $color_light_blue;
    border-style: solid;
    box-sizing: border-box;
    &.left { border-width: 0 0 0 1px; }
    &.top { border-width: 1px 0 0 0; }
    &.right { border-width: 0 1px 0 0; }
    &.bottom { border-width: 0 0 1px 0; }
    position: absolute;
    z-index: 1;
}
.select_box {
    width: 100%; height:100%;
    border: 2px dashed $color_selected;
}
.app_select { position : absolute; }

.happ {
    &.svg {
        pointer-events: none;
        .content { * { pointer-events: visible } }
    }
    &.hive_code { border: 1px solid black; }
    .content.code {
        border: none;
        margin: 0;
        box-sizing: border-box;
        font-family: Bitstream Mono, fixed;
        background-color: white;
        opacity: .9;
    }
}

.drawer { background-color : white; }

.controls_src { display : none; }
.control { position: absolute; }
.fixed_controls { 
    position: absolute; 
    width:0; height:0;
    z-index: 4;

    .point {
        background-color: $color_selected;
        margin: -7px 0 0 -7px;
        width: 14px; height:14px;
        border-radius: 7px;
        z-index: 5;
    }
}
#controls {
    position: absolute;
}
.controls {
    position:absolute;
    width:0; height:0;
    z-index: 4;

    .control { position : absolute; cursor : default; z-index : 1 }

    .drag { cursor: move; }
    .resize_v { cursor : ns-resize; }
    .resize_h { cursor : ew-resize; }
    .resize { cursor : se-resize; }
    .stack { 
        white-space : nowrap; 
        img { display : inline-block; margin-left : 5px; }
    }
    .control.drawer {
        text-align: left;
        display: none;
    }

    .buttons,.top_buttons {
        pointer-events: none;
        * { pointer-events: auto; }
        .button {
            margin-right: 4px;
            margin-bottom: 4px;
            float: left;
            display: inline-block;
            width: 28px; height: 28px;
            
            &.bg {
                background-image: asset_url('skin/edit/button.png');
                line-height: 28px;
                text-align: center;
                // font-weight: bold;
                &.on {
                    background-image: asset_url('skin/edit/button-on.png');
                    color: white;
                }
            }
            &.edit_src {
                background-image: asset_url('skin/edit/edit.png');
                &.on {
                    background-image: asset_url('skin/edit/edit-on.png');
                }
            }
        }
    }

}

// TODO: organize
.drawer.brush .option:hover { background-color: $color_selected; }
.drawer.brush .option.selected { background-color: $color_pale_yellow; }
.control .button, .control .option { cursor : default; }
.option.small { display : inline-block; }
.drawer.bstyle { padding : 5px 5px 0 5px; }
.bstyle .border { background-color : #54D3AC; border-color : #0A2655; border-width : 3px; width : 20px; height : 15px; margin-bottom : 10px; }
.bstyle .border.none { width : 26px; height : 18px; }
.drawer.fontname { width : 453px; }
.drawer.fontname .option { margin-bottom : 5px; display : float; float : left; width : 146px; height : 1em; 
    &.longish { margin-top: 2px; font-size:15px; } }
.align .option.small { margin : 5px; }
.drawer.link { background-color : transparent; }
.drawer.link img { vertical-align : middle; }
.drawer.fontsize { white-space : nowrap; overflow : hidden; }
.fontsize .option { line-height : 100px; vertical-align : middle; }

.app_btns {
    left: 20%;
    min-width: 354px; /* for centering before loading complete */

    .insert_btn { cursor: default; }
    .icon {
        display: inline-block;
        width: 59px;
        background-size: 59px 44px;
    }

    .active { background-color: black; }

    .insert_text   { &.active { background-image: asset_url('skin/1/text-hover.png');   } background-image: asset_url('skin/1/text.png');   }
    .insert_image  { &.active { background-image: asset_url('skin/1/images-hover.png'); } background-image: asset_url('skin/1/images.png'); }
    .insert_audio  { &.active { background-image: asset_url('skin/1/audio-hover.png');  } background-image: asset_url('skin/1/audio.png');  }
    .insert_embed  { &.active { background-image: asset_url('skin/1/editor_embed-hover.png');  } background-image: asset_url('skin/1/editor_embed.png');  }
    .insert_shape  { &.active { background-image: asset_url('skin/1/shapes-hover.png'); } background-image: asset_url('skin/1/shapes.png'); }
    .insert_file   { &.active { background-image: asset_url('skin/1/upload-hover.png'); } background-image: asset_url('skin/1/upload.png'); }
    // .change_zoom   { &.active { background-image: asset_url('skin/1/zoom-hover.png'); } background-image: asset_url('skin/1/zoom.png'); display:none; }
    .labs          { &.active { background-image: asset_url('skin/1/labs-hover.png');   } background-image: asset_url('skin/1/labs.png'); }
}

#menu_image {
    width: 200px;
}

.btn { display: inline-block; padding: 5px; cursor: default; }
// .menu label { font-weight: normal; font-size: 15px; }

#btn_save {
    @include border-radius(10px);
    margin-right: -11px;
    padding-left: 8px;
    padding-right: 10px;
    .loading { width: 25px; vertical-align: middle; }
    // TODO: we should have a mechanism to set up icons, correctly aligned,
    // correctly sized, with automatic hover.
    div.arrow { 
        background-image: asset_url('skin/nav/small_arrow.png');
        width: 17px;
        height: 16px;
        margin-top: 3px;
    }
    &:hover div.arrow { background-image: asset_url('skin/nav/small_arrow_hover.png'); }
}
#right { position : absolute; right : 0px; top : 0px; }
#right * { vertical-align : middle }

.color_picker {
    padding: 5px;

    & > * {
        display: inline-block;
        vertical-align: top;
    }

    img { width : 100%; }

    .palette {
        width: 174px; height: 172px;
        margin: -2px 0 0 -2px;

        .color_select {
            display: inline-block;
            width: 25px; height: 25px;
            float: left;
            margin: 2px;
        }
    }

    .hue_bar {
        width: 25px; height: 170px;
        margin: 0px 8px 0 8px;
    }
    .shades {
        width : 128px; height : 128px;
    }
    .color_input {
        margin-top: 10px;
        width: 128px; height: 32px;
    }
}

#dia_edit_bg {
    width: 600px;
    padding: 20px;

    .small_text { font-size : x-small; }
    h2 { margin : 0 0 20px; text-align : center; }
    #edit_bg_image { float : left; margin-right : 30px; }
    #bg_preview { width : 120px; height : 80px; overflow : hidden; }
    #bg_preview img { width : 100%; }
    #bg_opacity_label { margin : 5px; }
    #bg_opacity { font-size : xx-small; }
}

.menu.embed { padding: 10px; }
.embed_box { margin: 8px 0; width: 250px; height: 4.5em; resize: none; }
// .embed_button { font-size: 18px; }

.btn_text.selected { color: white; background-color: #696E76; }
.btn_text { background: none; color: #696E76; padding: 2px 4px; padding: 3px 8px; display: inline-block; }
.clickable { cursor: default; }

input, textarea { font-size : inherit; }

.drawer { z-index: 2; white-space : nowrap;  }

.fontsize .option { color : $color_12; vertical-align : bottom; }
// .menu label { color: $color_18; }
.fontsize .bigger .option.small { width : 70px; height : 135px; }
.fontsize .option:hover { background-color : $color_selected; color : $color_0; }
.drawer.fontname .option:hover { background-color : $color_selected; }

.hive_selection {
    background: $color_light_grey;
}
.hive_text .content {
    min-width: 100%;
    word-wrap: normal;
}

}
