@import "colors";

$color_email_black: #000001; // to fool google
$space1: 45px;
$space2: 20px;
$space3: 12px;
$space4: 5px;

.outer {
    background-color: $color_charcoal;
}

#header_logotype {
    color: #ffffff;
    font-size: 37px;
    letter-spacing: -2px;
    font-weight: bold;
    vertical-align: bottom;
    padding-left: 15px;
}

#body {
    color: $color_email_black;
    padding: $space1 $space1 $space2 $space1;
    p, h1, h2, h3, h4, h5 {
        margin: 0;
        padding: 0;
    }
    
    p{
        font-size: 18px;
        line-height: 21px;
    }
    
    a{
        text-decoration: none;
        color: $color_email_black;
    }
    
    h2{
        font-size: 37px;
    
        letter-spacing: -2px;
        .line{
            margin: $space4 0;
            background: white;
        }
    }
    h3{
        font-size: 23px;
    }
    
    h4{
        font-size: 19px;
    }

    .highlight{
        background-color: $color_highlight;
    }

    .plus {
        color: $color_blue;
    }

    .line, & > p{
        padding-left: $space3;
        clear: both;
    }
    
    #logo {
        text-align: center;
        margin-bottom: $space1;
    }
    
    #greeting{
        background: $color_selected;
    }
    
    #main_message{
        margin-top: $space3;
        .sender, .active { color: $color_bright_red; }
        img {
            float: right;
            margin-right: 5px;
        }
    }
    
    #message{
        margin-top: $space2;
    }
    
    #card{
        margin-top: $space2;
        overflow: auto;
        background: white;
        img {
            width: 190px;
            height: 190px;
        }
        img, .data {
            float: left;
        }
        .data {
            margin-left: $space2;
            width: 266px;
        }
        .title {
            margin-top: 34px;
        }
        .tags{
            margin-top: 8px;
            height: $space1 + 18px;
            overflow: hidden;
        }
        .name{
            //margin-top: $space1;
        }
    }
    
    #text_link{
        margin-top: $space2;
        text-align: center;
        a {color: $color_bright_red;}
    }
    
    #featured_exprs {
        margin-top: $space2;
        text-align: center;
        background: white;
        padding: 7px;
        img {
            width: 74px;
            height: 74px;
            margin: 3px;
        }
        h4.site {
            margin: 7px 0;
            span {
                background-color: $color_highlight;
                padding: 2px 4px;
            }
        }
    }
    #footer_message{
        margin: $space2 0;
        text-align: center;
        line-height: 30px;
        a, .highlight {
            color: $color_email_black;
            padding: 2px 5px;
            
        }
    }

    #milestone_card{
        margin-top: $space3;
        background: white;
        padding: $space3;
        h1 {
            font-size: 110px;
            line-height: 110px;
            letter-spacing: -5px;
        }
    }

    // Specific type overrides
    &.featured {
        h2{
            font-size: 37px;
        }
        #main_message #line1 {
            color: $color_bright_red;
        }
        #share_icons{
            margin-top: $space4;
        }
        .like_button{
            display: inline-block;
        }
    }

    &.site_referral, &.user_referral {
        #main_message .line {
            padding-top: 8px;
            padding-bottom: 8px;
        }
        #create_account {
            margin-top: $space1;
            text-align: center;
            span {
                background: $color_highlight;
                padding: 0 10px;
            }
            line-height: 46px;
        }
        h2 {
            line-height: 37px;
        }
        #footer_message {
            margin-top: $space1;
            line-height: 25px;
        }
    }
}

#unsubscribe {
    margin-top: 5px;
    font-size: 13px;
}
