@import "colors";

$color_email_black: #000001; // to fool google
$space1: 45px;
$space2: 20px;
$space3: 15px;
$space4: 5px;

.outer {
    background-color: black;
}

#header_logotype {
    color: #ffffff;
    font-size: 37px;
    letter-spacing: -2px;
    font-weight: bold;
    vertical-align: bottom;
    padding-left: 15px;
    a {
      text-decoration: none;
      color: white;
    }
}

#body {
    color: $color_email_black;
    padding: $space1 $space1 $space2 $space1;
    p, h1, h2, h3, h4, h5 {
        margin: 0;
        padding: 0;
    }
    
    p{
        font-size: 18px;
        line-height: 21px;
    }
    
    a{
        text-decoration: none;
        color: $color_email_black;
    }
    
    h2{
        font-size: 37px;
    
        letter-spacing: -2px;
    }
    h2, #main_message {
        .line{
            margin: $space4 0;
            background: white;
        }
    }
    h3{
        font-size: 23px;
    }
    
    h4{
        font-size: 19px;
    }

    .highlight{
        background-color: $color_highlight;
        padding: 0 5px;
    }

    .grey {
      color: $color_grey_medium;
    }

    .plus {
        color: $color_blue;
    }

    .line, & > p{
        padding-left: $space3;
        clear: both;
    }
    
    #logo {
        text-align: center;
        margin-bottom: $space1 - 3px;
    }
    
    #greeting, .color_selected{
        background: $color_selected;
    }
    
    #main_message{
        margin-top: $space3;
        .sender, .active { color: $color_bright_red; }
        img {
            float: right;
            margin-right: 5px;
        }
    }
    
    #message{
        margin-top: $space2;
    }
    
    #card{
        margin-top: $space2;
        overflow: auto;
        background: white;
        img {
            width: 190px;
            background: black;
        }
        img, table {
          height: 190px;
        }
        img, .data {
            float: left;
        }
        .data {
            margin-left: $space2;
            width: 266px;
        }
        .title {
        }
        .tags{
            margin-top: 8px;
            height: $space1 + 18px;
            overflow: hidden;
        }
        .name{
            //margin-top: $space1;
        }
    }
    
    #text_link{
        margin-top: $space2;
        text-align: center;
        a {color: $color_bright_red;}
    }
    
    #featured_exprs {
        margin-top: $space2;
        text-align: center;
        background: white;
        padding: 7px;
        img {
            width: 74px;
            height: 74px;
            margin: 3px;
        }
        h3, h4 {
            margin: 7px 0 10px 0;
            span {
                padding: 2px 4px;
            }
        }
    }

    .central_call_to_action {
      margin: $space2 0;
      text-align: center;
      img, a {
        vertical-align: middle;
        margin: 0 5px;
      }
      a {
        padding: 2px 5px;
        background: $color_highlight;
      }
    }

    #password_reset {
      margin: $space1 - 10px 0;
      a {
        padding: 0 5px;
      }
    }

    #footer_message{
        margin: $space2 0;
        text-align: center;
        line-height: 30px;
        a, .highlight {
            color: $color_email_black;
            padding: 2px 5px;
        }
    }

    #milestone_card{
        margin-top: $space3;
        background: white;
        padding: $space3;
        h1 {
            font-size: 110px;
            line-height: 110px;
            letter-spacing: -5px;
        }
    }

    // Specific type overrides
    &.site {
      #main_message .line {
        padding-top: $space3;
        padding-bottom: $space3 + 3px;
        h2 {
          line-height: 37px;
        }
        h2 + p {
          margin-top: $space3;
        }
      }
      #footer_message {
        margin-top: $space1;
        line-height: 25px;
      }
    }

    &.featured {
        h2{
            font-size: 37px;
        }
        #main_message #line1 {
            color: $color_bright_red;
        }
        #share_icons{
            margin-top: $space4 + 4px;
        }
        .like_button{
            display: inline-block;
        }
    }

    .cta {
        margin-top: $space1 - 6px;
        margin-bottom: -9px;
        text-align: center;
        span {
            background: $color_highlight;
            padding: 0 10px;
        }
        line-height: 46px;
        //a { text-decoration: underline; }
    }

    &.site_referral, &.user_referral, &.user_invites_reminder {
        h2 {
            line-height: 37px;
            font-size: 34px;
        }
    }

    &.welcome {
      p {
        font-size: 20px;
        line-height: auto;
      }
    }

    &.user_invites_reminder {
        p {
            margin-top: 14px;
        }
        #lower_paragraph {
            margin-top: $space1 - 6px;
        }
    }
}

#unsubscribe {
    margin-top: 5px;
    font-size: 13px;
}
