#feed_menu {
  padding-top: 15px;
  width: 370px;
}
#feed_menu .feed_item {
  width: auto;
  height: auto;
  clear: both;
  overflow: hidden;
  margin: 0;
  color: #000;
  cursor: pointer;
}
.feed_item {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.expr_cards .feed_item {
  @include clearfix;
  float: left;
  width: 330px;
  height: 120px;
  padding: 8px;
  &.border_right {
      border-right: 1px solid #D1D1D1;
  }
  &.border_bottom {
      border-bottom: 1px solid #D1D1D1;
  }
}

.feed_item .name {
  color: #F72E4D;
}
.feed_item .name.you {
  color: #000;
}
.feed_item a {
  font-weight: bold;
}
.feed_item p {
  margin: 0;
}
.feed_item .feed_item.active {
  background-color: #96E2CE;
}
.expr_cards .feed_item img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  float: left;
}
#feed_menu .feed_item img, #feed_menu .feed.item img {
  margin: 5px;
  width: 90px;
  height: 90px;
  float: left;
}
#feed_menu .feed_item:hover {
  background-color: $color_selected;
}
.expr_cards .feed_item .Expr .entity, .expr_cards .feed_item.User .initiator{
  width: 181px;
}
#feed_menu .feed_item .Expr .entity, #feed_menu .feed_item.User .initiator{
  width: 220px;
}
.feed_item .Expr .entity {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: #000;
}
.feed_item.User .line2{
  color: #696E76;
}

.expr_cards .feed_item .feed_text, .expr_cards .feed_item .byline {
  width: 181px;
}
#feed_menu .feed_item .feed_text, #feed_menu .feed_item .byline {
  width: 220px;
}
.feed_item .feed_text, .feed_item .byline {
  float: left;
  margin-left: 5px;
}
.expr_cards .feed_item .feed_text {
  height: 76px;
  color: #000;
}
#feed_menu .feed_item .feed_text {
  height: 59px;
  white-space: nowrap;
}
.feed_item .comment_text {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
}
.feed_item .byline {
  font-weight: normal;
}
.feed_item .byline .name, .comment .byline .name {
  font-weight: bold;
  font-size: 15px;
  color: #696E76;
}

.feed_item .byline .timestamp, .comment .byline .timestamp {
  font-size: 15px;
  float: right;
  color: #696E76;
}
#feed_menu #more_button {
  width: 330px;
  padding: 0;
  margin: 10px;
  background-color: #696E76;
  text-align: center;
}
#feed_menu #more_button:hover {
  background-color: #FFF673;
}
