@import "common";

#user_menu .feed_item {
    width: auto;
    height: auto;
    clear: both;
    overflow: hidden;
    font-weight: normal;
    cursor: pointer;
    margin: 0px;
    padding: 2px;
    position: relative;
    border-top: 1px solid $color_light_grey;
    &:first-child { border-top: none; }
    &:hover, &.active {
        background-color: $color_selected;
    }
    img {
        margin: 2px;
        width: 50px;
        height: 50px;
        float: left;
    }
    .feed_text {
        margin-left: 5px;
        font-size: 13px;
        a, .title {
            font-weight: bold;
        }
    }
    .byline {
        position: absolute;
        right: 0;
        bottom: 4px;
        overflow: hidden;
        font-size: 12px;
    }
    .comment_text {
        white-space: nowrap;
        margin-top: 5px;
        height: 33px;
    }
    p {
        margin: 0;
    }
    .timestamp {
        float: right;
        color: $color_grey_medium;
    }
}
