@import "common";

@mixin ff($file, $family, $svg_id: '', $weight: 400, $style: normal) {
@font-face { 
    font-family: $family; 
    src: asset_url('fonts/#{$file}-webfont.eot');
    src: asset_url('fonts/#{$file}-webfont.eot') format('embedded-opentype'),
         asset_url('fonts/#{$file}-webfont.woff') format('woff'),
         asset_url('fonts/#{$file}-webfont.ttf') format('truetype'),
         asset_url('fonts/#{$file}-webfont.svg') + '#' + $svg_id format('svg');
    font-weight: $weight; 
    font-style: $style; 
  }
}

@include ff('arvo/Arvo-Regular', 'Arvo', 'ArvoRegular');
@include ff('arvo/Arvo-Italic', 'Arvo', 'ArvoItalic', 400, italic);
@include ff('arvo/Arvo-Bold', 'Arvo', 'ArvoBold', 700);
@include ff('arvo/Arvo-BoldItalic', 'Arvo', 'ArvoBoldItalic', 700, italic);
@include ff('banda_regular/Banda_regular', 'Banda', 'BandaRegular');
@include ff('Bebas/BEBAS', 'Bebas', 'BebasRegular');
@include ff('Bitstream-Vera-Sans/Vera-Bold-Italic', 'Bitstream', 'BitstreamVeraSansBoldOblique', 700, italic);
@include ff('Bitstream-Vera-Sans/Vera-Bold', 'Bitstream', 'BitstreamVeraSansBold', 700);
@include ff('Bitstream-Vera-Sans/Vera-Italic', 'Bitstream', 'BitstreamVeraSansOblique', 400, italic);
@include ff('Bitstream-Vera-Sans/Vera', 'Bitstream', 'BitstreamVeraSansRoman');
@include ff('Bitstream-Vera-Sans-Mono/VeraMono-Bold-Italic', 'Bitstream Mono', 'BitstreamVeraSansMonoBdOb', 700, italic);
@include ff('Bitstream-Vera-Sans-Mono/VeraMono-Bold', 'Bitstream Mono', 'BitstreamVeraSansMonoBold', 700);
@include ff('Bitstream-Vera-Sans-Mono/VeraMono-Italic', 'Bitstream Mono', 'BitstreamVeraSansMonoOblique', 400, italic);
@include ff('Bitstream-Vera-Sans-Mono/VeraMono', 'Bitstream Mono', 'BitstreamVeraSansMonoRoman');
@include ff('BPscript/BPscript', 'BPscript', 'BPscriptRegular');
@include ff('ChunkFive/Chunkfive', 'Chunk Five', 'ChunkFiveRegular');
@include ff('classicround_medium/ClassicRound-Medium', 'Classic Round', 'ClassicRoundMedium');
@include ff('codepro_lightdemo/Code_Pro_Light_Demo', 'Code', 'CodeProLightDemoRegular');
@include ff('codepro_regulardemo/Code_Pro_Demo', 'Code', 'CodeProDemoRegular');
@include ff('Comic-Zine-OT/comic_zine_ot', 'Comic Zine', 'ComicZineOTRegular');
@include ff('Crimson/Crimson-BoldItalic', 'Crimson', 'CrimsonBoldItalic', 700, italic);
@include ff('Crimson/Crimson-Bold', 'Crimson', 'CrimsonBold', 700);
@include ff('Crimson/Crimson-Italic', 'Crimson', 'CrimsonItalic', 400, italic);
@include ff('Crimson/Crimson-Roman', 'Crimson', 'CrimsonRoman');
@include ff('Crimson/Crimson-SemiboldItalic', 'Crimson', 'CrimsonSemiboldItalic', 600, italic);
@include ff('Crimson/Crimson-Semibold', 'Crimson', 'CrimsonSemibold', 600);
@include ff('Droid-Serif/DroidSerif-BoldItalic', 'Droid Serif', 'DroidSerifBoldItalic', 700, italic);
@include ff('Droid-Serif/DroidSerif-Bold', 'Droid Serif', 'DroidSerifBold', 700);
@include ff('Droid-Serif/DroidSerif-Italic', 'Droid Serif', 'DroidSerifItalic', 400, italic);
@include ff('Droid-Serif/DroidSerif-Regular', 'Droid Serif', 'DroidSerifRegular');
@include ff('fjord/FjordOne-Regular', 'Fjord', 'FjordOne');
@include ff('Folk/folkshadow', 'Folk Shadow', 'Folkshadowshadow');
@include ff('Folk/folksketches', 'Folk Sketches', 'Folksketchessketches');
@include ff('Folk/folksolid', 'Folk', 'FolkSolidRegular');
@include ff('Folk/folkoutline', 'Folk Outline', 'Folkoutlineoutline');
@include ff('Folks-Light/Folks-Bold', 'Folks', 'FolksBold', 700);
@include ff('Folks-Light/Folks-Heavy', 'Folks', 'FolksHeavyRegular', 900);
@include ff('Folks-Light/Folks-Light', 'Folks', 'FolksLightRegular', 100);
@include ff('Folks-Light/Folks-Normal', 'Folks', 'FolksRegular', 400);
@include ff('josefin-slab/JosefinSlab-BoldItalic', 'Josefin Slab', 'JosefinSlabBoldItalic', 700, italic);
@include ff('josefin-slab/JosefinSlab-Bold', 'Josefin Slab', 'JosefinSlabBold', 700);
@include ff('josefin-slab/JosefinSlab-Italic', 'Josefin Slab', 'JosefinSlabItalic', 400, italic);
@include ff('josefin-slab/JosefinSlab-LightItalic', 'Josefin Slab', 'JosefinSlabLightItalic', 300, italic);
@include ff('josefin-slab/JosefinSlab-Light', 'Josefin Slab', 'JosefinSlabLight', 300);
@include ff('josefin-slab/JosefinSlab-Regular', 'Josefin Slab', 'JosefinSlabRegular');
@include ff('josefin-slab/JosefinSlab-SemiBoldItalic','Josefin Slab', 'JosefinSlabSemiBoldItalic', 600, italic);
@include ff('josefin-slab/JosefinSlab-SemiBold', 'Josefin Slab', 'JosefinSlabSemiBold', 600);
@include ff('josefin-slab/JosefinSlab-ThinItalic', 'Josefin Slab', '#JosefinSlabThinItalic', 100, italic);
@include ff('josefin-slab/JosefinSlab-Thin', 'Josefin Slab', '#JosefinSlabThin', 100);
/*@include ff('Komika-Title/KomikaTitle-Axis', 'Komika Title', 'KomikaTitleRegular');*/
/*@include ff('Komika-Title/KomikaTitle-Kaps', 'Komika Title', 'KomikaTitle-PaintRegular');*/
/*@include ff('Komika-Title/KomikaTitle-Paint', 'Komika Title', 'KomikaTitleWideRegular');*/
/*@include ff('Komika-Title/KomikaTitle-Wide', 'Komika Title', 'KomikaTitleKapsRegular');*/
@include ff('Komika-Title/KomikaTitle', 'Komika Title', 'KomikaTitleAxisRegular');
@include ff('Lane/LANENAR', 'Lane', 'LaneNarrowRegular');
@include ff('Lane/LANEPOSH', 'Lane Up', 'LaneUpperRegular');
@include ff('Lane/LANEUP', 'Lane Posh', 'LanePoshRegular');
@include ff('League-Gothic/League_Gothic', 'League Gothic', 'LeagueGothicRegular');
@include ff('LemonChicken/LEMONCHI', 'Lemon Chi', 'LemonChickenRegular');
@include ff('Lilly/Lilly', 'Lilly', 'LillyRegular');
@include ff('Lobster/Lobster_1.3', 'Lobster', 'Lobster13Regular');
@include ff('lobster-two/LobsterTwo-BoldItalic', 'Lobster Two', 'LobsterTwoBoldItalic', 700, italic);
@include ff('lobster-two/LobsterTwo-Bold', 'Lobster Two', 'LobsterTwoBold', 700);
@include ff('lobster-two/LobsterTwo-Italic', 'Lobster Two', 'LobsterTwoItalic', 400, italic);
@include ff('lobster-two/LobsterTwo-Regular', 'Lobster Two', 'LobsterTwoRegular');
@include ff('Matiz/Matiz', 'Matiz', 'MatizRegular');
@include ff('merge_light/merge_light', 'Merge', 'MergeLight');
@include ff('museo_300/Museo300-Regular', 'Museo', 'Museo300', 300);
@include ff('museo_500/Museo500-Regular', 'Museo', 'Museo300', 500);
@include ff('museo_700/Museo700-Regular', 'Museo', 'Museo500', 700);
@include ff('nevis/nevis', 'Nevis', 'WebfontBold');
@include ff('novecentowide_bold/Novecentowide-Bold', 'Novecento', 'NovecentowideBold', 700);
@include ff('novecentowide_medium/Novecentowide-Medium', 'Novecento', 'NovecentowideMedium');
@include ff('pacifico/Pacifico', 'Pacifico', 'PacificoRegular');
@include ff('Quicksand/Quicksand_Bold_Oblique', 'Quicksand', 'QuicksandBoldOblique', 700, italic);
@include ff('Quicksand/Quicksand_Bold', 'Quicksand', 'QuicksandBold', 700);
@include ff('Quicksand/Quicksand_Book_Oblique', 'Quicksand', 'QuicksandBookOblique', 400, italic);
@include ff('Quicksand/Quicksand_Book', 'Quicksand', 'QuicksandBook');
/*@include ff('Quicksand/Quicksand_Dash', 'Quicksand', 'QuicksandDash'*/
/*@include ff('Quicksand/Quicksand_Light_Oblique', 'Quicksand', 'QuicksandLightOblique';*/
/*@include ff('Quicksand/Quicksand_Light', 'Quicksand', 'QuicksandLight';*/
@include ff('st_ryde_regular/stryde-regular', 'St Ryde', 'StRydeRegularRegular')
