@import "common";

#create_account {
	margin: 30px auto;

	#logo {
		margin: auto;
		width: 400px;
		display: block;
	}
	.heading {
		margin-top: 28px;
	}
	.subheading {
		margin-bottom: 7px;
	}
	span#username_label {
		color: red;
	}

	.pane {
		display: inline-block;
		text-align: left;
		width: 300px;
		margin: 35px 50px 0 50px;

		input[type="text"],input[type=password] {
			width: 100%;
			margin: 4px 0px;
		}
	}

	.pane.terms {
		vertical-align: top;
		&> * { vertical-align: bottom; }
		ol {
			// to shift items to left margin
			-webkit-padding-start: 24px;
		}
		.facebook {
			background-color: blue;
		}
		.terms_agree {
			margin: 20px 0px;
		}
	}

	#footer {
		margin-top: 30px;
	}
}
