@import "common";

.item, .menu_item {
    text-transform: uppercase;
    &:hover {
    	font-weight: bold;
    }
    font-family: Gibson Semibold;
    font-size: 16px;
}
.menu.drawer .menu_item.active.black_active {
    background-color: black;
    color: white;
}
.text_btn {
    cursor: pointer;
}
.black_active.active, .black_active.active * {
    background-color: black;
    color: white;
}

#share_menu .menu_item {
    & + * {
    	border-top: 2px solid $color_grey_medium;
    }
    // padding: 7px;
}
//     width: 200px;
//     padding-top: 10px;

//     .like_button {
//         text-align: center;
//         display: inline-block;
//         margin: 3px 7px;
//     }
// }

