@import "compass/css3";

* { line-height : 1.2em; }
html, body, input, textarea { font-family : Helvetica, Arial, sans-serif; }
html, body { margin : 0; padding : 0; color : black; white-space-collapse : discard; font-size : 17px; }
img { padding : 0; margin : 0; border : 0; }
a { color : inherit; text-decoration : none; }
.happ { position : absolute; }
.happ img { width : 100%; }
.happ.hive_image, .crop_box { 
    overflow: hidden; @include box-sizing(border-box); border: 0px solid; }
.crop_box { width:100%; height:100%; z-index:2; }
.happ.hive_text img { width: inherit; }
.happfill { position : fixed; top : 0; left : 0; width : 100%; height : 100%; }
.happfill img { position : absolute; left : 0; top : 0; }
.text_column .softbr { display: none; }
h1 { font-size : 40px; }
// TODO: reexamine this, and everything else in this file.
form { display : inline; }

#body { position : absolute; top : 0; left : 0; min-width : 100%; min-height : 100%; z-index : 1; }

#expr_spacer {
    width: 1px;
    height: 50px;
}

// duplicated from site scss
#hive_logo {
    z-index: 1000;
    position: fixed;
    display: block;

    height: 44px;
    width: 44px;
    right: 20px;
    bottom: 20px;

    background-color: white;
    background-repeat: no-repeat;
    @include box-shadow(rgba(black, 0.4) 3px 3px 10px);
    @include border-radius(11px);

    background-image: asset_url('skin/nav/logo.png');
    &:hover {
        background-image: asset_url('skin/nav/logo-hover.png');
        background-color: black;
    }    
}