@import "compass/css3";

* { line-height : 1.2em; }
html, body, input, textarea { font-family : Helvetica, Arial, sans-serif; }
html, body { margin : 0; padding : 0; color : black; white-space-collapse : discard; font-size : 17px; }
body.expr { position: absolute; }
img { padding : 0; margin : 0; border : 0; }
a { color : inherit; text-decoration : none; }

.happ {
    position : absolute;
    .content { width: 100%; height: 100%; }
}
.crop_box {
    overflow: hidden; 
    @include box-sizing(border-box); border: 0px solid; 
}
.happ.hive_rectangle .content, .happ.hive_circle .content { 
    @include box-sizing(border-box); }
.happ.hive_image img { 
    // TODO-cleanup: we ought not need to override w/ defaults.
    height: auto; 
    // TODO: This is only needed currently for sketch. Should merge w/ image.
    width : 100%;
}
// WTF? img?
.happ.hive_text img { width: inherit; }
.happ.hive_text .content { width: auto; height:auto; }
.happ iframe { border: none; }

.happfill { position : fixed; top : 0; left : 0; width : 100%; height : 100%; }
.happfill img { position : absolute; left : 0; top : 0; }
.text_column .softbr { display: none; }
h1 { font-size : 40px; }
// TODO: reexamine this, and everything else in this file.
form { display : inline; }

.lazy_load {
    position: relative;
    padding-top: 75%;
    overflow: hidden;
    &._5_3 { padding-top: 60%; }
    &>* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        @include transition(opacity, .5s, linear);
        &.loaded {
            opacity: 1;
        }
    }
}
// body:not(.mobile) {
// .lazy_load {
        // @include transition(opacity, .5s, linear);

.swipe_feedback {
    position: fixed;
    * { position: absolute; }
    overflow: visible;
    width: 150px; height: 150px;
    top: 40%;
    z-index: 1000000; // there is no content container in page view

    &.right {
        right: 0;
        .icon {
            left: 140px;
            background-image: asset_url('skin/nav/page_next.png');
            background-position: 0 25px;
        }
    }
    &.left {
        left: 0;
        .icon {
            right: 140px;
            background-image: asset_url('skin/nav/page_prev.png');
            background-position: 50px 25px;
        }
    }
    .icon {
        background-size: 100px 100px;
        background-repeat: no-repeat;
        width: 100%; height: 100%;
        border-radius: 50%;
        background-color: white;
        &.on { background-color: grey; }
        @include box-shadow(rgba(black, 0.4) 3px 3px 10px);
    }
}

#expr_spacer {
    width: 1px;
    height: 50px;
}

// duplicated from site scss
#hive_logo {
    z-index: 1000;
    position: fixed;
    display: block;

    height: 44px;
    width: 44px;
    right: 20px;
    bottom: 20px;

    background-color: white;
    background-repeat: no-repeat;
    @include box-shadow(rgba(black, 0.4) 3px 3px 10px);
    @include border-radius(11px);

    background-image: asset_url('skin/nav/logo.png');
    &:hover {
        background-image: asset_url('skin/nav/logo-hover.png');
        background-color: black;
    }    
}
