@import "common";

// nav takes 3 layers. For invisible nav handles, the navigation,
// and their submenus, (4, 5, 6) respectively

#nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: $nav_size;
    background-color: white;
    @include box-shadow(rgba(black, .3) 0px 0px 20px);
    padding-right: 6px;
    z-index: $nav_layer + 1;

    .icon, .text_btn {
        background-size: 100% 100%;
        font-weight: bold;
    }
    .text_btn {
        padding: 0 6px;
    }
    .center {
        display: inline-block;
        height: $nav_size;
        line-height: $nav_size;
        vertical-align: top;
    }
    .icon {
        height: $nav_size;
        width: $nav_size;
    }
    .black_active.active, .black_active.active * {
        background-color: black;
        color: white;
    }
    .hoverable { cursor: pointer; }

    .count {
        padding: 1px 4px;
        margin: 0 6px 0px -5px;
        font-size: 11px;
        &.zero { display: none; }
        font-weight: bold;
    }

    .user_thumb {
        width: 32px;
        height: 32px;
        margin-right: 6px;
        padding: 6px 0;
    }

    #logo {
        width: $nav_size; height: $nav_size;
        background-image: asset_url('skin/nav/logo.png');
        &.active { background-image: asset_url('skin/nav/logo-hover.png'); }
    }
    #sign_up_btn {
        * {
            padding: 0 6px;
            background-color: $color_selected;
        }
        &:hover * { background: none; }
    }
    #create_btn {
        .text { padding-left: 0px; }
        .icon { background-image: asset_url('skin/nav/create.png'); }
        &.active .icon { background-image: asset_url('skin/nav/create-hover.png'); }
    }
    .random_btn {
        background-image: asset_url('skin/nav/random.png');
        &.active, &:hover {
            background-image: asset_url('skin/nav/random-hover.png');
            background-color: black;
        }
    }
    #search_box {
        margin-left: 6px;
        width: 150px;
        border: solid 1px $color_grey_medium;
        &:focus { border-color: $color_selected; }    
    }
    .submit {
        vertical-align: top;
    }

    .right {
        position: absolute;
        right: 0;
        top: 0;
        height: $nav_size;
        padding-right: 6px;

        #expr_btn {
            .icon { background-image: asset_url('skin/nav/views.png'); }
            &.active .icon { background-image: asset_url('skin/nav/views-hover.png'); }
            &.active { background-color: $color_selected; }
        }
        .star {
            .icon { background-image: asset_url('skin/nav/star.png'); }
            &.on { background-color: $color_bright_red; }
            &.on .icon { background-image: asset_url('skin/nav/star_on.png'); }
            &.active { background-color: $color_selected; }
            &.active .icon { background-image: asset_url('skin/nav/star-hover.png'); }
        }
        .broadcast {
            .icon { background-image: asset_url('skin/nav/broadcast.png'); }
            &.on { background-color: $color_blue; }
            &.on .icon { background-image: asset_url('skin/nav/broadcast_on.png'); }
            &.active .icon { background-image: asset_url('skin/nav/broadcast-hover.png'); }
            &.active { background-color: $color_selected; }
        }
        .comment {
            .icon { background-image: asset_url('skin/nav/comment.png'); }
            &.on { background-color: $color_blue; }
            &.on .icon { background-image: asset_url('skin/nav/comment_on.png'); }
            &.active .icon { background-image: asset_url('skin/nav/comment-hover.png'); }
            &.active { background-color: $color_selected; }
        }
        .share {
            background-image: asset_url('skin/nav/share.png');
            &.active { background-image: asset_url('skin/nav/share-hover.png'); }
        }
        .edit {
            .icon { background-image: asset_url('skin/nav/edit.png'); }
            &.active .icon { background-image: asset_url('skin/nav/edit-hover.png'); }
            &.active { background-color: black; }
        }
        .plus {
            background-image: asset_url('skin/nav/plus.png');
            &.active { background-image: asset_url('skin/nav/plus-hover.png'); }
        }
    }
}

@media print { #nav { display: none; } }


.page_btn {
    position: absolute;
    width: 44px;
    height: 44px;
    z-index: $nav_layer + 1;
    background-color: white;
    background-repeat: no-repeat;
    @include border-radius(22px);
    @include box-shadow(rgba(black, 0.4) 3px 3px 10px);

    &:hover { background-color: black; }
}
#page_prev {
    background-image: asset_url('skin/nav/page_prev.png');
    &:hover { background-image: asset_url('skin/nav/page_prev-hover.png'); }
    background-position: 8px 11px;
    left: 10px;
}
#page_next {
    background-image: asset_url('skin/nav/page_next.png');
    &:hover { background-image: asset_url('skin/nav/page_next-hover.png'); }
    background-position: 14px 11px;
    right: 10px;
}


img.thumb { background-color: $color_grey_medium; }

.none, .off .on, .on .off { display: none !important }

.menu_handle {
    position: fixed;
    z-index: $nav_layer;
}


#call_to_action {
    float: left;
    cursor: pointer;
    font-family: Bebas, sans-serif;
    font-size: 26px;
    padding: 4px 8px 6px 6px;
    margin-left: 7px;
    background: $color_selected;
    &:hover {
        color: white;
        background: black;
    }
}

#social_icons {
    margin: 0 5px;
    img {
        margin-right: 5px;
        vertical-align: middle;
        width: 20px;
        height: 20px;
    }
}

.menu {
    display: none;
    z-index: $nav_layer + 2;
    position: absolute;
}

.menu.drawer {
    display: none;
    z-index: $nav_layer + 2;
    background-color: white;
    overflow: auto;
    @include box-shadow(rgba(black, 0.4) 3px 3px 10px);
    @include border-radius(5px);
    padding: 5px;
    cursor: default;

    .bar {
        background-color: $color_light_grey;
        height: 1px;
        margin: 5px 0;
    }
    .active { color: black; }
    .thumbs { padding: 5px; }
    .thumbs .thumb { width: 44px; margin: 3px; }

    .menu_item {
        display: block;
        padding: 5px 8px;
        font-weight: bold;
        white-space: nowrap;
        &.active { background-color: $color_selected; }
        .icon {
            float: right;
            margin-top: -5px;
        }
    }
}

#login_menu {
    width: 190px; padding : 10px;
    input[type=text], input[type=password] { width: 170px; }
    .password_recovery {
        font-weight: normal;
        font-size: 12px;
        color: black;
        margin-right: 15px;
        white-space: nowrap;
        float: left;
    }
    .submit { float: right; }
}

#hive_menu {
    .menu_item {
        border-color: $color_light_grey;
        border-width: 1px 0 0 0;
        border-style: solid;
    }
    .menu_item:first-child { border: none; }
}

#user_menu { width: 260px; }

#owner_menu {
    width: 260px;

    .listen.off .icon { background-image: asset_url('skin/1/listen.png') }
    .listen.on .icon { background-image: asset_url('skin/1/listening.png') }
    .menu_item.listen .listen_text { /* prevent long usernames from overlapping */
        max-width: 215px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }
}

#share_menu {
    width: 200px;
    padding-top:10px;

    .like_button {
        text-align: center;
        display: inline-block;
        margin: 3px 7px;
    }
}

.action_menu {
    padding: 10px;

    .header {
        background-color: $color_highlight;
        font-size: 22px;
        padding: 0 8px;
        font-weight: bold;
    }
    .info {
        margin: 10px 0 10px 4px;
        font-size: 13px;
    }
}

#expr_menu {
    top: 68px;
    right: 58px;
    width: 250px;
    overflow: hidden;

    .card_text {
        bottom: 5px;
        padding: 7px;
    }
    .title { font-size: 22px; }
    .tags a { float: left; margin-right: 5px; }
    .byline {
        font-size: 12px;
        right: 6px;
        bottom: 4px;
        float: right;
        display: inline-block;
        margin: 5px 0 0 5px;
    }

    .items .item {
        padding: 5px;
        clear: both;
        border-top: 1px solid $color_light_grey;

        img {
            float: left;
            width: 32px;
            margin-right: 8px;
        }
        .user { font-weight: bold; }
        .text { font-size: 13px; height: 32px; overflow: hidden; }
    }
}

.face_menu {
    width: 243px;

    .items {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid $color_light_grey;

        img {
            width: 44px;
            margin: 2px;
        }
    }
}

#comment_menu {
    width: 500px;
    padding: 15px;

    .items { overflow: auto; }

    .item {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid $color_light_grey;
        position: relative;
        clear: both;
        min-height: 44px;

        img {
            width: 44px;
            margin: 2px 10px 10px 0;
            float: left;
        }
        .comment { float: left; }
        .text { position: relative; float: right; width: 490px; margin-right: 10px; white-space: pre-wrap; }
        .user { display: block; font-weight: bold; margin-top: 5px; }
        .time { font-size: 12px; position: absolute; right: 0; bottom: 0; padding-right: 2px; }
    }

    textarea {
        @include box-sizing(border-box);
        width: 100%;
        margin-top: 20px;
    }
    input { float: right; }
}


.feed_item {
    width: auto;
    height: auto;
    clear: both;
    overflow: hidden;
    font-weight: normal;
    cursor: pointer;
    margin: 0px;
    padding: 2px;
    position: relative;
    border-top: 1px solid $color_light_grey;
    &:first-child { border-top: none; }
    &:hover, &.active {
        background-color: $color_selected;
        img { background-color: $color_selected; }
    }
    img {
        margin: 4px 7px 4px 4px;
        width: 50px;
        height: 50px;
        float: left;
    }
    .feed_text {
        margin-left: 5px;
        font-size: 13px;
        a, .title {
            font-weight: bold;
        }
    }
    .byline {
        position: absolute;
        right: 6px;
        bottom: 4px;
        overflow: hidden;
        font-size: 12px;
    }
    .comment_text {
        white-space: nowrap;
        margin-top: 5px;
        height: 33px;
    }
    p {
        margin: 0;
    }
    .timestamp {
        float: right;
        color: $color_grey_medium;
    }
}

#dia_password {
    padding: 20px;
    .error {
        color: $color_active;
        display: none;
    }
}
