@import "common";

$nav_size: 40px;
.nav {
    position: absolute;
    background-color: white;
    margin: 7px 8px 0 7px;
    @include border-radius(5px);
    @include box-shadow(rgba(black, .3) 3px 3px 10px);
}

.nav div { display: inline-block; }
.nav > div {
    display: inline-block;
    vertical-align: top;
}
.nav .text { font-weight: bold; color: $color_grey_medium; }
.nav .center *, .nav .center { vertical-align: middle; }

.nav {
    .icon {
        height: $nav_size;
        width: $nav_size;
        background-size: $nav_size $nav_size;
    }
    .active, .active * {
        background-color: black;
        color: white;
    }
}

.nav {
    .text_btn {
        padding: 0 6px;
        cursor: pointer;
        height: $nav_size;
        line-height: $nav_size;
        vertical-align: middle;
    }
}

.nav {
    .name { color: black; }
    .active.name, .active .name { color: white; }
}


#nav_hive { height: $nav_size; left: 0; top: 0; }

#logo {
    width: $nav_size; height: $nav_size;
    @include border-radius(5px 0 0 5px);
    background-image: asset_url('skin/1/logo.png');
    &.active { background-image: asset_url('skin/1/logo-hover.png'); }
    padding-right: 2px;
}

#create_btn {
    .text { padding-left: 6px; }
    @include border-radius(0 5px 5px 0);
}
#create_icon {
    background-image: asset_url('skin/1/create.png');
    @include border-radius(0 5px 5px 0);
}
.active #create_icon { background-image: asset_url('skin/1/create-hover.png'); }


#nav_content { height: $nav_size; right: 0; top: 0; }

#login_btn {
    @include border-radius(5px 0 0 5px);
}

#owner_btn {
    .text { padding-left: 3px; }
}
#owner_thumb {
    width: $nav_size - 8;
    margin: 4px;
}

#share_icon { background-image: asset_url('skin/1/share.png'); }
.active #share_icon { background-image: asset_url('skin/1/share-hover.png'); }

#plus_btn {
    @include border-radius(0 0 5px 5px);
    background-image: asset_url('skin/1/plus.png');
    &.active { background-image: asset_url('skin/1/plus-hover.png'); }
}




.menu {
    display: none;
    border: 0px solid $color_unselected;
    background-color: white;
    z-index: 2;
    position: absolute;
    overflow: auto;
    @include box-shadow(rgba(black, 0.4) 3px 3px 10px);
    @include border-radius(5px);
    padding: 5px;

    .bar {
        background-color: $color_light_grey;
        height: 1px;
        margin: 5px 0;
    }
}
.menu_item {
    padding: 5px 8px;
    cursor: default;
    font-weight: bold;
    white-space: nowrap;
    &.active { background-color: $color_selected; }
}


#user_btns {
    font-size: 14px;
    div {
        cursor: pointer;
        display: inline-block;
        padding: 8px;
        color: black;
    }
    .active { background-color: $color_selected; }
}







.nav .nav_icon {
    display : inline-block;
    height: $nav_height;
    float: left;
    &.active { color : white; background-color : $color_grey_medium; }
    &.pad { padding : 0 8px; }
    &.smpad { padding : 0 4px; }
    &.padsm { padding-right: 3px; }
    &.space { padding : 0 4px; }
}
#nav .icon {
    background-repeat: no-repeat;
    background-size: 100%;
    &.full { width: $nav_height * .88; height: $nav_height; }
}
#nav .center img { vertical-align: middle; }

#nav_bg {
  top: 0; 
  left: 0; 
  width: 100%; 
  min-width: 620px;
  pointer-events: none;
  height: $nav_height; 
  background-image: asset_url('skin/1/nav_gradient.png');
  z-index: 1; 
}

#nav_right { right: 0px; top: 0px; margin-right: 5px; }

body.home.logged_out .nav{
  position: absolute;
}

#user_menu_handle.active { background: none !important; }
#user_menu .referral_count {
  color: $color_active;
  padding-left: 30px;
  float: right;
}
#user_menu {
  .fb_icon {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background: asset_url('skin/1/facebook_flat_sm.png') no-repeat -1px -2px;
  }
  .fb_icon_title {
      font-size: 19px;
  }
  .menu_item {
      clear: both;
      overflow: hidden;
  }
  font-weight: bold;
}

#exp_owner { background-color : $color_selected; margin : 5px 0 5px; padding : 1px 5px; display : inline-block; vertical-align: top; }
#datetime { font-size : .7em; color : $color_grey_medium; line-height : .5em; }
#info { display : inline-block; text-align : right; margin-right : 10px; }

#user_menu .menu_item.facebook{
  &:hover {
      background-color: $color_facebook;
      color: white;
  }
}

.nav .notification_count {
  display: inline-block;
  padding: 3px 5px 2px 5px;
  vertical-align: middle;
}

.nav_icon .username {
  &:hover { background: $color_highlight; }
  padding: 0 3px;
}

#btn_star {
  .icon { background-image: asset_url("skin/1/like.png"); }
  &.starred .icon { background-image: asset_url("skin/1/like-active.png"); }
  &:hover .icon { background-image: asset_url("skin/1/like-hover.png"); }
}

#btn_broadcast {
  .icon { background-image: asset_url("skin/1/broadcast.png"); }
  &.enabled .icon { background-image: asset_url("skin/1/broadcast_active.png"); }
}

.listen_button {
    position: relative;
    top: 2px;
    width: 37px;
    height: 31px !important;
    background-image: asset_url('skin/1/people_small.png'); 
    &:hover { background-image: asset_url('skin/1/people_small-hover.png'); }
    &.starred { 
        background-image: asset_url('skin/1/people_small_active.png');
        &:hover { background-image: asset_url('skin/1/people_small_active-hover.png'); }
    }
}

.has_count .count {
  color: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 16px 2px 0 -9px;
  padding: 2px 4px;
  line-height: 13px;
  font-size: 12px;
  display: inline-block;
  background: $color_grey_medium;
  cursor: default;
}
.has_count .count.zero {
  display: none;
}
.has_count .icon {
  display: inline-block;
  vertical-align: top;
}

#search {
   position: relative;
   display: inline-block;
}
#search_box {
    width: $nav_height * 3;
   border-width: $nav_height * .1;
   padding: $nav_height * .1;
}
#search_submit {
  display: inline-block;
  width: .44 * $nav_height;
  height: .44 * $nav_height;
  background-image: asset_url('skin/1/search_arrow.png');
  vertical-align: middle;
  &:hover { background-image: asset_url('skin/1/search_arrow-hover.png');}
}


#notifications {
    background-image: asset_url('skin/1/feed.png');
    &.active { background-image: asset_url('skin/1/feed-hover.png'); }
    .count {
        margin: 27px 0 0 27px;
        background-color: $color_active;
    }
}


#login_menu { width: 190px; padding : 10px; }
#login_menu input[type=text], #login_menu input[type=password] { width: 170px; }
#signup_btn {
  &:hover { background-color: $color_active; color: white; }
}
#password_recovery_link {
    font-weight: normal;
    font-size: 12px;
    color: black;
    margin-right: 3px;
    white-space: nowrap;
}
#login_submit { float: right; }
