@import "common";

.navigator {
    $margin: 5px;
    $shadow_color: rgba(0,0,0,0.4);
    @include box-shadow(0 -2px 15px $shadow_color);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
    z-index: 4;
    .info {
        margin: $margin 0;
        height: 45px;
        .search {
            width: 20%;
        }
        .tags_wrapper {
            max-width: 70%;
            margin-right: 10px;
            float: right;
            overflow: hidden;
        }
        .tags {
            white-space: nowrap;
        }
        .tag {
            font-weight: bold;
            font-size: 15px;
            padding: 6px;
            margin: 4px;
            display: inline-block;
            cursor: pointer;
            &.name { background: $color_pink; }
            &.expr { background: $color_selected; }
            &.user { background: $color_bright_yellow; }
        }
    }
    .navigator_inner{
        position: relative;
        left: 0;
        .current {
            position: absolute;
            padding: 0;
            .element {
                margin: 0;
            }
        }
        .container {
            overflow: hidden;
            width: 999999px;
            position: absolute;
            top: 0;
            margin: 0 $margin;
            &.prev {
                margin-right: $margin + 1;
            }
        }
        .element {
            margin: 0 $margin 100px $margin;
            img {
                //@include border-radius(4px);
            }
            .card_text {
                overflow: hidden;
                .title{ display: block; }
                .byline{ display: none; }
                .by { color: $color_grey_medium; }
            }
            &:hover .card_text {
                .title { display: none; }
                .byline { display: block; }
            }
        }
        .prev .element {
            float: right;
        }
        .next .element {
            float: left;
        }
    }
    .frame {
        position: absolute;
        padding: 0;
        @include box-shadow(2px 2px 10px $shadow_color);
        pointer-events: none;
    }
}

#navigator_handle {
    bottom: 0;
    height: 50px;
    width: 100%;
}
