// overlay css

@import "common";


.overlay {
    display: none;
    position: fixed;
    //width: 55px;
    //height: 55px;
    z-index: $nav_layer;
    background-color: white;
    background-repeat: no-repeat;
    @include box-shadow(rgba(black, 0.4) 3px 3px 10px);

    &:hover { 
        background-color: black;
    }
}

/*.pagethrough {
    position: fixed;
    display: none;
    @include opacity(0.8);
    z-index: 2;
}
#page_prev img { left: 0; bottom: 50%; }
#page_next img { right: 0; bottom: 50%; }
*/
.page_btn {
    width: 55px;
    height: 55px;
}
#page_prev {
    background-image: asset_url('skin/nav/page_prev.png');
    &:hover { background-image: asset_url('skin/nav/page_prev-hover.png'); }
    background-position: -4px 0px;
    left: 14px;
}
#page_next {
    background-image: asset_url('skin/nav/page_next.png');
    &:hover { background-image: asset_url('skin/nav/page_next-hover.png'); }
    background-position: 4px 0px;
    right: 20px;
}

.overlay.social_btn {
    display: none;
    right: 20px;
    bottom: 20px;

    * {
        display: inline-block;
        @include border-radius(11px);
        width: 55px; height: 55px;
    }

    #edit_btn {
        background-image: asset_url('skin/nav/edit.png');
        &:hover { background-image: asset_url('skin/nav/edit-hover.png'); }
        background-position: 6px 5px;
    }

    #social_plus {
        background-image: asset_url('skin/nav/plus.png');
        &:hover { background-image: asset_url('skin/nav/plus-hover.png'); }
        background-position: 6px 5px;
    }
}

#signup_create {
    &:hover { 
        background-color: black;
        color: white;
    }
   
    // fixme
    display:block;

    right: 20px;
    bottom: 20px;
    @include border-radius(11px);
    padding: 10px 0px 10px 0px;
    &:first-child {
    }
    span {
        text-transform: uppercase;
        padding: 0px 10px 0px 10px;
    }
    .left_border {
        border-left: 1px solid red;
    }
}

#social_overlay {
    @include border-radius(25px 25px 0px 0px);
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    &:hover { background-color: white; }

    #popup_content {
        //position:absolute;
        //top: 44px;
        width: 100%;
        margin: 15px;
        //height: 306px;
        //overflow: auto;
    }
    .left_pane {
        display: inline-block;
        width: 50%;
        margin-right: 60px;
    }

    .right_pane {
        display: inline-block;
        width: 50%;
        position: absolute;
        right: 0;
        vertical-align: top;
        border-left: 1px solid #d1d1d1;
    }
    .stats_bar {
        position: absolute;
        right: 0;
    }

    .footer {
        margin-top: 30px;
    }

    .tag_list {
        padding: 20px;
    }
}

#dia_comments {
    .activity {
        max-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #discussions {
        margin-right: 20px;
        .counts_icon {
            position:absolute;
            right:0px;
        }
        textarea {
            width: 100%;
        }
    }
}
