// overlay css
@import "common";

// $debug: true;
$debug: false;

@media print { #nav { display: none; } }

body.nav .main-header {
    display: block;
}

@media all and (min-width:830px) and (max-width:919px) {
    .main-header:not(.condensed) .table {
        .search_bar input[type=text].media_shrink {
            max-width: 90px;
        }
    }
    .main-header .table {
        .search_bar input[type=text]:not(.media_shrink) {
            max-width: 180px;
        }
    }
}
@media all and (min-width:920px) and (max-width:1000px) {
    .main-header:not(.condensed) .table {
        .search_bar input[type=text].media_shrink {
            max-width: 190px;
        }
    }
}
@media all and (max-width:610px) {
    .main-header .username.username { max-width: 120px; }
}

$anim_time: 0.15s;
@if $debug { $anim_time: 1.15s; }
body:not(.mobile) {
    #site {
        @include transition(margin-top, $anim_time, linear);
    }
    .main-header {
        @include transition(all, $anim_time, linear);
        .logo, .item, .icon, a.splash.container, .cell, .cell>a, .vcenter_outer {
            @include transition(all, $anim_time, linear);
        }
    }
    .main-header:not(.narrow){
        .search_bar {
            input[type=text] {
                @include transition(all, $anim_time, linear);
            }
        }
    }
}

.main-header {
    display: none;
    position:fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 17px;

    z-index: $nav_layer;
    background-color: white;

    // Debug
    @if $debug {
        .left { background-color: antiquewhite; }
        .right { background-color: aquamarine; }
    }
    .nav_top_row {
        &>.left, &>.right {
            display: inline-block;
            padding: 5px;
            line-height: 0px;
        }
        &>.right {
            float: right;
        }
    }
    .right .icon {
        margin-right: 5px;
    }
    .text_btn { margin: 2px 0px 0px 0px; }
    .logo, .item, .icon {
        display: inline-block;
    }
    .splash.container { width: 100%; overflow: hidden; }
    img.splash {
        display: block;
        margin: auto;
        height: 80px;
    }
    .logo.splash, .right .vcenter_outer.full_height {
        height: 80px;
    }
    .item {
        @include border-radius(6px);
    }
    .blurb {
        font-size: 19px;
        margin: 5px 0 15px;
    }
    .item.btn {
        display: inline-block;
        &:hover, &.active { background-color: black; }
        height: 44px; width: 44px;
        background-size: 44px 44px;
    }
    .username { max-width: 222px; }
    .create.item {
        background-image: asset_url('skin/nav/create.png');
        &.active { background-image: asset_url('skin/nav/create-hover.png'); }
    }
    .search_bar {
        line-height: 0px;
        display: inline;
        .icon.go_search {
            padding: 0px;
            background-color: transparent;
            background-image: asset_url('skin/nav/search.png');
            // &:hover { 
            //     background-image: asset_url('skin/nav/search-hover.png');
            //     // background-color: $color_bright_red;
            // }
        }
    }
    // #search_box is not always inside .search_bar
    #search_box {
        margin: 4px 0px 0px -2px;
        width: 250px;

        width: 0px;
        padding: 0px;
        opacity: 0;
        display: inline;
        &.block { position:absolute; clear: both; }
        &:hover, &:focus {
            width: 250px;
            padding: 6px;
            opacity: 1;
            // show on next line when in narrow mode
            &.block {
                position: static;
                display: block;
                &.narrow { margin: auto; }
                &.full { margin: 0px 10px 10px auto; }
            }
        }
    }
    .header {
        display: none; // until we implement categories
        // height: 39px; // Ew.  Should be computed.
        line-height: 0px; // To remove extra whitespace
        ul {
            // min-width: 200px;  //!! needs to reflect content changes
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 0px;

            display: inline-block;
            text-align: justify;
            width: 100%;

            overflow: hidden;

            li { display: inline-block; }
            .text_btn { margin: 0px; }

            &:after {
                content: '';
                display: inline-block;
                width: 100%;
                // height: 0px;
            }
        }
    }

    &.narrow {
        .blurb { margin: 4px 4px 8px 4px; }
    }
    &.condensed {
        @include box-shadow(rgba(black, 0.4) 0px 3px 10px);
        .hide_condensed { display: none; }
        .logo.splash, .right .vcenter_outer.full_height {
            height: 40px;
            // margin: 0;
        }
        .splash.container.narrow {
            width: 44px;
        }
        padding-bottom: 0px;
        .nav_top_row {
            &>.left.for_logo {
                width: 180px;
                &.narrow { width: 44px; }
            }
        }
    }
}

.main-header.split .nav_top_row {
    &>.cell {
        width: 100%;
    }
    .vcenter_outer.full_height {
        height: auto;
        display: inline-block;
        .vcenter_middle {
            display: block
        }
    }   
}
.main-header:not(.condensed) .right .vcenter_outer {
    @media all and (max-width:975px) {
        max-width: 400px;
    }
}

.page_btn {
    opacity: .9;
    width: 42px;
    height: 55px;
    // background-size: 42px 55px;
    &:hover { background-color: black; }
    &.page_prev {
        background-image: asset_url('skin/nav/page_prev.png');
        &:hover { background-image: asset_url('skin/nav/page_prev-hover.png'); }
        background-position: -4px 0px;
        left: 14px;
    }
    &.page_next {
        background-image: asset_url('skin/nav/page_next.png');
        &:hover { background-image: asset_url('skin/nav/page_next-hover.png'); }
        background-position: -6px 0px;
        right: 20px;
    }
}

.red_spacer {
    border-left: 2px solid red;
    display: inline-block;
    height: 14px;
    width: 0;
    margin-right: -4px;
}
.overlay.panel.nav {
    //display: block;
    position: fixed;
    z-index: $nav_layer;
    right: 20px;

    .edit_icon {
        background-image: asset_url('skin/nav/edit.png');
        &.active { background-image: asset_url('skin/nav/edit-hover.png'); }
    }

    .remix_icon {
        background-image: asset_url('skin/nav/remix.png');
        &.active { background-image: asset_url('skin/nav/remix-hover.png'); }
    }

    .create {
        background-image: asset_url('skin/nav/create.png');
        &.active { background-image: asset_url('skin/nav/create-hover.png'); }
    }

    .social_btn {
        background-image: asset_url('skin/nav/open.png');
        &.active, &:hover { background-image: asset_url('skin/nav/open-hover.png'); }
    }

    .user_card {
        img {
            background-color: transparent;
            width: 44px;
            // width: 36px;
            // padding: 4px;
        }
    }

    .signup {
        display: inline-block;
        vertical-align: top;
    }
}

// #overlays div, body:not(.nav) .overlay {
.overlay {
    display: none;
    // opacity: .95;
    // &.social {
    //     opacity: inherit;
    // }
    position: fixed;
    z-index: $nav_layer;
    background-color: white;
    background-repeat: no-repeat;
    @include box-shadow(rgba(black, 0.4) 3px 3px 10px);
    // @include border-radius(11px);
    @include border-radius(11px);
    &.bottom { bottom: 20px; }
    &.left { left: 20px; }
    &.right { right: 20px; }

    .right { @include border-radius(0 11px 11px 0); }
    .left {  @include border-radius(11px 0 0 11px); }
    .left.right {  @include border-radius(11px); }

    &.panel {
        height: 44px;

        .item {
            position: static;
            display: inline-block;
            &:hover, &.active { background-color: black; }
        }
        .icon, .item {
            height: 44px; width: 44px;
            background-size: 44px 44px;
        }

        .text_btn {
            display: inline-block;
            padding: 10px;
            height: 24px;
            line-height: 22px;
            vertical-align: middle;
            white-space: nowrap;
            &:hover {
                color: white;
                background-color: black;
            }
        }
    }

    &.form {
        display: block;
        left: 20px;
        bottom: 20px;
        padding: 10px;
        &:hover { background-color: black; color: white; }
    }
}
.mobile .overlay {
    &.form, &.logo {
        bottom: 10px; left: 10px;
    }
    &.panel {
        bottom: 10px; right: 10px;
    }
    &.page_btn {
        bottom: 60px;
        &.page_next { right: 10px; }
        &.page_prev { left: 10px; }
    }
}
#social_overlay {
    z-index: #{$nav_layer + 1};
    @include border-radius(25px 25px 0px 0px);
    @include box-shadow(rgba(black, .3) 3px 3px 28px);

    // max-width: 1024px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    // height: 180px;
    &:hover { background-color: white; }

    .icon.plus_menu, .icon.add_queue, .icon.plus_cats {
        // position: absolute;
        // background-color: black;
        // top: 18px;
        // right: 27px;
        margin: -6px 0px 0px 0px;
        display: inline-block;
        float: inherit;
    }
    // .icon.add_queue { right: 77px; }
    #popup_content {
        //position:absolute;
        //top: 44px;
        max-width: 980px;
        overflow-x: auto;
        margin: auto;
        padding: 20px 20px 0px 20px;
        // position: relative;
        //height: 306px;
        //overflow: auto;
        // Direct descendents
        &> * { 
            vertical-align:top; 
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
        }
        // Direct grand-descendents
        &> * > * { vertical-align:bottom; }
    }
    #views_menu {
        padding: 5px;
        // .text.item {
        //     margin-top: 6px;
        // }
        .menu_item {
            font-family: bebas;
            margin-bottom: 5px;
        }
        .menu_item + .menu_item {
            border-top: 1px solid $color_grey_medium;
        }
    }
    .left_pane {
        display: inline-block;
        width: 430px;
        padding-right: 5px;

        .title_box { height: 78px; }
        .title {
            vertical-align: middle;
            // display: table-cell;
            max-height: 64px;
            overflow: hidden;
        }
        .user_action_bar { 
            float: right; 
        }
        // TODO: Make it vcenter
        .owner.profile {
            padding-top: 13px;
            // .user_action_bar {
            //     padding-top: 4px;
            // }
        }
        .profile.brief {
            .thumb { float:left; }
            width: 100%;
            & > * {
                // user thumb height
                height: 60px;
                line-height: 60px;
            }
        }
    }

    .right_pane {
        display: inline-block;
        width: 100%;
        max-width: 522px;

        text-align: right;
        margin-right: 70px;

        .tags_box { height: 78px; }
        .tag_list {
            max-height: 78px;
        }
        .stats_bar {
            margin-top: 10px;
            &> * { text-align: left; }
        }

        .counts_icon {
            width: 90px;
            margin-right: 7px;
            .icon {
                width: 60px;
                height: 60px;
            }
            .counts {
                line-height: 60px;
            }
            &.plus-minus.active {
                background-color: black;
            }
            &.active {
                background-color: $color_selected;
                color: black;
            }
            &.on.active {
                background-color: $color_selected;
            }
        }
    }
    .footer {
        margin-top: 30px;
    }

}

// TODO-cleanup: move this to another file
$action: love comment republish;
.activity {
    .feed_item {
        // background-color: #EEE;
        position: relative;
        padding: 10px;
        overflow: auto;
        border-top: 1px solid #d1d1d1;
        min-height: 48px;
        font-family: Gibson;
        font-size: 16px;

        &.comment {
            &:hover { background-color: inherit; }
            .content {
                // TODO-cleanup: remove calc-width...
                @include calc-width("100% - 59px");
                .text {
                    // min-height: 44px;
                    max-height: inherit;
                    max-width: inherit;
                    display: block;
                    margin-bottom: 10px;
                }
                a.byline { float: left; }
            }
            .timestamp {
                float: right;
                position: inherit;
            }
            .show_hover {
                // TODO-polish: understand why this is needed.
                // width: 89px;
                position: absolute;
                right: 8px;
                top: 5px;
                button {
                    color: white;
                    background-color: black;
                }
            }
            textarea {
                height: 77px;
                margin-top: 18px;
            }
        }
        &:hover, &.active {
            background-color: $color_selected;
        }

        .username, .entity_title {
            font-family: Gibson Semibold;
            text-transform: uppercase;
        }

        .thumb {
            width: 44px;
            vertical-align: top;
            float: left;
            margin-right: 15px;
        }

        .action_icon {
            float: right;
            margin: -5px 0 5px 0;
            width: 36px; height: 36px;
            margin-bottom: 5px;

            @each $a in $action {
                &.#{$a} { background-image: asset_url('skin/nav/'#{$a}'.png'); }
            }
        }
        .timestamp {
            float: right;
            // clear: both;
            font-family: Bebas;
            font-size: 14px;
            color: $color_grey_medium;
        }

        .content {
            display: inline-block;
            width: 270px;

            .title { font-style: italic; }
            .text {
                text-overflow: ellipsis;
                overflow: hidden;
                max-height: 40px;
                max-width: 270px;
                // color: $color_grey_medium;
            }
        }
    }
}

// TODO-cleanup: merge with &.comment above.
#dia_comments {
    padding: 23px;
    width: 546px;
    
    .title { margin-bottom: 15px; }
    .activity {
        max-height: 450px;
        overflow-y: auto;
        overflow-x: hidden;

        .inplace_edit {
            display: none;
            width: 95%;
        }

        .feed_item {
            padding: 10px 0px;
            padding-right: 10px;
            // width: 100%;
            // display: inline-block;
            position: relative;
            // border-top: 2px solid #d1d1d1;

            // .timestamp {
            //     right: 24px;
            //     bottom: 0px;
            //     max-width: 114px;
            //     overflow: hidden;
            //     white-space: nowrap;
            // }
            // .text {
            //     max-height: none;
            // }
        }
    }
    #discussions {
        textarea {
            width: 100%;
        }
    }
}

.hive_logo {
    display: block;
    margin-left: 0px;
    height: 44px;
    width: 44px;
    left: 20px;
    background-image: asset_url('skin/nav/logo.png');
    &.active {
        background-image: asset_url('skin/nav/logo-hover.png');
        background-color: black;
    }
}
