#header { 
  h1 { 
    margin: 58px; 
    margin-left: 30px;
  }
}
#profile_thumb { 
  width: auto; 
}
#profile_thumb img, #profile_thumb .placeholder{ 
  float: left;
  height: 190px; width: 190px; 
  @include border-radius(7px);
}
#profile_thumb .placeholder{ height: 30px; padding: 85px 0;}
.placeholder { border: 1px dashed #CCC; text-align:center; }
#profile_thumb .message {position: absolute; top: 240px; font-size: 12px;}

.fathead { font-weight: normal; }
.fathead.hasthumb { margin: 75px 50px 0 50px; }
.fathead img { margin : 8px 0; vertical-align : top; }
