@import "common";

.user_settings {
    form {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .row {
        clear: both;
        overflow: auto;
    }
    .column{
      float: left;
      width: 312px;
      margin-right: 20px;
      h3 { margin-top: 0; }
    }
    input[type="text"], input[type="password"] {
        width: 237px;
    }
    #gender_wrapper {
        width: 120px;
        float: left;
    }
    #age {
        width: 93px;
    }
    .friend {
      padding: 3px;
      border-top: 1px solid $color_light_grey;
      img {
        vertical-align: middle;
        width: 32px;
        margin-right: 6px;
      }
      .listen {
        width: 37px;
        height: 31px;
        margin: 0;
        float: right;
        background: asset_url("skin/1/people_small.png");
        &:hover {
          background: $color_charcoal asset_url("skin/1/people_small-hover.png");
        }
        &.active {
          background: asset_url("skin/1/people_small_active.png");
        }
      }
    }
    input[type=submit]{
        float: right;
    }
    .checkbox {
        margin-top: 5px;
    }
    #full_tos {
        color: $color_blue;
    }
}

.user_settings, .email_confirmation{
  .title { padding-top: 10px; }
  #profile_thumb {
    float: left;
    width: 90px;
    .message {
      color: $color_grey_medium;
      font-size: 12px;
    }
    img {
      width: 70px;
      height: 70px;
    }
    .placeholder {
      $padding: 17px;
      width: 70px;
      height: 70px - 2*$padding;
      border: 1px dashed #CCC; 
      text-align:center; 
      font-size: 10px;
      padding: $padding 0;
    }
  }
  .fathead {
    margin: 50px; 
    div { 
      //background: asset_url('skin/1/plus_lg.png') no-repeat; 
      //height: 44px;
    }
    h1 { 
      display:inline;
      font-family: Museo, Helvetica, sans-serif;
    }
  }
}
.user_settings {
  .required { 
    color: $color_active; 
    font-size: 0.7em;
  }
  .form_validation_info { width: 215px; }
  .user_name_change_text {
    width: 215px;
    font-size: 0.75em;
  }
}

.email_confirmation {
  .fathead { 
    margin-bottom: 100px; 
    p {margin-left: 50px; }
  } 

  #content a {
    color: $color_blue;
    &:hover { color: $color_active; }
  }
}

body.unsubscribe {
    #right_column {
        margin-top: 12%;
    }
    h1 {
        font-family: Museo, Helvetica, Verdana, sans-serif;
    }
    #email, #username {
        color: $color_active;
    }
    #email {
        font-size: 30px;
        margin-bottom: 32px;
    }
    .checkbox {
        margin: 10px 0;
        font-weight: bold;
    }
    input[type=submit]{
        margin-top: 21px;
    }
}
