.user_settings {
    input[type="text"], input[type="password"] {
        width: 16em;
    }
    #gender_wrapper {
        width: 7em;
        float: left;
    }
    #age {
        width: 7em;
    }
}

