.user_settings {
    input[type="text"], input[type="password"] {
        width: 217px;
    }
    #gender_wrapper {
        width: 120px;
        float: left;
    }
    #age {
        width: 93px;
    }
}

