.title.expr, .dialog .title {
	font-family: Gibson Semibold;
	font-size: 33px;
	// letter-spacing: -1px;
	line-height: 32px;
}
.heading {
    font-size: 44px;
    &.small {
        font-size: 33px;
    }
    font-family: Gibson;
	// letter-spacing: -1px;
}
.title.fullname {
	font-family: Gibson;
	// letter-spacing: -1px;
}
.form_text {
    font-family: Gibson;
    font-size: 17px;
    // text-transform: uppercase;
}
.username {
    font-family: Gibson Semibold;
    font-size: 17px;
    text-transform: uppercase;
}
.subheading {
    font-family: Gibson Semibold;
    font-size: 17px;
    // text-transform: uppercase;
}
.item, .menu_item {
    text-transform: uppercase;
    &:hover {
    	font-weight: bold;
    }
    font-family: Gibson Semibold;
    font-size: 16px;
}
