@import "common";

.title.expr, .dialog .title {
	font-family: $ui_font_bold;
    font-weight: bold;
	font-size: 33px;
	// letter-spacing: -1px;
	line-height: 32px;
}
.heading {
    font-size: 44px;
    &.small {
        font-size: 33px;
    }
    font-family: $ui_font;
	// letter-spacing: -1px;
}
.title.fullname {
	font-family: $ui_font;
	// letter-spacing: -1px;
}
body, form, .form_text {
    font-family: $ui_font;
    font-size: 17px;
}
.username {
    font-family: $ui_font_bold;
    font-weight: bold;
    font-size: 17px;
    //text-transform: uppercase;
}
.subheading {
    font-family: $ui_font_bold;
    font-weight: bold;
    font-size: 17px;
    // text-transform: uppercase;
}
.item, .menu_item {
    text-transform: uppercase;
    &.active {
    	font-weight: bold;
    }
    &.disabled {
        color: grey;
    }
    font-family: $ui_font_bold;
    font-weight: bold;
    font-size: 16px;
}
