.title.expr {
	font-family: Gibson Semibold;
	font-size: 33px;
	letter-spacing: -1px;
	line-height: 32px;
}
.heading {
    font-size: 44px;
    font-family: Gibson;
	letter-spacing: -1px;
}
.username {
    font-family: Gibson Semibold;
    font-size: 17px;
    text-transform: uppercase;
}
.title.fullname {
	font-family: Gibson;
	letter-spacing: -1px;
}