#tags { 
  margin: 10px 20px 0 0; 
}
#user_tags{ padding-top: 45px; }
.tag_label {
  font-weight: bold; 
  color: $color_12; 
  background-color: $color_tan;
  text-align: right;
  &.active, &.current.active, &.current.Feed.active { color: $color_bright_red; background-color : $color_highlight; }
  &.current { background-color : $color_selected; color : black;}
  &.current.Feed { background-color: $color_2; color: white;}
  p { margin: 0; }
  &.user { 
    float: right;
    clear: both;
    color: white;
    padding: 0 8px;
    &:hover { padding-left: 33px }
    margin: 5px 0;
    font-weight: normal;
    font-size: 16px;
    &.tag_0 { background-color: $color_tag_0; }
    &.tag_1 { background-color: $color_tag_1; }
    &.tag_2 { background-color: $color_tag_2; }
    &.tag_3 { background-color: $color_tag_3; }
    &.tag_4 { background-color: $color_tag_4; }
    &.tag_5 { background-color: $color_tag_5; }
    &.tag_6 { background-color: $color_tag_6; }
    &.tag_7 { background-color: $color_tag_7; }
    &.tag_8 { background-color: $color_tag_8; }
  }
  &.system {
    background-repeat: no-repeat;
    background-position: right;
    font-size: 21px;
    height: 31px;
    margin-top: 7px;
    font-weight: bold; 
    padding: 0px 12px;
    a { display: inline-block; margin-top: 4px; }
    &.Starred, &.Listening { a { padding-right: 18px; } }
    &.current { 
    }
    &.Starred {
      background-image: url('/lib/skin/1/star_tab.png');
      &.current:hover { background-image: url('/lib/skin/1/star_tab.png'); }
      &:hover { background-image: url('/lib/skin/1/star_tab-hover.png'); }
    }
    &.Listening {
      background-image: url('/lib/skin/1/people_tab.png');
      &:hover { background-image: url('/lib/skin/1/people_tab-hover.png'); }
    }
  }
}

.expr_cards {
  .tag_label.system.current {
    background-color: white;
    font-family: Lobster, Helvetica, sans-serif;
    font-size: 1.6em;
    color: black;
    a {font-weight: normal;}
  }
}
