#tags { 
  margin: 30px 10px 0 50px; 
}
#user_tags{ padding-top: 30px; }
.tag_label {
  font-weight: bold; 
  color: $color_12; 
  background-color: $color_tan;
  text-align: right;
  &.active, &.current.active, &.current.Feed.active { color: $color_bright_red; background : $color_highlight; }
  &.current { background-color : $color_selected; color : black;}
  &.current.Feed { background-color: $color_2; color: white;}
  p { margin: 0; }
  &.user { 
    float: right;
    clear: both;
    background-color: $color_2; 
    color: white;
    padding: 0 3px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 16px;
  }
  &.system {
    font-size: 21px;
    height: 31px;
    margin-top: 7px;
    p {
      font-weight: bold; 
      padding: 4px 12px;
    }
  }
}
