#nav_bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: asset_url("skin/1/nav_gradient.png");
  z-index: 1; }

body.home.logged_out .nav {
  position: absolute; }

.nav .nav_icon.has_count {
  position: relative; }

.nav .notification_count {
  display: inline-block;
  padding: 3px 5px 2px 5px;
  vertical-align: middle; }

.nav_icon .username:hover {
  background: #FFF673; }

#btn_star .icon {
  height: 50px;
  float: left;
  width: 67px;
  background-image: asset_url("skin/1/star.png"); }

#btn_star.starred .icon {
  background-image: asset_url("skin/1/star_active.png"); }

#btn_star.active.starred .icon, #btn_star.active .icon {
  background-image: asset_url("skin/1/star-hover.png"); }

.expr_cards #btn_star .icon {
  background-image: asset_url("skin/1/people.png"); }
.expr_cards #btn_star.active .icon {
  background-image: asset_url("skin/1/people-hover.png"); }
.expr_cards #btn_star.starred .icon {
  background-image: asset_url("skin/1/people_active.png"); }
.expr_cards #btn_star.starred.active .icon {
  background-image: asset_url("skin/1/people_active-hover.png"); }

.listen_small.icon {
  position: relative;
  top: 2px;
  width: 37px;
  height: 31px;
  background-image: asset_url("skin/1/people_small.png"); }
  .listen_small.icon:hover {
    background-image: asset_url("skin/1/people_small-hover.png"); }

.listen_small.starred.icon {
  background-image: asset_url("skin/1/people_small_active.png"); }
  .listen_small.starred.icon:hover {
    background-image: asset_url("skin/1/people_small_active-hover.png"); }

.has_count .count {
  color: #FFF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 15px 5px 0 -10px;
  padding: 2px 5px;
  line-height: 13px;
  font-size: 12px;
  font-weight: bold;
  float: left;
  background: #696E76; }

.has_count .count.zero {
  display: none; }

.has_count.zero {
  margin-right: -8px; }

.has_count img {
  float: left; }

/* ==========================================
   popup dialogs 
   ========================================== */
/* === Container element === */
#dialogs {
  display: none; }

/* === click shield element === */
#dialog_shield {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2; }

#dialog_shield.fade {
  background-color: black;
  opacity: 0.23; }

/* === General === */
.dialog {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  -moz-box-shadow: 05px 05px 05px #666;
  -webkit-box-shadow: 05px 05px 05px #666;
  box-shadow: 05px 05px 05px #666; }
  .dialog .center, .dialog.center {
    text-align: center; }
  .dialog .line {
    margin: 7px 0;
    clear: both; }
  .dialog .line .element {
    float: left; }
  .dialog .line .label {
    float: left;
    margin-top: 6px;
    margin-right: 4px; }

.btn_dialog_close, #btn_dialog_close {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: asset_url("skin/1/close.png");
  right: 10px;
  top: 5px;
  z-index: 100; }

.btn_dialog_close:hover, #btn_dialog_close:hover {
  background-image: asset_url("skin/1/close-hover.png"); }

input[type="text"].copy, textarea.copy {
  border: none;
  font-family: helvetica, verdana, sans-serif;
  white-space: pre-wrap; }

.dialog h3 {
  font-family: Museo, serif;
  font-weight: normal;
  font-size: 28px; }

/* Share dialog */
#email_send {
  margin-top: 26px;
  margin-left: 20px;
  font-family: Arial;
  font-size: 17px; }

#congrats_message h1 {
  font-weight: lighter;
  font-family: Museo;
  display: inline;
  font-size: 33px; }

#congrats_message strong {
  font-weight: normal;
  color: red; }

#expression_url {
  display: block;
  float: left;
  font-size: 14px;
  padding: 7px;
  margin: 3px auto auto 10px;
  width: 470px;
  background-color: #FFF673; }

#expression_embed_code {
  overflow: auto;
  display: block;
  float: left;
  font-size: 12px;
  padding: 7px;
  margin: 0;
  width: 439px;
  height: 60px;
  background-color: #D0E0F0; }

#btn_url_copy {
  background-image: asset_url("skin/1/copy_clipboard.png");
  float: right;
  width: 20px;
  height: 24px;
  margin: 5px 5px 0 0; }

#btn_url_copy.hover {
  background-image: asset_url("skin/1/copy_clipboard-hover.png"); }

#dia_share {
  width: 555px;
  padding: 20px; }

#like_buttons {
  margin: 20px 0; }

#like_buttons .like_button {
  display: inline-block;
  margin: 10px; }

#dia_share #email_message {
  width: 350px; }

#dia_share #email_to {
  width: 301px; }

#dia_share .line.embed {
  padding-top: 20px; }

#dia_share label {
  font-size: 14px; }

#dia_share .count {
  font-family: League Gothic, sans-serif;
  font-size: 55px; }

#dia_share .label.align {
  width: 89px; }

/* Referral Dialog */
#dia_referral {
  width: 490px;
  padding: 20px 40px 20px 50px;
  text-align: left; }

#dia_referral h3 {
  margin: 20px 0; }

#referral_count {
  color: red; }

#dia_referral input[type="text"], #dia_referral textarea {
  width: 150px;
  float: left; }

#dia_referral input[type="submit"] {
  float: right;
  font-size: 18px;
  margin: 5px 12px; }

#dia_referral .line.first {
  margin-top: 27px; }

#dia_referral .medbold {
  line-height: 1em; }

#dia_referral .label .small {
  font-size: 12px;
  font-weight: normal; }

/* Editor browser warning dialog */
#editor_browsers, #ie_warning {
  padding: 20px 50px;
  text-align: center; }

#editor_browsers h1, #ie_warning h1 {
  font-family: Lobster, serif;
  font-weight: normal;
  color: red;
  margin: 8px 0 0 0;
  font-size: 38px; }

#editor_browsers h2, #ie_warning h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0; }

#editor_browsers h3, #ie_warning h3 {
  font-size: 25px;
  margin: 20px 0; }

#editor_browsers a {
  text-decoration: underline; }

/* signup thank-you dialog */
#signup_thank_you {
  width: 400px;
  padding: 20px 50px;
  margin: 0; }

#signup_thank_you h1 {
  font-family: League Gothic, sans-serif;
  font-weight: normal;
  font-size: 62px;
  color: #13A507;
  margin: 20px; }

#signup_thank_you h3 {
  margin-top: 10px; }

#signup_thank_you h4 {
  margin-top: 10px;
  font-family: Museo, serif;
  font-size: 20px; }

#signup_thank_you h4 a:hover {
  color: #419DD6; }

/* password for private expression */
#dia_password {
  padding: 0 10px 20px 10px; }

/* signup dialog */
#dia_signup {
  font-size: 15px;
  width: 300px;
  padding: 0 30px 10px 30px; }

#dia_signup input[type=text] {
  width: 280px; }

/* Comments dialog */
#dia_comments {
  width: 505px;
  padding: 20px; }

#dia_comments .icon {
  float: left;
  margin: -10px; }

#dia_comments .title.sub {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  font-family: Museo, Helvetica, Arial, sans-serif; }

#dia_comments .title {
  margin: 0;
  font-size: 26px;
  font-weight: normal;
  font-family: Museo, Helvetica, Arial, sans-serif; }

#dia_comments .title .comments_count {
  font-weight: bold;
  color: #F72E4D; }

#dia_comments textarea {
  width: 480px;
  margin-top: 10px; }

#dia_comments input[type=submit] {
  float: right; }

#dia_comments .header {
  overflow: auto;
  min-height: 45px; }

#dia_comments #comments {
  overflow: auto;
  clear: both;
  width: 520px; }

#dia_comments .comment {
  clear: both;
  padding-top: 20px;
  overflow: auto; }

#dia_comments .comment_content {
  width: 390px;
  float: left; }

#dia_comments .text {
  min-height: 40px;
  margin: 0 0 10px 0; }

#dia_comments .author, #dia_comments .age {
  font-size: 20px;
  margin: 0; }

#dia_comments .author {
  color: blue;
  float: left; }

#dia_comments .age {
  float: right; }

#dia_comments .comment_thumb {
  width: 99px;
  height: 72px;
  background-color: #aaa;
  float: left;
  margin-right: 10px; }

#tags {
  margin: 35px 20px 0 0; }

#user_tags {
  padding-top: 45px; }

.tag_label {
  font-weight: bold;
  color: #696e76;
  background-color: #edebe1;
  text-align: right; }
  .tag_label.active, .tag_label.current.active, .tag_label.current.Feed.active {
    color: #f73627;
    background-color: #fff673; }
  .tag_label.current {
    background-color: #96e2ce;
    color: black; }
  .tag_label.current.Feed {
    background-color: #e87b25;
    color: white; }
  .tag_label p {
    margin: 0; }
  .tag_label.user {
    float: right;
    clear: both;
    color: white;
    padding: 0 8px;
    margin: 5px 0;
    font-weight: normal;
    font-size: 16px; }
    .tag_label.user:hover {
      padding-left: 33px; }
    .tag_label.user.tag_0 {
      background-color: #f73627; }
    .tag_label.user.tag_1 {
      background-color: #f72e4d; }
    .tag_label.user.tag_2 {
      background-color: #f45519; }
    .tag_label.user.tag_3 {
      background-color: #e87b25; }
    .tag_label.user.tag_4 {
      background-color: #7ba009; }
    .tag_label.user.tag_5 {
      background-color: #13a507; }
    .tag_label.user.tag_6 {
      background-color: #2d6a5d; }
    .tag_label.user.tag_7 {
      background-color: #698293; }
    .tag_label.user.tag_8 {
      background-color: #9196a7; }
    .tag_label.user.tag_9 {
      background-color: #7f4799; }
    .tag_label.user.tag_10 {
      background-color: #696e76; }
    .tag_label.user.tag_11 {
      background-color: #810032; }
  .tag_label.system {
    background-repeat: no-repeat;
    background-position: right;
    font-size: 21px;
    height: 31px;
    margin-top: 7px;
    font-weight: bold;
    padding: 0px 12px;
    margin-left: 22px; }
    .tag_label.system a {
      display: inline-block;
      margin-top: 4px; }
    .tag_label.system.Starred a, .tag_label.system.Listening a {
      padding-right: 18px; }
    .tag_label.system.Starred {
      background-image: asset_url("skin/1/star_tab.png"); }
      .tag_label.system.Starred.current:hover {
        background-image: asset_url("skin/1/star_tab.png"); }
      .tag_label.system.Starred:hover {
        background-image: asset_url("skin/1/star_tab-hover.png"); }
    .tag_label.system.Listening {
      background-image: asset_url("skin/1/people_tab.png"); }
      .tag_label.system.Listening:hover {
        background-image: asset_url("skin/1/people_tab-hover.png"); }

.expr_cards .tag_label.system.current {
  background-color: white;
  font-family: Lobster, Helvetica, sans-serif;
  font-size: 1.6em;
  color: black; }
  .expr_cards .tag_label.system.current a {
    font-weight: normal; }

#feed .card.item {
  position: relative;
  padding: 9px 9px 5px 9px;
  width: 190px;
  height: 285px;
  float: left;
  background-image: asset_url("skin/1/feed_item.png"); }
  #feed .card.item.border_right {
    border-right: 1px solid #D1D1D1; }
  #feed .card.item.border_bottom {
    border-bottom: 1px solid #D1D1D1; }
#feed .card.item:hover {
  opacity: 1; }
  #feed .card.item:hover .thumb {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: 0.75; }
  #feed .card.item:hover .title {
    background: #fff673; }
  #feed .card.item:hover .other span {
    padding: 0 2px;
    background: #698293;
    color: white; }
#feed .card .thumb {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  width: 190px;
  height: 190px; }
#feed .card .title {
  font-size: 1.1em;
  font-weight: bold;
  max-height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis; }
  #feed .card .title:hover {
    background: #fff673; }
#feed .card .other, #feed .card .tags {
  font-size: 0.7em; }
#feed .card .tags {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 29px;
  margin-bottom: 5px; }
  #feed .card .tags .tag:hover {
    background: #96e2ce; }
#feed .card .other {
  font-weight: bold; }
  #feed .card .other:hover span {
    background: #f73627 !important;
    color: white; }

#dia_starrers, #dia_listeners {
  width: 316px;
  overflow: auto; }
  #dia_starrers .dialog_title, #dia_listeners .dialog_title {
    width: 290px;
    background-color: #d0e0f0;
    margin: 4px 0;
    padding: 4px 6px;
    font-weight: bold; }
  #dia_starrers .card, #dia_listeners .card {
    overflow: hidden;
    *zoom: 1;
    padding: 5px;
    margin: 0 5px 5px 0;
    clear: both;
    width: 290px; }
    #dia_starrers .card:hover, #dia_listeners .card:hover {
      background-color: #96e2ce; }
    #dia_starrers .card img, #dia_listeners .card img {
      width: 70px;
      height: 70px;
      float: left;
      margin-right: 10px; }
    #dia_starrers .card .title, #dia_listeners .card .title {
      font-weight: bold;
      max-height: 2.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 5px; }
    #dia_starrers .card .other, #dia_starrers .card .tags, #dia_listeners .card .other, #dia_listeners .card .tags {
      font-size: .8em; }
    #dia_starrers .card .other, #dia_listeners .card .other {
      margin-top: 10px;
      font-weight: bold; }

#feed_menu {
  padding-top: 15px;
  width: 370px; }

#feed_menu .feed_item {
  width: auto;
  height: auto;
  clear: both;
  overflow: hidden;
  margin: 0;
  color: #000;
  cursor: pointer; }

.feed_item {
  font-weight: bold;
  font-size: 14px;
  color: #000; }

.expr_cards .feed_item {
  overflow: hidden;
  *zoom: 1;
  float: left;
  width: 330px;
  height: 120px;
  padding: 8px; }
  .expr_cards .feed_item.border_right {
    border-right: 1px solid #D1D1D1; }
  .expr_cards .feed_item.border_bottom {
    border-bottom: 1px solid #D1D1D1; }

#feed_menu .feed_item.border_right {
  border: 0px; }

.feed_item .name {
  color: #F72E4D; }

.feed_item .name.you {
  color: #000; }

.feed_item a {
  font-weight: bold; }

.feed_item p {
  margin: 0; }

.feed_item .feed_item.active {
  background-color: #96E2CE; }

.expr_cards .feed_item img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  float: left; }

#feed_menu .feed_item img, #feed_menu .feed.item img {
  margin: 5px;
  width: 90px;
  height: 90px;
  float: left; }

#feed_menu .feed_item:hover {
  background-color: #96e2ce; }

.expr_cards .feed_item .Expr .entity, .expr_cards .feed_item.User .initiator {
  width: 181px; }

#feed_menu .feed_item .Expr .entity, #feed_menu .feed_item.User .initiator {
  width: 220px; }

.feed_item .Expr .entity {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: #000; }

.feed_item.User .line2 {
  color: #696E76; }

.expr_cards .feed_item .feed_text, .expr_cards .feed_item .byline {
  width: 181px; }

#feed_menu .feed_item .feed_text, #feed_menu .feed_item .byline {
  width: 220px; }

.feed_item .feed_text, .feed_item .byline {
  float: left;
  margin-left: 5px; }

.expr_cards .feed_item .feed_text {
  margin-top: 14px;
  height: 76px;
  color: #000; }

#feed_menu .feed_item .feed_text {
  height: 59px;
  white-space: nowrap; }

.feed_item .comment_text {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px; }

.feed_item .byline {
  font-weight: normal; }

.feed_item .byline .name, .comment .byline .name {
  font-weight: bold;
  font-size: 15px;
  color: #696E76; }

.feed_item .byline .timestamp, .comment .byline .timestamp {
  font-size: 15px;
  float: right;
  color: #696E76; }

#feed_menu #more_button {
  width: 330px;
  padding: 0;
  margin: 10px;
  background-color: #696E76;
  text-align: center; }

#feed_menu #more_button:hover {
  background-color: #FFF673; }

#tag_header h1 {
  margin: 27px 0 26px 6px;
  font-family: Museo, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: bold; }

.pagethrough-sprite, .pagethrough-next, .pagethrough-prev {
  background: url('/images/pagethrough-s51a6e89999.png') no-repeat; }

.pagethrough-next {
  background-position: 0 0; }
  .pagethrough-next:hover, .pagethrough-next.next_hover, .pagethrough-next.next-hover {
    background-position: 0 -47px; }

.pagethrough-prev {
  background-position: 0 -94px; }
  .pagethrough-prev:hover, .pagethrough-prev.prev_hover, .pagethrough-prev.prev-hover {
    background-position: 0 -141px; }

#pagethrough_prev, #pagethrough_next {
  top: 500px; }

#pagethrough_prev {
  left: 50px; }

#pagethrough_next {
  right: 50px; }

.expr_cards #header h1 {
  margin: 58px;
  margin-left: 30px; }
.expr_cards #profile_thumb {
  width: auto; }
.expr_cards #profile_thumb img, .expr_cards #profile_thumb .placeholder {
  float: left;
  height: 190px;
  width: 190px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px; }
.expr_cards #profile_thumb .placeholder {
  height: 30px;
  padding: 85px 0; }
.expr_cards .placeholder {
  border: 1px dashed #CCC;
  text-align: center; }
.expr_cards #profile_thumb .message {
  position: absolute;
  top: 240px;
  font-size: 12px; }
.expr_cards .expr_cards .fathead {
  font-weight: normal; }
.expr_cards .fathead.hasthumb {
  margin: 75px 50px 0 50px; }
.expr_cards .fathead img {
  margin: 8px 0;
  vertical-align: top; }

#nav {
  height: 50px; }

.expr_cards #header {
  padding-top: 48px;
  padding-left: 30px;
  padding-bottom: 23px; }

#primary_content {
  clear: both; }

.logged_in #primary_content, .tag_search #primary_content {
  padding-top: 12px; }

#left_column, #right_column, #header, #feed {
  *zoom: 1; }
  #left_column:after, #right_column:after, #header:after, #feed:after {
    content: "";
    display: table;
    clear: both; }

#left_column {
  float: left;
  width: 210px;
  padding-left: 30px; }

#right_column {
  margin-left: 240px; }

iframe {
  border: none; }
