compiled.*
/scratch.*
/lib/*.js
!/lib/harmony_sketch.js
/lib/*.css
/lib/tmp/*
/lib/libsrc
/libsrc/scss/*.css
/libsrc/.webassets-cache
/libsrc/scss/config.rb
/libsrc/scss/.sass-cache/*
/libsrc/.cram
/log/*.txt
test.log
*.pyc
node_modules
