/lib/*.js
/lib/*.css
/lib/tmp/*
/libsrc/*.css
compiled.*
/libsrc/.webassets-cache
/.sass-cache
/newhive/config/config.py
/newhive/config/GA_credentials.dat
/newhive/config/aws.py
*.pyc
*.DS_Store
log/
/newhive/.ropeproject
