/lib/*.js
/lib/*.css
/lib/tmp/*
/libsrc/scss/*.css
compiled.*
/libsrc/.webassets-cache
/libsrc/scss/config.rb
/libsrc/scss/.sass-cache/*
/libsrc/*.css
/newhive/config/config.py
/newhive/config/GA_credentials.dat
/newhive/config/aws.py
*.pyc
*.DS_Store
/newhive/.ropeproject
/log/*.txt
newhive.log
