    <div class='comment'>
      {% if comment.thumb %}
      <a href='{{comment.initiator.url}}'><img class='comment_thumb' src='{{comment.thumb}}' title='{{comment.author}}'/></a>
      {% else %}
      <a href='{{comment.initiator.url}}'><div class='comment_thumb'></div></a>
      {% endif %}
      <div class="comment_content">
        <p class='text'>{{comment.text|e}}</p>
        <div class="byline">
          <a class="name" href='{{comment.initiator.url}}'>{{comment.author|e}}</a>
          <span class='timestamp'>{{ comment.created | friendly_date}}</span>
        </div>
      </div>
    </div>
