{% set link = item.url + args %}
<div class='expr card item border_right border_bottom {{ "with_hide" if network or activity }}' draggable='false'>
  <input type='hidden' class='item_id' value='{{ item.id }}'>
  <a href='{{ link }}'><img src='{{ item.thumb|default('/lib/skin/1/thumb_0.png') }}' class='thumb'>
  <div class='title'>{{ item.title|e }}</div></a>
  <div class='tags {{ "active_hide" if item.feed and item.feed[0].text }}'>
    {% for t in item.tags_index %}<a href='{{ server }}tag/{{ t|e }}' class='tag' value='{{ t|e }}'>#{{ t }}</a> {% endfor %}
  </div>
  {% if item.feed and item.feed[0].text %}
    <div class='comment inactive_hide'>"{{ item.feed[0].text }}"</div>
  {% endif %}
  {% if item.owner_name %}
    <a href='{{ item.owner_url }}'><div class='other'>{{ item.owner_name }}</div></a>
  {% endif %}
  <div class='stats'>
    <span class='active_hide'>
      <img src='/lib/skin/1/views_sm.png'> {{ item.views() }}
      {% if item.analytics and item.analytics.Star %}<img src='/lib/skin/1/like_sm.png'> {{ item.analytics.Star.count }}{% endif %}
      {% if item.auth != 'public' %}<img src='/lib/skin/1/private_sm.png'>{% endif %}
    </span>
    {% if item.feed %}<span class='inactive_hide'>{{ item.feed[0]['created'] | time }}</span>{% endif %}
  </div>
  {% if item.feed %}
    <div class='actions {{ "inactive_hide" if network }}'>
      {% if item.feed[0].class_name == 'Star' %}
        <img src='/lib/skin/1/like_highlight.png'>
      {% elif item.feed[0].class_name == 'Comment' %}
        <img src='/lib/skin/1/discussion_highlight.png'>
      {% elif item.feed[0].class_name == 'Broadcast' %}
        <img src='/lib/skin/1/broadcast_highlight.png'>
      {% elif item.feed[0].class_name == 'UpdatedExpr' %}
        <img src='/lib/skin/1/edit_highlight.png'>
      {% endif %}
    </div>
    <div class='feed_thumbs {{ "inactive_hide" if network }}'>{% for f in item.feed %}{% if f.class_name != 'NewExpr' and f.class_name != 'UpdatedExpr' %}<img
      src='{{ f.initiator.get_thumb(70)|default("/lib/skin/1/thumb_person_mask.png?v=2", True) }}'
      title='{{ f.initiator.name }} {{ f.action_name }}'
      {% if item.feed|length == 1 %}class='big'{% endif %}
    >{% endif %}{% endfor %}</div>
    <div class='feed_info{{ " create" if item.feed[0].class_name == "NewExpr" or item.feed[0].class_name == "UpdatedExpr" }} {{ "inactive_hide" if network }}'>
      <div><a href='{{ item.feed[0].initiator.url }}'>{{ item.feed[0].initiator.name }}</a>
        {{ item.feed[0].action_name }}</div>
    </div>
  {% endif %}
</div>
