  <div class="feed_item feed item hoverable {{feed.entity_class}} {{feed.class_name}}">
    <a href="{{feed.entity.url}}"><img src='{{feed.entity.thumb | default("/lib/skin/1/default_thumb.png", True)}}'></a>
    <div class="feed_text">

      <p>
        <a href="{{feed.initiator.url}}" class='initiator name {{"you" if feed['initiator'] == user.id}}'>
          {{ "You" if feed['initiator'] == user.id else feed.initiator_name}}
        </a>
        {{ "commented on" if feed.class_name == "Comment" }} 
        {{ "starred" if feed.class_name == "Star" }} 
      </p>

      {% if feed.entity_class == "Expr" %}
      <p class="title{{feed.entity.title | e | length_bucket}}">
        <a class="entity" href="{{feed.entity.url}}">{{ feed.entity.title | e}}</a>
      </p>
      {% else %}
      <p class="title{{(feed.entity.name ~ "'s profile") | length_bucket}}">
        <a href="{{feed.entity.url}}" class="entity">
          {{ "your" if feed.entity.id == user.id else feed.entity.name + "'s" }} profile
        </a>
      </p>
      {% endif %}

      {% if feed.class_name == "Comment" %}
      <p class="comment_text">
        "{{ feed.text | e | truncate(30) }}{{'"' if feed.text | length <= 30}}
      </p>
      {% endif %}
    </div>
    <div class="byline">
      <a class="name" href="{{ feed.owner_url }}">{{ feed.owner_name }}</a><span class="timestamp">{{ feed.created | friendly_date }}</span>
    </div>
  </div>

