<div class='user card item border_right border_bottom {{ item.id }}' draggable='false'>
  <input type='hidden' class='entity_id' value='{{ item.id }}'>
  <a href='{{ item.url|e }}' target='_top'><img src='{{ item.thumb if item.profile_thumb else "/lib/skin/1/thumb_person_mask.png?v=2" }}' style='background: {{ colors[range(32)|random] }};' class='thumb'>
  <div class='title'>{{ item.fullname|e }}</div></a>
  <div class='tags'>{% if item.expr_count > 0 %}{{ item.expr_count ~ " expression" ~ ("s" if item.expr_count > 1) }}{% endif %}</div>
  <a href='{{ item.url|e }}' target='_top'><div class='other'><span>{{ item.name }}</span></div></a>
</div>
