/* ==========================================
   popup dialogs 
   ========================================== */


/* === Container element === */
#dialogs {
  position: fixed;
}

/* === click shield element === */
#dialog_shield{
  position:fixed;
  width:100%;
  height:100%;
  z-index:2000;
  background-color:black;
  opacity:0.23;
  -moz-opacity:0.23;
  display:none;
}

/* === General === */
.dialog { 
  display: none; 
  position:absolute;
  z-index:2001; 
  background: white;
  -moz-box-shadow: 05px 05px 05px #666;
  -webkit-box-shadow: 05px 05px 05px #666;
  box-shadow: 05px 05px 05px #666;
  width: 350px;
}
.dialog .center, .dialog.center { text-align: center;}
.dialog .line { margin: 7px 0; clear: both;}
.dialog .line .element { float: left; }
.dialog .line .label {float:left; margin-top: 6px; margin-right:4px;}
.btn_dialog_close, #btn_dialog_close { position: absolute; width: 20px; height: 20px; background-image: url("/lib/skin/1/close.png"); right:10px; top:5px;}
.btn_dialog_close:hover, #btn_dialog_close:hover {background-image: url("/lib/skin/1/close-hover.png")}
input[type="text"].copy, textarea.copy {
    border: none;
    font-family: courier, monospace;
    white-space: pre-wrap;
}
.dialog h3 {
  font-family: Museo, serif;
  font-weight: normal;
  font-size: 28px;
}

/* Share dialog */
#email_send {margin-top: 26px; margin-left:20px; font-family:Arial; font-size:17px;}
#congrats_message h1 {font-weight:lighter; font-family:Museo; display:inline; font-size: 33px;}
#congrats_message strong {font-weight:normal; color: red; }
#expression_url { 
    display:block; 
    float: left; 
    font-size:14px; 
    padding:7px; 
    margin:3px auto auto 10px; 
    width: 470px; 
    background-color: #FFF673; 
}
#expression_embed_code { 
    overflow:auto; 
    display:block; 
    float: left; 
    font-size:12px; 
    padding:7px; 
    margin:3px auto auto 10px; 
    width: 445px; 
    height: 60px;
    background-color: #FFF673; 
}
#btn_url_copy { background-image:url("/lib/skin/1/copy_clipboard.png"); float:right; width:20px; height:24px; margin: 5px 5px 0 0;}
#btn_url_copy.hover { background-image:url("/lib/skin/1/copy_clipboard-hover.png");}
#dia_share{ 
  width: 555px; 
  padding: 20px;
}
#like_buttons { margin: 20px 0;}
#dia_share #email_message { width:348px; }
#dia_share #email_to { width: 282px; }
#dia_share .line.embed { padding-top: 20px; }

/* Referral Dialog */
#dia_referral {
  width: 420px;
  padding: 20px 50px;
  text-align: left;
}
#dia_referral h3 {
  margin: 20px 0;
}
#referral_count { color: red; }
#dia_referral input[type="text"] { width: 400px; }
#dia_referral input[type="submit"] { float: right; font-size: 18px; }
#dia_referral textarea { width: 310px; }

/* firefox warning dialog */
#firefox_warning {
  width: 350px;
  padding: 20px 50px;
  text-align: center;
}
#firefox_warning h1 {
  font-family: Lobster, serif;
  font-weight: normal;
  color: red;
  margin: 8px 0 0 0;
  font-size: 38px;
}
#firefox_warning h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
}
#firefox_warning h3 {
  font-size: 25px;
  margin: 20px 0;
}
#firefox_warning a {
  text-decoration: underline;
}

/* signup thank-you dialog */
#signup_thank_you {
  width: 400px;
  padding: 20px 50px;
  margin: 0;
}

#signup_thank_you h1 {
  font-family: League Gothic, sans-serif;
  font-weight: normal;
  font-size: 62px;
  color: #13A507;
  margin: 20px
}

#signup_thank_you h3 {
  margin-top: 10px;
}

#signup_thank_you h4 {
  margin-top: 10px;
  font-family: Museo, serif;
  font-size: 20px;
}

#signup_thank_you h4 a:hover {
  color: #419DD6;
}


/* password for private expression */
#dia_password {
  padding: 0 10px 20px 10px;
}

/* signup dialot */
#dia_signup {
  font-size: 15px;
  width: 300px;
  padding: 0 30px 10px 30px;
}

#dia_signup input[type=text] {
  width: 280px; 
}

/* ==========================================
   login menu
   ========================================== */
#login_menu {
  width: 190px;
}

#login_menu input[type=text], #login_menu input[type=password] {
  width: 170px;
}

#signup_link {
  font-weight: bold; 
  font-size: 13px;
  text-align: center;
  padding : 2px 5px;
}

#signup_button_wrapper {
  clear: both;
  padding-top: 10px;
}

#signup_button { 
  font-weight : bold; 
  padding : 2px 5px; 
  background-color : #FFF673; 
  cursor : pointer; 
  display: inline-block;
}

#signup_button:hover, #signup_button.open { 
  color : red; 
  background-color : white; 
}

/* ==========================================
   form validation
   ========================================== */

.form_validation_info.valid {
  color: green;
}

.form_validation_info.invalid {
  color: red;
}

#login_menu { padding : 10px; }
