body.main #content{
  top: 50px
}

body.home.logged_out #content{
}

#homepage_header {
  z-index: 0;
}

.menu { overflow : auto; }


/* ==========================================
   form validation
   ========================================== */

.form_validation_info.valid {
  color: green;
}

.form_validation_info.invalid {
  color: red;
}


.home .fathead { float: left; font-family : Museo, Helvetica, sans-serif; font-size : 3em; font-weight : bold; margin : 0 0 20px 0; padding: 60px 0 80px 50px; width: 95%;}


#btn_help { color : #696E76; }
#btn_help.active { color : white; }
