* { line-height : 1.2em; }
html, body { margin : 0; padding : 0; font-family : Helvetica, sans-serif; font-size : 17px;
    color : black; white-space-collapse : discard; }
img { padding : 0; margin : 0; border : 0; }
a { color : inherit; text-decoration : none; }
.happ, .ehapp { position : absolute; }
.happ img { width : 100%; }
.happfill { position : fixed; width : 100%; height : 100%; }
.happfill img { position : absolute; left : 0; top : 0; }
h1 { font-size : 40px; }
form { display : inline; }

#body { position : absolute; top : 0; left : 0; min-width : 100%; min-height : 100%; z-index : 1; }
#content { position : absolute; top : 0; left : 0; z-index : 0; min-width : 100%; }

@font-face { src: url('/lib/fonts/Museo/Museo500-Regular.eot'); src: local("☺"), url('/lib/fonts/Museo/Museo500-Regular.ttf') format('opentype'); font-family: Museo; font-weight: 500; }
@font-face { src: url('/lib/fonts/Museo/Museo700-Regular.eot'); src: local("☺"), url('/lib/fonts/Museo/Museo700-Regular.ttf') format('opentype'); font-family: Museo; font-weight: 700; }
@font-face { src: url('/lib/fonts/BPscript/BPscript.eot'); src: local("☺"), url('/lib/fonts/BPscript/BPscript.ttf') format('opentype'); font-family: BPscript; font-weight : 500; }
@font-face { src: url('/lib/fonts/code/CODE_Bold.eot'); src: local("☺"), url('/lib/fonts/code/CODE_Bold.ttf') format('opentype'); font-family: Code; font-weight : 700; }
@font-face { src: url('/lib/fonts/code/CODE_Light.eot'); src: local("☺"), url('/lib/fonts/code/CODE_Light.ttf') format('opentype'); font-family: Code; font-weight : 500; }
@font-face { src: url('/lib/fonts/Comic-Zine-OT/comic_zine_ot.eot'); src: local("☺"), url('/lib/fonts/Comic-Zine-OT/comic_zine_ot.ttf') format('opentype'); font-family: Comic Zine; font-weight : 500; }
@font-face { src: url('/lib/fonts/Folk/Folkoutline.eot'); src: local("☺"), url('/lib/fonts/Folk/Folkoutline.ttf') format('opentype'); font-family: Folk Outline; font-weight : 500; }
@font-face { src: url('/lib/fonts/Folk/Folkshadow.eot'); src: local("☺"), url('/lib/fonts/Folk/Folkshadow.ttf') format('opentype'); font-family: Folk Shadow; font-weight : 500; }
@font-face { src: url('/lib/fonts/Folk/Folksketches.eot'); src: local("☺"), url('/lib/fonts/Folk/Folksketches.ttf') format('opentype'); font-family: Folk Sketches; font-weight : 500; }
@font-face { src: url('/lib/fonts/Folk/Folksolid.eot'); src: local("☺"), url('/lib/fonts/Folk/Folksolid.ttf') format('opentype'); font-family: Folk; font-weight : 500; }
@font-face { src: url('/lib/fonts/Lane/LANENAR_.eot'); src: local("☺"), url('/lib/fonts/Lane/LANENAR_.ttf') format('truetype'); font-family: Lane; font-weight : 500; }
@font-face { src: url('/lib/fonts/Lane/LANEPOSH.eot'); src: local("☺"), url('/lib/fonts/Lane/LANEPOSH.ttf') format('truetype'); font-family: Lane Posh; font-weight : 500; }
@font-face { src: url('/lib/fonts/Lane/LANEUP__.eot'); src: local("☺"), url('/lib/fonts/Lane/LANEUP__.ttf') format('truetype'); font-family: Lane Up; font-weight : 500; }
@font-face { src: url('/lib/fonts/League-Gothic/League_Gothic.eot'); src: local("☺"), url('/lib/fonts/League-Gothic/League_Gothic.ttf') format('opentype'); font-family: League Gothic; font-weight : 500; }
@font-face { src: url('/lib/fonts/LemonChicken/LEMONCHI.eot'); src: local("☺"), url('/lib/fonts/LemonChicken/LEMONCHI.ttf') format('truetype'); font-family: Lemon Chi; font-weight : 500; }
@font-face { src: url('/lib/fonts/Lilly/Lilly__.eot'); src: local("☺"), url('/lib/fonts/Lilly/Lilly__.ttf') format('truetype'); font-family: Lilly; font-weight : 500; }
@font-face { src: url('/lib/fonts/Lobster/Lobster_1.3.eot'); src: local("☺"), url('/lib/fonts/Lobster/Lobster_1.3.ttf') format('opentype'); font-family: Lobster; font-weight : 500; }
@font-face { src: url('/lib/fonts/Matiz/Matiz.eot'); src: local("☺"), url('/lib/fonts/Matiz/Matiz.ttf') format('truetype'); font-family: Matiz; font-weight : 500; }
@font-face { src: url('/lib/fonts/quicksand_2/Quicksand_Bold_Oblique.eot'); src: local("☺"), url('/lib/fonts/quicksand_2/Quicksand_Bold_Oblique.ttf') format('opentype'); font-family: Quicksand; font-weight : 700; font-style : italic; }
@font-face { src: url('/lib/fonts/quicksand_2/Quicksand_Bold.eot'); src: local("☺"), url('/lib/fonts/quicksand_2/Quicksand_Bold.ttf') format('opentype'); font-family: Quicksand; font-weight : 700; }
@font-face { src: url('/lib/fonts/quicksand_2/Quicksand_Book_Oblique.eot'); src: local("☺"), url('/lib/fonts/quicksand_2/Quicksand_Book_Oblique.ttf') format('opentype'); font-family: Quicksand; font-weight : 500; font-style : italic; }
@font-face { src: url('/lib/fonts/quicksand_2/Quicksand_Book.eot'); src: local("☺"), url('/lib/fonts/quicksand_2/Quicksand_Book.ttf') format('opentype'); font-family: Quicksand; font-weight : 500; }
@font-face { src: url('/lib/fonts/bitstream-vera/VeraMoBd.eot'); src: local("☺"), url('/lib/fonts/bitstream-vera/VeraMoBd.ttf') format('truetype'); font-family: Bitstream Mono; font-weight : 700; }
@font-face { src: url('/lib/fonts/bitstream-vera/VeraMoBI.eot'); src: local("☺"), url('/lib/fonts/bitstream-vera/VeraMoBI.ttf') format('truetype'); font-family: Bitstream Mono; font-weight : 700; font-style : italic; }
@font-face { src: url('/lib/fonts/bitstream-vera/VeraMoIt.eot'); src: local("☺"), url('/lib/fonts/bitstream-vera/VeraMoIt.ttf') format('truetype'); font-family: Bitstream Mono; font-weight : 500; font-style : italic; }
@font-face { src: url('/lib/fonts/bitstream-vera/VeraMono.eot'); src: local("☺"), url('/lib/fonts/bitstream-vera/VeraMono.ttf') format('truetype'); font-family: Bitstream Mono; font-weight : 500; }

/*
Folks
Merge
Bebas
Arvo
St Ryde
Chunk Five
Droid Serif
Komika Title
Banda
Pacifico
Fjord
Josefin Slab
Nevis
Lobster Two
Crimson
Classic Round
Novocentro
*/
@font-face { font-family:'Folks'; font-weight:500; src:url('/lib/fonts/Folks-Light/Folks-Normal.ttf'); }
@font-face { font-family:'Folks'; font-weight:700; src:url('/lib/fonts/Folks-Light/Folks-Bold.ttf'); }
/*@font-face { font-family:'aoeuaoeuaoeuaoeu'; font-weight:900; src:url('/lib/fonts/Folks-Light/Folks-Heavy.ttf'); }
@font-face { font-family:'aoeuaoeuaoeuaoeu'; font-weight:300; src:url('/lib/fonts/Folks-Light/Folks-Light.ttf'); }*/
@font-face { font-family:'Merge'; src:url('/lib/fonts/merge.otf'); }
@font-face { font-family:'Bebas'; src:url('/lib/fonts/bebas/BEBAS___.TTF'); }
@font-face { font-family:'Arvo'; font-weight:500; font-style:italic; src:url('/lib/fonts/arvo/Arvo-Italic.ttf'); }
@font-face { font-family:'Arvo'; font-weight:500; src:url('/lib/fonts/arvo/Arvo-Regular.ttf'); }
@font-face { font-family:'Arvo'; font-weight:700; font-style:italic; src:url('/lib/fonts/arvo/Arvo-BoldItalic.ttf'); }
@font-face { font-family:'Arvo'; font-weight:700; src:url('/lib/fonts/arvo/Arvo-Bold.ttf'); }
@font-face { font-family:'St Ryde'; font-weight:500; src:url('/lib/fonts/st_ryde_regular/StRyde-Regular.otf'); }
@font-face { font-family:'Chunk Five'; font-weight:500; src:url('/lib/fonts/ChunkFive/Chunkfive.otf'); }
@font-face { font-family:'Droid Serif'; font-weight:500; src:url('/lib/fonts/Droid-Serif/DroidSerif-Regular.ttf'); }
@font-face { font-family:'Droid Serif'; font-weight:700; src:url('/lib/fonts/Droid-Serif/DroidSerif-Bold.ttf'); }
@font-face { font-family:'Droid Serif'; font-weight:500; font-style:italic; src:url('/lib/fonts/Droid-Serif/DroidSerif-Italic.ttf'); }
@font-face { font-family:'Droid Serif'; font-weight:700; font-style:italic; src:url('/lib/fonts/Droid-Serif/DroidSerif-BoldItalic.ttf'); }
@font-face { font-family:'Komika Title'; font-weight:500; src:url('/lib/fonts/Komika-Title/KomikaTitle.ttf'); }
/*@font-face { font-family:'Komika Title'; font-weight:500; font-style:italic; src:url('/lib/fonts/Komika-Title/KomikaTitle-Wide.ttf'); }
@font-face { font-family:'Komika Title'; font-weight:500; font-style:italic; src:url('/lib/fonts/Komika-Title/KomikaTitle-Paint.ttf'); }
@font-face { font-family:'Komika Title'; font-weight:500; font-style:italic; src:url('/lib/fonts/Komika-Title/KomikaTitle-Axis.ttf'); }
@font-face { font-family:'aoeuaoeuaoeuaoeu'; font-weight:500; font-style:italic; src:url('/lib/fonts/Komika-Title/KomikaTitle-Kaps.ttf'); }*/
@font-face { font-family:'Banda'; font-weight:500; src:url('/lib/fonts/Banda_regular.otf'); }
@font-face { font-family:'Pacifico'; font-weight:500; src:url('/lib/fonts/pacifico/Pacifico.ttf'); }
@font-face { font-family:'Fjord'; font-weight:500; src:url('/lib/fonts/fjord/FjordOne-Regular.otf'); }
@font-face { font-family:'Josefin Slab'; font-weight:500; src:url('/lib/fonts/josefin-slab/JosefinSlab-Regular.ttf'); }
@font-face { font-family:'Josefin Slab'; font-weight:500; font-style:italic; src:url('/lib/fonts/josefin-slab/JosefinSlab-Italic.ttf'); }
@font-face { font-family:'Josefin Slab'; font-weight:700; src:url('/lib/fonts/josefin-slab/JosefinSlab-Bold.ttf'); }
@font-face { font-family:'Josefin Slab'; font-weight:700; font-style:italic; src:url('/lib/fonts/josefin-slab/JosefinSlab-BoldItalic.ttf'); }
/*@font-face { font-family:'Josefin Slab'; font-weight:500; font-style:italic; src:url('/lib/fonts/josefin-slab/JosefinSlab-Light.ttf'); }
@font-face { font-family:'Josefin Slab'; font-weight:500; font-style:italic; src:url('/lib/fonts/josefin-slab/JosefinSlab-Thin.ttf'); }
@font-face { font-family:'Josefin Slab'; font-weight:500; font-style:italic; src:url('/lib/fonts/josefin-slab/JosefinSlab-ThinItalic.ttf'); }
@font-face { font-family:'Josefin Slab'; font-weight:500; font-style:italic; src:url('/lib/fonts/josefin-slab/JosefinSlab-SemiBold.ttf'); }
@font-face { font-family:'Josefin Slab'; font-weight:500; font-style:italic; src:url('/lib/fonts/josefin-slab/JosefinSlab-LightItalic.ttf'); }
@font-face { font-family:'Josefin Slab'; font-weight:500; font-style:italic; src:url('/lib/fonts/josefin-slab/JosefinSlab-SemiBoldItalic.ttf'); }*/
@font-face { font-family:'Nevis'; font-weight:500; src:url('/lib/fonts/nevis.ttf'); }
@font-face { font-family:'Lobster Two'; font-weight:500; src:url('/lib/fonts/lobster-two/LobsterTwo-Regular.otf'); }
@font-face { font-family:'Lobster Two'; font-weight:500; font-style:italic; src:url('/lib/fonts/lobster-two/LobsterTwo-Italic.otf'); }
@font-face { font-family:'Lobster Two'; font-weight:700; font-style:italic; src:url('/lib/fonts/lobster-two/LobsterTwo-BoldItalic.otf'); }
@font-face { font-family:'Lobster Two'; font-weight:700; src:url('/lib/fonts/lobster-two/LobsterTwo-Bold.otf'); }
@font-face { font-family:'Crimson'; font-weight:500; src:url('/lib/fonts/Crimson/Crimson-Roman.otf'); }
@font-face { font-family:'Crimson'; font-weight:500; font-style:italic; src:url('/lib/fonts/Crimson/Crimson-Italic.otf'); }
@font-face { font-family:'Crimson'; font-weight:700; src:url('/lib/fonts/Crimson/Crimson-Bold.otf'); }
@font-face { font-family:'Crimson'; font-weight:700; font-style:italic; src:url('/lib/fonts/Crimson/Crimson-BoldItalic.otf'); }
/*@font-face { font-family:'Crimson'; font-weight:500; font-style:italic; src:url('/lib/fonts/Crimson/Crimson-SemiboldItalic.otf'); }
@font-face { font-family:'Crimson'; font-weight:500; font-style:italic; src:url('/lib/fonts/Crimson/Crimson-Semibold.otf'); }*/
@font-face { font-family:'Classic Round'; font-weight:500; font-style:italic; src:url('/lib/fonts/DR_ClassicRound_Medium_114/ClassicRound-Medium.otf'); }
@font-face { font-family:'Novecento'; font-weight:500; src:url('/lib/fonts/Novecento/Novecentowide-Medium.otf'); }
@font-face { font-family:'Novecento'; font-weight:700; src:url('/lib/fonts/Novecento/Novecentowide-Bold.otf'); }
/*@font-face { font-family:'Novecento'; font-weight:500; font-style:italic; src:url('/lib/fonts/Novecento/Novecentowide-DemiBold.otf'); }
@font-face { font-family:'Novecento'; font-weight:500; font-style:italic; src:url('/lib/fonts/Novecento/Novecentowide-Light.otf'); }
@font-face { font-family:'Novecento'; font-weight:500; font-style:italic; src:url('/lib/fonts/Novecento/Novecentowide-Book.otf'); }*/
