.ehapp { position : absolute; }
.ehapp > * { position : absolute; }
.ehapp .shield { left : 0px; top : 0px; z-index : 1000; width : 100%; height : 100%; }
.select_box { width : 100%; height : 100%; z-index : 1; top : -5px; left : -5px; padding : 0; }
.app_select { position : absolute; }
#grid_guide { position : fixed; width : 100%; height : 100%; }

.text .select_box { padding : 5px; top : -10px; left : -10px; }
.text .content { z-index : 2 }

.controls_src { display : none; }
.drag { cursor : move; }

.control { position : absolute; cursor : default; z-index : 2 }
.control.resize_h { cursor : ew-resize; }
.control.resize { cursor : se-resize; }
.control.stack img { display : inline-block; margin-left : 5px; }
.control.drawer { position : absolute; text-align : left;
    background-color : white; display : none; margin-top : 5px; }
.drawer { background-color : white; }

.control.stack { white-space : nowrap; }
.control.buttons .button { margin-right : 2px; }
.control .button, .control .option { cursor : default; }
.option.small { display : inline-block; }
.drawer.fontname { width : 24em; }
.drawer.fontname .option { margin-bottom : 5px; display : float; float : left; width : 8em; height : 1em; }
.align .option.small { margin : 5px; }
.drawer.link img { vertical-align : middle; }
.drawer.fontsize { white-space : nowrap; overflow : hidden; }
.fontsize .option { line-height : 100px; vertical-align : middle; }

#app_buttons { display : inline-block; margin : 20px; }
.insert_btn { margin-right : 15px; cursor : default; }
.btn { display : inline-block; padding : 5px; cursor : default; }
#menu_save { top : 43px; right : 0px; padding : 10px; }
#menu_save textarea { height : 2.5em; }
#menu_save input, #menu_save textarea { width : 200px; }
#menu_privacy .selected { display : none; }
#right { position : absolute; right : 0px; top : 0px; }
#right * { vertical-align : middle }

.color_picker { width : 310px; }
.color_picker img { width : 100%; }
.color_picker .palette { float : left; }
.color_picker .color_select { display : inline-block; width : 20px; height : 20px; margin : 2px; }
.color_picker .hue_bar { width : 10px; height : 170px; float : left; margin : 2px 10px; }
.color_picker .color_input { margin : 10px; }
.color_picker .shades { width : 120px; height : 120px; float : left; }

#dia_edit_bg h2 { margin : 0 0 20px; text-align : center; }
#edit_bg_image { float : left; margin-right : 30px; }
#bg_preview { width : 120px; height : 80px; overflow : hidden; }
#bg_preview img { width : 100%; }

#btn_thumbnail { font-weight : bold; cursor : default; }
#dia_thumbnail { width : 690px; max-height : 400px; overflow : auto; }
#dia_thumbnail .thumb { float : left; margin : 5px; width : 124px; height : 96px; overflow : hidden; position : relative; }
