{% extends "main.html" %}

{% block content %}
<div id="canvas_container"></div>
<table width='100%' class='tablesorter'>
  <thead>
    <tr>
      <th colspan=2></th>
      {% for auth in ["public", "private", "total"] %}
      <th width="26%" colspan=5>{{ auth }}</th>
      {% endfor %}
    </tr>
    <tr>
      <th width="15%">Name</th>
      <th width="8%">Age in weeks</th>
      {% for auth in ["public", "private", "total"] %}
      {% for timerange in ["day", "week", "month", "total"] %}
      <th width="5%">{{ timerange }}</th>
      {% endfor %}
      <th width="5%">Per Week</th>
      {% endfor %}
    </tr>
  </thead>
  {% for user in active_users %}
  <tr>
    <td>{{ user['name'] }}</td>
    <td>{{ (user['age']/7) | round(0,'ceil') | int}}</td>
    {% for auth in ["public", "private", "total"] %}
    {% for timerange in ["day", "week", "month", "total"] %}
    <td>{{ user[auth][timerange] | int }}</td>
    {% endfor %}
    <td>{{ (user[auth]['total'] / (user['age']/7)|round(0, 'ceil')) | round(2) }} </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block head %}
 {% for item in assets_env["admin.js"].urls() %}
  <script src='{{ item }}'></script>
 {% endfor %}
  <script type='text/javascript'>
    var paper;
    $(function(){
        $('table.tablesorter').tablesorter();
        paper = Raphael($('#canvas_container')[0], '1000px', '500px');
    });
    var active_users = {{ active_users_js }};
  </script>
<style type='text/css'>
/* tables */
table {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
}
table thead tr th, table tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table thead tr .header {
  background-image: url(/lib/skin/1/tablesorter_bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table tbody tr:nth-child(odd) td, table tbody tr.odd td {
  background-color:#F0F0F6;
}
table thead tr .headerSortUp {
  background-image: url(/lib/skin/1/tablesorter_asc.gif);
}
table thead tr .headerSortDown {
  background-image: url(/lib/skin/1/tablesorter_desc.gif);
}
table thead tr .headerSortDown, table thead tr .headerSortUp {
background-color: #8dbdd8;
}
</style>
{% endblock %}

