{% extends "main.html" %}

{% if 'home' %}
  {% block meta %}
  <meta name="description" content="{{description + " - " if description}}{{ui.intro_paragraph}}" />
    <meta property="og:image" content='{{ 'skin/1/logo_medium.png'|asset_url }}' />
  {% endblock meta %}
{% endif %}

{% block head %}
  {{ super() }}
  <script>
    {% if profile and user_is_owner %}
      $(function(){
          var hoverin = function(){ $('#profile_thumb').append('<div class="message">Change Picture</div>'); };
          var hoverout = function(){ $('#profile_thumb .message').remove(); };
          $('#profile_thumb img').hover(hoverin, hoverout);
      });
    {% endif %}
    {% if home and not user.logged_in %}
      function homepage_header() {
          var header = $('#homepage_header')
          if (header.length > 0)
              $('#homepage_header').height( parseInt(header.find('.background').css('height')) );
      }
      $(function(){
        var dia;
        $('.signup_button').click(function() {
          dia = showDialog('#dia_signup');
          $(this).addClass('open');
          $('input[name=forward]').val(window.location);
        });
        $(window).resize(homepage_header);
        homepage_header();
        $('.fathead').width($(window).width()-50);
      });
    {% endif %}
    {% if owner %}var owner_id = {{ owner.id | json }};{% endif %}
  </script>
{% endblock %}

{% block body_classes %}{{ super() }} community {{ 'home' if home }}{{ 'profile' if profile }}{% endblock %}

{% block nav_right_left %}
  {% if profile and user_is_owner %}
    <div class='nav_icon text hoverable medbold center pad' onclick="" title="Help with your profile" style='margin-right : 8px;' id='btn_help'>?</div>
    <script>
      $('#btn_help').click(function() { exprDialog('/thenewhive/profile-help', { minimize_to : $('#btn_help') } ) });
      {% if show_help %}$('#btn_help').click();{% endif %}
    </script>
  {% endif %}
{% endblock %}

{% macro top_tab(p, label, class, text=True, attr='') %}
  {% set current = True if p == path %}
  {% if not current %}<a href='/{{owner.name + "/" if owner}}{{ p }}' {{ attr }}>{% endif %}<div class='tab_label {{ 'current' if current }} {{ class }} {{ 'text' if text else 'icon' }}'
    {% if not text %}title='{{ label }}'{% endif %}>{{ label if text }}</div>{% if not current %}</a>{% endif %}
{%- endmacro %}

{% block header %}
  {% if home %}
    {% if not user.logged_in %}
      <div id="homepage_header" style='width:100%; height:255px;'>
        <div class="happ background" style="left:0px; top:0px; width:1000px; height: 245px; {#background-color: {{ colors['tan'] }};#} z-index: 3;"></div>
        <div class="happ" style="left: 48px; top: 46px; width: 700px; height: 56px; z-index: 3; font-size: 3.3em; font-weight: normal; font-family: Lobster;" data-scale="3.3">
          Express Your<span style="margin:-0.04em">self</span>
        </div>
        <div class='happ' style='width:510px; height: 44px; left:48px; top: 119px; z-index: 3; font-size: 0.8em;' data-scale="0.8">
          {{ ui.intro_paragraph }}
        </div>
        <div class='happ rounded signup_button signup_link' style='width:74px; white-space: nowrap; width: 150px; height: 21px; left:48px; top: 170px; z-index: 3; font-size: 1.1em;' data-scale="1.1">
          <a href="" onclick="return false;">Request Invite</a>
        </div>
        <div class='happ' style='left: 230px; top: 177px; width: 300px; z-index: 3;'>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thenewhive.com" data-text="NewHive is the easiest way to express yourself online. #expression" data-count="horizontal" data-via="newhive">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fthenewhive.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:20px;" allowTransparency="true"></iframe>
          {#<div class="fb-facepile" data-max-rows="1" data-width="300"></div>#}
        </div>
        <div id="h_2" class="happ" style="left: 585px; top: 20px; width: 365.802px; height: 207px; z-index:3;">
          <iframe src="http://player.vimeo.com/video/18836819?title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
        </div>
      </div>
    {% endif %}
  {% endif %}
  {% if profile %}
    <div id='profile_header'>
      <div id='profile_thumb'>
        {% if user_is_owner %}
          <script>function profile_thumb_choose() { asyncUpload({post_action:'profile_thumb_set', success: function(data) { window.location = '' } }) };</script>
          <a href="#" onclick="profile_thumb_choose();" alt="Choose Picture">
        {% endif %}
        {% if owner.has_thumb %}
          <img src='{{ owner.get_thumb() }}' alt="{{ owner.fullname|e }}"/>
        {% elif user_is_owner %}
          <div class="img placeholder">
            <div class="img"></div> {# empty placeholder to keep vertical height and alignment consistent #}
            <div class='text'>Click here to<br/>upload a profile image</div>
          </div>
        {% else %}
          <div class="img"></div> {# empty placeholder to keep vertical height and alignment consistent #}
        {% endif %}
        {% if user_is_owner %}
          </a>
        {% endif %}
      </div>
      <span class='fathead'>{% if owner.has_homepage %}<a href='/{{ owner.name }}'>{% endif %}{{ owner.fullname|e }}{% if owner.has_homepage %}</a>{% endif %}{{ ': ' + user_tag if user_tag }}</span>
    </div>
  {% endif %}
  <div id='card_header'>
    <div class='title'>
      {% if show_prompts %}
        <img src='{{ 'skin/1/people_small.png'|asset_url }}' style='float: left; vertical-align: middle; margin-right: 10px;'>
        <span class='info'>To <span class='active'>listen to someone</span>, click the person icon next to their name.<br>
        Activity of the people you're listening to will appear on this page.</span>
      {% elif search %}
        <span class='head'>Results for: {{ q.q|e }}</span>
      {% elif tag_page %}
        <span class='head'>#{{ tag|e }}</span>
      {% endif %}
    </div>
    <div id='top_tabs'>
      {% if path1 == 'home/expressions' %}
          {{ top_tab('home/expressions', 'Featured') }}
        | {{ top_tab('home/expressions/all', 'All', attr="onclick='return require_login(" + '"all"' + ")'") }}
      {% endif %}

      {% if (path1 == 'profile/expressions') and user_is_owner %}
        {{ top_tab('profile/expressions', 'All') }}
        | {{ top_tab('profile/expressions/public', 'Public') }}
        | {{ top_tab('profile/expressions/private', 'Private') }}
      {% elif path1 == 'profile/activity' %}
        {{ top_tab('profile/activity', 'My activity') }}
        | {{ top_tab('profile/activity/like', 'I love', 'icon tab_like', text=False) }}
        | {{ top_tab('profile/activity/discussion', 'Discussion', 'icon tab_discussion', text=False) }}
        | {{ top_tab('profile/activity/broadcast', 'I broadcast', 'icon tab_broadcast', text=False) }}
        | {{ top_tab('profile/activity/network', 'My Network') }}
      {% elif path1 == 'profile/listening' %}
        {{ top_tab('profile/listening', 'I\'m listening to') }}
        | {{ top_tab('profile/listening/listeners', 'Listening to me') }}
      {% endif %}
    </div>
  </div>
{% endblock header %}

{% macro left_tab(p1, label) %}
  <div class='tab_label {{ 'current' if p1 == path1 else 'hoverable' }}'
    ><a href='/{{owner.name + "/" if owner}}{{ p1 }}'>{{ label }}</a></div>
{%- endmacro %}

{% block left_column %}
  <div id='left_tabs' class='{{ 'home' if home else 'profile' }}'>
    {% if home %}
      {{ left_tab('home/expressions', 'Expressions') }}
      {% if user.logged_in %}{{ left_tab('home/network', 'My Network') }}{% endif %}
      {{ left_tab('home/people', 'People') }}
    {% endif %}
    {% if profile %}
      {{ left_tab('profile/expressions', 'Expressions') }}
      {{ left_tab('profile/activity', "<img src='" + 'skin/1/activity_tab.png'|asset_url +"'>Activity") }}
      {{ left_tab('profile/listening', "<img src='" + 'skin/1/listening_tab.png'|asset_url +"'>Listening") }}
    {% endif %}
  </div>
  <div id="tag_links">
    {% for t in tags %}<div class='tag_label {#{ 'current' if t.name == tag.name }#} tag_{{loop.index0 | mod(16) }}'>
      <a href='{{ t.url |e }}' value='{{ t.name|e }}'>{{ t.name }}</a>
    </div>{% endfor %}
  </div>
  {% if user_is_owner %}
    <img src='{{ 'skin/1/add_tab.png'|asset_url }}' class='hoverable tag_label' onclick='folder_add()' title='Add Folder'><br>
    {% if user_tag %}<img src='{{ 'skin/1/remove_tab.png'|asset_url }}' class='hoverable tag_label' onclick='folder_remove()'
      title='Remove folder "{{ user_tag }}"'>{% endif %}
    <form id='upload_form' method='POST' action='{{ secure_server }}' style='position : absolute; left : -1000px' target='upload_target'>
     <input type='hidden' name='action' id='action_input'>
     <input type='hidden' name='expr_id' id='id_input'>
     <input type='hidden' name='value' id='value_input'>
     <iframe id='upload_target' name='upload_target'></iframe>
    </form>
  {% endif %}
{% endblock left_column %}

{% block right_column %}
  {% if require_login and not user.logged_in %}
    <script>$(function() { require_login('restricted_page'); });</script>
  {% else %}
    <div id='feed'>
      {% include 'page_parts/cards.html' %}
      <div style='position:relative'>{{ content }}</div>
    </div>
  {% endif %}
{% endblock right_column %}

{% block footer_scripts %}
  {{ super () }}
  <script>
     paging_args = {{ args | json }};
     var load_page = null;
     var next_page = true;
     var c = 0;
     $(window).scroll(function() {
         if(($(window).scrollTop() > $('#content').height() - $(window).height() * 2) && !load_page && next_page) {
             var next = $('.next_page').attr('href');
             if(!next) {
                 //next_page = false;
                 return;
             }
             load_page = $.get(next, {}, function(data) {
                 console.log('loading');
                 load_page = null;
                 $('.next_page').remove();
                 $('#feed').append(data);
                 fix_borders('#feed .item');
             });
         }
     });

     function fb_listen_or_connect() {
         if(fb_logged_in) loadDialogPost('facebook_listen');
         else showDialog('#dia_facebook_connect');
     }

     var current_tag = {{ user_tag|json }};
     function folder_add() {
         var tag = prompt('New Folder');
         $('#action_input').val('user_tag_add');
         $('#value_input').val(tag);
         $('#upload_form').submit();
         $('#upload_target').load(function() { window.location = window.location });
     }
     function folder_remove() {
         $('#action_input').val('user_tag_remove');
         $('#value_input').val(current_tag);
         $('#upload_form').submit();
         $('#upload_target').load(function() { window.location = '{{ user.url }}' });
     }
     $(function(){ 
       fix_borders('#feed .item');
       $(window).resize(function(){fix_borders('#feed .item');});
     });
  </script>
{% endblock %}
