{% extends "stem.html" %}

{% if 'home' %}
  {% block meta %}
  <meta name="description" content="{{description + " - " if description}}We believe that your life is a blank canvas + you decide what goes on it.
NewHive is your radically simple, DIY self publishing tool." />
    <meta property="og:image" content='{{ 'skin/1/logo_medium.png'|asset_url }}' />
  {% endblock meta %}
{% endif %}

{% block head %}
  {{ super () }}
  <script>
  curl([
      'ui/nav',
      'community_page_renderer',
      'browser/client_ui'],
      function(nav, communityPageRenderer, clientUI) {
          nav.render();
          // Bootstrap community page with first set of cards.
          communityPageRenderer().render({{ page_data|json }});
          clientUI().wrapLinks();
  });
  </script>
{% endblock head %}

{% block left_column %}

    {% if user.logged_in %}
        <div><a {{ get_route_anchor_attrs("network/popular", username=user.name) }} >network</a></div>
        <div><a {{ get_route_anchor_attrs("user/expressions/public", username=user.name) }}>my public expressions</a></div>
    {% endif %}

{% endblock left_column %}
    
{% block right_column %}
  {% if require_login and not user.logged_in %}
    <script>$(function() { require_login('restricted_page'); });</script>
  {% else %}
  <div class="title center">
      <div>
          <!-- <span class="main-title" id="title-section"></span> <span class="sep-slash">:</span> -->
          <span class="main-title" id="title-page"></span>
      </div>
  </div>
    <div id="feed" class="center">
      <div class="feed-content" style='position:relative'>{{ content }}</div>
    </div>
  {% endif %}
{% endblock right_column %}

{% block footer_scripts %}
  {{ super () }}
  <script>
     // paging_args = {{ args | json }};
     // var load_page = null;
     // var next_page = true;
     // var c = 0;
     // $(window).scroll(function() {
     //     if(($(window).scrollTop() > $('#content').height() - $(window).height() * 2) && !load_page && next_page) {
     //         var next = $('.next_page').attr('href');
     //         if(!next) {
     //             //next_page = false;
     //             return;
     //         }
     //         load_page = $.get(next, {}, function(data) {
     //             console.log('loading');
     //             load_page = null;
     //             $('.next_page').remove();
     //             $('#feed').append(data);
     //             fix_borders('#feed .item');
     //         });
     //     }
     // });

     function fb_listen_or_connect() {
         if(fb_logged_in) loadDialogPost('facebook_listen');
         else showDialog('#dia_facebook_connect');
     }

     var current_tag = {{ user_tag|json }};
     function folder_add() {
         var tag = prompt('New Folder');
         $('#action_input').val('user_tag_add');
         $('#value_input').val(tag);
         $('#upload_form').submit();
         $('#upload_target').load(function() { window.location = window.location });
     }
     function folder_remove() {
         $('#action_input').val('user_tag_remove');
         $('#value_input').val(current_tag);
         $('#upload_form').submit();
         $('#upload_target').load(function() { window.location = '{{ user.url }}' });
     }
  </script>
{% endblock %}
