{% extends "base.html" %}

{% block head %}
 <script src='/lib/ee/main.js'     ></script>
 <script src='/lib/filedrop.js' ></script>

 <script>
  Hive.Exp = {{ exp_js }}; // current expression from server
 </script>

 <link rel='stylesheet' type='text/css' href='/lib/ee/main.css'>

 <style>
 input, textarea { font-size : inherit }

.drawer { z-index : 1100, white-space : nowrap;  }

.fontsize .option { color : {{ colors[12] }}; vertical-align : bottom; }
.fontsize .bigger .option.small { width : 70px; height : 135px; }
.fontsize .option:hover { background-color : {{ colors['selected'] }}; color : {{ colors[0] }} }
.drawer.fontname .option:hover { background-color : {{ colors['selected'] }}; }

#privacy { background-color : {{ colors['selected'] }}; color : {{ colors[0] }}; }
.submit { color : {{ colors[1] }}; }
.submit:hover { color : black; background-color : {{ colors[32] }}; }

.dialogue_handle { background-color : {{ colors.selected }}; }
.btn { padding : 2px 10px 2px 10px; margin : 5px; cursor : default; }
.dialogue_handle.active { background-color : {{ colors[0] }}; color : white; }
#loading { position : absolute; z-index : 1200; display : none; }
#app_buttons { text-align : left; }
 </style>
{% endblock %}

{% block body %}
<center class='top' style='position : relative'>
 <div id='app_buttons'>
  <img id='insert_text'  class='insert_btn hoverable' src='/lib/skin/1/text.png' >
  <img id='insert_image' class='insert_btn hoverable' src='/lib/skin/1/image.png'>
  <img id='insert_audio' class='insert_btn' src='/lib/skin/1/audio.png'>
  <img id='insert_file' class='insert_btn' src='/lib/skin/1/upload.png'>
  <img id='insert_embed' class='insert_btn' src='/lib/skin/1/html.png'>
  <img id='insert_shape' class='insert_btn' src='/lib/skin/1/shape.png'>
  <!--<img id='insert_app'   class='insert_btn' src='/lib/skin/1/page.png' >-->
  <script>
   tool_tip($('#insert_shape'), 'drawing tools coming soon');
   tool_tip($('#insert_file'), 'Click to upload any file type<br>(pdf, zip, etc) to share as a link.').drawer.css({color : 'black'});
   //tool_tip($('#insert_app'), 'pages coming soon');
  </script>

  <div id='menu_text' class='menu medbold'>
   <div id='text_default' class='menu_item'>Default</div>
   <div id='text_header' class='menu_item'>Header</div>
   <!--<div id='text_upload' class='menu_item'>Upload .txt</div>-->
  </div>
  <script>hover_menu($('#insert_text'), $('#menu_text'));</script>

  <div id='menu_image' class='menu medbold'>
   <div id='image_upload' class='menu_item'>Upload Image</div>
   <div id='image_webcam' class='menu_item'>Take Picture (coming soon)</div>
   <div id='image_search' class='menu_item'>Google Image Search (coming soon)</div>
  </div>
  <script>hover_menu($('#insert_image'), $('#menu_image'));</script>

  <div id='menu_audio' class='menu medbold'>
   <div id='audio_upload' class='menu_item'>Upload MP3</div>
   <div id='audio_record' class='menu_item'>Record Audio (coming soon)</div>
  </div>
  <script>hover_menu($('#insert_audio'), $('#menu_audio'));</script>

  <div id='menu_embed' class='menu' style='padding : .5em; width : 20em;'>
   <span class='normal'>Paste URL for images or videos<br>(youtube and vimeo) or embed code for widgets here:</span><br>
   <div class='spacer'></div>
   <textarea id='embed_code' style='width : 18em'></textarea><br>
   <div class='spacer'></div>
   <input id='embed_done' type='button' value='Embed' class='medbold'>
  </div>

 </div>
</center>

<div id='right' class='top'>
 <img id='btn_grid' class='hoverable' src='/lib/skin/1/grid-off.png'>

 <span id='btn_save' class='medbold top dialogue_handle btn'>
  Save
  <img src='/lib/skin/1/drop_arrow.png'>
 </span>
</div>

<div id='menu_save' class='border top'>
 <div class='medbold'>{{ exp.domain }}/</div>
 <input id='url' type='text' value='{{ exp.name|e }}'>
 <div class='spacer'></div>
 <div class='medbold'>title</div>
 <textarea id='title'>{{ exp.title }}</textarea>
 <div class='spacer'></div>
 <div class='medbold'>tags</div>
 <input id='tags' type='text' value='{{ exp.tags|e }}'>
 <div class='spacer'></div>
 <div class='spacer'></div>
 <div id='privacy' style='float : left' class='medbold dialogue_handle btn'>
  <span>Private</span>
  <img src='/lib/skin/1/drop_arrow.png'>
 </div>
 <div id='save_submit' style='float : right;' class='medbold submit btn'>SAVE</div>

 <div id='menu_privacy' class='menu medbold' style='width : 125px'>
  <div val='private' class='menu_item'>Private</div>
  <div val='password' class='menu_item'>Password</div>
  <div val='public' class='menu_item'>Public</div>
 </div>

 <div id='password_ui' style='display : none'>
  <br><br><br>
  <input type='text' id='password' alt='Type password here' value='{{ exp.password }}'>
 </div>
</div>
<script>
click_dialogue($('#btn_save'), $('#menu_save'));
hover_menu($('#privacy' ), $('#menu_privacy'));
$('#save_submit').click(Hive.save);
$('#menu_privacy').click(function(e) {
    $('#menu_privacy div').removeClass('selected');
    var t = $(e.target);
    t.addClass('selected');
    $('#privacy span').text(t.text());
    var v = t.attr('val');
    if(v == 'password') $('#password_ui').show();
    else $('#password_ui').hide();
});
if(Hive.Exp.auth) $('#menu_privacy [val=' + Hive.Exp.auth +']').click();
</script>

<img id='loading' src='/lib/skin/1/loading.gif'>

<div id='controls_common' class='controls_src'>
 <img class='control undo   hoverable' src='/lib/skin/1/undo.png'>
 <img class='control copy   hoverable' src='/lib/skin/1/copy.png'>
 <img class='control remove hoverable' src='/lib/skin/1/delete_sm.png'>
 <div class='control stack'><img class='stack_up hoverable' src='/lib/skin/1/stack_up.png'><img class='stack_down hoverable' src='/lib/skin/1/stack_down.png'></div>
 <img class='control resize hoverable' src='/lib/skin/1/resize.png'>
</div>

<div id='controls_text' class='controls_src'>
 <img class='control resize_h hoverable' src='/lib/skin/1/resize_h.png'>
 <div class='control buttons'
  ><img class='button link hoverable'     src='/lib/skin/1/link.png'
  ><img class='button fontsize hoverable' src='/lib/skin/1/button.png'
  ><img class='button fontname'           src='/lib/skin/1/font.png'
  ><img class='button color'              src='/lib/skin/1/color.png'
  ><img class='button bold hoverable'     src='/lib/skin/1/bold.png'     cmd='bold'
  ><img class='button italic hoverable'   src='/lib/skin/1/italic.png'   cmd='italic'
  ><img class='button align'              src='/lib/skin/1/justify.png'  
  ><img class='button unformat hoverable' src='/lib/skin/1/unformat.png' cmd='removeformat'
  ><div class='control drawer border fontsize'
    ><span class='option fs1' style='font-size : .75em' val = '.75'>a</span
    ><span class='option fs2' style='font-size :   1em' val =   '1'>a</span
    ><span class='option fs3' style='font-size : 1.5em' val = '1.5'>a</span
    ><span class='option fs4' style='font-size :   2em' val =   '2'>a</span
    ><span class='option fs5' style='font-size :   3em' val =   '3'>a</span
    ><span class='option fs5' style='font-size :   5em' val =   '5'>a</span
    ><span class='option fs5' style='font-size :   8em' val =   '8'>a</span
  ></div
  ><div class='control drawer border fontname'
   ><div class='option' style='font-family:Arial'       cmd='fontname' val='Arial'      >Arial      </div
   ><div class='option' style='font-family:Georgia'     cmd='fontname' val='Georgia'    >Georgia    </div
   ><div class='option' style='font-family:Museo'       cmd='fontname' val='Museo'      >Museo      </div
   ><div class='option' style='font-family:Helvetica'   cmd='fontname' val='Helvetica'  >Helvetica  </div
   ><div class='option' style='font-family:Courier New' cmd='fontname' val='Courier New'>Courier New</div
   ><div class='option' style='font-family:Times'       cmd='fontname' val='Times'      >Times      </div
   ><div class='option' style='font-family:Trebuchet'   cmd='fontname' val='Trebuchet'  >Trebuchet  </div
  ></div
  ><div class='control drawer border color' style='width:178px'></div
  ><div class='control drawer border align'
   ><div><nobr
    ><img class='option small hoverable' cmd='justifyleft'    src='/lib/skin/1/justify_left.png' 
    ><img class='option small hoverable' cmd='justifyright'   src='/lib/skin/1/justify_right.png'
   ></nobr></div
   ><div
    ><img class='option small hoverable' cmd='justifycenter'  src='/lib/skin/1/justify_center.png'
    ><img class='option small hoverable' cmd='justifyfull'    src='/lib/skin/1/justify_full.png'  
   ></div
  ></div
 ></div>
</div>

<div id='controls_image' class='controls_src'>
 <div class='control buttons'
  ><img class='button link'     src='/lib/skin/1/link.png'   
  ><img class='button opacity'  src='/lib/skin/1/opacity.png'
  ><input class='control drawer opacity' type='text' size='3'
 ></div
></div>

<div id='controls_html' class='controls_src'>
 <div class='control buttons'
  ><img class='button opacity'  src='/lib/skin/1/opacity.png'
  ><input class='control drawer opacity' type='text' size='3'
 ></div
></div>

<div id='shape_src' class='controls_src'>
 <div class='control buttons control'
  ><div class='button color fill'><img src='/lib/skin/1/color.png'  ></div
  ><div class='button color stroke'><img src='/lib/skin/1/color.png'  ></div
 ></div
 ><div class='control drawer border color fill'></div
 ><div class='control drawer border color stroke'></div>
</div>

<form id='upload_form' method='POST' enctype='multipart/form-data' action='/' style='position : absolute; left : -1000px' target='upload_target'>
 <input name='file' id='file_input' type='file'>
 <input type='hidden' name='action' value='files_create'>
 <iframe id='upload_target' name='upload_target'></iframe>
</form>

{% endblock %}
