{% extends "main.html" %}

{% block head %}
 <script src='/lib/ee/main.js?v=2023'></script>
 <script src='/lib/filedrop.js?v=1' ></script>

 <script>
  Hive.Exp = {{ exp_js }}; // current expression from server
 </script>

 <link rel='stylesheet' type='text/css' href='/lib/ee/main.css?v=1'>

 <style>
 input, textarea { font-size : inherit }

.drawer { z-index : 1100, white-space : nowrap;  }

.fontsize .option { color : {{ colors[12] }}; vertical-align : bottom; }
.fontsize .bigger .option.small { width : 70px; height : 135px; }
.fontsize .option:hover { background-color : {{ colors['selected'] }}; color : {{ colors[0] }} }
.drawer.fontname .option:hover { background-color : {{ colors['selected'] }}; }

#privacy { background-color : {{ colors['selected'] }}; color : {{ colors[0] }}; }
.submit { color : {{ colors[1] }}; }
.submit:hover { color : black; background-color : {{ colors[32] }}; }

.dialogue_handle { background-color : {{ colors.selected }}; }
#loading { position : fixed; z-index : 1200; display : none; }
#app_btns { top : 0; left : 300px; width : 402px; height : 50px; }
#app_btns .menu { }
#nav_bg { min-width : 620px; }
 </style>
{% endblock %}

{% block body %}

{% include 'dialogs/firefox_warning.html' %}

<div id='app_btns' class='nav'>
 <img id='insert_text'  class='hoverable nav_icon' src='/lib/skin/1/text.png'
 ><img id='insert_image' class='hoverable nav_icon' src='/lib/skin/1/images.png'
 ><img id='insert_audio' class='hoverable nav_icon' src='/lib/skin/1/audio.png'
 ><img id='insert_file'  class='hoverable nav_icon' src='/lib/skin/1/upload.png'
 ><img id='insert_embed' class='hoverable nav_icon' src='/lib/skin/1/embed.png'
 ><img id='insert_shape' class='hoverable nav_icon' src='/lib/skin/1/shapes.png'>
 
 <div id='menu_text' class='menu medbold'>
  <div id='text_default' class='menu_item'>Default</div>
  <div id='text_header' class='menu_item'>Header</div>
  <!--<div id='text_upload' class='menu_item'>Upload .txt</div>-->
 </div>
 
 <div id='menu_image' class='menu medbold'>
  <div id='image_upload' class='menu_item'>Upload image</div>
  <div id='image_background' class='menu_item'>Background</div>
  <!--<div id='image_webcam' class='menu_item'>Take picture</div>
  <div id='image_search' class='menu_item'>Google images</div>-->
 </div>
 
 <div id='menu_audio' class='menu medbold'>
  <div id='audio_upload' class='menu_item'>Upload MP3</div>
  <div id='audio_record' class='menu_item'>Record Audio (coming soon)</div>
 </div>
 
 <div id='menu_file' class='menu medbold'>
  <div class='menu_item menu_hover'>Upload file to link</div>
 </div>
 
 <div id='menu_embed' class='menu' style='padding : .5em; width : 16em;'>
  <span class='medbold'>Embed</span><br>
  <div class='spacer'></div>
  <textarea id='embed_code' style='width : 14em; height : 2.25em;' alt='Paste your url or embed code here.'></textarea>
  <div class='spacer'></div>
  <div style='text-align : center'><input id='embed_done' type='submit' class='btn black' value='Enter'></div>
 </div>
 
 <div id='menu_shape' class='menu medbold'>
  <div class='menu_item menu_hover'><nobr>Drawing tools coming soon</nobr></div>
 </div>
</div>

<div class='nav' style='right : 10px; top : 0; white-space : nowrap;'>
 <div id='btn_share' style='display:none'>
   <img  src='/lib/skin/1/share.png' class='hoverable nav_icon' title='share'>
 </div>
 <img id='btn_grid' class='hoverable' src='/lib/skin/1/grid-off.png' style='vertical-align : middle'>
 &nbsp;
 <div id='btn_save' class='medbold nav_icon hoverable text'>
  <nobr>Save <img class='scale' src='/lib/skin/1/drop_arrow.png'></nobr>
 </div>
 
 <div id='menu_save' class='menu top'>
  <div class='medbold'>Title</div>
  <textarea id='title'>{{ exp.title }}</textarea>
  <div class='spacer'></div>

  <div class='medbold'>URL</div>
  <div class=''>{{ exp.domain }}/</div>
  <input id='url' type='text' value='{{ exp.name|e }}'>
  <div class='spacer'></div>

  <div class='medbold'>Tags</div>
  <input id='tags' type='text' value='{{ exp.tags|e }}'>
  <div class='spacer'></div>
  <div class='spacer'></div>

  <div id='privacy' style='float : left; padding : 5px' class='medbold dialogue_handle btn rounded'>
   <span>Private</span>
   <img src='/lib/skin/1/drop_arrow.png'>
  </div>
  <div id='menu_privacy' class='menu medbold' style='width : 125px;'>
   <div val='password' class='menu_item'>Private</div>
   <div val='public' class='menu_item'>Public</div>
  </div>

  <div id='save_submit' style='float : right; padding : 5px' class='btn black rounded'>Save</div>
 
  <div id='password_ui' style='display : none'>
   <br><br><br>
   <b>Optional password</b><br>
   <input type='text' id='password' value='{{ exp.password }}'>
  </div>
 </div>
</div>

<img id='loading' src='/lib/skin/1/loading.gif'>

<div id='controls_common' class='controls_src'>
 <!--<img class='control undo   hoverable' src='/lib/skin/1/undo.png'>-->
 <img class='control copy   hoverable' src='/lib/skin/1/copy.png' title='copy'>
 <img class='control remove hoverable' src='/lib/skin/1/delete_sm.png' title='delete, no undo!'>
 <div class='control stack'><img class='stack_up hoverable' src='/lib/skin/1/stack_up.png' title='move to front'><img class='stack_down hoverable' src='/lib/skin/1/stack_down.png' title='move to back'></div>
 <img class='control resize hoverable' src='/lib/skin/1/resize.png'>
</div>

<div id='controls_text' class='controls_src'>
 <img class='control resize_h hoverable' src='/lib/skin/1/resize_h.png'>
 <div class='control buttons'
  ><img class='button link hoverable'     src='/lib/skin/1/link.png' title='link'
  ><!--<img class='button fontsize hoverable' src='/lib/skin/1/text_size.png'
  >--><img class='button fontname'           src='/lib/skin/1/font.png'
  ><img class='button color'              src='/lib/skin/1/color.png'
  ><img class='button bold hoverable'     src='/lib/skin/1/bold.png'     cmd='bold'
  ><img class='button italic hoverable'   src='/lib/skin/1/italic.png'   cmd='italic'
  ><img class='button align'              src='/lib/skin/1/justify.png'  
  ><img class='button unformat hoverable' src='/lib/skin/1/unformat.png' cmd='removeformat' title='unformat'
  ><!--<div class='control drawer border fontsize'
    ><span class='option fs1' style='font-size : .75em' val = '.75'>a</span
    > <span class='option fs2' style='font-size :   1em' val =   '1'>a</span
    > <span class='option fs3' style='font-size : 1.5em' val = '1.5'>a</span
    > <span class='option fs4' style='font-size :   2em' val =   '2'>a</span
    > <span class='option fs5' style='font-size :   3em' val =   '3'>a</span
    > <span class='option fs5' style='font-size :   5em' val =   '5'>a</span
    > <span class='option fs5' style='font-size :   8em' val =   '8'>a</span
  ></div
  >--><div class='control drawer border fontname'
   ><div class='option' style='font-family:Georgia'         cmd='fontname' val='Georgia'        >Georgia       </div
   ><div class='option' style='font-family:Helvetica'       cmd='fontname' val='Helvetica'      >Helvetica     </div
   ><div class='option' style='font-family:Courier New'     cmd='fontname' val='Courier New'    >Courier New   </div
   ><div class='option' style='font-family:Times'           cmd='fontname' val='Times'          >Times         </div
   ><div class='option' style='font-family:Trebuchet'       cmd='fontname' val='Trebuchet'      >Trebuchet     </div
   ><div class='option' style='font-family:Museo'           cmd='fontname' val='Museo'          >Museo         </div
   ><div class='option' style='font-family:BPscript'        cmd='fontname' val='BPscript'       >BPscript      </div
   ><div class='option' style='font-family:Code'            cmd='fontname' val='Code'           >Code          </div
   ><div class='option' style='font-family:Comic Zine'      cmd='fontname' val='Comic Zine'     >Comic Zine    </div
   ><div class='option' style='font-family:Folk Outline'    cmd='fontname' val='Folk Outline'   >Folk Outline  </div
   ><div class='option' style='font-family:Folk Shadow'     cmd='fontname' val='Folk Shadow'    >Folk Shadow   </div
   ><div class='option' style='font-family:Folk Sketches'   cmd='fontname' val='Folk Sketches'  >Folk Sketches </div
   ><div class='option' style='font-family:Folk'            cmd='fontname' val='Folk'           >Folk          </div
   ><div class='option' style='font-family:Lane'            cmd='fontname' val='Lane'           >Lane          </div
   ><div class='option' style='font-family:Lane Posh'       cmd='fontname' val='Lane Posh'      >Lane Posh     </div
   ><div class='option' style='font-family:Lane Up'         cmd='fontname' val='Lane Up'        >Lane Up       </div
   ><div class='option' style='font-family:League Gothic'   cmd='fontname' val='League Gothic'  >League Gothic </div
   ><div class='option' style='font-family:Lemon Chi'       cmd='fontname' val='Lemon Chi'      >Lemon Chi     </div
   ><div class='option' style='font-family:Lilly'           cmd='fontname' val='Lilly'          >Lilly         </div
   ><div class='option' style='font-family:Lobster'         cmd='fontname' val='Lobster'        >Lobster       </div
   ><div class='option' style='font-family:Matiz'           cmd='fontname' val='Matiz'          >Matiz         </div
   ><div class='option' style='font-family:Quicksand'       cmd='fontname' val='Quicksand'      >Quicksand     </div
   ><div class='option' style='font-family:Bitstream Mono'  cmd='fontname' val='Bitstream Mono' >Bitstream     </div
  ></div
  ><div class='control drawer border color'></div
  ><div class='control drawer border align'
   ><div><nobr
    ><img class='option small hoverable' cmd='justifyleft'    src='/lib/skin/1/justify_left.png' 
    ><img class='option small hoverable' cmd='justifyright'   src='/lib/skin/1/justify_right.png'
   ></nobr></div
   ><div
    ><img class='option small hoverable' cmd='justifycenter'  src='/lib/skin/1/justify_center.png'
    ><img class='option small hoverable' cmd='justifyfull'    src='/lib/skin/1/justify_full.png'  
   ></div
  ></div
 ></div>
</div>

<div id='controls_image' class='controls_src'>
 <div class='control buttons'
  ><img class='button link'     src='/lib/skin/1/link.png'   
  ><img class='button opacity'  src='/lib/skin/1/opacity.png'
  ><input class='control drawer opacity' type='text' size='3'
 ></div
></div>

<div id='controls_html' class='controls_src'>
 <div class='control buttons'
  ><img class='button opacity'  src='/lib/skin/1/opacity.png'
  ><input class='control drawer opacity' type='text' size='3'
 ></div
></div>

<div id='shape_src' class='controls_src'>
 <div class='control buttons control'
  ><div class='button color fill'><img src='/lib/skin/1/color.png'  ></div
  ><div class='button color stroke'><img src='/lib/skin/1/color.png'  ></div
 ></div
 ><div class='control drawer border color fill'></div
 ><div class='control drawer border color stroke'></div>
</div>

<form id='upload_form' method='POST' enctype='multipart/form-data' action='/' style='position : absolute; left : -1000px' target='upload_target'>
 <input name='file' id='file_input' type='file'>
 <input type='hidden' name='action' value='files_create'>
 <input type='hidden' name='expr_id' value='{{ exp.id }}'>
 <iframe id='upload_target' name='upload_target' style='position : absolute; left : -1000px'></iframe>
</form>

{% endblock %}
