{% extends "page.html" %}

{% block meta %}
  <meta id='viewport' name='viewport'>
{% endblock meta %}
{% block head %}
  <style>
body, html, #exprs { width:100%; height:100%; margin:0; }
body { overflow:hidden; }
iframe, svg { border:none; width:100%; height:100%; z-index:0; }
.hide { display:none !important; }
.icon { display:inline-block; }
.center { margin:auto; left:0;top:0;right:0;bottom:0; }

.hover,.hover path { transition-property:background-color fill stroke;
  transition-duration:1s; }
.hover.bw:hover path { fill:white; }
.hover.bw:hover > * { background-color:black; }
.hover.wb:hover path, .hover.wb.hovered path { stroke:white; fill:black; }

.snapshot { width:100%; position:fixed; }
#play_btn { position:fixed; width:30%; height:30%; margin:auto;
  top:0;right:0;bottom:0;left:0; opacity:.85; }

#bbar .icon.logo { width:50%; }
#bbar .icon.logo svg { width:60px; }

.bbar { position:fixed; bottom:0; height:60px; width:100%; }
#bbar { transition-property:opacity; transition-duration:1s;
  opacity:0; z-index:1; }
#bbar:hover, #bbar.shaded { opacity: 1; }
#bbar .shader { background-color:#fff; opacity:.85; }
#bbar .icon { height:60px; width:60px; }
#bbar img { width:40px; padding:10px; }
#bbar .right { position:absolute; display:inline-block;
  right:0;top:0; height:100%; }

#preview { z-index:0; }
  </style>
{% endblock head %}
{% block body %}
  <div id='overlays'>
    <div class='bbar' id='bbar'>
      <div class='bbar shader' id='shader'></div>
      <div class='bbar'>
        <a href='{{ expr.url }}' class='icon logo hover bw'
          title='view on NewHive'
          target='_new'>{% include 'lib/skin/nav/logo.svg' %}</a>
        <div class='right'
          ><a id='full' class='icon hover bw' title='full screen'
            >{% include 'lib/skin/nav/fullscreen.svg' %}</a
          ><a id='pause'
            class='icon hover bw{% if not query.autoplay %} hide{% endif %}'
            title='stop content'>{% include 'lib/skin/nav/pause.svg' %}</a
          ><a href='{{ expr.owner.url }}' class='icon hover bw'
            title='{{ expr.owner.display_name }}'
            target='_new'><img
              id='owner' src='{{ expr.owner.get_thumb(70) }}'></a></div>
      </div> 
    </div>
    <div id='site'></div>
    {#
    <div id='share' class='hide center'
      ><a href='https://twitter.com/share?url={{ expr.url }}&related=NewHive&text={{ ("\""+expr.title+"\" by "+expr.owner.fullname)|e }}' target='_new' title='Share on twitter'><div class='icon hinv'><img src='{{ "skin/nav/twitter.svg"|asset_url }}'></div></a
      ><a href='https://www.facebook.com/sharer/sharer.php?u={{ expr.url|e }}'target='_new' title='Share on facebook'><div class='icon hinv'><img src='{{ "skin/nav/fb-f.svg"|asset_url }}'></div></a
      ><div class='icon hinv' id='link_btn' title='Copy link'
        ><img src='{{ "skin/nav/link.svg"|asset_url }}'
        ><input readonly type='text' value='{{ expr.url }}' id='link'
          class='link hide'
      ></div
    ></div>
    #}
  </div>

  <div id='exprs'>
    <iframe id='expr_{{ expr.id }}' data-src='{{ content_url }}'
      {% if query.autoplay %}
        src='{{ content_url }}'
        class='expr'
      {% else %}
        class='expr hide'
      {% endif %}
      allowfullscreen></iframe>
    <div id='preview' class='{% if query.autoplay %}hide{% endif %}'>
      <img src='{{ expr.snapshot_name('big') }}' class='snapshot center'>
      <div id='play_btn' class='hover wb icon'
        >{% include 'lib/skin/nav/newhive-play.svg' %}</span>
    </div>
  </div>
  <script>

var preview = document.getElementById('preview')
   ,f = document.getElementById('expr_' + {{ expr.id|json }})
   ,bbar = document.getElementById('bbar')
   ,pause = document.getElementById('pause')
   ,full = document.getElementById('full')
   ,play_btn = document.getElementById('play_btn')
   // ,share = document.getElementById('share')
   // ,link = document.getElementById('link')
   // ,link_btn = document.getElementById('link_btn')

function play(){
    preview.classList.add('hide')
    f.setAttribute('src', f.getAttribute('data-src'))
    f.classList.remove('hide')
    bbar.classList.add('shaded')
    pause.classList.remove('hide')
    setTimeout(function(){ bbar.classList.remove('shaded') }, 500)
}
preview.onclick = play
pause.onclick = function(){
    f.classList.add('hide')
    preview.classList.remove('hide')
    pause.classList.add('hide')
    f.setAttribute('src', '');
    ( document.webkitExitFullscreen || document.mozExitFullScreen ||
      document.exitFullscreen ).call(document)
}
preview.onmouseover = function(){
    bbar.classList.add('shaded')
    play_btn.classList.add('hovered')
}
preview.onmouseout = function(){
    bbar.classList.remove('shaded')
    play_btn.classList.remove('hovered')
}
full.onclick = function(){
    var b = document.body;
    ( b.webkitRequestFullscreen || b.mozRequestFullScreen ||
      b.requestFullscreen ).call(b)
    if(Array.prototype.indexOf.call(f.classList, 'hide') != -1) play()
}

window.onmousewheel = function(){
    document.querySelector('#overlays').classList.add('hide')
    setTimeout(function(){
      document.querySelector('#overlays').classList.remove('hide') }, 2000)
}

{#
document.getElementById('share_btn').onclick = function(){
    share.classList.remove('hide') }
onmessage = function(){ share.classList.add('hide') }
link_btn.onmouseover = function(){
    link.classList.remove('hide')
    link.focus()
    link.select()
}
link_btn.onmouseout = function(){
    link.classList.add('hide')
}
#}
  </script>
{% endblock body %}
