{% extends "main.html" %}

{% block head %}
 {{ super() }}
<style>
.tags .tag:hover { text-decoration : line-through; color : red; }
.tag_label { background-color : white; color : black; padding : 3px; margin-right : 10px; display : inline-block;
    font-size : 1.3em; font-weight : bold; height : 25px; vertical-align : bottom; }
#tags { margin : 0px 50px 25px 50px; }
.category { font-weight : bold; font-size : 1.23em; height : 33px; }
.category.open { border-bottom : 10px solid white; }
iframe { border : none; }
</style>
<script>
Hive = {};
Hive.Exp = {};
</script>
{% endblock %}
{% block body %}

<div class='nav' style='right : 10px; top : 0px;'>
 <form action='{{ create }}' method='POST'>
  <input type='hidden' name='domain' value='{{ domain }}'>
  <input type='image' id='btn_create' src='/lib/skin/1/create.png' class='hoverable scale nav_icon' title='create'>
 </form>
 <!--<img id='btn_edit' src='/lib/skin/1/edit.png' class='hoverable nav_icon' onclick='background_pick()'>-->
</div>

{% endblock %}
{% block content %}

{#
{% if page %}
 <a href='?p={{ page - 1 }}'><img id='feed_prev' src='/lib/skin/1/page_prev.png' class='feed hoverable'></a>
{% else %}
 <img id='feed_prev' src='/lib/skin/1/page_prev-disabled.png' class='feed'>
{% endif %}
#}

<div style='font-size : 4em; margin : 30px 50px 30px 50px;'><a href='/'>{{ fullname }}</a>{{ ': ' + tag if tag }}</div>

<div id='tags'>
 <span class='tag_label'><a href='/!'>All</a></span>
 {% for t in tags %}<a href='!{{ t|e }}'><span class='tag_label drag' draggable='false' value='{{ t|e }}'>{{ t }}</span></a>{% endfor %}
 {% if user_is_owner %}
  <img src='/lib/skin/1/add_tab.png' class='tag_label hoverable' onclick='tag_create()'>
 {% endif %}
</div>

{% include 'cards.html' %}

{#
<a href='?p={{ page + 1 }}'><img id='feed_next' src='/lib/skin/1/page_next.png' class='feed hoverable'></a>
#}

{% if user_is_owner %}
<form id='upload_form' method='POST' action='{{ secure_server }}' style='position : absolute; left : -1000px' target='upload_target'>
 <input type='hidden' name='action' value='' id='action_input'>
 <input type='hidden' name='expr_id' value='' id='id_input'>
 <input type='hidden' name='tag' value='' id='value_input'>
 <iframe id='upload_target' name='upload_target'></iframe>
</form>
<script>
function tag_create() {
    var tag = prompt('New Folder');
    $('#action_input').val('tag_create');
    $('#value_input').val(tag);
    $('#upload_form').submit();
    $('#upload_target').load(function() { window.location = window.location });
}
function add_tag(item, tag) {
    var tags = $(item).find('.tags'), v = $(tag).attr('value');
    // check if tag is already there (blehck)
    if(tags.children().filter(function() { return $(this).attr('value') == v }).length) return;
    tags.append($("<span class='tag'>").attr('value', v).append('#' + v + ' '));
    tags.append(' ');
    $('#action_input').val('tag_add');
    $('#id_input').val($(item).find('.expr_id').val());
    $('#value_input').val(v);
    $('#upload_form').submit();
    return false;
}
function remove_tag() {
    var item = $(this).parent().parent();
    $(this).remove();
    var v = $(this).attr('value');
    $('#action_input').val('tag_remove');
    $('#id_input').val($(item).find('.expr_id').val());
    $('#value_input').val(v);
    $('#upload_form').submit();
    return false;
}

$('.tags .tag').live('click', remove_tag);
$('.tag_label.drag').draggable().droppable({
    accept : '.feed.item', drop : function(target, dragged) { add_tag(dragged, target) } });
$('.feed.item').droppable({ accept : '.tag_label.drag', drop : add_tag }).draggable();
</script>
{% endif %}

{% endblock %}
