{% extends "base.html" %}

{% block head %}
  <script src='{{ asset_bundle('expression.js')[0] }}'></script>
  {% if not auth_required %}
    <script>
      Hive = { user: {{ client_user | json }}, parent_url: {{ expr.url | json }},
          expr: {{ expr | json }} };
    </script>
  {% endif %}
{% endblock %}

{% block body_classes %}{{ super() }} expression{% endblock %}

{% block main %}
  {% if not auth_required %}
    {% include 'expr_background.html' %}
    {{ html }}
  {% endif %}
{% endblock %}
