{% extends "main.html" %}

{% block head %}
 {{ super() }}
<style>
#categories { position : absolute; top : 100px; left : 124px; width : 776px; height : 33px; margin : 0; }
#feed { position : absolute; top : 60px; width : 100%; } /*left : 124px; width : 776px; padding : 0; }*/
.feed.item { position : relative; float : left; padding : 10px; width : 358px; height : 96px;
    display : inline-block; margin : 5px;
    background-image : url('/lib/skin/1/feed_item.png'); }
.feed.item:hover { background-color : {{ colors.selected }} }
.feed.item0 { left : 50px; }
.feed.item1 { left : 280px; }
.feed.item2 { left : 510px; }
.feed.item3 { left : 740px; }
#feed_prev { bottom : 45px; left : 20px; }
#feed_next { bottom : 45px; left : 960px; } 
.feed.item0 .other { color : {{ colors[1] }} }
.feed.item1 .other { color : {{ colors[2] }} }
.feed.item2 .other { color : {{ colors[3] }} }
.feed.item3 .other { color : {{ colors[5] }} }
.feed .title { font-weight : bold; height : 2.5em; overflow : hidden; }
.feed .title1 { font-size : 1.3em; }
.feed .title2 { font-size : 1.1em; }
.feed .title3 { font-size : .9em; }
.feed .thumb { float : left; margin-right : 20px; }
.feed .other, .feed .tags { font-size : .8em }
.feed .tags { position : absolute; left : 154px; top : 60px; }
.feed .other { position : absolute; left : 154px; bottom : 5px; font-weight : bold; }
#feed .tag { background-color : black; color : white; padding : 0 10px; margin : 5px; display : inline-block}
#tags { margin : 10px; height : 1.5em; overflow : hidden; white-space : nowrap; }
.category { font-weight : bold; font-size : 1.23em; height : 33px; }
.category.open { border-bottom : 10px solid white; }
</style>
{% endblock %}
{% block body %}

{#
{% if page %}
 <a href='?p={{ page - 1 }}'><img id='feed_prev' src='/lib/skin/1/page_prev.png' class='feed hoverable'></a>
{% else %}
 <img id='feed_prev' src='/lib/skin/1/page_prev-disabled.png' class='feed'>
{% endif %}
#}

{#<div id='categories'>
  <div class='category border open'>All</div>
  <div class='category border'><img src='/lib/skin/1/add_tab.png'></div>
</div>#}
<div id='feed' class=''>
<div id='tags'>
 {% for t in tags %}
  <span class='tag'><a href='?view=cards&tags={{ t|e }}'>{{ t }}</a></span>
 {% endfor %}
</div>

{% for e in exprs %}
 <div class='feed item'><a href='{{ e.url|e }}' target='_top'>
  <img src='{{ e.thumb|default('/lib/skin/1/default_thumb.png') }}' class='thumb'>
  <div class='title title{{ e.title_len }}'>{{ e.title|e }}</div>
  <div class='tags'>{{ e.tags|join(' ') }}</div>
  <div class='other'>{{ e.updated }}</div>
 </a></div>
{% endfor %}

</div>

{#
<a href='?p={{ page + 1 }}'><img id='feed_next' src='/lib/skin/1/page_next.png' class='feed hoverable'></a>
#}

{% endblock %}
