{% extends "main.html" %}

{% block head %}
 <style>
  .toolbtn { margin-left : 20px }
  .happ { position : absolute; }
  .happ img { width : 100%; }
  
  #meta { position : absolute; right : 20px; top : 27px; }
  #info { display : inline-block; text-align : right; margin-right : 10px; }
  #datetime { font-size:10pt; color : {{ colors[24] }}; }
  #feed { position : absolute; bottom : 0; left : 0; width : 100%; border : none; height : 100px; }
  {{ css }}
 </style>
{% endblock %}

{% block body %}

<div id='meta' class='top'>
 {% if user_is_owner %}
  <form id='login_form' action='{{ create }}' method='POST'>
   <input type='hidden' name='domain' value='{{ domain }}'>
   <input type='image' id='btn_create' src='/lib/skin/1/create.png' class='toolbtn hoverable'>
  </form>
  <a href='{{ edit }}'><img id='btn_edit' src='/lib/skin/1/edit.png' class='toolbtn hoverable'></a>
  <img id='btn_delete' src='/lib/skin/1/delete_page.png' class='hoverable'>
  <div id='dia_delete' class='menu' style='padding : 10px'>
   Are you sure you want<br>
   to delete this page?<br>
   <br>
   <form method='POST' action='{{ secure_server }}'>
    <input type='hidden' name='action' value='expr_delete'>
    <input type='hidden' name='id' value='{{ id }}'>
    <div style='text-align : right'><input type='submit' value='Yes' style='background-color : white;' class='active medbold'></div>
   </form>
  </div>
  <script>
   click_menu($('#btn_delete'), $('#dia_delete'));
   tool_tip($('#btn_create'), 'create');
   tool_tip($('#btn_edit'), 'edit');
   //$('#btn_edit').click(begin_edit);
   //function begin_edit() {
   //    var i = $('<iframe>');
   //    i.attr('src', '{{ secure_server }}edit');
   //    $(document.body).append(i);
   //}
  </script>
 {% else %}

  <div id='info'>
   <div id='exp_owner' class='medbold'><a href='{{ owner_url }}'>{{ owner['name'] }}</a></div>
   <div id='datetime'>{{ mtime }}</div>
  </div>

 {% endif %}
</div>

{{ body }}

<script>
var exp = {{ exp_js }};
$(window).resize(function() {
   var s = $(window).width() / 1000;
   $.map(exp.apps, function(a, i) {
       var e = $('#h_' + i);
       e.css({ left : a.position[0] * s, top : a.position[1] * s,
           width : a.dimensions[0] * s, height : a.dimensions[1] * s});
       if(a.scale) e.css('font-size', a.scale * s + 'em');
   });
});
$(window).resize();
</script>
{% if not name %}
 <iframe id='feed' src='{{ server }}exprs/{{ owner.id }}'></iframe>
{% endif %}
{% endblock %}
