{% extends "minimal.html" %}
{% block body_class %} expr {{ super() }}{% endblock %}


{% block head %}
  <title>{{ expr.title|e }}</title>
  {% if not debug %}
    {% for item in asset_bundle('expr.js') %}
      <script src='{{item}}'></script>
    {% endfor %}
  {% endif %}
  {% if css %}
    <style> {{ css }} </style>
  {% endif %}
{% endblock %}

{% block body %}
  {% if domain %}
    <a href='//newhive.com/{{ expr.owner_name }}/{{ expr.name }}'
      target='_top'><div id='hive_logo'></div></a>
    {#<div class='menu drawer' data-handle='#hive_logo'>
        <div class='menu item'>{{ expr.title|e }} on NewHive</div></a>
      <a href='//newhive.com'><div class='menu item default'>NewHive</div></a>
    </div>#}
  {% endif %} 
  <script>
if(typeof window.scripts == 'undefined'){
  window.scripts = []
  var scripts = window.scripts
  scripts.animate = function(){
    var animate = false
    scripts.map(function(s){
      if(s.animate && s.animate.go){
        s.animate()
        animate = true
      }
    })
    if(animate) window.requestAnimationFrame(scripts.animate)
  }
  scripts.start = function(){
    scripts.map(function(s){
      s.run()
      if(s.animate) s.animate.go = true
    })
    window.requestAnimationFrame(scripts.animate)
  }
  scripts.stop = function(){
    scripts.map(function(s){
      s.stop()
      if(s.animate) s.animate.go = false
    })
  }
}
  </script>
  {% include 'page_parts/expr_body.html' %}
  <script>curl(['ui/expression'], function(expression) {
    expression.init({{ expr_client|json }}); });</script>
{% endblock %}
