{% extends "main.html" %}

{% block head %}
 {{ super() }}
<style>
.tag_label { color : #696E76; background-color : #EDEBE1; }
a.tag_label:hover { color : {{ colors[1] }}; background-color : {{ colors[32] }}; }
.tag_label.current { background-color : black; color : white; }
#tags { margin : 0px 50px 25px 50px; }
iframe { border : none; }
</style>
{% endblock %}
{% block body %}

<div class='nav' style='right : {{ '10' if user.logged_in else '97' }}px; top : 0px;'>
 <div class='nav_icon text hoverable medbold' onclick="" style='margin-right : 8px; color: #696E76;' id='btn_help'>?</div>
 <script>
  (function() { var b = $('#btn_help');
    b.click(function() { exprDialog('{{ site_pages['profile-help'] }}', { minimize_to : b } ) });
    {% if show_help %}$('#btn_help').click(){% endif %} })();
 </script>
 <img id='btn_share' src='/lib/skin/1/share.png' class='hoverable nav_icon' title='share'>
 {% if user.logged_in %}
  <a href='{{ create }}'><img src='/lib/skin/1/create.png' class='hoverable nav_icon' title='create'></a>
 {% endif %}
</div>

{% endblock %}
{% block content %}

{#
{% if page %}
 <a href='?p={{ page - 1 }}'><img id='feed_prev' src='/lib/skin/1/page_prev.png' class='feed hoverable'></a>
{% else %}
 <img id='feed_prev' src='/lib/skin/1/page_prev-disabled.png' class='feed'>
{% endif %}
#}
<div style='{{ 'position : fixed;' if user_is_owner }} top : 50px; background-color : white; z-index : 1; width : 100%; opacity : 0.95;'>
 <div class='fathead'><a href='/'>{{ owner.fullname }}</a>{{ ': ' + tag if tag }}</div>
 
 <div id='tags'>
  <a href='/expressions' class='tag_label {{ 'current' if not tag }}'>All</a>
  {% for t in tags %}<a href='/expressions/{{ t|e }}' class='tag_label drag {{ 'current' if t == tag }}' draggable='false' value='{{ t|e }}'>{{ t }}</a>{% endfor %}
  {% if user_is_owner %}
   <img src='/lib/skin/1/add_tab.png' class='hoverable' onclick='folder_add()' style='vertical-align : bottom' title='Add Folder'>
   {% if tag %}<img src='/lib/skin/1/remove_tab.png' class='hoverable' onclick='folder_remove()' style='vertical-align : bottom' title='Remove folder "{{ tag|e }}"'>{% endif %}
  {% endif %}
 </div>
</div>
<div style='position : absolute; top : 250px'>
<div id='feed'>{% include 'cards.html' %}</div>
</div>

{#
<a href='?p={{ page + 1 }}'><img id='feed_next' src='/lib/skin/1/page_next.png' class='feed hoverable'></a>
#}

{% if user_is_owner %}
 <form id='upload_form' method='POST' action='{{ secure_server }}' style='position : absolute; left : -1000px' target='upload_target'>
  <input type='hidden' name='action' id='action_input'>
  <input type='hidden' name='expr_id' id='id_input'>
  <input type='hidden' name='value' id='value_input'>
  <iframe id='upload_target' name='upload_target'></iframe>
 </form>
 <script>
 var current_tag = '{{ tag|e }}';
 function folder_add() {
     var tag = prompt('New Folder');
     $('#action_input').val('user_tag_add');
     $('#value_input').val(tag);
     $('#upload_form').submit();
     $('#upload_target').load(function() { window.location = window.location });
 }
 function folder_remove() {
     $('#action_input').val('user_tag_remove');
     $('#value_input').val(current_tag);
     $('#upload_form').submit();
     $('#upload_target').load(function() { window.location = '{{ home_url }}' });
 }
 function add_tag(item, tag) {
     var tags = $(item).find('.tags'), v = $(tag).attr('value');
     // check if tag is already there (blehck)
     if(tags.children().filter(function() { return $(this).attr('value') == v }).length) return;
     tags.append($("<span class='tag'>").attr('value', v).append('#' + v + ' '));
     tags.append(' ');
     $('#action_input').val('tag_add');
     $('#id_input').val($(item).find('.expr_id').val());
     $('#value_input').val(v);
     $('#upload_form').submit();
     return false;
 }
 function remove_tag(item) {
     $('#action_input').val('tag_remove');
     $('#id_input').val($(item).find('.expr_id').val());
     $('#value_input').val(current_tag);
     $('#upload_form').submit();
     return false;
 }
 
 $('.tag_label.drag').draggable().droppable({
     accept : '.feed.item', drop : function(target, dragged) { add_tag(dragged, target) } });
 $('.feed.item').droppable({ accept : '.tag_label.drag', drop : add_tag }).draggable();
 {% if tag %}
  $('.feed.item').each(function() {
      var del = $("<img src='/lib/skin/1/remove_tab.png' class='hoverable' style='position : absolute; bottom : 3px; right : 3px' title='Remove from \"{{ tag|e }}\"'>");
      var that = $(this);
      del.click(function() {
          remove_tag(that);
          that.remove();
          return false;
      });
      $(this).append(del);
  });
 {% endif %}
 </script>
{% endif %}

{% endblock %}
