{% extends "main.html" %}
{#
{% block head %}
<style type='text/css'>
    .fb_dialog, .fb_dialog iframe, .fb_dialog .db_dialog_content {
        width: 910px !important;
    }
</style>
{{super()}}
{% endblock head %}
#}
{% block body_classes %}{{super()}} facebook_connect{% endblock %}

{% block content %}
    <div id="fb-root"></div>
    <h1>Your Facebook account is now connected.</h1>
    <h3 onclick="sendRequestViaMultiFriendSelector();">Invite your friends to join The New Hive</h3>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
   
    <script>
      FB.init({
          appId  : '{{fb_app_id}}',
      });

      function sendrequesttorecipients() {
        var user_ids = document.getelementsbyname("user_ids")[0].value;
        fb.ui({method: 'apprequests',
          message: 'my great request',
          to: user_ids, 
        }, requestCallback);
      }

      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests'
          , message: 'Join me on The New Hive'
          , title: 'Invite Friends to Join The New Hive'
          , filter: 'app_non_user'
          , display: 'iframe'
        }, requestCallback);
      }
      
      function requestCallback(response) {
        // Handle callback here
      }

      FB.getLoginStatus(function(response){
          sendRequestViaMultiFriendSelector();
      });
    </script>
    {#    {% for friend in friends -%}
    <div><img src="http://graph.facebook.com/{{friend.id}}/picture?type=square"/>{{friend.name}}</div>
    {% endfor %} #}
{% endblock content %}
