{% extends "base.html" %}

{% block main %}
 <div id='feedback_msg' class='border selected' style='position : fixed; background-color : white; padding : 30px; width : 400px'>
  {% if success %}
   <span class='medbold'>Thank you for the feedback!</span>
   <div class='spacer'></div>
   <input type='button' value='Close' class='btn black medbold' onclick='window.close()'>
  {% else %}
   <span class='medbold'>We’re in beta and love feedback! Want a feature? Found a bug? Please be specific and describe in detail what’s going on:</span><br>
   <form method='POST'>
    <input type='hidden' name='action' value='mail_feedback'>
    <input type='hidden' name='url' value='{{ url }}'>
    <textarea rows='10' cols='40' name='message'></textarea><br>
    <div class='spacer'></div>
    <input id='send_copy' type='checkbox' name='send_copy' checked><label for='send_copy'> Send me a copy</label>
    <div class='spacer'></div>
    <input type='submit' value='Send' class='btn black medbold'>&nbsp;
    <input type='button' value='Cancel' class='btn black medbold' onclick='window.close()'>
   </form>
  {% endif %}
 </div>
{% endblock %}
