<!DOCTYPE html>
<html>
<head>
 <style>
html, body { margin : 0; padding : 0 10px 0 10px; font-family : Arial, sans-serif;
    font-family : Arial, sans-serif; font-size : 13pt; color : {{ colors[0] }} }
img { padding : 0; margin : 0; border : 0; }
a { color : inherit; text-decoration : none; }
.title { font-size : 23px; margin-bottom : 10px; }
.item0 .other { color : {{ colors[1] }} }
.item1 .other { color : {{ colors[2] }} }
.item2 .other { color : {{ colors[3] }} }
.item3 .other { color : {{ colors[5] }} }
 </style>
 <script src='/lib/jquery.js'></script>
 <script src='/lib/util.js'></script>
</head>
<body>
 <table width='100%' cellspacing='0' cellpadding='0'><tr>
  <td width='1'>
   {% if page %}
    <a href='?p={{ page - 1 }}'><img src='/lib/skin/1/page_prev.png' class='hoverable'></a>
   {% else %}
    <img src='/lib/skin/1/page_prev-disabled.png'>
   {% endif %}
  </td>
  <td width='10%'> </td>
 {% for e in exprs %}
  <td class='item{{ loop.index0 }}'>
   <div class='title'><a href='{{ e.url|e }}' target='_top'>{{ e.title|e }}</a></div>
   <div class='other'>{{ e.updated }}</div>
  </td>
 {% endfor %}
 <td width='1'><a href='?p={{ page + 1 }}'><img src='/lib/skin/1/page_next.png' class='hoverable'></a></td>
 </tr></table>
</body>
</html>
