{% extends "main.html" %}

{% block meta %}
 <meta property="og:title" content='{{ title |e }}' />
 <meta property="og:type" content="newhive:expression" />
 <meta property="og:image" content='{{ exp.thumb |e }}' />
 <meta property="fb:admins" content="1007003" />
 <meta property="description" contents="{{ title |e }}, an expression by {{owner.fullname}}" />
{% endblock %}
{% block head %}
  {{super()}}
  {% for asset in asset_bundle('frame.js') %}
    <script src='{{ asset }}'></script>
  {% endfor %}
  <script type='text/javascript'>
      // TODO: temporary, should probably hide this better
      var expr = {{exp | json}};
      var content_domain = {{ content_domain | json }};
  </script>
{% endblock %}
{% block body_classes %}{{super()}} frame{% endblock %}

{% block body %}
  <div id="navigator" class="navigator">
    <div class="info">
      <div class="icon random_btn hoverable rounded"></div>
      <input type="text" class="search">
      <div class="hoverable icon scale submit" title="Submit search"></div>
      <div class="tags_wrapper">
          <div class="tags"></div>
      </div>
    </div>
  </div>
  <div id='navigator_handle' class='menu_handle'></div>
  <div id="expression_frames">
    <iframe src='{{ expr_url }}' class='expr' name='expr'></iframe>
  </div>

  <div id='action_nav'>
    {% if user_is_owner %}
      <a href='{{ edit }}'><div class='btn_box edit hoverable'>
        <div class='nav_btn'>
          <span class='text'>Edit</span>
          <div class='icon'></div>
        </div>
      </div></a>
    {% endif %}
    <div class='btn_box view hoverable'>
      <div class='nav_btn'>
        <div class='edge'></div>
        <div class='icon'></div>
        <div class='count'>{{ exp.views | large_number }}</div>
      </div>
    </div>
    <div class='btn_box like hoverable'>
      <div class='nav_btn'>
        <div class='edge'></div>
        <div class='icon'></div>
        <div class='count{{ ' zero' if not exp.star_count }}'>{{ exp.star_count | large_number }}</div>
      </div>
    </div>
    <div class='btn_box broadcast hoverable'>
      <div class='nav_btn'>
        <div class='edge'></div>
        <div class='icon'></div>
        <div class='count{{ ' zero' if not exp.broadcast_count }}'>{{ exp.broadcast_count | large_number }}</div>
      </div>
    </div>
    <div class='btn_box comment hoverable'>
      <div class='nav_btn'>
        <div class='edge'></div>
        <div class='icon'></div>
        <div class='count{{ ' zero' if not exp.comment_count }}'>{{ exp.comment_count | large_number }}</div>
      </div>
    </div>
    {% if user_is_owner %}
      <div class='btn_box delete hoverable'>
        <div class='nav_btn'>
          <span class='text'>Delete</span>
          <div class='icon'></div>
        </div>
      </div>
    {% endif %}
  </div>

  <div id='expr_menu' class='menu'>
    <div class='feed_item border_bottom'>
      <img src='https://s1-thenewhive.s3.amazonaws.com/4f572636ba28391dd00000c2_70x70?v=1'>
      <div class='feed_text'>
        <p class='title'>{{ exp.title | e }}</p>
        <p class='tags'>{% for tag in exp.tags_index %}
          <a href='{{ exp.url }}?tag={{ tag }}'>#{{ tag }}</a>
        {% endfor %}</p>
      </div>
      <div class='byline'><span class="timestamp">Jul 1</span></div>
    </div>
      
    {% for feed in exp.get_feed() %}
      {% include "partials/feed.html" %}
    {% endfor %}
  </div>

  <div id='broadcast_menu' class='menu'>
  </div>

  <div id='like_menu' class='menu'>
  </div>

  <div id='comment_menu' class='menu'>
    {% for feed in exp.get_feed() %}
      {% include "partials/feed.html" %}
    {% endfor %}
  </div>

  <script>
        // Exclusive menus, that only appear one at a time. Kinda weird
        //var user_nav = hover_menu(make_handle('#user_nav'), '#user_nav', {
        //    animate_close: { top: -50, left: -50 }, opened: true, layout: false });
        //hover_menu( '#logo', '#hive_menu', { offset_y: 8, open: function(){
        //    $('#search_box').get(0).focus(); }, group: user_nav } );
        //if(logged_in) hover_menu( '#username', '#user_menu', { offset_y: 8, group: user_nav } );

        //var owner_nav = hover_menu(make_handle('#owner_nav'), '#owner_nav', {
        //    animate_close: { right: -50, top: -50 }, opened: true, layout: false });
        //hover_menu('#owner_btn', '#owner_menu', { offset_y: 8, layout_x: 'right', group: owner_nav });
        //hover_menu('#share_btn', '#share_menu', { offset_y: 8, group: owner_nav  });

        //var action_nav = hover_menu(make_handle('#action_nav'), '#action_nav', {
        //    animate_close: { right: -50 }, opened: true, layout: false });
        //hover_menu('.btn_box.view', $('#expr_menu'), { layout: 'center_y', offset_x: 11, group: action_nav });
        //hover_menu('.btn_box.comment', $('#comment_menu'), { layout: 'center_y', offset_x: 11, group: action_nav });

    (function(){
        var speed = 100;
        var close_nav = function(){
            $('#user_nav').stop().clearQueue().animate({ left: -50, top: -50 }, speed);
            $('#owner_nav').stop().clearQueue().animate({ right: -50, top: -50 }, speed);
            $('#action_nav').stop().clearQueue().animate({ right: -50 }, speed);
        };
        var open_nav = function(){
            $('#user_nav').stop().clearQueue().animate({ left: 0, top: 0 }, speed);
            $('#owner_nav').stop().clearQueue().animate({ right: 0, top: 0 }, speed);
            $('#action_nav').stop().clearQueue().animate({ right: 0 }, speed);
        };

        var drawers = $('#user_nav,#owner_nav,#action_nav'),
            handles = $($.map(drawers, function(e){ return make_handle(e).get(0) }))
                .add('#navigator_handle').add('#navigator');
        if(!Hive.menus) Hive.menus = {}
        Hive.menus.nav_menu = hover_menu(handles, drawers, { layout: false, open_menu: open_nav,
            close_menu: close_nav, opened: true, close_delay: 2000 } );

        hover_menu( '#logo', '#hive_menu', { offset_y: 8, open: function(){
            $('#search_box').get(0).focus(); }, group: Hive.menus.nav_menu } );
        if(logged_in) hover_menu( '#username', '#user_menu', { offset_y: 8, group: Hive.menus.nav_menu } );

        if(!logged_in) {
            var login_menu = hover_menu( '#login_btn', '#login_menu', {
                    open: function() { $('#username').get(0).focus(); },
                    close_delay: 1000,
                    offset_y: 8,
                    layout_x: 'right',
                    group: Hive.menus.nav_menu
                } );
            {% if error %} login_menu.open(); {% endif %}
        }

        var swap_action_nav = { open: function(){ $('#action_nav').hide() },
            close: function(){ $('#action_nav').show() } };
        hover_menu('#owner_btn', '#owner_menu', $.extend({ offset_y: 8, layout_x: 'right',
            group: Hive.menus.nav_menu }, swap_action_nav));
        hover_menu('#share_btn', '#share_menu', $.extend({ offset_y: 8,
            group: Hive.menus.nav_menu }, swap_action_nav));

        Hive.navigator = Hive.Navigator.create('#navigator', '#expression_frames');
        Hive.menus.navigator_menu = hover_menu('#navigator_handle', '#navigator', {
            layout: false,
            opened: true,
            open_menu: Hive.navigator.show,
            close_menu: Hive.navigator.hide,
            group: false,
            close_delay: 2000
        });
    })();

    setTimeout(function(){
        Hive.menus.navigator_menu.close();
        Hive.menus.nav_menu.close();
    }, 5000);
  </script>
  {{ body }}
{% endblock %}

{# clear layout for community pages #}
{% block content %}
{% endblock %}

{% block footer_scripts %}
<script>
  $(function(){
      //pagethrough_btns = $('.pagethrough');
      //var navigator_height = (Hive && Hive.navigator) ? Hive.navigator.height() : 0;
      //pagethrough_btns.css('top', ($(window).height() - pagethrough_btns.height() - navigator_height) / 2);
      //$('#pagethrough_prev').attr('title', "previous "
      //  + context_to_string({plural: false}))
      //  .click(function(){
      //    logAction('pagethrough_clicked', {'expr_id': expr_id, 'context': urlParams, href: $(this).attr('href'), direction: 'prev'});
      //    var url = $(this).attr('href');
      //    setTimeout(function() { window.location = url; }, 100);
      //    return false;
      //  });
      //$('#pagethrough_next').attr('title', "next "
      //  + context_to_string({plural: false})).click(function(){
      //    logAction('pagethrough_clicked', {'expr_id': expr_id, 'context': urlParams, href: $(this).attr('href'), direction: 'next'});
      //    var url = $(this).attr('href');
      //    setTimeout(function() { window.location = url; }, 100);
      //    return false;
      //  });

      //var hover_height = 50;

      //function mouse_move(x,y){
      //    if ($(window).height() - y < hover_height) {
      //        if (Hive.navigator){
      //            Hive.navigator.show();
      //        }
      //    } else {
      //        if (Hive.navigator){
      //            Hive.navigator.hide();
      //        }
      //    }
      //};
      //window.addEventListener("message", function(e){
      //    var a = e.data.split(',');
      //    mouse_move(parseInt(a[0]), parseInt(a[1]));
      //}, false);

      //$(window).mousemove(function(e){
      //    mouse_move(e.clientX, e.clientY);
      //});
  });
</script>
{% endblock footer_scripts %}

{% block dialogs %}
  {{ super() }}
  {% if user_is_owner %}
    <div id='dia_delete' class='newdialog center'>
      <h3>Are you sure you want to delete this expression?</h3>
      <div class='btns'>
        <form method='POST' action='{{ secure_server }}'>
          <input type='hidden' name='action' value='expr_delete'>
          <input type='hidden' name='id' value='{{ exp.id }}'>
          <input type='submit' value='Yes' class='btn'> &nbsp;
          <input type='button' value='No' class='no_btn btn'>
        </form>
      </div>
    </div>
    <script>
      (function(){
        var dialog;
        $('.delete_btn').click(function(){ dialog = showDialog('#dia_delete'); });
        $('#dia_delete .no_btn').click(function(){ dialog.close() });
      })();
    </script>
  {% endif %}
{% endblock %}
