{% extends "main.html" %}

{% block meta %}
 <meta property="og:title" content='{{ title |e }}' />
 <meta property="og:type" content="newhive:expression" />
 <meta property="og:image" content='{{ exp.thumb |e }}' />
 <meta property="fb:admins" content="1007003" />
 <meta property="description" contents="{{ title |e }}, an expression by {{owner.fullname}}" />
{% endblock %}
{% block head %}
 {{super()}}
 {% for asset in asset_bundle('navigator.js') %}
     <script src='{{ asset }}'></script>
 {% endfor %}
 <script type='text/javascript'>
     var expr_id = '{{ exp.id }}';
     var comment_count = {{ exp.comment_count }};
     // TODO: temporary, should probably hide this better
     var expr = {{exp | json}};
     var content_domain = {{ content_domain | json }};
 </script>
{% endblock %}
{% block body_classes %}{{super()}} frame{% endblock %}

{% block body %}
 <input type='hidden' name='expr_id' id='expr_id' value='{{ exp.id }}'>

 {% if auth_required %}
  {% include 'dialogs/password.html' %}
 {% else %}
  <div id="expression_frames">
      <iframe src='{{ expr_url }}' class='expr' name='expr'></iframe>
  </div>
  <div id="navigator" class="navigator">
    <div class="info">
      <div class="icon random_btn hoverable rounded"></div>
      <input type="text" class="search">
      <div class="tags"></div>
    </div>
  </div>
  {{ body }}
 {% endif %}
{% endblock %}

{# clear layout for community pages #}
{% block content %}
{% endblock %}

{% block footer_scripts %}
<script>
  $(function(){
    //pagethrough_btns = $('.pagethrough');
    //var navigator_height = (Hive && Hive.navigator) ? Hive.navigator.height() : 0;
    //pagethrough_btns.css('top', ($(window).height() - pagethrough_btns.height() - navigator_height) / 2);
    //$('#pagethrough_prev').attr('title', "previous "
    //  + context_to_string({plural: false}))
    //  .click(function(){
    //    logAction('pagethrough_clicked', {'expr_id': expr_id, 'context': urlParams, href: $(this).attr('href'), direction: 'prev'});
    //    var url = $(this).attr('href');
    //    setTimeout(function() { window.location = url; }, 100);
    //    return false;
    //  });
    //$('#pagethrough_next').attr('title', "next "
    //  + context_to_string({plural: false})).click(function(){
    //    logAction('pagethrough_clicked', {'expr_id': expr_id, 'context': urlParams, href: $(this).attr('href'), direction: 'next'});
    //    var url = $(this).attr('href');
    //    setTimeout(function() { window.location = url; }, 100);
    //    return false;
    //  });

    var hover_width = 150;
    var hover_height = 50;

    function mouse_move(x,y){
         if ($(window).width() - x < hover_width) {
            $('#pagethrough_next img').show();
            if (Hive.navigator){
                Hive.navigator.show();
            }
        } else if (x < hover_width) {
            $('#pagethrough_prev img').show();
            if (Hive.navigator){
                Hive.navigator.show();
            }
        } else if ($(window).height() - y < hover_height) {
            if (Hive.navigator){
                Hive.navigator.show();
            }
        } else {
            $('#pagethrough_prev img').hide();
            $('#pagethrough_next img').hide();
            if (Hive.navigator){
                Hive.navigator.hide();
            }
        }
   };
    window.addEventListener("message", function(e){
        var a = e.data.split(',');
        mouse_move(parseInt(a[0]), parseInt(a[1]));
    }, false);

    $(window).mousemove(function(e){
        mouse_move(e.clientX, e.clientY);
    });
  });
</script>
{% endblock footer_scripts %}
