{% extends "main.html" %}

{% block meta %}
 <meta property="og:title" content='{{ title |e }}' />
 <meta property="og:type" content="newhive:expression" />
 <meta property="og:image" content='{{ exp.thumb |e }}' />
 <meta property="fb:admins" content="1007003" />
 <meta property="description" contents="{{ title |e }}, an expression by {{owner.fullname}}" />
{% endblock %}
{% block head %}
  {{super()}}
  {% for asset in asset_bundle('frame.js') %}
    <script src='{{ asset }}'></script>
  {% endfor %}
  <script type='text/javascript'>
      // TODO: temporary, should probably hide this better
      var expr = {{exp | json}};
      var user = {{ user.id | json }};
      var content_domain = {{ content_domain | json }};
  </script>
{% endblock %}
{% block body_classes %}{{super()}} frame{% endblock %}

{% block body %}
  <div id='navigator_handle' class='menu_handle'></div>
  <div id="navigator" class="navigator">
    <div class="info">
      <div class="icon random_btn hoverable rounded"></div>
      <form method='get'>
        <input type="text" class="search">
        <div class="hoverable icon scale submit" title="Submit search" onclick="Hive.navigator.search()"></div>
      </form>
      <div class="tags_wrapper">
        <div class="tags"></div>
      </div>
    </div>
  </div>
  <div id="expression_frames">
    <iframe src='{{ expr_url }}' class='expr' name='expr'></iframe>
  </div>

  <div id='action_nav_handle' class='menu_handle'></div>
  <div id='action_nav'>
    <a href='{{ edit }}'><div class='btn_box edit hoverable {{ 'none' if not user_is_owner }}'>
      <div class='nav_btn'>
        <span class='text'>Edit</span>
        <div class='icon'></div>
      </div>
    </div></a>
    <div id='view_btn' class='btn_box view hoverable'>
      <div class='nav_btn'>
        <div class='edge'></div>
        <div class='icon'></div>
        <div class='count'>{{ exp.views | large_number }}</div>
      </div>
    </div>
    <div id='like_btn' class='btn_box like hoverable'>
      <div class='nav_btn'>
        <div class='edge'></div>
        <div class='icon'></div>
        <div class='count{{ ' zero' if not exp.star_count }}'>{{ exp.star_count | large_number }}</div>
      </div>
    </div>
    <div id='broadcast_btn' class='btn_box broadcast hoverable'>
      <div class='nav_btn'>
        <div class='edge'></div>
        <div class='icon'></div>
        <div class='count{{ ' zero' if not exp.broadcast_count }}'>{{ exp.broadcast_count | large_number }}</div>
      </div>
    </div>
    <div id='comment_btn' class='btn_box comment hoverable'>
      <div class='nav_btn'>
        <div class='edge'></div>
        <div class='icon'></div>
        <div class='count{{ ' zero' if not exp.comment_count }}'>{{ exp.comment_count | large_number }}</div>
      </div>
    </div>
    <div class='btn_box delete hoverable {{ 'none' if not user_is_owner }}'>
      <div class='nav_btn'>
        <span class='text'>Delete</span>
        <div class='icon'></div>
      </div>
    </div>
  </div>

  <div id='expr_menu' class='menu action_menu'>
    <div class='expr_card big_card'>
      <img src='{{ exp.get_thumb(190) }}' class='thumb'>
      <div class='card_text'>
        <div class='title'>{{ exp.title | e }}</div>
        <div class='tags'>{% for tag in exp.tags_index %}
          <a href='{{ exp.url }}?tag={{ tag }}'>#{{ tag }}</a>
        {% endfor %}</div>
        <div class='byline timestamp'>Jul 1</div>
      </div>
    </div>
    <div id='expr_feed' class='items'>
      <b>Loading...</b>
      {# TODO: create content for javascript-less clients #}
      {#% for feed in exp.feed_page(viewer=user) %}
        {% include "partials/feed.html" %}
      {% endfor %#}
    </div>
  </div>

  <div id='like_menu' class='menu action_menu face_menu'>
    <span class='header'>Love</span>
    <div class='info'>Show this expression some love, and be notified of updates and comments.</div>
    {# TODO: create content for javascript-less clients #}
    <div class='items'><b>Loading...</b></div>
  </div>

  <div id='broadcast_menu' class='menu action_menu face_menu'>
    <span class='header'>Broadcast</span>
    <div class='info'>Broadcast this expression out to your listeners.</div>
    {# TODO: create content for javascript-less clients #}
    <div class='items'><b>Loading...</b></div>
  </div>

  <div id='comment_menu' class='menu action_menu {{ 'on' if exp.comment_count else 'off' }}'>
    <span class='header'>Comment</span>
    <div class='info off'>Leave a comment to begin</div>
    <div class='info on'>Join the conversation around this expression</div>
    {# TODO: create content for javascript-less clients #}
    <div class='items'><b>Loading...</b></div>
  </div>

  <script>
    Hive.Menus.create();
    {% if error %} Hive.menus.login_menu.open(); {% endif %}
  </script>
  {{ body }}
{% endblock %}

{# clear layout for community pages #}
{% block content %}
{% endblock %}

{% block footer_scripts %}
<script>
  $(function(){
      //pagethrough_btns = $('.pagethrough');
      //var navigator_height = (Hive && Hive.navigator) ? Hive.navigator.height() : 0;
      //pagethrough_btns.css('top', ($(window).height() - pagethrough_btns.height() - navigator_height) / 2);
      //$('#pagethrough_prev').attr('title', "previous "
      //  + context_to_string({plural: false}))
      //  .click(function(){
      //    logAction('pagethrough_clicked', {'expr_id': expr_id, 'context': urlParams, href: $(this).attr('href'), direction: 'prev'});
      //    var url = $(this).attr('href');
      //    setTimeout(function() { window.location = url; }, 100);
      //    return false;
      //  });
      //$('#pagethrough_next').attr('title', "next "
      //  + context_to_string({plural: false})).click(function(){
      //    logAction('pagethrough_clicked', {'expr_id': expr_id, 'context': urlParams, href: $(this).attr('href'), direction: 'next'});
      //    var url = $(this).attr('href');
      //    setTimeout(function() { window.location = url; }, 100);
      //    return false;
      //  });
  });
</script>
{% endblock footer_scripts %}

{% block dialogs %}
  {{ super() }}
  {% include 'dialogs/password.html' %}
  {% if user_is_owner %}
    <div id='dia_delete' class='newdialog center'>
      <h3>Are you sure you want to delete this expression?</h3>
      <div class='btns'>
        <form method='POST' action='{{ secure_server }}'>
          <input type='hidden' name='action' value='expr_delete'>
          <input type='hidden' name='id' value='{{ exp.id }}' class='expr_id'>
          <input type='submit' value='Yes' class='btn'> &nbsp;
          <input type='button' value='No' class='no_btn btn'>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
