{% extends "main.html" %}
{% block body_classes %}{{ super() }} home{% endblock %}
{% set intro_paragraph = "The New Hive makes it easy for you to express yourself online. Whether it's a journal, collection of recipes, portfolio or flyer, it's fun and easy to create and update all of your media and ideas in one, ad-free space. Decide what you want to share to the community, the world and all your social media sites. It's a reflection of you...online." %}

{% block meta %}
  <meta name="description" content="{{intro_paragraph}}" />
  <meta property="og:image" content='http://thenewhive.com/lib/skin/1/logo_medium.png' />
{% endblock meta %}

{% block head %}
  <style>
    body.home #nav_bg{background: {{colors['tan'] }}; }
    body.home .fathead{background: {{colors['tan'] }}; }
    #homepage_header .signup_button {
      background-color: {{ colors['active'] }}; 
      color:#fff;
    }
    #homepage_header .signup_button:hover {
      background-color: {{ colors['highlight'] }};
      color: #000;
    }
    .abs { position : absolute; }
  </style>
  <script>
    function homepage_header() {
        var header = $('#homepage_header')
        if (header.length > 0) {
            $('#header').height(
              parseInt(header.find(' .background').css('height')) + 50
            );
        }
    }
    $(function(){
      var dia;
      $('.signup_button').click(function() {
        dia = showDialog('#dia_signup');
        $(this).addClass('open');
        $('input[name=forward]').val(window.location);
      });
      $(window).resize(homepage_header);
      homepage_header();
      $('.fathead').width($(window).width()-50);
    });
  </script>
{% endblock head %}

{% block nav %}
  {{ super() }}

  {% if user.logged_in %}
    <div class='nav' style='right : 10px; top : 0px;'>
      {{ create_button(create) }}
    </div>
  {% endif %}
{% endblock nav %}

{% block body %}
{% endblock body%}

{% block left_column %}
  {% include "page_parts/tags.html" %}
{% endblock left_column %}


{% block header %}
  {% if not user.logged_in %}
    <div id="homepage_header" style='width:100%; background-color: {{ colors['tan'] }};'>
      <div class="happ background" style="left:0px; top:0px; width:1000px; height: 247px; background-color: {{ colors['tan'] }}; z-index: 3;"></div>
      <div class="happ" style="left: 48px; top: 40px; width: 700px; height: 56px; z-index: 3; font-size: 3.3em; font-weight: normal; font-family: Lobster;" data-scale="3.3">
        Express Your<span style="margin:-0.04em">self</span>
      </div>
      <div class='happ' style='width:510px; height: 44px; left:48px; top: 110px; z-index: 3; font-size: 0.75em;' data-scale="0.75">
        {{ intro_paragraph }}
      </div>
      <div class='happ rounded signup_button' style='width:74px; white-space: nowrap; padding: 3px 5px 10px 5px; height: 21px; left:48px; top: 180px; z-index: 3; font-size: 1.2em;' data-scale="1.2">
        <span style="font-family: Museo;"><a href="" onclick="return false;">Sign up</a></span>
      </div>
      <div class='happ' style='left: 150px; top: 187px; width: 400px; z-index: 3;'>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thenewhive.com" data-text="The New Hive is the easiest way to express yourself online. #expression" data-count="horizontal" data-via="newhive">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fthenewhive.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:20px;" allowTransparency="true"></iframe>
      </div>
      <div id="h_2" class="happ" style="left: 585px; top: 10px; width: 365.802px; height: 206.727px; z-index:3;">
        <iframe src="http://player.vimeo.com/video/18836819?title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
      </div>
    </div>
  {% endif %}

{% endblock header %}


{% block right_column %}
 <div id='feed'>
   {% include 'page_parts/cards.html' %}
 </div>
{% endblock right_column %}

{% block footer_scripts %}
  {{ super() }}
  <script>
    var load_page = null;
    var next_page = 1;
    var pages = {{ pages }};
    $(window).scroll(function() {
        if(($(window).scrollTop() > $(document).height() - $(window).height() * 2) && !load_page && next_page < pages) {
            load_page = $.get('', { partial : true, page : next_page }, function(data) {
                load_page = null;
                next_page ++;
                $('#feed').append(data);
            });
        }
    });
  </script>
{% endblock footer_scripts %}
