{% extends "main.html" %}

{% block head %}
 {{ super() }}
 <style>
html { display : table; width : 100%; height : 100%; }
form { display : inline; }
a.tag_label:hover { color : #F73627; background : #FFF673; }
.tag_label.current { background-color : #96E2CE; color : black; padding : 3px 20px; }
.tag_label { font-weight : bold; color : #696E76; padding : 3px 15px; margin-right : 5px; background-color : #EDEBE1; }
.spacer { height : 10px; }
.btn { padding : 0px 10px; }
#welcome.open { background-color : {{ colors[0] }}; color : white }
#welcome { display : inline; font-weight : bold; margin-left:15px; }
#tags { margin : 50px 50px 25px 50px; }
#login_menu, #welcome_menu { padding : 10px; }
#contact { position : absolute; right : 20px; top : 75px; background-color : white; }
 </style>
{% endblock %}

{% block body %}

{% if not user.logged_in %}
 <div id='right' class='nav' style='position : fixed; top : 0; right : 10px;'>
  <div id='login_btn' class='btn hoverable nav_icon text' value='Log In'>Log In</div>
  &nbsp;
  <div id='welcome_btn' class='btn hoverable nav_icon text' value='Sign Up'>Sign Up</div>

  <div id='login_menu' class='menu top'>
   <form id='login_form' action='{{ secure_server }}' method='POST'>
    {% if error %}<div id='login_error' class='error'>{{ error }}</div><br>{% endif %}
    <span>Username</span><br>
    <input id='username' type='text' name='username' value='{{ user['name'] }}'>
    <div class='spacer'></div>
    <span>Password</span><br>
    <input type='password' name='secret'><br>
    <input id='expires' type='checkbox' name='no_expires'><label for='expires'> Remember me</label>
    <br><br>
    <div style='text-align : center'><input id='login_submit' type='submit' class='btn black' value='Enter'></div>
    <input type='hidden' name='action' value='login'>
   </form>
  </div>

  <div id='welcome_menu' class='menu top'>
   We are in beta right now.
   Drop us a line with your email
   and name and we'll be in touch!<br>
   <textarea style='margin : 10px 0 10px 0; width : 200px' id='message'></textarea>
   <div style='text-align : right'><input type='button' class='btn black' value='Send'></div>
  </div>
 </div>

 <script>
$(function() {
 var login_menu = click_dialogue($('#login_btn'), $('#login_menu'),
     { open : function() { $('#username').get(0).focus(); $('#username').get(0).select(); } });
 {% if error %} login_menu.open() {% endif %}
 mail_menu = click_dialogue($('#welcome_btn'), $('#welcome_menu'));
 
 $('#welcome_menu input').click(function() {
    $.post('/', { message : $('#message').val(), action : 'mail_us' }, function(data) {
            if(!data) alert('Sorry, there was a problem sending your message');
            else {
                $('#message').val('');
                alert('Thankyou for your feedback');
                mail_menu.close();
            }
        }, 'json') });
});
 </script>
{% else %}
 <div class='nav' style='right : 10px; top : 0px;'>
  <a href='/edit?tags=playground'><img src='/lib/skin/1/create.png' class='hoverable nav_icon' title='create'></a>
 </div>
{% endif %}
{% endblock %}

{% block content %}
 {% if user.logged_in %}
  <center style='font-family : Museo; font-size : 3em; font-weight : bold; margin : 30px 50px 30px 50px;'>
   <a href='/edit?tags=playground'><img src='/lib/skin/1/plus_lg.png'>A New Creative Playground</a>
  </center>
  <div id='tags'>
   <a href='/home/' class='tag_label {{ 'current' if not tag }}'>Recent</a>
   {% for t in tags %}<a href='/home/{{ t|e }}' class='tag_label {{ 'current' if t == tag }}'>{{ t }}</a> {% endfor %}
  </div>

  {% include 'cards.html' %}
 {% else %}
  <center style='margin : 100px'>
    <iframe src="http://player.vimeo.com/video/18836819?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="675" height="380" frameborder="0"></iframe>
  </center>
 {% endif %}
{% endblock %}
