{% extends "main.html" %}
{% block body_classes %}{{super()}} invited{%endblock%}
{% block content %}

<div class='centered'>
 <nobr>
  <img style='margin-top: 20px;' src='{{ 'skin/1/logo.png'|asset_url }}'>
  <img style='margin-top: 20px;' src='{{ 'skin/1/logotype_beta.png'|asset_url }}'>
 </nobr>
</div>
<h1 class='centered bright_headline' style="margin: 10px;">Congratulations!</h1>
<h2 class='centered' style="margin-top: 0">You've been invited to join The New Hive, your<br/>
  radically simple, drag and drop, online blank canvas.
</h2>
<a href="{{facebook_connect_url}}"><img class='centered' src='{{ 'skin/1/signupwithfacebook_btn.png'|asset_url }}' alt='Sign up with Facebook' style='width:288px; height: 50px'></a>
<p class='centered disclaimer'>We never post to facebook without your permission.</p>
<p class='centered signup_without_facebook'><a href="{{signup_without_facebook_url}}">Or, click here to create an account without Facebook</a></p>
<div id="example_expressions"></div>
{% endblock content %}
