{% extends "page.html" %}

{% if 'home' %}
  {% block meta %}
  <meta name="description" content="{{description + " - " if description}}We believe that your life is a blank canvas + you decide what goes on it.
NewHive is your radically simple, DIY self publishing tool." />
    <meta property="og:image" content='{{ 'skin/1/logo_medium.png'|asset_url }}' />
  {% endblock meta %}
{% endif %}

{% block body %}
  <div id='nav'></div>
  <div id='site'></div>
  <div id='exprs'></div>
  <script>
curl(['ui/controller'], function(controller){
    controller.init({{ route_args|json }});
});
  </script>
{% endblock %}
