{% extends "main.html" %}

{% block body_classes %}{{super()}} signup{% endblock %}

{% block head %}
    <script>
        function validation_message(element, message, flash) {
            element = $(element);
            var val_msg = element.next().filter('.validation');
            if (typeof(message) == "undefined") {
                val_msg.remove();
                return;
            }
            if (! val_msg.length) val_msg = $('<div class="validation">').insertAfter(element);
            val_msg.html(message);
            if (flash) {
                val_msg.css('color', 'white');
                val_msg.animate({'color': colors[1]});
            }
        };

        function user_check(user_name, flash){
            $.ajax('/user_check', {
                type: "GET",
                dataType: 'json',
                data: {action: "user_check", name: user_name},
                success: function(data){
                    if (data) {
                        validation_message('#name');
                        $('#name').addClass('valid');
                    } else {
                        validation_message('#name', "Sorry, that username isn't available", flash);
                        $('#name').removeClass('valid');
                    }
                },
                error: function(){
                    if (!flash){
                        validation_message('#name', "Sorry, an error was encountered", flash);
                        $('#name').removeClass('valid');
                    }
                }
            });
        };

        var profile_thumb_choose = function(){
            var thumb_form = asyncUpload({
                success: function(data){
                    $('input[name=thumb_file_id]').val(data.file_id);
                    $('#profile_thumb').html('<img src="' + data.thumb + '"/>');
                },
                input_click: false
            });
            var thumb_div = $('#profile_thumb');
            var form_css = {opacity: 0, height: thumb_div.height(), width: thumb_div.width(), overflow: 'hidden'};
            $.extend(form_css, thumb_div.offset());
            thumb_form.css(form_css);
            thumb_form.find('input[type=file]')
                .css({height: $('#profile_thumb').height()});
            return false;
        };
        $(profile_thumb_choose);

        validate = {
            name: function(flash){
                var input = $('#name');
                var n = input.val().trim().toLowerCase();
                input.val(n);
                if( n.length < 3 ) {
                    validation_message(input, 'Username must be at least 3 characters.', flash);
                    return false;
                } else if ( ! n.match(/^[a-z][a-z0-9]{2,23}$/i) ) {
                    validation_message(input, 'Username must be from 3 to 24 letters and numbers, and start with a letter (no spaces or punctuation).', flash);
                    return false;
                } else {
                    validation_message(input);
                    user_check(n, flash);
                }
                return true;
            },
            email: function(flash){
                var input = $('#email');
                if( ! input.val().match(/^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+[a-zA-Z0-9]{2,4}$/) ) {
                    validation_message(input, 'Please enter valid email address.', flash);
                    return false;
                }
                validation_message(input);
                return true;
            },
            p1: function(flash){
                if( $('#p1').val().length < 5 ) {
                    validation_message('#p1', 'Password must be at least 5 characters.', flash);
                    return false;
                }
                validation_message('#p1');
                return true;
            },
            p2: function(flash){
                if ( $('#p1').val() != $('#p2').val() ) {
                    validation_message('#p2', 'Passwords do not match.', flash);
                    return false;
                }
                validation_message('#p2');
                return true;
            },
            password: function(flash){
                var valid = true;
                valid = validate.p1(flash) && valid;
                valid = validate.p2(flash) && valid;
                return valid;
            },
            tos: function(flash){
                if( ! $('#tos').is(':checked') ) {
                    validation_message('#tos_label', 'Please agree to Terms of Service.', flash);
                    return false;
                }
                validation_message('#tos_label');
                return true;
            },
            all: function(){
                var valid = true;
                valid = validate.name(true) && valid;
                valid = validate.email(true) && valid;
                valid = validate.password(true) && valid;
                valid = validate.tos(true) && valid;
                valid = $('#name').hasClass('valid') && valid;
                return valid;
            }
        };

        $(function(){
            $('#name').bind('change keydown keyup', function(){
                $('#url span').html($(this).val());
            });
            $('#name').blur(validate.name);
            $('#email').blur(validate.email);
            $('#p1').blur(validate.p1);
            $('#p2').blur(validate.p2);
            $('#form').submit(validate.all);
        });
    </script>
{% endblock %}

{% block right_column %}
<div id="header">
    <h1><span class="plus">+</span><span>Create your account.</span></h1>
    {% if not f.facebook %}
        <a target="_top" href="{{facebook_connect_url}}"
           title="Connecting your Facebook account allows you to find and invite your Facebook friends on NewHive.  We don't post anything without your permission.">
            <img src='{{ 'skin/1/signupwithfacebook_btn.png'|asset_url }}' alt='Sign up with Facebook' id="facebook_connect">
        </a>
    {% endif %}
    <h3>NewHive is your simple, drag <span>+</span> drop online blank canvas.</h3>
</div>

<form id="form" method='POST'>
    <input type='hidden' name='thumb_file_id' value='{{f.thumb_file_id}}'>
    <input type='hidden' name='action' value='user_create'>
    {% if f.thumb %}
    <div class="column" id="photo">
        <div id='profile_thumb'>
            <img src="{{f.thumb}}"/>
        </div>
    </div>
    {% endif %}
    <div class="column" id="photo">
        <div id='profile_thumb'>
                {% if f.thumb %}
                    <img src="{{f.thumb}}"/>
                {% else %}
                    <div class='border placeholder'>
                        <div id="thumb_text">Upload a<br/>Picture</div>
                    </div>
                {% endif %}
       </div>
    </div>

    <div class="column" id="inputs">
        <div id="url">newhive.com/<span></span></div>
        <input type="text" name="name" placeholder="Username" id="name" value="{{f.name}}"/>
        <input type="text" name="fullname" placeholder="Full name (optional)" value="{{f.fullname}}"/>
        <input type="text" name="email" placeholder="Email" id="email" value="{{q.email or f.email}}"/>
        <input type="password" name="password" placeholder="Password" id="p1"/>
        <input type="password" placeholder="Repeat Password" id="p2"/>
    </div>

    <div class="column" id="terms">
        <div id="terms_header">terms</div>
        <div id="term_list">
            <div class="term"><span class='numeral'>1.</span> You own your information.</div>
            <div class="term"><span class='numeral'>2.</span> We'll never put ads on<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;your expressions.</div>
            <div class="term"><span class='numeral'>3.</span> Have fun.</div>
            <div class="term"><span class='numeral'>4.</span> Don't be mean or obscene.</div>
            <div class="term"><span class='numeral'>5.</span> Encourage expression.</div>
        </div>
        <div id="fullterms">
            {% set tos_page = '/lib/doc/tos.html' %}
            <a href='{{ tos_page }}' onclick="loadDialog('{{ tos_page }}'); return false;">
                Read full terms of service
            </a>
        </div>
        <input type='checkbox' id='tos' name='tos'/>
        <label for='tos' id="tos_label">Agree to terms of service</label>
        <input type='submit' class="btn rounded black" value='CREATE ACCOUNT'/>
    </div>
</form>
{% endblock %}
