{% extends "page.html" %}

{% block head %}
  {{ super() }}
  <script>
curl(['server/context', 'browser/jquery'], function(context, $){
	$('#share_btn').click(function(){
		window.open(context.config.streamified_url + 'streams/networks/twitter/login?client_id=' +
			context.config.streamified_client_id + '&redirect_uri=' +
			encodeURIComponent(context.secure_server + 'streamified_login'));
	});
});
</script>
{% endblock %}

{% block body %}
<button id='share_btn'>share</button>
<textarea type='text' id='message'></textarea>
{% endblock %}
