{% extends "main.html" %}

{% block head %}
<script>
function user_check(user_name){
  var n = $('#name').val().trim().toLowerCase();
  $('#name').val(n);
  if( $('#name').val().length < 3 ) {
      $('#name_availability').html("Sorry, that username isn't available").show().removeClass('valid').addClass('invalid');
      return false;
  }
  if( ! n.match(/^[a-z][a-z0-9]{2,}$/i) ) {
      $('#name_availability').html("Username must be only letters and numbers, and start with a letter (no spaces or punctuation, thank you).").show().removeClass('valid').addClass('invalid');
      return false;
  }

  $.ajax({
    type: "POST",
    dataType: 'json',
    data: {action: "user_check", name: user_name},
    success: function(data){
      if (data) {
        $('#name_availability').html("Your website will be:<br><code>" + user_name + ".{{ server_name }}</code>").show().addClass('valid').removeClass('invalid');
      } else {
        $('#name_availability').html("Sorry, that username isn't available").show().removeClass('valid').addClass('invalid');
      }
    },
    error: function(){$('#name_unavailable').html("Sorry, that username isn't available").show().removeClass('valid').addClass('invalid');}
  });
}

function validate() {
    var n = $('#name').val().trim().toLowerCase();
    $('#name').val(n);
    if( $('#name').val().length < 3 ) {
        alert('Please enter username of at least 3 letters, thank you.');
        return false;
    }
    if( ! n.match(/^[a-z][a-z0-9]{2,}$/i) ) {
        alert('Username must be only letters and numbers, and start with a letter (no spaces or punctuation, thank you).');
        return false;
    }
    if( ! $('#name_availability').hasClass('valid') ) {
        alert("Your username isn't avaialable, please try again.");
        return false;
    }

    if( $('#p1').val().length < 4 ) {
        alert('Password too short');
        return false;
    }
    if( $('#p1').val() != $('#p2').val() ) {
        alert('Passwords do not match');
        return false;
    }
    if( ! $('[name=email]').val().match(/^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+[a-zA-Z0-9]{2,4}$/) ) {
        alert('Please enter valid email address.');
        return false;
    }
    if( ! $('[name=tos]').is(':checked') ) {
        alert('Please agree to Terms of Service.');
        return false;
    }
}

$(document).ready(function(){
  $('#name').blur(function(){
    user_check($(this).val());
  });
  $('#form').submit(validate);
});
</script>
{% endblock %}

{% block content %}
 <div class='fathead'>
  <img src='/lib/skin/1/plus_lg.png'> Create your account
 </div>

 <form id='form' method='POST'>
  <div style='margin : 0 auto; width : 80%;'>
   <div style='float : left; text-align:left; margin : 0 25px 50px 50px; vertical-align : top'>
    <input type='hidden' name='action' value='user_create'>
  
    <b>Username</b><br>
    <input id='name' type='text' name='name' value='{{f.name}}'><br>
    <div class="form_validation_info" id="name_availability" style="display:none">Sorry, that name isn't available</div>
    <br>
  
    <b>Full Name</b><br>
    <input type='text' name='fullname' value='{{f.fullname}}'><br>
    <br>
  
    <b>Password</b><br>
    <input id='p1' type='password' name='password' value='{{f.secret}}'><br>
    <br>

    <b>Repeat</b><br>
    <input id='p2' type='password' value='{{f.secret}}'><br>
    <br>
    
    <b>Email</b><br>
    <input type='text' name='email' value='{{f.email}}'><br>
    <br>
   </div><div style='float : left; margin : 0 0 50px 200px; vertical-align : top'>
    <b class='error'>Terms of Service</b><br>
    <br>

    <b>
     <span class='inactive'>1.</span> You own your information<br>
     <span class='inactive'>2.</span> No ads on expressions<br>
     <span class='inactive'>3.</span> Have fun<br>
     <span class='inactive'>4.</span> Don't be mean or obscene<br>
     <span class='inactive'>5.</span> Encourage expression<br>
    </b><br>

    <a href='/lib/doc/tos.html' target='_new' onclick="loadDialog('/lib/doc/tos.html'); return false" style='padding : 5px; background-color : {{ colors[34] }}'><b>Read full terms of service</b></a><br>
    <br>
    
    <input type='checkbox' id='tos' name='tos'><label for='tos'><b> I agree to the Terms of Service</b></label><br>
    <br>
    <br>
  
    <input class='black btn rounded' type='submit' value='Create Account'>
   </div>
  </div>
 </form>
{% endblock %}
