{% extends "pages/analytics/base.html" %}

{% block head %}
{{ super() }}
<script>
  var data = {{data}};
  var chart;
  $(function(){
    chart = d3.select("#content").append("svg").attr("class", "chart").attr("width", 1300).attr("height", 620);
    chart.opts = {width: 1200, height: 500, paddingTop: 10, paddingLeft: 40};
    var y = chart.y = d3.scale.linear().domain([0, d3.max(data.total)]).range([0, chart.opts.height]);
    var y_pct = chart.y = d3.scale.linear().domain([0, 1]).range([0, chart.opts.height]);
    var x = chart.x = function(d,i) { return Math.floor(chart.opts.width/data.total.length) * i + chart.opts.paddingLeft + 10 };
    x.rangeBand = function() { return chart.opts.width/data.total.length };
    x.label = function(d,i){ return x(d,i) + x.rangeBand()/4};
    y.label = function(d,i){ return chart.opts.height + chart.opts.paddingTop + 5 };

    chart.selectAll("line")
      .data(y.ticks(10)).enter().append("line")
      .attr("x2", chart.opts.paddingLeft).attr("x1", 1300)
      .attr("y2", function(d){ return chart.opts.height + chart.opts.paddingTop - y(d)})
      .attr("y1", function(d){ return chart.opts.height + chart.opts.paddingTop - y(d)})
      .style("stroke", "#ccc");

    chart.selectAll(".y-label")
      .data(y.ticks(10)).enter().append("text").attr("class", "y-label")
      .attr("x", chart.opts.paddingLeft).attr("y", function(d){ return chart.opts.height + chart.opts.paddingTop - y(d) })
      .attr("dx", -3).attr("dy", ".35em").attr("text-anchor", "end").style("font-size", "12px")
      .text(String);

    chart.selectAll(".x-label")
      .data(data.total).enter().append("text").attr("class", "x-label")
      .attr("x", x.label).attr("y", y.label)
      .attr("dx", 0).attr("text-anchor", "left").style("font-size", "10px").style("color", "#888")
      .attr("transform", function(d,i){ return "rotate(45," + x.label(d,i) + "," + y.label(d,i) + ")"})
      .text(function(d,i){return epochToDate(data.index[i])});

    chart.selectAll("rect.series1")
      .data(data.total).enter().append("rect").attr('class', 'series1')
      .attr("x", x).attr("width", x.rangeBand() - 1).attr("height", y)
      .attr("y", function(d) { return chart.opts.height + chart.opts.paddingTop - y(d) })
      .style("fill", "steelblue");

      if (data.active) {
        chart.selectAll("rect.series2")
          .data(data.active).enter().append("rect").attr("class", "series2")
          .attr("x", x).attr("width", x.rangeBand() - 1).attr("height", y)
          .attr("y", function(d) { return chart.opts.height + chart.opts.paddingTop - y(d) })
          .style("fill", "green");
      }

      if (data.ratio) {
        var line = d3.svg.line()
          .x(function(d,i){ return x(d,i) + x.rangeBand()/2})
          .y(function(d){ return chart.opts.height + chart.opts.paddingTop - y_pct(d) });
        chart.append("svg:path")
          .attr("d", line(data.ratio));
        chart.selectAll("rect.series1")
          .append("svg:title").text(function(d,i) {
            return data.active[i] + "/" + data.total[i] + "  " + Math.round(data.ratio[i] * 100) + "%" 
          });
      }

  });
</script>
  <style type="text/css">
      path {
        stroke-width: 2;
        fill: none;
        stroke: black;
      }
      path, .series2{
        pointer-events: none;
      }
  </style>
{% endblock %}

{% block header %}<h1>{{title}}</h1>{% endblock %}
{% block table_classes %}{% endblock %}
{% block table_head %}
{% endblock %}
{% block table_body %}
{% endblock %}
