<html>
  <head>
    <!--Load the AJAX API-->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['controls']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      function drawChart(){
        chart.initialize();
        chart.draw();
      };

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      var chart = function(){
        var o = {};

        // Set chart options
        var options = {
          'title':''
        };

        var dashboard, data, _chart;
        
        o.initialize = function(){
          data = new google.visualization.DataTable({{ data }});

          // Instantiate and draw our chart, passing in some options.
          dashboard = new google.visualization.Dashboard(
              document.getElementById('dashboard'));

          _chart = new google.visualization.ChartWrapper({
              'chartType': '{{ chart_type }}',
              'containerId': 'chart',
              'options': {
                'chartArea': {'height': '80%', 'width': '90%' }
              },
              'view': {'columns': [0,1]}
          });
          //_chart = new google.visualization.{{ chart_type }}(document.getElementById('chart_div'));

          // Define a slider control for the 'Donuts eaten' column
          //var slider = new google.visualization.ControlWrapper({
          //  'controlType': 'NumberRangeFilter',
          //  'containerId': 'control',
          //  'options': {
          //    'filterColumnLabel': 'total',
          //    'ui': {'labelStacking': 'vertical'}
          //  }
          //});
          //dashboard.bind(slider, _chart);

          var control = new google.visualization.ControlWrapper({
            'controlType': 'ChartRangeFilter',
            'containerId': 'control',
            'options': {
              // Filter by the date axis.
              'filterColumnIndex': 0,
              'ui': {
                'chartType': 'LineChart',
                'chartOptions': {
                  'chartArea': {'width': '90%'},
                  'hAxis': {'baselineColor': 'none'}
                },
                // Display a single series that shows the closing value of the stock.
                // Thus, this view has two columns: the date (axis) and the stock value (line series).
                'chartView': {
                  'columns': [0, 1]
                },
                // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
                'minRangeSize': 86400000 * 7
              }
            }//,
            // Initial range: 2012-02-09 to 2012-03-20.
            //'state': {'range': {'start': new Date(2012, 11, 9), 'end': new Date(2012, 11, 20)}}
          });
          dashboard.bind(control, _chart);

          
        };

        o.draw = function(){
          $('#chart').height( $(window).height() * 0.8 - 10 );
          $('#control').height( $(window).height() * 0.2 - 10 );
          dashboard.draw(data);
          //$.extend(options, {
          //  width: $(window).width() - 20,
          //  height: $(window).height() - 20
          //});
          //_chart.draw(data, options);
        }

        $(window).resize(o.draw);

        return o;
      }();

    </script>
  </head>

  <body style="margin: 0;">
    <!--Div that will hold the pie chart-->
    <div id="dashboard">
      <div id="chart"></div>
      <div id="control"></div>
    </div>
  </body>
</html>
