{% extends "pages/analytics/base.html" %}

{% block head %}
  {{ super() }}
  <script>
    var epochToDate = function(epoch){
      if (typeof(epoch) !== 'undefined' && epoch != "") {
        return new Date(epoch*1000).toDateString();
      }
    };

    var filter = function(){
      var date_sent_start = parseInt($('#date_sent_start').val()) / 1000;
      var date_sent_end = parseInt($('#date_sent_end').val()) / 1000;
      $('tbody tr').each(function(){
        if (date_sent_start > 0){
          if ($(this).find('[data-key="date_sent"]').attr('data-value') < date_sent_start){
            $(this).hide();
          }
        }
        if (date_sent_end > 0){
          if ($(this).find('[data-key="date_sent"]').attr('data-value') > date_sent_end){
            $(this).hide();
          }
        }
      });
    };

    $(function(){

      $('#filters input').change(filter);
      $('.datepicker').datepicker({dateFormat: "@"});
      $('[data-type="epoch_date"]').each(
        function(){
          $(this).html(
            epochToDate($(this).html())
          );
        }
      );

      $('.tablesorter').tablesorterFilter({
        filterContainer: "#filter-box",
        filterClearContainer: "#filter-clear-button"
      });

    });
  </script>
{% endblock %}

{% block header %}
<div id="filters">
  <h3>Invitation Sent</h3>
  <label class="label medbold">From: </label>
  <input class="datepicker" id="date_sent_start" type="text"/>
  <label class="label medbold">To: </label>
  <input class="datepicker" id="date_sent_end" type="text"/>
</div>
{% endblock %}
{% block table_head %}
  <tr>
    <th>email</th>
    <th>name</th>
    <th>date sent</th>
    <th>User Created</th>
    <th>User Created Date</th>
  </tr>
{% endblock %}

{% block table_body %}

  {% for invite in invites %}
  <tr class='{{ "used" if invite['user_created'] }}'>
    <td>{{ invite['to'] }}</td>
    <td>{{ invite['name'] if invite['name']}}</td>
    <td data-type="epoch_date" data-key="date_sent" data-value="{{invite['created']}}">{{ invite['created'] }}</td>
    <td><a href='http://{{ invite['user_created_name'] }}.thenewhive.com'>{{ invite['user_created_name'] }}</a></td>
    <td data-type="epoch_date">{{ invite['user_created_date'] }}</td>
  </tr>
  {% endfor %}

{% endblock %}

