{% extends "pages/analytics/base.html" %}

{% block head %}
{{super()}}
<style>table { width: 400px; }</style>
<script>
    var data = {{json_data}};
    var r; var chart; var plot;
    data.counts_log = $.map(data.counts, function(el){ return Math.log(el); });
    data.dates = $.map(data.dates, function(el){ return (el - 1293840000)/(3600*24*7)});
    $(function(){
        r = Raphael('canvas');
        plot = function(x,y){
            r.clear();
            return r.linechart(20,0,r.width - 40,r.height - 20,x, y, {'axis': '0 1 1 1'}).hoverColumn(function () {
                    this.tags = r.set();
                    for (var i = 0, ii = this.y.length; i < ii; i++) {
                        this.tags.push(r.tag(this.x, this.y[i], epochToDate(this.axis*3600*24*7 + 1293840000, {'time': false}) + ": " + this.values[i], 180, 10).insertBefore(this));
                    }
                }, function () {
                    this.tags && this.tags.remove();
                });
        };
        chart = plot(data.dates, data.counts);
        $('input[name=scaling]').change(function(e){ 
            if ($(e.target).val() == "linear") chart = plot(data.dates, data.counts);
            else if ($(e.target).val() == "log") chart = plot(data.dates, data.counts_log);
        });
    });
</script>
{% endblock head %}

{% block header %}
<h1 style="margin-bottom: 0;">{{title}}</h1><div style="margin-bottom: 10px;"><input type="radio" name="scaling" value="linear" checked="1"/>Linear &nbsp;&nbsp;&nbsp;<input type="radio" name="scaling" value="log"/>Log</div>
<div style="width: 95%; height: 600px;" id="canvas"></div>
{% endblock %}

{% block table_body %}
{% for key, val in data %}
<tr><td data-type="epoch_date">{{key}}</td><td>{{val}}</td></tr>
{% endfor %}
{% endblock %}
