{% macro create_button(url, title='Create a new expression', classes='hoverable nav_icon') %}
<a href='{{ url }}'><img src='/lib/skin/1/create.png' class='{{classes}}' title='{{ title }}'></a>
{%- endmacro %}

{% macro discussion_button(count=0) %}
  <div id = "btn_comment" class="hoverable nav_icon has_count" data-count="{{count}}" onclick='loadDialog("?dialog=comments");'>
    <img src='/lib/skin/1/discussion.png' class='hoverable ' title="Discussions">
  </div>
{%- endmacro %}

{% macro share_button(count=0) %}
  <div id="btn_share" class="hoverable nav_icon has_count" data-count="{{count}}" >
    <img src='/lib/skin/1/share.png' class='hoverable ' title="Share This Expression">
  </div>
{%- endmacro %}

{% macro star_button(count=0, active=False, logged_in=True, class="Expr", title={"active": "Un-Star This Expression", "inactive": "Star This Expression"}, user_is_owner=False) %}
<div id="btn_star" data-count="{{count}}" data-title-active="{{title.active}}" data-title-inactive="{{title.inactive}}"
    class="{{'hoverable ' if logged_in}}nav_icon has_count {{'starred ' if active}}"  
    title={% if logged_in and not user_is_owner %}"{{ title.active if active else title.inactive}}"{% else %}"Stars"{% endif %}
    {{ "onclick='btn_star_click(this);'" if logged_in and not user_is_owner }} >
    <div class="icon"></div>
  </div>
  <script>$(function(){ hover_menu("#btn_star", "#dia_starrers", { open_condition: function(){ return parseInt($('#btn_star').attr('data-count')) > 0 } }); });</script>
{%- endmacro %}

{% macro listen_button(active=False, title='', active_title='') %}
<div class="nav_icon hoverable listen_small"><div class='listen_small icon hoverable{{ ' starred' if active }}' onclick='btn_listen_click(this)' title='{{ active_title if active else title }}'
    data-title-active='{{active_title}}' data-title-inactive='{{title}}'></div></div>
 <script>$(function(){ hover_menu(".nav_icon.listen_small", "#dia_listeners", { open_condition: function(){ return parseInt($('#dia_listeners').attr('data-count')) > 0 } }); });</script>
{%- endmacro %}
