{% macro create_button(url, title='Create a new expression', classes='hoverable nav_icon') %}
<a href='{{ url }}'><img src='/lib/skin/1/create.png' class='{{classes}}' title='{{ title }}'></a>
{%- endmacro %}

{% macro discussion_button(count=0) %}
  <div id = "btn_comment" class="hoverable nav_icon has_count" data-count="{{count}}" onclick='commentDialog();'>
    <img src='/lib/skin/1/discussion.png' class='hoverable ' title="Discussions">
  </div>
{%- endmacro %}

{% macro share_button(count=0) %}
  <div id="btn_share" class="hoverable nav_icon has_count" data-count="{{count}}" >
    <img src='/lib/skin/1/share.png' class='hoverable ' title="Share This Expression">
  </div>
{%- endmacro %}

{% macro star_button(count=0, active=false) %}
  <div id="btn_star" class="hoverable nav_icon has_count {{"starred " if active}}"  title="{{"Un-star" if active else "Star"}} This Expression" data-count="{{count}}" onclick='starExpression();' >
    <div class="icon {{"starred " if active}}"></div>
  </div>
{%- endmacro %}
