{% block head %}
<style>

#chart {
  font: 10px sans-serif;
}
#chart svg {
    display: inline;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.value_label {
    font-size: 12px;
}

</style>
{% endblock %}
<div id="chart"></div>
<script>
    var data = {{ data | json }};
    var meta = {{ meta | json }};
    var columns = d3.keys(data[0]).filter(function(k){ return k !== 'index' });
    var charts = [];
    var color_fun = d3.scale.category20c();
    var colors = new Array(12);
    for (var i=0; i < colors.length; i++){
        colors[i] = color_fun(i);
    };

    var xlabel = function(d){
        return {
            0: meta.date
            , 1: '1 Day Ago'
            , 7: '1 Week Ago'
            , 28: '1 Month Ago'
        }[d]
    };

    columns.forEach( function(column, column_i){
        var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 400 - margin.left - margin.right,
            height = 300 - margin.top - margin.bottom;

        var x = d3.scale.ordinal()
            .domain(data.map(function(d) { return d.index }).reverse())
            .rangeRoundBands([0, width], .07);

        var y = d3.scale.linear()
            .domain([0, d3.max(data, function(d) { return d[column] }) ])
            .range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .tickFormat(xlabel);

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left");

        var y_accessor = function(d) {
            return y( d[column] );
        };

        var svg = d3.select('#chart').append('svg')
            .attr('width', width + margin.left + margin.right)
            .attr('height', height + margin.top + margin.bottom)
          .append('g')
            .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
          .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .attr("font-size", 12)
            .text(column);

        svg.selectAll(".bar")
            .data(data)
          .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function(d) { return x(d.index); })
            .attr("width", x.rangeBand())
            .attr("y", y_accessor)
            .attr("height", function(d) { return height - y(d[column]); })
            .attr("fill", function(d,i) {
                return colors[i + 4 * column_i];
            });

        svg.selectAll(".value_label")
            .data(data)
          .enter().append("text")
            .attr("class", "value_label")
            .attr("y", y_accessor)
            .attr("x", function(d) { return x(d.index) + x.rangeBand() / 2; })
            .attr("text-anchor", "middle")
            .attr("dy", "-0.4em")
            .attr("fill", colors[4*column_i])
            .text(function(d){ return d[column] });

        charts.push(svg);
    });

</script>
