<div class='hive-audio-player'
  ><audio src='{url}'></audio
  ><div class='play-pause'>
    <a href='javascript:;' class='play' tabindex='1'>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 333 333"
      >
        <polygon fill="#696E76" points="66.736,166.5 66.736,56.198 162.268,111.349 257.777,166.5 162.268,221.633 66.736,276.803"/>
        <path fill="#FFFFFF" d="M58.254,291.5 v-250 l216.496,125 L58.254,291.5 L58.254,291.5 z M75.223,70.89 V262.1 l165.586-95.6 L75.223,70.89 L75.223,70.89 z"/>
      </svg>
    </a>
    <a href='javascript:;' class='pause' tabindex='1' style='display: none'>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 333 333"
      >
        <rect x="62.397" y="55.5" fill="#6D737C" width="208.205" height="222"/>
        <path fill="#FFFFFF" d="M60.46,54.5 v224 h99.06 h13.94 h99.08 v-224 M157.441,262.491 H77.459 V70.488 h79.982 V262.491 L157.441,262.491 z M255.541,262.491 H175.52 V70.488 h80.021 V262.491 z"/>
      </svg>
    </a>
  </div
  ><div class='seek'></div
  ><div class='time'></div
  ><div class='volume'
    ><div class='buttons'
      ><div class='plus'>+</div
      ><div class='minus'>-</div
    ></div><div class='bar'
  ></div
></div>
