{|templates/network_nav.html}
{#
  {<if network_help}
    <div class="centered">
      <iframe src="{config.content_url}{config.site_user}/network-expression" 
      class="network_help"></iframe>
    </div>
  {>}
#}
{<if (and header (or user.logged_in (neq route_name "home")))}
  <div id='header' class='header'>
    <span class='heading'>{ header.0 }
      {<if header.1}: { header.1 }{>}</span>
  </div>
{>}
{<if owner}
  {<with owner}
    {|templates/profile_card.html}
  {>}
{>}
<form class="search_bar{<if owner} hide{>}"
  method='GET' action='/search' name='search_form'>
    {#
      <a href='/random' title="View Random Expression" class='random_link'
       ><div class='hoverable icon random inline'></div></a> 
    #}
    <div type="button" title="Toggle Tags" value="" class='hoverable icon hash inline'></div>
    <input type="text" id="search_box" class="inline" placeholder="Search"
      name='q' value='{query.q}'
    ><input type="submit" value class='hoverable icon go_arrow inline'
  ></form
>
{<unless page "tag_search"}
  {<with null "extra_classes" "hide"} {# "expander" route.include_tags #}
    {|templates/tags_main.html}
  {>}
{>}
{<if route.include_tags}
  <form {form_attrs "collection_order"} method="POST"
    class="centered save_bar hide block">
    <button type="submit" class="inline black_btn upper">Save</button>
    <input type="hidden" name="tag_name" value="{tag_selected}">
    <input type="hidden" name="new_order">
    <input type="hidden" name="deletes" value=0>
  </form>
{>}
<div id='feed' class='{layout}{<unless route.private} public{>}'>
  {|templates/cards.html}
  {# Insert 3-column layout here.  
    When unused, it's 0 height.
    When unused, the columns have 0 width #}
  <div class="ncolumn">
    {<range "col_num" 3 }
      <div class="column column_{col_num}"></div>
    {>}
  </div>
  {<if cards}
    <div class="footer"></div>
  {>}
</div>
