{<if (not cards_at)}
  {set cards_at 0}
{>}
{<for cards "i"}
  {set "card_num" (plus i cards_at)}
  {<if type "user"}
    <div class='user card' id='card_{id}' draggable='false'>
      {|templates/user_card.html}
    </div>
  {>}{<elif (and (not (and (eq route.client_method "cat") missing))
    (or (eq type "expr") (eq type "cat")))}
    <div class='expr activity card hoverable
    {<if auth} unlisted{>}' id='card_{id}' draggable='false' 
      data-num={card_num}>
      {<if (or (eq layout "grid") (eq layout "cat"))}
        {|templates/expr_card_feed.html}
      {>}
      {<if layout "profile"}
        {|templates/expr_card_large.html}
      {>}
      {<if auth}
        <div class="private icon"></div>
      {>}

    </div>
  {>}
{>}
