{# UI for collections
  requires: logged in
#}

{set "tag_type" "Collection"}
{set "extra_classes" " collections"}
{set "tag_list" user.tag_list}
{set "extra_tags" user.extra_tags}

<div class="standard dialog add_to_collection{extra_classes}">
<form {form_attrs "add_to_collection" "owner_name" user.name} method='post'>
  <input type="hidden" name="tag_name" />
  <input type="hidden" name="expr_id" />
  <input type="hidden" name="user_id" />
  <input type="hidden" name="col_name" />
  <input type="hidden" name="type" />

  <div class="title">Add to {tag_type}</div>

  <div>
    {# <label>New collection: </label> #}
    <input autofocus type=text class="tag_name upper" name="tag" placeholder="{tag_type} name"/>
  </div>

  {# Tag list #}
  {<with null "tag_list" user.tagged "extra_classes" "dia_tags" "expanded" true
    "suppress_link" true "blank_tag" true "tag_selected" null
  }{|templates/tags_main.html}{>}

</form></div>
