<div class='feed_item hoverable comment'>
  <img src='{initiator_thumb_small}' class='thumb'>
  <div class='content'>
    <div class='text'>{text}</div>
    {# no edit outside discussion mode #}
    {<if initiator user.id}
      <form class="comment_edit" {form_attrs "comment_edit"} method='post'>
        <textarea name="text" class="inplace_edit"></textarea>
        <input type="hidden" name="deletion" value="delete">
        <input type="hidden" name="id" value="{_id}">
        <div class="show_hover">
          <button name="edit" type=button>Edit</button>
          <button name="delete" type="submit">Delete</button>
        </div>
      </form>
    {>}
    {# timestamp. should add to other types? #}
    <a class="byline" {anchor_attrs "expressions_public" "owner_name" name}
      class='ellipsis'>by &nbsp;<span class='username'>{owner.name}</span></a>
    <div class="timestamp rightalign">{recency_time updated}</div>
  </div>
</div>