{# Dialog for Expression Embed #}
<div id="dia_embed" class="dialog" data-handle='#embed_form_btn'>
  <div class="heading title expr">Embed</div>
  <div class="subheading">Interactive Expression:</div>
  <textarea autofocus class='copy embed_code' id='expression_embed_code'
    onfocus='this.select()' onclick='this.select()' readonly>
  </textarea>
  <div class="subheading">Expression image link:</div>
  <textarea class="image_link" 
    onfocus='this.select()' onclick='this.select()' readonly>
    {server_url}{routing_href "expr_snapshot" "expr_id" id}
  </textarea>
</div>
