{# Dialog for Expression Share #}
<div id="dia_share" class="dialog" data-handle='#share_form_btn'>
  <div class="heading title expr">Share</div>
  <div class="subheading error_msg"></div>
  {<vcenter "success_show heading cursor"}
    <div class="centered">Email sent.</div>
  {>}
  <div class="success_hide">
    <div class="subheading">Expression link:</div>
    <textarea readonly class="dark">newhive.com/{owner.name}/{expr.name}</textarea>
    <hr>
    <form { form_attrs "expr_share" } id='form_expr_share' method='POST'>
      <div class="subheading">Email(s):</div>
      <input autofocus placeholder="Separate emails with commas." type="text" name="emails">

      <div class="subheading">Message:</div>
      <textarea class="message" name="message"></textarea>

      <div class="copy inline">
        <input type="checkbox" checked name="send_copy">
        <label>Send me a copy.</label>
      </div>
      <button type="submit" class="submit teal_btn">Send</button>

      <input type="hidden" name="expr_user" value="{owner.name}">
      <input type="hidden" name="expr_id" value="{expr.id}">
    </form>
  </div>
</div>
