{# Dialog for Expression Embed #}
<div id="dia_embed" class="dialog" data-handle='#embed_form_btn'>
  <div class=" title expr">Embed</div>
  <div class= "_2column">
    <div class="right fixed inline select_params">
      <div class="subheading">Options:</div>
      <label for="include_collection">collection: &nbsp;
        <input id='include_collection' type='checkbox'
          value='include_collection' name='url'></label><br><br>
      {<if flags.View.new_embed}
        <label>autoplay: <input type='checkbox' off
          class='autoplay'></label><br><br>
        <label>width: <input type='text' value='100%' size=6
          class='width mini'></label><br><br>
        <label>height: &nbsp;<input type='text' value='300px' size=6
          class='height mini'></label>
      {>}{<else}
        <label>social: <input id='include_social' type='checkbox'
          value='include_social'></label><br><br>

        <input id='include_logo' type='checkbox' value='include_logo'
          name='url' checked>
        <label for='include_logo'>logo</label><br><br>
      {>}
    </div>

    <div class='left fill'>
      <div class='subheading'>Code:</div>
      <textarea autofocus class='copy embed_code' id='expression_embed_code'
        onclick='this.select()' readonly>
      </textarea>
    </div>
  </div>
  {#
  <div class='subheading'>Expression image link:</div>
  <textarea class='image_link' onclick='this.select()' readonly
    >http:{config.server_url}{routing_href "expr_snapshot" "expr_id" id}</textarea>
  #}
</div>
