<div id='edit_nav' class='edit nav overlay'
  ><div class='center pad'><img id='btn_undo' title='undo' class='hoverable'
    src='{"skin/edit/undo.png"|asset}'></div
  ><div class='center'><img id='btn_redo' title='redo' class='hoverable'
    src='{asset "skin/edit/redo.png"}'></div
  ><div class='pad'></div
  ><div class='center pad'><img id='btn_grid' title="Show Grid" class='hoverable'
    src='{asset "skin/edit/grid-off.png"}'></div
  ><div class='smpad'></div
  ><div class='center hoverable text text_btn black_active' title="Editor Help" id='btn_help'>?</div
  ><div id='btn_save' class='text text_btn hoverable center pad black_active'
    >Save
    <img src='{asset "skin/edit/loading.gif"}' class='hide loading'
  ></div
></div>

<div class="dialog" id="dia_editor_help" data-handle="#btn_help">
  <iframe src="{config.content_url}{config.site_user}/default-instructional"></iframe>
</div>
<div id='menu_save' class='menu drawer top'>
  <div class='medbold'>Title</div>
  <textarea id='title'>{exr.title}</textarea>
  <div class='spacer'></div>

  <div class='medbold'>URL</div>
  <div class=''>newhive.com/{user.name}/</div>
  <div class='note'>Change the URL to "Save As"</div>
  <input id='url' type='text' value='{expr.name|e}'>
  <div class='spacer'></div>

  <div class='medbold'>Tags</div>
  <input id='tags_input' type='text' value='{expr.tags|e}'>
  <div class='spacer'></div>
  <div class='spacer'></div>

  <div id='privacy' style='float : left; padding : 5px' class='medbold dialogue_handle btn rounded'>
    <span>Private</span>
  </div>

  <div id='save_submit' style='float : right; padding : 5px' class='btn black rounded'>Save</div>

  <div id='password_ui' style='display: none'>
    <br><br><br>
    <b>Optional password</b><br>
    <input type='password' id='password' value=''>
  </div>
</div>
<div id='menu_privacy' class='menu drawer medbold' style='width : 125px;'>
  <div val='password' class='menu_item'>Private</div>
  <div val='public' class='menu_item'>Public</div>
</div>

<div id='app_btns' class='edit nav overlay panel'
 ><div id='insert_text'  class='icon hoverable'></div
 ><div id='insert_image' class='icon hoverable'></div
 ><div id='insert_audio' class='icon hoverable'></div
 ><div id='insert_embed' class='icon hoverable'></div
 ><div id='insert_shape' class='icon hoverable'></div
 ><div id='insert_file'  class='icon hoverable'></div
></div>

<div id='menu_text' class='menu drawer medbold'>
 <div id='text_header' class='menu_item'>Header</div>
 <div id='text_default' class='menu_item default'>Normal</div>
</div>

<div id='menu_image' class='menu drawer medbold'>
 <div id='image_embed_submenu' style='text-align: center; padding-bottom: 7px;'>
   <form id='embed_image_form'>
     <input type='text' id='image_embed_code' class='embed_box'>
       {# TODO: placeholder='{ui.image_embed_textarea}'>#}
     <input id='image_embed_done' type='submit' class='btn black rounded embed_button' value='Enter'>
   </form>
 </div>
 <div id='image_from_url' class='menu_item'>Image URL</div>
 <div id='image_background' class='menu_item'>Background</div>
 <label for='media_input'>
   <div id='image_upload' class='menu_item default'>Upload image</div></label>
 <!--<div id='image_webcam' class='menu_item'>Take picture</div>
 <div id='image_search' class='menu_item'>Google images</div>-->
</div>

<div id='menu_audio' class='menu drawer medbold'>
  <label for='media_input'><div id='audio_upload'
    class='menu_item default'>Upload Audio</div>
</div>

<div id='menu_embed' class='menu drawer'>
 <span class='medbold'>Embed</span><br>
 <div class='spacer'></div>
 <div class='description'>{# TODO: ui.embed_code_description #}</div>
 <textarea id='embed_code' class='embed_box' {#placeholder='{ui.embed_code_textarea}'#}></textarea>
 <div style='text-align : center'><input id='embed_done' type='submit' class='btn black rounded embed_button' value='Enter'></div>
</div>

<div id='menu_shape' class='menu drawer medbold'>
 <div id='shape_sketch' class='menu_item'>Sketch</div>
 <div id='shape_rectangle' class='menu_item default'>Rectangle</div>
</div>

<div id='menu_file' class='menu drawer medbold'>
 <label for='link_input'><div class='menu_item menu_hover default'
   >Upload file to link</div></label>
</div>

<div id='controls_common' class='controls_src'>
 <img class='control copy   hoverable tip_N' src='{asset "skin/edit/copy.png"}'
   title='Duplicate Element'>
 <img class='control remove hoverable tip_NE' src='{asset "skin/edit/delete_app.png"}' title='delete'>
 <div class='control stack'><img class='stack_up hoverable' src='{asset "skin/edit/stack_up.png"}' title='move to front'><img class='stack_down hoverable' src='{asset "skin/edit/stack_down.png"}' title='move to back'></div>
</div>

<div id='controls_text' class='controls_src'>
 <div class='control buttons'
  ><img class='button link hoverable tip_W'     src='{asset "skin/edit/link.png"}' title='Link'
  ><!--<img class='button fontsize hoverable' src='{asset "skin/edit/text_size.png"}'
  >--><img class='button fontname'           src='{asset "skin/edit/font.png"}'
  ><img class='button color'              src='{asset "skin/edit/color.png"}'
  ><img class='button bold hoverable'     src='{asset "skin/edit/bold.png"}'     cmd='+bold'
  ><img class='button italic hoverable'   src='{asset "skin/edit/italic.png"}'   cmd='+italic'
  ><img class='button align'              src='{asset "skin/edit/justify.png"}'  
  ><img class='button unformat hoverable' src='{asset "skin/edit/unformat.png"}' cmd='+removeFormat' title='unformat'
  ><!--<div class='control drawer border fontsize'
    ><span class='option fs1' style='font-size : .75em' val = '.75'>a</span
    > <span class='option fs2' style='font-size :   1em' val =   '1'>a</span
    > <span class='option fs3' style='font-size : 1.5em' val = '1.5'>a</span
    > <span class='option fs4' style='font-size :   2em' val =   '2'>a</span
    > <span class='option fs5' style='font-size :   3em' val =   '3'>a</span
    > <span class='option fs5' style='font-size :   5em' val =   '5'>a</span
    > <span class='option fs5' style='font-size :   8em' val =   '8'>a</span
  ></div
  >--><div class='control drawer border fontname'
   ><div class='option' style='font-family:Georgia'         cmd='+fontName' val='Georgia'        >Georgia       </div
   ><div class='option' style='font-family:Helvetica'       cmd='+fontName' val='Helvetica'      >Helvetica     </div
   ><div class='option' style='font-family:Courier New'     cmd='+fontName' val='Courier New'    >Courier New   </div
   ><div class='option' style='font-family:Times'           cmd='+fontName' val='Times'          >Times         </div
   ><div class='option' style='font-family:Trebuchet'       cmd='+fontName' val='Trebuchet'      >Trebuchet     </div
   ><div class='option' style='font-family:Museo'           cmd='+fontName' val='Museo'          >Museo         </div
   ><div class='option' style='font-family:BPscript'        cmd='+fontName' val='BPscript'       >BPscript      </div
   ><div class='option' style='font-family:Code'            cmd='+fontName' val='Code'           >Code          </div
   ><div class='option' style='font-family:Comic Zine'      cmd='+fontName' val='Comic Zine'     >Comic Zine    </div
   ><div class='option' style='font-family:Folk Outline'    cmd='+fontName' val='Folk Outline'   >Folk Outline  </div
   ><div class='option' style='font-family:Folk Shadow'     cmd='+fontName' val='Folk Shadow'    >Folk Shadow   </div
   ><div class='option' style='font-family:Folk Sketches'   cmd='+fontName' val='Folk Sketches'  >Folk Sketches </div
   ><div class='option' style='font-family:Folk'            cmd='+fontName' val='Folk'           >Folk          </div
   ><div class='option' style='font-family:Lane'            cmd='+fontName' val='Lane'           >Lane          </div
   ><div class='option' style='font-family:Lane Posh'       cmd='+fontName' val='Lane Posh'      >Lane Posh     </div
   ><div class='option' style='font-family:Lane Up'         cmd='+fontName' val='Lane Up'        >Lane Up       </div
   ><div class='option' style='font-family:League Gothic'   cmd='+fontName' val='League Gothic'  >League Gothic </div
   ><div class='option' style='font-family:Lemon Chi'       cmd='+fontName' val='Lemon Chi'      >Lemon Chi     </div
   ><div class='option' style='font-family:Lilly'           cmd='+fontName' val='Lilly'          >Lilly         </div
   ><div class='option' style='font-family:Lobster'         cmd='+fontName' val='Lobster'        >Lobster       </div
   ><div class='option' style='font-family:Matiz'           cmd='+fontName' val='Matiz'          >Matiz         </div
   ><div class='option' style='font-family:Quicksand'       cmd='+fontName' val='Quicksand'      >Quicksand     </div
   ><div class='option' style='font-family:Bitstream Mono'  cmd='+fontName' val='Bitstream Mono' >Bitstream     </div

   ><div class='option' style='font-family:Folks'           cmd='+fontName' val='Folks'          >Folks        </div
   ><div class='option' style='font-family:Merge'           cmd='+fontName' val='Merge'          >Merge        </div
   ><div class='option' style='font-family:Bebas'           cmd='+fontName' val='Bebas'          >Bebas        </div
   ><div class='option' style='font-family:Arvo'            cmd='+fontName' val='Arvo'           >Arvo         </div
   ><div class='option' style='font-family:St Ryde'         cmd='+fontName' val='St Ryde'        >St Ryde      </div
   ><div class='option' style='font-family:Chunk Five'      cmd='+fontName' val='Chunk Five'     >Chunk Five   </div
   ><div class='option' style='font-family:Droid Serif'     cmd='+fontName' val='Droid Serif'    >Droid Serif  </div
   ><div class='option' style='font-family:Komika Title'    cmd='+fontName' val='Komika Title'   >Komika Title </div
   ><div class='option' style='font-family:Banda'           cmd='+fontName' val='Banda'          >Banda        </div
   ><div class='option' style='font-family:Pacifico'        cmd='+fontName' val='Pacifico'       >Pacifico     </div
   ><div class='option' style='font-family:Fjord'           cmd='+fontName' val='Fjord'          >Fjord        </div
   ><div class='option' style='font-family:Josefin Slab'    cmd='+fontName' val='Josefin Slab'   >Josefin Slab </div
   ><div class='option' style='font-family:Nevis'           cmd='+fontName' val='Nevis'          >Nevis        </div
   ><div class='option' style='font-family:Lobster Two'     cmd='+fontName' val='Lobster Two'    >Lobster Two  </div
   ><div class='option' style='font-family:Crimson'         cmd='+fontName' val='Crimson'        >Crimson      </div
   ><div class='option' style='font-family:Classic Round'   cmd='+fontName' val='Classic Round'  >Classic Round</div
   ><div class='option' style='font-family:Novecento'       cmd='+fontName' val='Novecento'      >Novecento   </div
  ></div
  ><div class='control drawer border color'></div
  ><div class='control drawer border align'
   ><div><nobr
    ><img class='option small hoverable' cmd='+justifyLeft'    src='{asset "skin/edit/justify_left.png"}' 
    ><img class='option small hoverable' cmd='+justifyRight'   src='{asset "skin/edit/justify_right.png"}'
   ></nobr></div
   ><div
    ><img class='option small hoverable' cmd='+justifyCenter'  src='{asset "skin/edit/justify_center.png"}'
    ><img class='option small hoverable' cmd='+justifyFull'    src='{asset "skin/edit/justify_full.png"}'  
   ></div
  ></div
 ></div>
</div>

<div id='controls_image' class='controls_src'>
 <div class='control buttons'
  ><img class='button link hoverable tip_W' src='{asset "skin/edit/link.png"}' title='Link'
  ><img class='button set_bg hoverable' src='{asset "skin/edit/fullscreen.png"}' title='make background'
 ></div
></div>

<div id='controls_html' class='controls_src'>
 <div class='control buttons'
  ><img class='button opacity tip_N' title='Opacity' src='{asset "skin/edit/opacity.png"}'
 ></div
></div>
{# Unused? Missing png.
  <div id='controls_raw_html' class='controls_src'>
   <div class='control buttons'
    ><img class='button edit tip_N' title='Edit Contents' src='{asset "skin/edit/edit.png"}'
   ></div
  ></div>
#}

<div id='controls_script' class='controls_src'>
 <div class='control buttons'
  ><img class='button code' title='Run' src='{asset "skin/edit/opacity.png"}'
 ></div
></div>

<div id='controls_rectangle' class='controls_src'>
 <div class='control buttons'
  ><img class='button color hoverable' src='{asset "skin/edit/color.png"}' title="Color"

  {#><img class='button stroke hoverable tip_N' src='{asset "skin/edit/border_color.png"}' title='Border color'
  ><img class='button blank bwidth hoverable tip_N' src='{asset "skin/edit/border_width.png"}' title='Border width'
  ><div class='button blank bstyle hoverable' title='Border style'></div#}

  ><img class='button rounding hoverable tip_N'
    src='{asset "skin/edit/rounded_corners.png"}' title='corner rounding'></div>

  {#
   <div class='control drawer bstyle'>
   ><div class='border hoverable' style='border-style: solid;' title='Solid border'></div
   ><div class='border hoverable' style='border-style: dashed;' title='Dashed border'></div
   ><div class='border none hoverable' style='border-style: none;' title='No border'></div
  ></div
  #}
</div>

<div id='controls_misc' class='controls_src'>
 <img class='control drag resize hoverable tip_SE' src='{asset "skin/edit/resize.png"}' title="Resize">
 <img class='control drag resize_h hoverable tip_E' src='{asset "skin/edit/resize_h.png"}' title="Resize">
 <img class='button color hoverable' src='{asset "skin/edit/color.png"}' title="Color">
 <img class='button opacity tip_N' src='{asset "skin/edit/opacity.png"}' title='Opacity'>
 <div class='control drawer color border'></div>
</div>

<div id='controls_sketch' class='controls_src'>
 <div class='control buttons'
  {#><img class='button link hoverable tip_W'     src='{asset "skin/edit/link.png"}' title='Link'#}
  ><img class='button fill hoverable tip_N' src='{asset "skin/edit/color.png"}' title='fill color'
  ><img class='button brush rounding hoverable tip_N' src='{asset "skin/edit/brush_icon.png"}' title='brush'
  ><img class='button eraser rounding hoverable' src='{asset "skin/edit/eraser_icon.png"}' title='eraser'
  ><img class='button size rounding hoverable tip_N' src='{asset "skin/edit/brush_size.png"}' title='brush size'
  {#><div class='button about blank rounding hoverable tip_N' title='about'>?</div#}

  ><div class='control drawer fill border'></div
  ><div class='control drawer border brush'
   ><div class='option' val="sketchy">sketchy</div
   ><div class='option' val="shaded" >shaded </div
   ><div class='option' val="chrome" >chrome </div
   ><div class='option' val="fur"    >fur    </div
   ><div class='option' val="longfur">longfur</div
   ><div class='option' val="web"    >web    </div
   ><div class='option' val="simple" >simple </div
   ><div class='option' val="squares">squares</div
   ><div class='option' val="ribbon" >ribbon </div
   ><div class='option' val="circles">circles</div
   ><div class='option' val="grid"   >grid   </div
  ></div
  ><div class='control drawer border about'>
blah blah
  </div
  {#><img class='button stroke hoverable tip_N' src='{asset "skin/edit/border_color.png"}' title='Border color'#}
  {#><img class='button blank bwidth hoverable tip_N' src='{asset "skin/edit/border_width.png"}' title='Border width'#}
  {#><div class='button blank bstyle hoverable' title='Border style'></div#}
  {#><div class='control drawer bstyle'
   ><div class='border hoverable' style='border-style : solid;' title='Solid border'></div
   ><div class='border hoverable' style='border-style : dashed;' title='Dashed border'></div
   ><div class='border none hoverable' style='border-style : none;' title='No border'></div
  ></div#}
 ></div>
</div>

<div id='dia_edit_bg' class='dialog border selected'>
 <h2>Edit Background</h2>
 <div id='edit_bg_image'>
  <div id='bg_preview' class='border'><img id='bg_preview_img'></div>
  <div id='bg_opacity_label' class='small_text'>opacity: <input id='bg_opacity'
    type='text' size='3' value='100%'></div>
  <label for='bg_input'><div id='bg_upload_btn'
    class='btn black small_text rounded'>Upload Image</div></label>
  <div id='bg_remove' class='btn black small_text rounded'>Clear</div>
 </div>
 <div id='color_pick' style='float : right; position : relative;'></div>
</div>

<div id='dia_overwrite' class='dialog border selected center' style='width : 25em; padding : 20px'>
 <h2>Overwrite?</h2>
 You already have an expression at "/<span id='expr_name'></span>". Are you sure you want to replace it?<br><br>
 <input id='save_overwrite' type='button' class='btn black rounded' value='Yes'>&nbsp; &nbsp; &nbsp; 
 <input id='save_overwrite' type='button' class='btn black rounded' value='No' onclick='closeDialog()'>
</div>

<div id='grid_guide'></div>

<div id='controls'></div>
<div id='bg' class='happfill'><img src='{expr.background.url}'
  class='hide'></div>
<div id='happs'></div>

<form {form_attrs "file_create"} method='POST' class='hide' id='media_upload'>
  <input type='file' id='media_input' name='files'
    data-drop-area='#grid_guide' multiple>
</form>

<form {form_attrs "file_create"} method='POST' class='hide' id='bg_upload'>
  <input type='file' id='bg_input' name='files' accept='image/*'>
</form>

<form {form_attrs "file_create"} method='POST' class='hide' id='link_upload'>
  <input type='file' id='link_input' name='files'>
</form>

<form {form_attrs "expr_save"} id='expr_save' method='POST' class='hide'>
  <input type='hidden' name='expr' class='expr'>
</form>