<div id="menu_group">
<div id='dia_edit_bg' class='dialog'>
 <h2>Edit Background</h2>
 <div id='edit_bg_image'>
  <div id='bg_preview' class='border'><img id='bg_preview_img'></div>
  <div id='bg_opacity_label' class='small_text'>opacity: <input id='bg_opacity'
    type='text' size='3' value='100%'></div>
  <label for='bg_input'><div id='bg_upload_btn'
    class='btn black small_text rounded'>Upload Image</div></label>
  <div id='bg_remove' class='btn black small_text rounded'>Clear</div>
 </div>
 <div id='color_pick' style='float : right; position : relative;'></div>
</div>

<div id='edit_nav' class='edit nav overlay bottom'
  ><div class='center pad'><img id='btn_undo' title='Undo' class='hoverable'
    src='{"skin/edit/undo.png"|asset}'></div
  ><div class='center'><img id='btn_redo' title='Redo' class='hoverable'
    src='{asset "skin/edit/redo.png"}'></div
  ><div class='change_zoom center'><img title='Zoom' class='hoverable'
    src='{asset "skin/1/zoom.png"}'></div
  ><div class='change_zoom icon hoverable'></div
  ><div class='fluff pad'></div
  ><div class='fluff center pad handle misc'><img title="Misc" 
    src='{asset "skin/edit/padding.png"}'></div
  ><div class='fluff smpad'></div
  ><div class='fluff center hoverable text text_btn black_active' title="Editor help" id='btn_help'>?</div
  ><div id='btn_save' class='save upper text text_btn hoverable center pad black_active'
    ><span>Save </span><div class='inline arrow'></div>
    <img src='{asset "skin/edit/loading.gif"}' class='hide loading'
  ></div
></div>

<div class="menu drawer hide" data-handle="#btn_save">
  <div class="menu_item upper revert" title="Revert to last saved">Revert</div>
</div>

<div class='menu drawer medbold misc_menu hide' data-handle=".handle.misc" 
  data-menu-opts='"layout_x":"center"'>
  {#<div class='menu_item'>
    <img id='btn_grid' title="Show grid" src='{asset "skin/edit/grid-off.png"}'>
  </div>#}
  <div class='menu_item change_zoom icon hoverable'>
    <img title='Zoom' class='hoverable' src='{asset "skin/1/zoom.png"}'>
  </div>
  <div class='menu_item change_padding icon hoverable'>
    <img title='Universal snapping / padding' class='' src='{asset "skin/edit/padding.png"}'>
  </div>
</div>
<div class="dialog iframe" id="dia_editor_help" data-handle="#btn_help">
  {<defer}
    {<if flags.context_help}
      <iframe src="{config.content_url}{config.site_user}/user-guide"></iframe>
    {>}{<else}
      <iframe src="{config.content_url}{config.site_user}/default-instructional"></iframe>
    {>}
  {>}
</div>

{# TODO: create better title text #}
<div class='app_btns edit overlay bottom panel'
 ><div class='insert_text icon hoverable' title="Insert text"></div
 ><div class='insert_image icon hoverable' title="Insert image"></div
 ><div class='insert_audio icon hoverable' title="Insert audio"></div
 ><div class='insert_embed icon hoverable' title="Insert embed"></div
 ><div class='insert_shape icon hoverable' title="Insert shape"></div
 ><div class='insert_file icon hoverable' title="Insert file"></div
></div>

<div id='menu_text' class='menu drawer medbold'>
 <div id='text_header' class='menu_item'>Header</div>
 <div id='text_default' class='menu_item default'>Normal</div>
</div>

<div id='menu_image' class='menu drawer medbold'>
  <div id='image_from_url' class='menu_item'>Image URL</div>
  <div id='image_background' class='menu_item'>Background</div>
  <label for='media_input'><div id='image_upload'
    class='menu_item default'>Upload image</div></label>
  <!--<div id='image_webcam' class='menu_item'>Take picture</div>
  <div id='image_search' class='menu_item'>Google images</div>-->
  <div id='image_embed_submenu' class='menu drawer embed'
    data-menu-opts='"layout_x":"submenu"'
  >
    <form id='embed_image_form'>
      <input type='text' id='image_embed_code' placeholder='Paste URL here...'> {# #}
      &nbsp;&nbsp;<input
        id='image_embed_done' type='submit'
        class='black_btn upper embed_button' value='Enter'>
    </form>
  </div>
</div>

<div id='menu_audio' class='menu drawer medbold'>
  {<if flags.autoplay}
    <label for='media_input'><div
      class='menu_item autoplay'>Upload Audio (Autoplay)</div>
  {>}
  <label for='media_input'><div id='audio_upload'
    class='menu_item default'>Upload Audio</div>
</div>

<div id='menu_embed' class='menu drawer embed'>
  {<if flags.Editor.dev_options}
    <div class="menu_item code">JavaScript AMD module</div>
    <div class="menu_item stle">CSS</div>
    <div class="menu_item processing">p5.js template</div>
    <hr>
  {>}
  <span class='medbold'>Embed</span><br>
  <div class='embed_box'>
    <div class='description'>{# TODO: ui.embed_code_description #}</div>
    <textarea id='embed_code' class='embed_box'
      placeholder='Paste in your YouTube / Vimeo URL or embed code here.'>{# #}
    </textarea>
    <div style='text-align : center'><input id='embed_done' type='submit'
      class='black_btn upper embed_button' value='Enter'></div>
  </div>
  {<if flags.Editor.dev_options}
    <br><hr>
    <div class="menu_item code">Code (js)</div>
    <div class="menu_item style">Style (css)</div>
    <div class="menu_item processing">Processing template</div>
  {>}
</div>

<div id='menu_shape' class='menu drawer medbold'
  data-menu-opts='"layout_x":"center"'
  {<if flags.shapes}
    ><div class='menu_item line'>
      <img title="Line" src='{asset "skin/edit/shapes_icons/line.png"}'></div
    ><div class='menu_item free_form'>
      <img title="Free form" src='{asset "skin/edit/shapes_icons/freeform.png"}'></div
    ><div class='menu_item pentagram'>
      <img title="Star" src='{asset "skin/edit/shapes_icons/star.png"}'></div
    ><div class='menu_item hexagon'>
      <img title="Hexagon" src='{asset "skin/edit/shapes_icons/hexagon.png"}'></div
    ><br class="noheight"
  {>}
  ><div class='menu_item default rect'>
    <img title="Rectangle" src='{asset "skin/edit/shapes_icons/square.png"}'></div
  {<if flags.shapes}
    ><div class='menu_item circle'>
      <img title="Circle" src='{asset "skin/edit/shapes_icons/circle.png"}'></div
    ><div class='menu_item triangle'>
      <img title="Triangle" src='{asset "skin/edit/shapes_icons/triangle.png"}'></div
  {>}
  ><div class='menu_item sketch'>
    <img title="Sketch" src='{asset "skin/edit/shapes_icons/sketch.png"}'></div
></div>

<div id='menu_file' class='menu drawer medbold'>
 <label for='link_input'><div class='menu_item menu_hover default'
   >Upload file to link</div></label>
</div>
</div>{# id="menu_group" #}

<div id="controls_group" class='hide'>
<div id='controls_common' class='controls_src'>
  <div class="control controls_ne">
    <img class='button copy tip_N' src='{asset "skin/edit/copy.png"}'
      title='Duplicate element'>
    <img class='button remove tip_NE' 
      src='{asset "skin/edit/delete_app.png"}' title='Delete'>
  </div>
  <div class='control stack'>
    <img class='stack_up hoverable' 
      src='{asset "skin/edit/stack_up.png"}' title='Move to front'
    ><img class='stack_down hoverable' 
      src='{asset "skin/edit/stack_down.png"}' title='Move to back'></div>
</div>

<div id='controls_text' class='controls_src'>
 <div class='control buttons'
  ><img class='button link tip_W'   title='Add link' 
    src='{asset "skin/edit/link.png"}'
  ><img class='button fontname'     title="Font" 
    src='{asset "skin/edit/font.png"}'
  ><img class='button color'        title="Text color" 
    src='{asset "skin/edit/color.png"}'
  ><img class='button bold'         title="Bold" 
    src='{asset "skin/edit/bold.png"}'          cmd='+bold'
  ><img class='button italic'       title="Italic" 
    src='{asset "skin/edit/italic.png"}'        cmd='+italic'
  ><img class='button align'        title="Alignment" 
    src='{asset "skin/edit/justify.png"}'  
  ><img class='button unformat'     title="Remove formatting" 
    src='{asset "skin/edit/unformat.png"}'      cmd='+removeFormat'
  >
  {# 
  <!--<img class='button fontsize' src='{asset "skin/edit/text_size.png"}'
  >-->
  <!--<div class='control drawer border fontsize'
    ><span class='option fs1' style='font-size : .75em' val = '.75'>a</span
    > <span class='option fs2' style='font-size :   1em' val =   '1'>a</span
    > <span class='option fs3' style='font-size : 1.5em' val = '1.5'>a</span
    > <span class='option fs4' style='font-size :   2em' val =   '2'>a</span
    > <span class='option fs5' style='font-size :   3em' val =   '3'>a</span
    > <span class='option fs5' style='font-size :   5em' val =   '5'>a</span
    > <span class='option fs5' style='font-size :   8em' val =   '8'>a</span
  ></div
  >-->
  #}
  <div class='control drawer border fontname'
   ><div class='option' style='font-family:Helvetica'         cmd='+fontName' val='Helvetica'        >Helvetica       </div
   ><div class='option' style='font-family:Museo'         cmd='+fontName' val='Museo'        >Museo       </div
   ><div class='option' style='font-family:Lobster'         cmd='+fontName' val='Lobster'        >Lobster       </div
   ><div class='option' style='font-family:Quicksand'         cmd='+fontName' val='Quicksand'        >Quicksand       </div
   ><div class='option' style='font-family:St Ryde'         cmd='+fontName' val='St Ryde'        >St Ryde       </div
   ><div class='option' style='font-family:BEBAS'         cmd='+fontName' val='BEBAS'        >BEBAS       </div
   ><div class='option' style='font-family:Questrial'         cmd='+fontName' val='Questrial'        >Questrial       </div
   ><div class='option' style='font-family:Nixie One'         cmd='+fontName' val='Nixie One'        >Nixie One       </div
   ><div class='option' style='font-family:Bpscript'         cmd='+fontName' val='Bpscript'        >Bpscript       </div
   ><div class='option' style='font-family:Oswald'         cmd='+fontName' val='Oswald'        >Oswald       </div
   ><div class='option' style='font-family:Coustard'         cmd='+fontName' val='Coustard'        >Coustard       </div
   ><div class='option' style='font-family:Clicker Script'         cmd='+fontName' val='Clicker Script'        >Clicker Script       </div
   ><div class='option' style='font-family:Abel'         cmd='+fontName' val='Abel'        >Abel       </div
   ><div class='option' style='font-family:Chunk Five'         cmd='+fontName' val='Chunk Five'        >Chunk Five       </div
   ><div class='option' style='font-family:Miniver'         cmd='+fontName' val='Miniver'        >Miniver       </div
   ><div class='option' style='font-family:Josefin Sans'         cmd='+fontName' val='Josefin Sans'        >Josefin Sans       </div
   ><div class='option' style='font-family:Josefin Slab'         cmd='+fontName' val='Josefin Slab'        >Josefin Slab       </div
   ><div class='option' style='font-family:CODYSTAR'         cmd='+fontName' val='CODYSTAR'        >CODYSTAR       </div
   ><div class='option' style='font-family:Montserrat'         cmd='+fontName' val='Montserrat'        >Montserrat       </div
   ><div class='option' style='font-family:Arvo'         cmd='+fontName' val='Arvo'        >Arvo       </div
   ><div class='option' style='font-family:Cookie'         cmd='+fontName' val='Cookie'        >Cookie       </div
   ><div class='option' style='font-family:Oxygen'         cmd='+fontName' val='Oxygen'        >Oxygen       </div
   ><div class='option' style='font-family:Courier New'         cmd='+fontName' val='Courier New'        >Courier New       </div
   ><div class='option' style='font-family:Cherry Swash'         cmd='+fontName' val='Cherry Swash'        >Cherry Swash       </div
   ><div class='option' style='font-family:Raleway'         cmd='+fontName' val='Raleway'        >Raleway       </div
   ><div class='option' style='font-family:Libre Baskerille'         cmd='+fontName' val='Libre Baskerille'        >Libre Baskerille       </div
   ><div class='option longish' style='font-family:Petit Formal Script'         cmd='+fontName' val='Petit Formal Script'        >Petit Formal Script       </div
   ><div class='option' style='font-family:Nunito'         cmd='+fontName' val='Nunito'        >Nunito       </div
   ><div class='option' style='font-family:Flamenco'         cmd='+fontName' val='Flamenco'        >Flamenco       </div
   ><div class='option' style='font-family:Novecento'         cmd='+fontName' val='Novecento'        >Novecento       </div
   ><div class='option' style='font-family:BenchNine'         cmd='+fontName' val='BenchNine'        >BenchNine       </div
   ><div class='option' style='font-family:Podkova'         cmd='+fontName' val='Podkova'        >Podkova       </div
   ><div class='option' style='font-family:Code'         cmd='+fontName' val='Code'        >Code       </div
   ><div class='option' style='font-family:Lane'         cmd='+fontName' val='Lane'        >Lane       </div
   ><div class='option' style='font-family:Rokkitt'         cmd='+fontName' val='Rokkitt'        >Rokkitt       </div
   ><div class='option' style='font-family:Special Elite'         cmd='+fontName' val='Special Elite'        >Special Elite       </div
   ><div class='option' style='font-family:Lato'         cmd='+fontName' val='Lato'        >Lato       </div
   ><div class='option' style='font-family:Times'         cmd='+fontName' val='Times'        >Times       </div
   ><div class='option' style='font-family:Komika Title'         cmd='+fontName' val='Komika Title'        >Komika Title       </div
   ><div class='option' style='font-family:Archivo Narrow'         cmd='+fontName' val='Archivo Narrow'        >Archivo Narrow       </div
   ><div class='option' style='font-family:Lusitana'         cmd='+fontName' val='Lusitana'        >Lusitana       </div
   ><div class='option' style='font-family:League Gothic'         cmd='+fontName' val='League Gothic'        >League Gothic       </div
   ><div class='option' style='font-family:Open Sans'         cmd='+fontName' val='Open Sans'        >Open Sans       </div
   ><div class='option' style='font-family:Cutive'         cmd='+fontName' val='Cutive'        >Cutive       </div
   ><div class='option' style='font-family:Pacifico'         cmd='+fontName' val='Pacifico'        >Pacifico       </div
  ></div
  ><div class='control drawer border color'></div
  ><div class='control drawer border align'
   ><div><nobr
    ><img class='option small hoverable'                title='Flush left'
      src='{asset "skin/edit/justify_left.png"}'        cmd='+justifyLeft'
    ><img class='option small hoverable'                title='Flush right'
      src='{asset "skin/edit/justify_right.png"}'       cmd='+justifyRight'
   ></nobr></div
   ><div
    ><img class='option small hoverable'                title='Centered'
      src='{asset "skin/edit/justify_center.png"}'      cmd='+justifyCenter'
    ><img class='option small hoverable'                title='Flush left and right'
      src='{asset "skin/edit/justify_full.png"}'        cmd='+justifyFull'
   ></div
  ></div
 ></div>
</div>

<div id='controls_image' class='controls_src'>
 <div class='control buttons'
  ><img class='button set_bg' src='{asset "skin/edit/fullscreen.png"}' title='Make background'
 ></div
></div>

<div id='controls_rounding' class='controls_src'>
  <img class='button rounding tip_N'
    src='{asset "skin/edit/rounded_corners.png"}' title='Corner rounding'
></div>

<div id='controls_multi' class='controls_src'>
  {<if flags.tile_multiple_images}
    <img class='button change_aspect' title="Tile aspect" 
      src='{asset "skin/edit/tiling-aspect.png"}'>
    <img class='button change_padding' title="Tile padding" 
      src='{asset "skin/edit/tiling-padding.png"}'>
    <img class='button change_columns' title="Tile columns"
      src='{asset "skin/edit/tiling-columns.png"}'>
  {>}
</div>

<div id='control_drawers' class=''>
  <div class='control drawer generic_edit'>
    <input type="text">
  </div>
</div>

<div id='controls_misc' class='controls_src'>
  <div class='control drag resize'><div class='resize icon'></div></div>
  
  <img class='button link tip_W' src='{asset "skin/edit/link.png"}' title='Link'>
  <img class='button color' src='{asset "skin/edit/color.png"}' title="Color">
  <div class='control drawer color border'></div>

  <img class='button opacity tip_N' 
    src='{asset "skin/edit/opacity.png"}' title='Opacity'>
  
  <img class='button align' src='{asset "skin/edit/alignment.png"}' title='Alignment'>
  <div class='control drawer border align'>
   <div>
    <img class='' title='Align left' canvas=0 coord=0 type=0
      src='{asset "skin/edit/align_icons/left_align.png"}'>
    <img class='' title='Align center' canvas=0 coord=0 type=2
      src='{asset "skin/edit/align_icons/vertical_center_align.png"}'>
    <img class='' title='Align right' canvas=0 coord=0 type=1
      src='{asset "skin/edit/align_icons/right_align.png"}'>
    <img class='' title='Vertical distribute' canvas=0 coord=0 type=-1
      src='{asset "skin/edit/align_icons/vertical_distribute.png"}'>
   </div><div>
    <img class='' title='Align top' canvas=0 coord=1 type=0
      src='{asset "skin/edit/align_icons/top_align.png"}'>
    <img class='' title='Align center' canvas=0 coord=1 type=2
      src='{asset "skin/edit/align_icons/horizontal_center_align.png"}'>
    <img class='' title='Align bottom' canvas=0 coord=1 type=1
      src='{asset "skin/edit/align_icons/bottom_align.png"}'>
    <img class='' title='Horizontal distribute' canvas=0 coord=1 type=-1
      src='{asset "skin/edit/align_icons/horizontal_distribute.png"}'>
   </div><div>
    <img class='' title='Align left' canvas=1 coord=0 type=0
      src='{asset "skin/edit/align_icons/left_align_canvas.png"}'>
    <img class='' title='Align center' canvas=1 coord=0 type=2
      src='{asset "skin/edit/align_icons/vertical_center_align_canvas.png"}'>
    <img class='' title='Align right' canvas=1 coord=0 type=1
      src='{asset "skin/edit/align_icons/right_align_canvas.png"}'>
    <img class='' title='Vertical distribute' canvas=1 coord=0 type=-1
      src='{asset "skin/edit/align_icons/vertical_distribute_canvas.png"}'>
   </div><div>
    <img class='' title='Align top' canvas=1 coord=1 type=0
      src='{asset "skin/edit/align_icons/top_align_canvas.png"}'>
    <img class='' title='Align center' canvas=1 coord=1 type=2
      src='{asset "skin/edit/align_icons/horizontal_center_align_canvas.png"}'>
    <img class='' title='Align bottom' canvas=1 coord=1 type=1
      src='{asset "skin/edit/align_icons/bottom_align_canvas.png"}'>
    <img class='' title='Horizontal distribute' canvas=1 coord=1 type=-1
      src='{asset "skin/edit/align_icons/horizontal_distribute_canvas.png"}'>
   </div>
  </div>

  {# autoplay #}
  <img class='button autoplay' src='{asset "skin/edit/autoplay.png"}'  title='Autoplay'>
  <img class='button autohide' src='{asset "skin/edit/autohide.png"}'  title='Autohide'>
  {# lock #}
  <img class='button fixed' src='{asset "skin/edit/lock.png"}'  title='Lock'>
  {# crop #}
  <img class='button crop' src='{asset "skin/edit/crop.png"}'  title='Crop...'>

  {# polygon #}
  <img class='button blank stroke-width tip_N'
    src='{asset "skin/edit/border_width.png"}'  title='Stroke width'
  ><img class='button stroke tip_N' 
    src='{asset "skin/edit/border_color.png"}'  title='Stroke color'
  ><img class='button blur tip_N' 
    src='{asset "skin/edit/blur.png"}'          title='Gaussian blur'>


  {# Code editor #}
  <img class='button run' src='{asset "skin/edit/run.png"}'  title='Run'>
  <img class='button stop' src='{asset "skin/edit/stop.png"}'  title='Stop'>
  <div class='button imports bg' title='Module imports'>[M]</div>
  {# live edit #}
  <img class='button liveedit' src='{asset "skin/edit/liveedit.png"}'  title='Live edits'>
  <div class="menu drawer hide modules"><table> 
    <tr class="menu_item">
      <th><button class="add" title="add module">+</button></th>
      <th>module path</th>
      <th>include as</th>
    </tr>
    <tr class="menu_item template data hide">
      <td class="centered"><button class="remove" title="remove module">-</button></td>
      <td><input type='text' class='path' placeholder='amd/module/path'></input></td>
      <td><input type='text' class='name' placeholder='foo'></input></td>
    </tr>
  </table></div>

  <img class='button css_classes tip_N'
    src='{asset "skin/edit/css_class.png"}'  title='Change css classes'>

  <div class='button edit_src' title='edit code'></div>
</div>

<div id='controls_sketch' class='controls_src'>
 <div class='control buttons'
  {#><img class='button link tip_W'     src='{asset "skin/edit/link.png"}' title='Add link'#}
  ><img class='button fill tip_N' src='{asset "skin/edit/color.png"}' title='Fill color'
  ><img class='button brush rounding tip_N' src='{asset "skin/edit/brush_icon.png"}' title='Brush'
  ><img class='button eraser rounding' src='{asset "skin/edit/eraser_icon.png"}' title='Eraser'
  ><img class='button size rounding tip_N' src='{asset "skin/edit/brush_size.png"}' title='Brush size'

  ><div class='control drawer fill border'></div
  ><div class='control drawer border brush'
   ><div class='option' val="sketchy">sketchy</div
   ><div class='option' val="shaded" >shaded </div
   ><div class='option' val="chrome" >chrome </div
   ><div class='option' val="fur"    >fur    </div
   ><div class='option' val="longfur">longfur</div
   ><div class='option' val="web"    >web    </div
   ><div class='option' val="simple" >simple </div
   ><div class='option' val="squares">squares</div
   ><div class='option' val="ribbon" >ribbon </div
   ><div class='option' val="circles">circles</div
   ><div class='option' val="grid"   >grid   </div
  ></div
 ></div>
</div>
</div> {# id="controls_group" #}

<div class='editor_overlay hide'>
  <div class='inset'></div>
</div>

{# globals #}
{# <iframe id="overlay_frame" src="http://google.com"></iframe> #}
<div id='controls'></div>
<div id='happs'><div id='bg' class='happfill'><img src='{expr.background.url}'
  class='hide'><div id='grid_guide'></div></div></div>

<form {form_attrs "file_create"} method='POST' id='media_upload' class='hide'>
  <input readonly type='file' id='media_input' name='files'
    data-drop-area='body' multiple>
</form>

<form {form_attrs "file_create"} method='POST' class='hide' id='bg_upload'>
  <input readonly type='file' id='bg_input' name='files' accept='image/*'>
</form>

<form {form_attrs "file_create"} method='POST' class='hide' id='link_upload'>
  <input readonly type='file' id='link_input' name='files'>
</form>
