{# Expression (feed)
  Tiling-sized expression view, with activity feed
  param{suppress_feed}: disable activity
#}
{set "clean_args" (cond (and collection (eq type "expr")) "&no_paging" "")}
{set "from_cat" (or (eq type "cat") collection)}

{# tags #}
{<if (not from_cat)}
  {<with null "plus_menu" user.logged_in}
    {|templates/tag_list.html}
  {>}
{>}{<elif (not no_delete)}
    <div class="delete icon pointer"></div>
{>}

<a {<if type "expr"}
  { query_attrs "view_expr" 
    (concat search_query (cond entropy (concat "&e=" entropy) "") clean_args)
    "id" id  "expr_name" name "owner_name" owner.name }
  {>}{<elif type "cat"}
    {<with expr}
      {query_attrs "view_expr" 
        search_query "id" id "expr_name" name "owner_name" owner_name}
      }
    {>}
  {>}
  ><img class="snapshot" src=
    {<if (and snapshot_ultra from_cat (eq card_num 0))}
      "{snapshot_ultra}"
    {>}{<elif (and snapshot_big from_cat (lt card_num 3))}
      "{snapshot_big}"
    {>}{<elif snapshot_small}
      "{snapshot_small}"
    {>}{<else}
      {asset "skin/site/expr_placeholder_small.jpg"}  
    {>}>
  {# Title of card (expression/category) #}
  {<if type "cat"}<a { anchor_attrs "expressions_tag"
      "owner_name" collection.username "tag_name" collection.tag}>
  {>}
    <div class="card_title table">
      {<if type "cat"}<div class="cell left vcenter">
        <img src={asset "skin/nav/collections.png"}>
      </div>{>}
      <div class='cell vcenter'>
        <div class="title expr" title="{title|untitled|e}">{title|untitled|e}
        </div>
      </div>
    </div>
  {cond (eq type "cat") "</a>" ""}
</a>
<div class='info'>
  <div class='owner'>
    {|templates/user_byline.html}
  </div>
</div>
{<unless suppress_feed}
  {<for feed}
    {|templates/feed_card.html}
  {>}
{>}
