{# Expression (feed)
  Tiling-sized expression view, with activity feed
  param{suppress_feed}: disable activity
#}
{# tags #}
{<with null "extra_classes" "shozw_hover"}
  {|templates/tag_list.html}
{>}
<a { anchor_attrs "view_expr"
    "id" id  "expr_name" name  "owner_name" owner.name }
  ><img class="snapshot" src=
  {<if snapshot}
    "{snapshot}small.png"
  {>}{<else}
    {asset "skin/site/expr_placeholder_small.jpg"}  
  {>}>
<div class="title_spacer"><div class='title'>{title}</div></div>
<div class='info'>
  <img class="thumb" src='{owner.thumb_small}'/>
  <span>by <span class='username'>{owner.name}</span></span>
</div>
      {<unless suppress_feed}{<for feed}
        {|templates/feed_card.html}
      {>}
{>}
