{# Expression card (large)
  Expression snapshot including counts
#}
{# tags #}
{<with null}
  {|templates/tag_list.html}
{>}
{<if (and (eq name "default-instructional") (eq owner.name "newhive"))}
  <a { query_attrs "create_expr" "new_user" "owner_name" user.name } >
{>}{<else}
  <a { anchor_attrs "view_expr"
    "id" id  "expr_name" name  "owner_name" owner.name } >
{>}
  <img class="snapshot" src=
  {<if snapshot}
    "{snapshot}big.png"
  {>}{<else}
    {asset "skin/site/expr_placeholder_big.jpg"}  
  {>}>
</a>
<div class='title_spacer'><div class="title expr">
  <a { anchor_attrs "view_expr"
    "id" id  "expr_name" name  "owner_name" owner.name }>{title}</a>
  </div>
  <div class='info'>
    <div class="owner">
      <a {anchor_attrs "expressions_public" "owner_name"
        owner.name}><img class="thumb" src="{owner.thumb_small}"/>
        <span>by <span class='username'>{owner.name}</span></span></a>
    </div>
    <div class="stats">
      <img src='{asset "skin/nav/views.png"}'/> {thousands counts.Views}
      {<if counts.Star}<img src='{asset "skin/nav/love.png"}'/>
        {thousands counts.Star}{>}
      {<if counts.Comment}<img src='{asset "skin/nav/comment.png"}'/>
        {thousands counts.Comment}{>}
    </div>
  </div>
</div>
