{# Feed card
  Switches based on activity type
#}
<a {<if icon_only}
    {anchor_attrs "expressions_feed" "owner_name" initiator_name}
  {>}
  {<else}
    {<if entity_class "Expr"}
      {anchor_attrs "view_expr" "id" (or entity_other_id entity) 
        "owner_name" (or other_owner_name owner_name)
        "expr_name" (or other_entity_name entity_name)}
    {>}
    {<else}
      {<if initiator user.id}
        {anchor_attrs "expressions_feed" "owner_name" entity_name}
      {>}
      {<else}
        {anchor_attrs "expressions_feed" "owner_name" initiator_name}
      {>}
    {>}
  {>}><div class='feed_item hoverable'>
    {# bugbug: style belongs elsewhere, namely icon from server should
    be correct height #}
    {<if icon_only}
      {# TODO: generalize #}
      <div class="lazy_load">
        {<if lazy_loading}
          <img src='' data-lazy-src='{initiator_thumb_small}' class='thumb'>
        {>}{<else}
          <img src='{initiator_thumb_small}' class='thumb loading notransition' {|onload}>
        {>}
      </div>
    {>}{<else}
      <img src='{initiator_thumb_small}' class='thumb'>
      <div class='action_icon {lower action}'></div>
      <div class='content'>
        <span class='username'>
          {<if initiator user.id}You {>}
          {<else}{initiator_name} {>}
        </span>
  
        {<if action "Love"}
          {<if initiator user.id}love{>}{<else}loves{>}
        {>}
  
        {<if action "Follow"}
          {<if initiator user.id}are{>}{<else}is{>} following
        {>}
  
        {<if action "Comment"}
          commented on
        {>}
  
        {<if action "Republish"}
          republished
        {>}
  
        {<if action "Remix"}
          remixed
        {>}
  
        {<if action "NewExpr"}
          created
        {>}
  
        {<if action "UpdatedExpr"}
          updated
        {>}
  
        {<if action "InviteNote"}
          has given you {count} invites
        {>}
  
        {<if action "FriendJoined"}
          joined NewHive
        {>}
  
        <div class='entity_title'>
          {<unless action "FriendJoined"}
            {<if entity user.id}You
            {>}{<else}{entity_title|untitled|e}
            {>}
          {>}{<else}&nbsp{>}
        </div>
  
        {<if text}
          <div class='text'>{text|e}</div>
        {>}
      </div>
      <div class="timestamp">{recency_time updated}</div>
    {>} {# unless icon_only #}
</div></a>
