{# hive logo button #}
<div class="overlay left bottom logo_container">
<a id='logo' class='nav logo icon hive_logo item {extra_classes}
    {<if (and standalone query.clean (not (contains clean_options "logo")))
      } stay_hidden{>}'
  {<if context.embed}
    {anchor_attrs "view_expr" 
        "owner_name" page_data.expr.owner.name "expr_name" page_data.expr.name}
  {>}{<else}
    href='https://newhive.com/b/'
    {# anchor_attrs "home" #}
  {>}
></a>

{# menu: logo #}
<form {form_attrs "logout"} method='POST' id='logout_form'></form>
{<if (neq query.template "embed")}
<div id='logo_menu' class='menu drawer divided {<if (eq query.template "embed")} stay_hidden{>}' data-handle='#logo'>
  {<if user.logged_in}
    {# Home #}
    <a href='https://newhive.com/b/' {# anchor_attrs "home" #} class='menu_item default hoverable'>Blog</a>

    {# Network #}
    <a {anchor_attrs "network" "username" user.name} class='menu_item hoverable'>Network</a>

    {# Username #}
    {<if flags.mobile}
      <a { anchor_attrs "expressions_feed" "owner_name" user.name }
        class='menu_item hoverable'>
          {user.name|e}
      </a>
      {<if flags.UI.mobile_activity}
        <a id='activity_btn'
          class='menu_item hoverable'>
          <div class='icon'></div>
          <div class='count'>0</div>
          Activity
        </a>
      {>}
    {>}{<else}
      <a id='activity_btn' { anchor_attrs "expressions_feed" "owner_name" user.name }
        class='menu_item hoverable'>
        <div class='icon'></div>
        <div class='count'>0</div>
        {user.name|e}
      </a>
    {>}
    {# Featured #}
    <a {anchor_attrs "featured"} class='menu_item'>Featured</a>
    {# About #}
    <a {anchor_attrs "view_expr"
      "owner_name" config.site_user "expr_name" "about"}
      class='menu_item about_menu'>About
    {<if flags.UI.expander_arrows}
      <img class="right_expand" src='{asset "skin/nav/search-arrow.png"}'>
    {>}
    </a>

    {# Logout #}
    <div id='logout_btn' class='menu_item'>Log out</div>
  {>}{<else}
    <a {anchor_attrs "signup"} class='menu_item'>Sign Up</a>
    <div class='login_btn menu_item'>Log in</div>
    {# Featured #}
    <a {anchor_attrs "featured"} class='menu_item'>Featured</a>
    {# About #}
    <a {anchor_attrs "view_expr"
      "owner_name" config.site_user "expr_name" "about"}
      class='menu_item about'>About NewHive</a>
    {# FAQ #}
    <a {anchor_attrs "view_expr"
      "owner_name" config.site_user "expr_name" "faq"}
      class='menu_item'>FAQ</a>
    <a href='/' class='menu_item default'>Blog</a>
  {>}
</div>
{>}

{# About menu #}
<div class='menu drawer about_menu activity items'
  data-handle='{cond user.logged_in "#logo_menu" ".main-header"} .about_menu' 
  {cond user.logged_in "data-parent='#logo'" ""} data-menu-opts='"offset_y":5'>
  {# About #}
  <a {anchor_attrs "view_expr"
    "owner_name" config.site_user "expr_name" "about"}
    class='menu_item default about'>About NewHive</a>
  {# FAQ #}
  <a {anchor_attrs "view_expr"
    "owner_name" config.site_user "expr_name" "faq"}
    class='menu_item'>FAQ</a>
  {# User Guide #}
  {<if flags.show_user_guide}
    <a {anchor_attrs "view_expr"
      "owner_name" config.site_user "expr_name" "user-guide"}
      class='menu_item'>User Guide</a>
  {>}
</div>

{# User community actions #}
{<if user.logged_in}
  <div id='activity_menu' class='menu drawer user_menu activity items'
    data-handle='#activity_btn' data-parent='#logo'
  >{|templates/user_activity.html}</div>
  <form id='notification_reset' {form_attrs "notification_reset"}></form>
  <form id='activity_form' {form_attrs "activity"}></form>
{>}{<else}
  <div id='dia_login' class='dialog login' data-handle='.login_btn'>
    {#<a href="{facebook_authentication_url}" target="_top"
      <img src='{"skin/1/fb_sign_in.png"|asset_url}' style='margin: 20px 0 2px -4px;'>
    </a>#}
    <div class="title">Log in:</div>
    {|templates/login_form.html}
  </div>
{>}
</div>
