{<unless user.logged_in}
  <img src='{asset "skin/site/logo_text.png"}'>
  
  NewHive is your blank canvas.
  It’s freedom of expression on the web.
  
  <div class='contact_box'>
    Request a beta invite:
    <input type='text' placeholder='Email address'>
    <input type='text' placeholder='How do you express yourself?'>
    <input type='submit' value='SUBMIT'>
  </div>
  
  <iframe
    src="http://player.vimeo.com/video/18836819?title=0&amp;byline=0&amp;portrait=0"
    width="640px" height="360px" frameborder="0" webkitAllowFullScreen allowFullScreen
  ></iframe>
{>}

{|/templates/card_master.html}