{# Lazy mini expression
  context is a card
  item is a mini card
  tiny is true for mini hovers (vs the top cards)
#}

<a {<with item}
  {query_attrs "view_expr" 
    search_query "id" id "expr_name" name "owner_name" owner_name}
  }
  ><img class="snapshot loading" {|onload}
    src={or 
      (cond tiny snapshot_tiny
        (cond (and (not flags.mobile) from_cat (eq card_num 0))
          (cond snapshot_ultra snapshot_ultra snapshot_big)
          snapshot_small))
          (asset "skin/site/expr_placeholder_big.jpg") } >
</a>{>}
