<form action='{s.secure_server}api/user/login' method='POST' id='login_form'>
  <div class="field username">
      <input id='username' type='text' name='username' value='{s.user.name}' placeholder='Username or email'>
      <div class='spacer'></div>
  </div>
  <div class="field password">
      <input type='password' name='secret' placeholder='Password'><br>
  </div>
  <div class='login error hide'>The username, email, or password is not correct</div>
  <div class='spacer'></div>
  <div class='field login'>
    <a href="#" class='password_recovery'>Forgot<br>Password?</a>
    <input type='submit' class='submit button black' value='Enter'>
  </div>
  <input type='hidden' name='url' value=''>
</form>