<div id='nav'
  ><a href='{{ server_url }}'><div id='logo' class='hoverable icon center black_active'></div></a

  {{#user.logged_in}}
    ><div id='user_btn' class='text_btn center hoverable black_active'
      ><img class='user_thumb {{ 'none' if not user.has_thumb }} icon center'
        src='{{ user.get_thumb(70) }}'
      ><div class='text_btn center text'>{{ user.name | capitalize }}</div
    ><div class='count rounded {{ ' none' if not user.notification_count }}'
      >{{ user.notification_count }}</div
    ></div
  {{/user.logged_in}}
  {{^user.logged_in}}
    ><div id='sign_up_btn' class='text_btn center text hoverable black_active'
      ><span class='text'>Sign up</span></div
    ><div id='login_btn' class='text_btn center hoverable black_active'>Log In</div
  {{/user.logged_in}}

  {% if not editing %}
    ><a id='create_btn' class='text_btn center hoverable black_active' href='{{ create }}'
      onclick='return require_login("create")'
      ><div class='icon center'></div
      ><div class='text_btn center text'>Create</div
    ></a
  {% endif %}
    ><a href='/random' title="View Random Expression" class='random_link'
      ><div class='random_btn icon center hoverable'></div></a
><form method='GET' action='/search' name='search_form'
      ><div class='center text'
        ><input type="text" id="search_box" placeholder="Search" name='q' value='{{ q.q|e }}'
        ><input type='image' src='{{ 'skin/nav/search_submit.png'|asset_url }}'
          class='hoverable submit' title='Submit search'
      ></div
></form
><div class='right'>{% block right_nav %}{% endblock %}</div
></div>
