<div id='logo' class='hoverable icon black_active'></div

{<if user.logged_in}
  ><div id='user_btn' class='text_btn item hoverable black_active'
    >{user.name|e}</div
  >{#<div class='count rounded {<unless user.notification_count}none{>}'
    >{user.notification_count}</div
  >#}<a id='create_btn' class='text_btn item hoverable black_active' href='{secure_server}edit'
      onclick='return require_login("create")'
      ><div class='text_btn item text'>New</div
      ><div class='icon'></div
  ></a
{>}
{<unless user.logged_in}
  ><div id='sign_up_btn' class='text_btn item text hoverable black_active'
    ><span class='text'>Sign up</span></div
  ><div id='login_btn' class='text_btn item hoverable black_active'>Log In</div
{>}

><a href='/random' title="View Random Expression" class='random_link'
  ><div class='random_btn icon hoverable'></div></a

><div class='center'
  >{< if nav_view}<div id='network_btn' class='text_btn item black_active
    {<unless user.logged_in}hide{>}'>Network</div
  ><div id='hive_btn' class='text_btn item black_active
    {<unless user.logged_in}hide{>}'>The Hive</div>{>}
    {< if expr_view}
    {>}

  <div id='network_menu' class='menu drawer'>
    <a { get_route_anchor_attrs "trending" }><div class='menu_item'>Trending</div></a>
    <a { get_route_anchor_attrs "network" }><div class='menu_item'>Recent</div></a>
  </div>

  <div id='hive_menu' class='menu drawer'>
    <a { get_route_anchor_attrs "expressions_public"  "owner_name" user.name }><div class='menu_item'>Featured</div></a>
    <a { get_route_anchor_attrs "expressions_public"  "owner_name" user.name }><div class='menu_item'>Recent</div></a>
  </div>
</div

><div class='right'
  ><form method='GET' action='/search' name='search_form'
    ><input type="text" id="search_box" placeholder="search" name='q'
    ><div id='plus' class='hoverable black_active icon'></div
  ></form
></div>

<div id='login_menu' class='menu drawer'>
  {#<a href="{facebook_authentication_url}" target="_top"
    <img src='{"skin/1/fb_sign_in.png"|asset_url}' style='margin: 2px 0 2px -4px;'>
  </a>#}
  {|templates/login_form.html}
</div>

<div id='user_menu' class='menu drawer user_menu'>
  <a { get_route_anchor_attrs "expressions_public"  "owner_name" user.name }><div
    class='menu_item'>Expressions<div class='count'></div></div></a>
  <a { get_route_anchor_attrs "expressions_private" "owner_name" user.name }><div
    class='menu_item'>Private<div class='count'></div></div></a>
    <!-- TODO: implement me -->
  <a { get_route_anchor_attrs "following" "owner_name" user.name }><div
    class='menu_item'>Following<div class='count'></div></div></a>
  <a { get_route_anchor_attrs "followers" "owner_name" user.name }><div
    class='menu_item'>Followers<div class='count'></div></div></a>
  <a { get_route_anchor_attrs "loves" "owner_name" user.name }><div
    class='menu_item'>Loves<div class='count'></div></div></a>
  <div class='activity'>
    {<for user.activity}
      {|templates/feed_card.html}
    {>}
  </div>
</div>

<div id='logo_menu' class='menu drawer'>
  {<if user.logged_in}
    <div class='menu_item'>Email Invites</div>
    <div class='menu_item'>Invite FB Friends</div>
    <div class='menu_item'>Find FB Friends</div>
    <div class='menu_item'>Settings</div>
  {>}
  <div class='menu_item'>About NewHive</div>
  {<if user.logged_in}
    <div class='menu_item'>Feedback</div>
    <div id='logout_btn' class='menu_item'>Logout</div>
  {>}
</div>
