{# Network navigation menus #}
<div class='center network_nav'
  ><div id='network_btn' class='text_btn item black_active
    {<unless user.logged_in}hide{>}'>Network</div
  ><div id='hive_btn' class='text_btn item black_active
    {<unless user.logged_in}hide{>}'>The Hive</div>
    
  <div id='network_menu' class='menu drawer' data-handle='#network_btn'>
    <a { anchor_attrs "trending" }><div class='menu_item'>Trending</div></a>
    <a { anchor_attrs "network" }><div class='menu_item'>Recent</div></a>
  </div>

  <div id='hive_menu' class='menu drawer' data-handle='#hive_btn'>
    <a { anchor_attrs "home"}><div class='menu_item'>Featured</div></a>
    <a { anchor_attrs "recent"}><div class='menu_item'>Recent</div></a>
  </div>
</div>

