<div class='overlay panel' id='content_btns'>
  {# edit expression #}
  <div class='hide edit_btn btn'></div>
  {# create or signup/login #}
  {<unless user.logged_in}
    <span class='signup'>
      <span class='signup_btn text_btn btn'>Sign up</span>
      <span class='login_btn text_btn left_border btn'>Log in</span>
    </span>
  {>}
  {<if user.logged_in}<a {anchor_attrs "create_expr" "owner_name" user.name}
    ><div class='create icon btn'></div></a>{>}
  {# + button to open overlay #}
  <div class='social_btn icon btn hide'></div>
</div>
<div class='social overlay page_btn' id='page_prev'></div>
<div class='social overlay page_btn' id='page_next'></div>

{# hive logo button #}
<a {anchor_attrs "home"} id='logo' class='overlay logo icon left right'></a>

{# menu: logo #}
<div id='logo_menu' class='menu drawer' data-handle='#logo'>
  {<if user.logged_in}
    <form {form_attrs "logout"} method='POST' id='logout_form'></form>
    <div id='logout_btn' class='menu_item'>Logout</div>
    <div id='activity_btn' class='menu_item hoverable'>
        <div class='icon'></div>
        <div class='count'>0</div>
        Activity
    </div>
    <a id='user_btn' { anchor_attrs "expressions_public" "owner_name" user.name }
      class='menu_item hoverable'>{user.name|e}</a>
    <a {anchor_attrs "home"} class='menu_item hoverable'>Network</a>
  {>}{<else}
    <div class='menu_item'>About NewHive</div>
  {>}
</div>

{# User community actions #}
{<if user.logged_in}
  <div id='activity_menu' class='menu drawer user_menu activity'
    data-handle='#activity_btn' data-parent='#logo'
  >{|templates/user_activity.html}</div>
  <form id='notification_reset' {form_attrs "notification_reset"}></form>
  <form id='activity_form' {form_attrs "activity"}></form>
{>}{<else}
  <div id='login_menu' class='dialog' data-handle='#login_btn'>
    {#<a href="{facebook_authentication_url}" target="_top"
      <img src='{"skin/1/fb_sign_in.png"|asset_url}' style='margin: 2px 0 2px -4px;'>
    </a>#}
    {|templates/login_form.html}
  </div>
{>}

{# Dialog: Login or Join #}
{<unless user.logged_in}
  <div id='dia_login_or_join' class='dialog hide' data-handle='#sign_up_btn'>
    <div class="column left">
      <img class='centered' src='{asset "skin/1/facebook_flat_lg.png"}'>
      <h3>
        <span class="line1">Have an account?</span><br/>
        <span class="line2">Please log in.</span>
      </h3>
      {|templates/login_form.html}
    </div>
    <div class="column right">
      <h3>
        <span class="line1">Don't have an account yet?</span><br/>
        <span class="line2">Please request an invite.</span>
      </h3>
      {|templates/request_invite_form.html}
    </div>
  </div>
{>}

{# social overlay popup on expressions #}
<div class='social overlay' id='social_overlay'></div>
