<div class='overlay page_btn' id='page_prev'></div>
<div class='overlay page_btn' id='page_next'></div>
<div class='overlay social_btn'>
  {<if user.id expr.owner.id}<a {anchor_attrs "edit_expr"
    "owner_name" user.name "expr_name" expr.name "id" expr.id}><div id='edit_btn'></div></a>{>}
  <div id='social_plus'></div>
</div>
<div class='overlay' id='signup_create'>
	<div class='signup hide'><span>Sign up</span><span class='left_border'>Log in</span></div>
	<div class='create hide'><span>Create</span></div>
</div>
<div class='overlay' id='social_overlay'></div>
