<form class="user_settings_form" {form_attrs "do_password_reset" "owner_name" name} method='POST' id='user_settings_form'>
  <div class="settings container">
    <div class="centered"><img src='{asset "skin/site/newhive_dialog_logo.png"}'></div>
    <div class="container">
      <div class="settings centered small heading">Reset your password for <span class="error">{name}</span></div>
      <div class="label error error_msg hide"></div>
      <div class="label upper">New password</div>
      <input autofocus id='new_password_input' type='password' name='new_password'>
      <div class="label upper">Repeat new password</div>
      <input id='new_password_input2' type='password' name='new_password2'>
      <input type='hidden' name='key' value='{key}'>
      <input type='hidden' name='user_id' value='{user_id}'>
     <br>

      <input type='hidden' name='user_settings' value='true'>
      </form>
    </div class="container">
    <div class="centered">
      <button class="teal_btn upper inline" type='submit' name='user_settings'>Reset password</button>
    </div>
  </div>
</form>
