{# Profile card
  User thumb, name, view/love counts
#}
<div id='user_header' class='header'>
  {<if profile_bg}<div class='background'><img src='{profile_bg}'></div>{>}
  <div class='profile'>
    <img src='{thumb_190}' class='thumb'>
    <div class='info'>
      <div class='name'>
        {fullname}
        {<if user_is_owner}
          <a {anchor_attrs "user_update" "owner_name" name}>
            <div class='icon' id='edit_btn'/></a>
        {>}
        <a><div class='icon' id='mail_btn'/></a>
      </div>
      <div class='subheading'>{subheading}</div>
      <div>{profile_about}</div>
    </div>
  </div>
</div>
