{# Profile card and header
  User thumb, name, view/love counts
#}
{<if brief}
  <div class="owner profile brief">
    <a {anchor_attrs "expressions_feed" "owner_name" name}>
      <img src='{thumb_small}' class='thumb'></a>
    {|templates/user_actions.html}
    <a {anchor_attrs "expressions_feed" "owner_name" name}
      class='ellipsis'>by &nbsp;<span class='username'>{owner.name}</span></a>
  </div>
{>}{<else}
  <div class='user_header header{<if profile_bg} with_background{>}'>
    {<if profile_bg}<div class='background'><img src='{profile_bg}'></div>{>}
    <div class='profile'>
      {<if (not flags.mobile)}
        <a {anchor_attrs "user_home" "owner_name" name}><img src='{thumb_big}' class='thumb'></a>
      {>}
      <div class='info'>
        <div class='title_bar'>
          {|templates/user_actions.html}
          {<if flags.mobile}
            <a {anchor_attrs "expressions_feed" "owner_name" name}
              ><img src='{thumb_big}' class='thumb'></a>
          {>}
          <a {anchor_attrs "user_home" "owner_name" name}>
            <div class='title ellipsis fullname'>{fullname|e}</div></a>
        </div>
        {# <div class='subheading text'>{subheading}</div> #}
        <div class='about text'>{profile_about}</div>
        <div class='nav_bar'>
          {# expressions public, count #}
          <a class='nav_button inline exprs
            {<if (eq route_name "expressions_feed")} on{>}'
            title="feed from {owner.name}"
            { anchor_attrs "expressions_feed" "owner_name" owner.name 
              "tag_name" ""}
          ><img class="exprs" src='{asset "skin/nav/newhives.png"}'/></a
          ><div class='spacer inline'></div>
          {<if (not flags.mobile)}
            {# categories #}
            {# we may flag this somehow, but for now, only display for root #}
            {<if (and (eq user.name "root") (eq owner.name "root"))}
              <a class='nav_button inline cats' title="Categories"
                  {<if (eq route_name "collections_grid_cat")}
                    { anchor_attrs "collections_grid_cat" "owner_name" owner.name 
                      "tag_name" tag_selected}>
                  {>}{<else}
                    { anchor_attrs "collections_grid" "owner_name" owner.name }>
                  {>}
                <div class="cats icon{<if (route.include_categories)} on{>}"></div></a
              ><div class='spacer inline'></div>
            {>}
            {# tags #}
            <a class='nav_button inline grid'
              title="All newhives by {owner.name}"
              { anchor_attrs "expressions_all" "owner_name" owner.name }
            ><div class="grid icon{<if (eq route_name "expressions_all")} on{>}"
              ></div>{#{<if expressions}{thousands expressions}{>}#}</a
            ><div class='spacer inline'></div>
          {>}
          {# following #}
          <a class='nav_button txt_button inline upper{<if route_name "following"} on{>}' 
            { anchor_attrs "following" "owner_name" owner.name }>
            Following</a
          ><div class='spacer inline'></div>
          {# followers #}
          <a class='nav_button txt_button inline upper{<if route_name "followers"} on{>}'
            { anchor_attrs "followers" "owner_name" owner.name }>
            Followers</a
          ><div class='spacer inline'></div>
          {# loves #}
          <a class='nav_button inline' title="Loves"
            { anchor_attrs "loves" "owner_name" owner.name }>
            <div class="love icon{<if route_name "loves"} on{>}"></div></a
          {<if (and user.logged_in (eq user.name owner.name))}
            ><div class='spacer inline'></div>
            {# private (logged in only) #}
            <a class='nav_button inline private' title="Private newhives"
              {<if (eq route_name "expressions_tag")}
                { anchor_attrs "expressions_tag_private" "owner_name"
                  user.name "tag_name" tag_selected "entropy" tag_entropy }>
              {>}{<else}
                { anchor_attrs "expressions_unlisted" "owner_name" user.name }>
              {>}
              <div class='private icon
                {<if (or (eq route_name "expressions_unlisted")
                    (eq route_name "expressions_tag_private"))} on{>}'></div></a
          {>}
          {# + to category #}
          {# we may flag this somehow, but for now, only display for root #}
          {<if (and (eq user.name "root") (not route.include_categories))}
            ><div class='spacer inline'></div>
            <div class="plus_cats icon" title="Add to Category..."></div
          {>}

        ></div>
      </div>
    </div>
  </div>
{>}
