{# Profile card
  User thumb, name, view/love counts
#}
<div id='user_header' class='header'>
  {<if profile_bg}
    <label for='file'
      style='background-image:url("{profile_bg}")'
      class='background'/>
  {>}
  <div class='profile'>
    <img src='{thumb_190}' class='thumb'>
    <div class='info'>
      <div class='name'>
        {fullname}
        {<if user_is_owner}
          <a {anchor_attrs "profile_edit" "owner_name" name}>
            <div class='icon' id='edit_btn'/></a>
        {>}
        <a><div class='icon' id='mail_btn'/></a>
      </div>
      <div class='subheading'>{subheading}</div>
      <div>{about_text}</div>
    </div>
  </div>
  <form id='profile_edit' class='hide'>
    <input type='file' name='file' id='file'>
  </form>
</div>
