<div id='header' class='split'>
</div>
{<with owner}
  <div id='user_header' class='header'>
    {<if profile_bg}
      <label for='profile_bg_input'
        style='background-image:url("{profile_bg}")'
        class='background' id='profile_bg'/>
    {>}
    <div class='profile'>
      <label for='profile_thumb_input'>
        <img src='{thumb_190}' class='thumb' id='profile_thumb'>
      </label>
      <div class='info'>
        <div class='name'>{fullname}</div>
        <div>meep blurby blurb goes here aoeus thaoesu thaoesu thaoesu thaoesu hasoeuthaosetuasoeth</div>
      </div>
    </div>
    <form id='profile_edit' class='hide'>
      <input type='file' name='file' id='file'>
    </form>
  </div>
{>}
<form {form_attrs "file_create"} method='POST' id='profile_form' class='hide'>
  <input type='file' id='profile_bg_input'>
  <input type='file' id='profile_thumb_input'>
</form>
