<div class='request_invite'>
  <div class='hide error'>
    Sorry, there was a problem sending your request.
    Please fill out the fields below,
    and email us if you're having trouble.
  </div>
  <div class="small heading">Request a beta invite:</div>
  <form {form_attrs "request_invite"} method='post' class='invite_form'>
    <input type='text' name='email' placeholder='Email address'><br>
    <input type='text' name='message' placeholder='How do you express yourself?' id='message'><br>
    <input type='text' name='phone' class='hide'>
    <input class="teal_btn" type='submit' value='SUBMIT'>
  </form>
</div>
{<vcenter "hide request_sent"}
  <div class="small heading">
    Thank you for signing up!<br>
    You will hear from us soon. :)
  </div>
{>}
