{<with owner}
  <form id='user_settings_form' {form_attrs "user_settings" "owner_name" user.name} method='POST'>

  <div class="settings container">
    <div class="container">
      <div class="settings heading">Settings:</div>
      <div class="label">Email address</div>
      <input id='email_input' type='text' name='email' value='{email}'>
      <div id='password_field' class='hide'>
        <div class="label">Current password</div>
        <input type='password' name='password'>
      </div>
      <div class="label">New password</div>
      <input id='new_password_input' type='password' name='new_password'>
     <br>

      <input type='hidden' name='user_settings' value='true'>
      </form>
    </div class="container">

    <div class="container">
      <div class="settings heading">Email me when:</div>
      {<for email_lists}
        <div class='checkbox'>
          <input id='{id}' type='checkbox' name='{id}' {<if subscribed}checked{>}>
          <label for='{id}'>{description}</label>
        </div>
      {>}
      <br>
      <div class="centered">
        <button class="teal_btn upper inline" name='cancel'>Cancel</button>
        <button class="teal_btn upper inline" type='submit' name='user_settings'>Save settings</button>
      </div>
    </div>

    <div class="container">
      <hr>
      <form {form_attrs "user_settings" "owner_name" user.name} method='POST'>
        {# <div class="settings heading">Account settings:</div> #}
        <div class="centered">
          <button class="teal_btn upper deactivate" type='submit'>DEACTIVATE ACCOUNT</button>
        </div>
      </form>
    </div>
  </div>
{>}
