{#<div class="overlay" id="social_overlay">#}
{<with expr}
  {#
    We were including the nav bar here, but now the nav
    bar <div> is migrated to the correct location in page.js
  {<with . "expr_view" false "nav_view" true }
    <div id='social_nav' class='nav_class'>
      {|templates/nav.html}
  </div>{>}

  #}
  <div id="popup_content">
    <div class="left_pane">
      {# expression title #}
      <div>{expr.title}</div>
      {# tags #}
      <div class="tag_list">
        {<for tags "tagnum"}
          {|templates/tag_card.html}
        {>}</div>
      <div class="stats_bar">
      {<with . "icon_class" "love" "count" counts.Star}
        {|templates/icon_count.html}
      {>}{<with . "icon_class" "republish"}
        {|templates/icon_count.html}
      {>}{<with . "icon_class" "facebook"}
        {|templates/icon_count.html}
      {>}{<with . "icon_class" "tweet"}
        {|templates/icon_count.html}
      {>}{<with . "icon_class" "share"}
        {|templates/icon_count.html}
      {>}
      {|templates/dialog_embed.html}
      {|templates/dialog_share.html}
      <form { form_attrs "tag_follow" } id='save_jpg_form' method='POST'>
        <input type="hidden" name="action" value="toggle">
        <input type="submit" class="teal_btn upper" value="Save as JPG">
      </form>
      <form { form_attrs "tag_follow" } id='embed_form' method='POST'>
        <input type="submit" class="teal_btn upper" value="Embed">
      </form>
      <form { form_attrs "tag_follow" } id='share_form' method='POST'>
        <input type="submit" class="teal_btn upper" value="Share Expression">
      </form>
      </div>
   
      {# activity feed #}
      <div class='activity'>{<with . "activity" expr.activity}
        {|templates/activity.html}
      {>}</div>
    </div>
    <div class="right_pane">
      {# user profile #}
      <div>{<with owner}
        {|templates/profile_card.html}
      {>}</div>
      {# discussion input #}
      <div id="discussions">
        <div>
          <div class="text">Discussion</div>
          {<with . "icon_class" "comment"}
            {|templates/icon_count.html}
          {>}</div>
        <form {form_attrs "comment_create"} id='comment_form' action='/api/comment/create' method='POST'>
          <textarea name='text' placeholder='Type comment here...' rows='4'></textarea>
          <input type='submit' value='Enter' class='submit btn black rounded'>
          <input type='hidden' name='action' value='comment'>
          <input type='hidden' name='entity' value='{id}'>
        </form>
      </div>  
    </div>
  </div>
{>}
