{#<div class="overlay" id="social_overlay">#}
{<with expr}
  {#
    We were including the nav bar here, but now the nav
    bar <div> is migrated to the correct location in page.js
  {<with . "expr_view" false "nav_view" true }
    <div id='social_nav' class='nav_class'>
      {|templates/nav.html}
  </div>{>}

  #}
  <div id="popup_content">
    <div class="left_pane">
      {# home button #}
      <a { anchor_attrs "home" }>
        {<with . "icon_class" "logo"}{|templates/icon_count.html}{>}
      </a>
      {# expression title #}
      <div class="title text">{expr.title}</div>
      {# user profile #}
      {<with owner "brief" true}
        {|templates/profile_card.html}
      {>}
    </div>
    <div class="right_pane">
      {# tags #}
      <div class="tag_list">
        {<for tags "tagnum"}
          {|templates/tag_card.html}
        {>}</div>
      <div class="stats_bar">
        {<with . "icon_class" "love" "count" counts.Star}
          {|templates/icon_count.html}
        {>}{<with . "icon_class" "republish"}
          {|templates/icon_count.html}
        {#{>}{<with . "icon_class" "facebook"}
          {|templates/icon_count.html}
        {>}{<with . "icon_class" "tweet"}
          {|templates/icon_count.html}
          #}
        {>}{<with . "attr_id" "comment_icon" "icon_class" "comment"}
          {|templates/icon_count.html}
        {>}{<with . "attr_id" "social_share_icon" "icon_class" "share"}
          {|templates/icon_count.html}
        {>}{<with . "attr_id" "social_close" "icon_class" "plus-minus"}
          {|templates/icon_count.html}
        {>}
        <div id="share_menu" class="menu drawer" data-handle='#social_share_icon'>
          <div class='menu_item black_active'>
            <a {href_attrs "expr_snapshot" "expr_id" id} id='save_jpg_btn'>Save as JPG
              {# TODO: this saves as png, need to process into jpg #}
            </a></div>
          <div id='embed_form_btn' class='text_btn menu_item item text hoverable black_active'
              ><span class='text'>Embed</span></div>
          <div id='share_form_btn' class='text_btn menu_item item text hoverable black_active'
              ><span class='text'>Share Expression</span></div>
        </div>
        {# belongs in its own file? #}
        <div id="dia_comments" class="dialog" data-handle='#comment_icon'>
          {# activity feed #}
          <div class="title text">Discussion</div>
          <div class='activity'>{<with null "activity" expr.activity}
            {|templates/activity.html}
          {>}</div>
          {# discussion input #}
          <div id="discussions">
           <form {form_attrs "comment_create"} id='comment_form' action='/api/comment/create' method='POST'>
              <textarea name='text' placeholder='Type comment here...' rows='4'></textarea>
              <input type='submit' value='Enter' class='submit btn black rounded'>
              <input type='hidden' name='action' value='comment'>
              <input type='hidden' name='entity' value='{id}'>
            </form>
          </div>  
        </div>
        {|templates/dialog_embed.html}
        {|templates/dialog_share.html}
      </div>
   
    </div>
  </div>
{>}
