<div class='social panel profile'>
    {# hive logo #}
    <a class='hide logo overlay counts_icon' {anchor_attrs "home"}
        ><div id='logo' class='hoverable icon logo black_active'></div></a>
    {# edit expression #}
    <a class="hide edit_btn" {anchor_attrs "edit_expr" "owner_name" user.name
      "expr_name" expr.name "id" expr.id}><div class='edit_icon overlay'></div></a>
    {# create or signup/login #}
    <div class='profile overlay' id='signup_create'>
        <div class='signup hide'>
            <span class="signup_btn" >Sign up</span>
            <span class='login_btn left_border'>Log in</span>
        </div>
        <div class='create hide'><span>Create</span></div>
    </div>
    {# + button to open overlay #}
    <div class='hide overlay logged_out social_btn'></div>
</div>
