{# 
  Render a tag
  main_view: true if main tag list, false if on expr hover
  suppress_link: true to suppress the natural tag link behavior
  item: tag name
#}
{set "tag_name" item}
{<unless suppress_link}
  <a {<if (and (eq tag_name "remixed") remix_parent)}
      {anchor_attrs "expressions_tag" "owner_name" remix_parent.owner_name
        "tag_name" (concat "re:" remix_parent.name)}
    {>}
    {<elif (and (eq tag_name "remix") remix_count)}
      {anchor_attrs "expressions_tag" "owner_name" owner_name
        "tag_name" (concat "re:" name)}
    {>}
    {<elif (and route.include_categories main_view)}
      {anchor_attrs "collections_grid_cat" "owner_name" owner.name 
        "tag_name" tag_name}
    {>}
    {<elif route.include_tags}
      {# { search_attrs "@" page_data.owner.name " " "" "#" tag_name } #}
      {<if (and route.private (eq user.name page_data.owner.name))}
        {anchor_attrs "expressions_tag_private"
          "entropy" (get tag_entropy tag_name) "owner_name" owner.name
          "tag_name" tag_name}
      {>}
      {<else}
        {anchor_attrs "expressions_tag" "owner_name" owner.name
          "tag_name" tag_name}
      {>}
    {>}
    {<else}
      { query_attrs "search" (concat "q=#" tag_name) }
    {>}
  >
{>}
  <div class=
    {<if (and main_view tag_selected (neq tag_selected tag_name))}
      "tag_label tag_unselected"
    {>}{<elif (and main_view tag_selected (eq tag_selected tag_name))}
      "tag_label tag_{mod tagnum 16} selected"
    {>}{<else}
      "tag_label tag_{mod tagnum 16}"
    {>}
  >{tag_name}</div>
{<unless suppress_link}</a>{>}
