{# 
  Render a tag
  main_view: true if main tag list, false if on expr hover
#}
{# TODO-cleanup: branch on something other than route_name #}
{set "tag_route" (or (eq route_name "expressions_public_tags")
        (eq route_name "expressions_tag"))}
{set "owner_tag_view" (and main_view tag_route)}
<a {<if tag_route}
  {# { search_attrs "@" page_data.owner.name " " "" "#" item } #}
  {anchor_attrs "expressions_tag" "owner_name" owner.name "tag_name" item}
{>}{<else}
  { search_attrs "#" item }
{>}
><div {# #}
{<if (and main_view tag_selected (neq tag_selected item))}
  class="tag_label tag_unselected"
{>}{<else}
  class="tag_label tag_{mod tagnum 16}"
{>}
>#{item}</div></a>
