{# 
  Render a tag
  main_view: true if main tag list, false if on expr hover
  suppress_link: true to suppress the natural tag link behavior
  item: tag name
#}
{<unless suppress_link}
  <a {<if route.include_tags}
    {# { search_attrs "@" page_data.owner.name " " "" "#" item } #}
    {<if route.private}
      {anchor_attrs "expressions_tag_private" 
        "entropy" (get tag_entropy item) "owner_name" owner.name "tag_name" item}
    {>}{<else}
      {anchor_attrs "expressions_tag" "owner_name" owner.name "tag_name" item}
    {>}
  {>}{<else}
    { search_attrs "#" item }
  {>}
  >
{>}
<div class=
{<if (and main_view tag_selected (neq tag_selected item))}
  "tag_label tag_unselected"
{>}{<else}
  "tag_label tag_{mod tagnum 16}"
{>}
>{item}</div></a>
