<div id="tag_bar">
{#}  <div id="tag_name">
    {<for tags_search "tagnum"}
      {|templates/tag_card.html}  
    {>}</div> #}
  <div class="centered"> 
  	{# button or <a>? #}
    <form { form_attrs "tag_follow" } id='follow_tag_form' method='POST'>
      <input type="hidden" name="tag" value="{tags_search.0}">
      <input type="hidden" name="action" value="toggle">
      <button type="submit" class="teal_btn upper" value="">
      	{<contains viewer.tags_following tags_search.0}Unfollow
      	{>}{<else}Follow{>} collection</button>
    </form>
    {# need a new form and form handler... #}
    <form { form_attrs "tag_follow" } id='create_form' method='POST'>
      <button type="submit" class="teal_btn upper create" value="">
        <span class="plus_button"></span>
        <span class="text">Add to Collection</span>
    </button></form>
  </div></div>
