{# User actions 
  Edit profile
  Mail (button)
  Follow/Unfollow
#}
<span class="user_action_bar">
  {<unless brief}{<if owner.id user.id}
    <a {anchor_attrs "user_update" "owner_name" name}>
      <div class='icon edit_btn'></div></a>
    <a {anchor_attrs "user_settings" "owner_name" name}>
      <div class='icon settings_btn'></div></a>
  {>}{>}
  {<unless owner.id user.id}
    <a><div class='icon mail_btn needs_login'></div></a>
    {<if user.logged_in}
      <form class='follow' {form_attrs "star_unstar"} method='post'>
        <input type="hidden" name="entity" value="{id}">
        <input type="hidden" name="state" value="{<if listening}false{>}{<else}true{>}">
        <button type="submit" class="text teal_btn upper" value="">
          {<if listening}Unfollow
          {>}{<else}Follow{>}
        </button>
      </form>
    {>}
    <div id="dia_mail" class="dialog" data-handle=".icon.mail_btn">
      <div class="ellipsis username">Email @{name}:</div>
      <div class="error_msg"></div>
      <form {form_attrs "send_mail"} method="POST" id="form_send_mail">
        <textarea name="message" autofocus placeholder="Type your message to @{name} here."></textarea>
        <input type="hidden" name="user_id" value="{id}">
        <div class="copy inline">
          <input type="checkbox" checked name="send_copy" id='send_copy_input'>
          <label for='send_copy_input'>Send me a copy.</label>
        </div>
        <button class='submit upper teal_btn'>Send</button>
      </form>
    </div>
  {>}
</span>
