{# User Card
 # Default view is: user thumb | <counts: expr, views, loves> | <mini_expression popout list>
#}
<div class='user_thumb'>
  <a href="{url}"><img src="{thumb_big}" width="222" height="222"></a>
  <div class='info'>
    <div class='username'>{name}</div>
    {<with . "icon" "skin/nav/expressions.png" "count" expressions}
      {|templates/icon_count.html}
    {>}{<with . "icon" "skin/nav/views.png" "count" views_by}
      {|templates/icon_count.html}
    {>}{<with . "icon" "skin/nav/love.png" "count" loves_by}
      {|templates/icon_count.html}
    {>}
    <div class='expr_preview_bar'>
      {<for mini_expressions}
        {|templates/expr_card_mini.html}
      {>}
    </div>
  </div>
</div>
