<div id='dia_comments'>
  <div class='header'>
    <img class="icon" src='/lib/skin/1/discussion.png' title='Discussion Icon' />
    <h3 class='title'>
     {% if expr.comment_count > 0 %}
      Discussion<span class='comments_count'> ({{ expr.comment_count }})</span>
     {% elif user.logged_in %}
      Start the discussion <span class='comments_count'>:)</span>
     {% else %}
      Discussion
     {% endif %}
    </h3>
    {% if user.logged_in %}
     <form>
       <input type="hidden" name="action" value="add_comment" />
       <input type="hidden" name="expression" value="{{exp.id}}" />
       <textarea name="comment"></textarea>
       <input type="submit" class="btn black rounded" value="Enter" onclick="submitComment(); return false;"/>
     </form>
    {% else %}
     <h4 class='sub title'>&nbsp; Please log in or or sign up to participate</h4>
    {% endif %}
  </div>
</div>
