<div id='dia_comments'>
  <div class='header'>
    <img class="icon" src='/lib/skin/1/discussion.png' title='Discussion Icon' />
    {% if expr.comment_count > 0 %}
    <h3 class="title">Discussion<span class='comments_count'> ({{ expr.comment_count }})</span></h3>
    {% else %}
    <h3 class="title">Start the discussion <span class='comments_count'>:)</span></h3>
    {% endif %}
    <form>
      <input type="hidden" name="action" value="add_comment" />
      <input type="hidden" name="expression" value="{{exp.id}}" />
      <textarea name="comment"></textarea>
      <input type="submit" class="btn black rounded" value="Enter" onclick="submitComment(); return false;"/>
    </form>
  </div>
  <div id="comments">
    {% for comment in expr.comments %}
    <div class='comment'>
      {% if comment.thumb %}
      <a href='{{comment.initiator.url}}'><img class='comment_thumb' src='{{comment.thumb}}' title='{{comment.author}}'/></a>
      {% else %}
      <a href='{{comment.initiator.url}}'><div class='comment_thumb'></div></a>
      {% endif %}
      <div class="comment_content">
        <p class='text'>{{comment.text|e}}</p>
        <h3 class='author'><a href='{{comment.initiator.url}}'>{{comment.author|e}}</a></h3>
        <h3 class='age'>{{comment.created|friendly_date}}</h3>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
