<div id='dia_comments'>
  <div class='header'>
    <img class="icon" src='/lib/skin/1/discussion.png' title='Discussion Icon' />
    {% if expr.comment_count > 0 %}
    <h3 class="title">Discussion<span class='comments_count'> ({{ expr.comment_count }})</span></h3>
    {% else %}
    <h3 class="title">Start the discussion <span class='comments_count'>:)</span></h3>
    {% endif %}
    <form>
      <input type="hidden" name="action" value="add_comment" />
      <input type="hidden" name="expression" value="{{exp.id}}" />
      <textarea name="comment"></textarea>
      <input type="submit" class="btn black rounded" value="Enter" onclick="submitComment(); return false;"/>
    </form>
  </div>
  <div id="comments">
    {% for comment in expr.comments %}
    {% include "partials/comment.html" %}
    {% endfor %}
  </div>
</div>
<script>
  function submitComment() {
    $.post('', $('#dia_comments form').serialize(), function(data){
      var comments_div = $('#comments');
      comment_count += 1;
      comments_div.append(data);
      $('#dia_comments .comments_count').html(' (' + comment_count + ')');
      $('#btn_comment .count').html(comment_count);
      $('#dia_comments textarea').val('');
      commentSize();
      comments_div[0].scrollTop = 100000;
      reloadFeed();
    });
  };
  function commentSize(){
    var header_height = $('#dia_comments .header').height();
    var dialog_height = $('#dia_comments').height();
    var window_height = $(window).height();
    $('#comments').height(window_height * 0.75 - header_height - 50);
    center($('#dia_comments'));
  };
  commentSize();
  setTimeout('commentSize();', 0);
</script>
