<div id='dia_edit_bg' class='dialog border selected' style='width : 530px; height : 320px'>
 <h2>Edit Background</h2>
 <div id='bg_upload'>Upload Image</div>
 <div style='position : absolute; top : 100px'>Opacity</div>
 <div id='bg_opacity' style='position : absolute; height : 10px; width : 160px; top : 130px'><img src='/lib/skin/1/opacity_bar.png'><div style='position : absolute; width : 10px; height : 20px; background-color : black'></div></div>
 <div id='color_pick' style='position : absolute; left : 10px; top : 50px'></div>
</div>
