<div id='dia_facebook_connect' class='dialog border selected'>
    <h1 class='centered'>We just added Facebook Connect!</h1>
    <p class='centered'>
        Connecting The New Hive to your Facebook account gives you the option to
        easily invite friends from Facebook, see if any of your friends are
        on (or join) The New Hive and seamlessly share to your wall or
        timeline. To connect to Facebook, click below.
    </p>
    <a href="{{facebook_authentication_url}}"><img class='centered' src='/lib/skin/1/connect_with_fb_sm.png'/></a>
</div>
