<div id='dia_facebook_connect' class='dialog border selected'>
    <h1 class='centered'>We just added <span class='active'>Facebook Connect!</span></h1>
    <p class='centered list'>
        <span class='active'>+</span> Invite your friends (easier than email).<br/>
        <span class='active'>+</span> Listen to friends from Facebook on TNH.
        <span class='active'>+</span> Seamlessly share expressions, broadcasts &amp; likes. (Coming Soon)<br/>
    </p>
    <a href="{{facebook_authentication_url}}"><img class='centered' src='/lib/skin/1/connect_with_fb_lg.png'/></a>
    <p class='centered smallprint'>
        We will NEVER post to Facebook without your permission, and you can
        easily change your settings at any time and disconnect your account if
        you change your mind. :)
    </p>
</div>
