<div id='dia_facebook_connect' class='newdialog centered'>
    <h2>
        The New Hive is more fun if your <br/>friends are here. That's why we've added 
        <span class='active'>Facebook connect</span>.  You'll be able to:
    </h2>
    <p class='centered list'>
        <span class='active'>+</span> Invite your friends and help shape The New Hive community.<br/>
        <span class='active'>+</span> Find / be found by your facebook friends and listen to each other.<br/>
        <span class='active'>+</span> Share your expressions more easily and expand your audience.
    </p>
    <a href="{{facebook_authentication_url}}" onclick="_gaq.push(['_trackEvent', 'fb_connect', 'auth_link', 'dialog']);">
        <img class='centered' src='/lib/skin/1/connect_with_fb_lg.png'/>
    </a>
    <p class='centered smallprint'>
        We will NEVER post to Facebook without your permission, and you can
        easily change <br/>your settings at any time and disconnect your account if
        you change your mind. :)
    </p>
</div>
