<div id='dia_facebook_listen' class='dialog border selected'>
    <div class='line'>
        <h1>Facebook friends:</h1>
        <div class='invite_fb_link'>
            <img src='/lib/skin/1/facebook_flat_sm.png' alt="Facebook Logo">
            Invite friends from Facebook
        </div>
    </div>
    <div class='line'>
        {#<div class='btn hoverable black rounded' id="listen_to_all">Listen to all my friends</div>
        <input type="checkbox" id='listen_to_friends'/>
        <label for="listen_to_friends" class="active">{{ui.listen_to_all_friends | e}}</label>#}
    </div>
    <div class="fb-facepile" data-max-rows="1" data-width="300"></div>
    {#    <div class="no_friends">
        None of your Facebook friends are connected to The New Hive
    </div>
    #}
    <div class="friends">
      {%- for friend in friends -%}
        <div class="friend">
          <img class="thumb facebook" src="{{friend.fb_thumb}}"/>
          <img class="thumb tnh" src="{{friend.thumb}}"/>
          <div class="names">
              <div class='facebook_name'>{{- friend.facebook.name -}}</div>
              <div class='username'>{{- friend.name -}}</div>
          </div>
          {% set listening = True if friend.id in user.starred_user_ids else False %}
          <div data-id="{{friend.id}}" class="listen {{'active' if listening}}" title="{{'Stop' if listening else 'Start'}} Listening"></div>
        </div>
      {%- endfor -%}
    </div>
    <script>
        $('#dia_facebook_listen .friend').hover(
        function(){
            $(this).find('.thumb.facebook').hide();
            $(this).find('.thumb.tnh').show();
        },
        function(){
            $(this).find('.thumb.facebook').show();
            $(this).find('.thumb.tnh').hide();
        });
        $('#dia_facebook_listen .listen').click(function(){
            var action = ($(this).hasClass('active') ? 'unstar' : 'star' );
            var entity = $(this).data('id');
            var callback = function(that){
                return function(data){
                    if (data.state == 'starred') {
                        $(that).addClass('active').attr('title', 'Stop Listening');
                    }
                    else if (data.state == 'unstarred') {
                        $(that).removeClass('active').attr('title', 'Start Listening');
                    };
                }
            };
            $.post('', {action: action, entity: entity, entity_class: 'User', dataType: 'json'}, callback(this), 'json');
        });
        $('.invite_fb_link').click(function(){
            $('#dia_facebook_listen .btn_dialog_close').click();
            sendRequestViaMultiFriendSelector();
        });
    </script>
</div>
