<div id="dia_fb_connect_landing" class='newdialog'>
    <h2>You are now connected to <span class=active>Facebook</span>!</h2>
    <p>The party is always better if your freinds are there:</p>
    <div class="line centered button_wrapper invite">
        <img class='fb_icon' src='/lib/skin/1/facebook_flat_lg.png' alt='Facebook Icon'>
        <div class='button'>Invite your friends</div>
    </div>
    <div class="line centered button_wrapper find">
        <img class='fb_icon' src='/lib/skin/1/facebook_flat_lg.png' alt='Facebook Icon'>
        <div class='button'>Find friends on TNH</div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        loadDialogPost('facebook_listen', {hidden: true})
        $('#dia_fb_connect_landing .invite').click(function(){
            $('#fb_invite_menu_item').click();
        });
        $('#dia_fb_connect_landing .find').click(function(){
            $('#fb_listen_menu_item').click();
        });
    });
</script>
