<div id="notification_count" style="display: none;">{{user.notification_count}}</div>
{% for feed in user.recent_feed | reverse %}
{% include "partials/feed.html" %}
{% endfor %}
  <a href="https://thenewhive.com/feed">
    <div id="more_button" class="btn black">more</div>
  </a>
</div>
<script>
    $('#feed_menu .feed_item').hover(function(){$(this).addClass('active');}, function(){$(this).removeClass('active');})
    .click(function(){window.location = $(this).find('.entity').attr('href')});
</script>
