<div id='firefox_warning' class='dialog border selected'>
  <div class="btn_dialog_close"></div>
  <h1>Warning!</h1>
  <h2>For now the site works best in firefox.</h2>
  <h3>
    More cross browser support<br/>
    coming soon! If you need to<br/>
    download Firefox, <a href='http://www.mozilla.org/firefox/'>click here.</a>
  </h3>
  <a href='http://www.mozilla.org/firefox/'>
    <img src='/lib/skin/1/firefox-logo-70px.png'></img>
  </a>
</div>
<style>
  #firefox_warning {
    width: 350px;
    padding: 20px 50px;
    text-align: center;
  }
  #firefox_warning h1 {
    font-family: Lobster, serif;
    font-weight: normal;
    color: {{ colors['bright_red'] }};
    margin: 8px 0 0 0;
    font-size: 38px;
  }
  #firefox_warning h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
  }
  #firefox_warning h3 {
    font-family: Museo, serif;
    font-weight: normal;
    font-size: 25px;
    margin: 20px 0;
  }
  #firefox_warning a {
    text-decoration: underline;
  }
</style>
