<div id='ie_warning' class='dialog border selected'>
  <h1>Warning!</h1>
  <h2>For now the site works best in pretty much anything besides IE.</h2>
  <h3>
    More cross browser support<br/>
    coming soon! If you need to<br/>
    download a modern browser<br/>
    use these links:
  </h3>
  <a href='http://www.mozilla.org/firefox/'>
    <img src='/lib/skin/1/firefox-logo-70px.png'></img>
  </a>
  <a href='http://www.google.com/chrome/'>
    <img src='/lib/skin/1/chrome-logo-70px.png'></img>
  </a>
  <a href='http://www.apple.com/safari/'>
    <img src='/lib/skin/1/safari-logo-70px.png'></img>
  </a>
</div>
