<div id='ie_warning' class='dialog border selected'>
  <h1>Hey There!</h1>
  <h2>You're using Internet Explorer...<br/>
    Unfortunately expressions made on thenewhive don't always appear correctly in IE.</h2>
  <h3>
    More cross browser support<br/>
    coming soon! If you need to<br/>
    download a compatible browser<br/>
    use these links:
  </h3>
  <a href='http://www.mozilla.org/firefox/'>
    <img src='{{ 'skin/1/firefox-logo-70px.png'|asset_url }}'/>
  </a>
  <a href='http://www.google.com/chrome/'>
    <img src='{{ 'skin/1/chrome-logo-70px.png'|asset_url }}'/>
  </a>
  <a href='http://www.apple.com/safari/'>
    <img src='{{ 'skin/1/safari-logo-70px.png'|asset_url }}'/>
  </a>
</div>
