<div id='dia_password_recovery' class='dialog border selected center'>
 <form method='POST' action='/'>
   <input type='hidden' name='action' value='password_recovery'/>
  <h2>Reset your password</h2>
  Enter your username:<br>
  <input type='text' name='name' style="margin-right: 18px;"><br/>
  Enter your e-mail address:<br>
  <input type='text' name='email'>
  <input type='image' src='/lib/skin/1/sm_arrow.png' class='hoverable' style='vertical-align : middle' onclick="return asyncSubmit('#dia_password_recovery form', function(data){closeDialog('#dia_password_recovery'); alert(data.message);});"> 
 </form>
</div>
