<div id='dia_password' class='dialog mandatory center border selected rounded'>
  <form method='POST' action='{{ expr_url }}' target='expr' id='password_form' class='password_form'>
    <h3>This expression needs a password<br>to be experienced</h3><br>
    <input type='password' name='password' class='password'>
    <input type='submit' class='submit btn rounded black' value='Experience'>
    <p class="error">Sorry, the password you entered is incorrect.</p>
  </form>
  <form method='POST' action='{{ expr_url }}' target='expr' id='auto_password_form' class='password_form'>
    <input type='hidden' name='password' class='password'>
  </form>
</div>
