<div id='dia_password' class='dialog border selected center mandatory'>
 <form method='POST' target='expr' id='password_form'>
  <h2>This is a private expression</h2>
  Enter password to view:<br>
  <input type='password' name='password' id='password_input'>
  <input type='image' src='{{ 'skin/1/sm_arrow.png'|asset_url }}' class='hoverable' style='vertical-align : middle'> 
 </form>
 <script>
  $(function() {
      var dia = showDialog('#dia_password');
      $('#password_input').select();
      $('#password_form').submit(function(){ dia.close(); });
  });
 </script>
</div>
