<div id='dia_referral' class='dialog border selected'>
  <h3>
    Hi <span id='user_first_name'>{{ user.name }}</span>, good news!<br/>
    You have <span id='referral_count'>{{ user.referrals }}</span> hive invites.
  </h3>
  <form id='referral_form' action='{{ secure_server}}' method='POST'>
    <input type='hidden' name='forward' value='{{ url }}' />
    <input type='hidden' name='action' value='mail_referral'/>
    <div class="label">Enter contact info below to send invitation(s)</div>
    {% set referral_lines = user.referrals if user.referrals <= 5 else 5 %}
    {% for i in range(0, referral_lines) %}
    <div class="line{{" first" if i == 0 }}">
      <div class='medbold label align'>Name</div>
      <input type="text" name="name_{{i}}"/>
      <div class='medbold label align' style="margin-left: 20px;">Email</div>
      <input type="text" name="to_{{i}}"/>
    </div>
    {% endfor %}
    {% if user.facebook %}
    <input type='submit' class='btn black rounded' value='Invite Facebook Friends' onclick="sendRequestViaMultiFriendSelector(); return false;"/>
    <div id="fb-root" style="position: fixed; top: 0; left: 0;"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
   
    <script>
      FB.init({
          appId  : '{{facebook_app_id}}',
      });

      function sendrequesttorecipients() {
        var user_ids = document.getelementsbyname("user_ids")[0].value;
        fb.ui({method: 'apprequests',
          message: 'my great request',
          to: user_ids, 
        }, requestCallback);
      }

      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests'
          , message: 'Join me on The New Hive'
          , title: 'Invite Friends to Join The New Hive'
          , filter: 'app_non_user'
          , display: 'iframe'
        }, requestCallback);
      }
      
      function requestCallback(response) {
        // Handle callback here
      }
    </script>
    {% else %}
    <a href='{{facebook_connect_url}}' class='btn black rounded' >Invite Facebook Friends</a>
    {% endif %}

{#
    <div class="line">
      <div class="label medbold align">Message<br/><span class="small">(optional)</span></div>
      <textarea name="message"></textarea>
    </div>
#}
<input type='submit' class='btn black rounded' value='Send'/>
  </form>
</div>
