<div id='dia_signup' class='dialog border selected' style='padding : 0px 30px 25px 30px; width : 300px'>
 <h2 style='font-family : Museo; font-size : 30px'>Request a beta account</h2>
 <form id="signup_form" action='{{ secure_server }}' method='POST'>
  <input type='hidden' name='forward' value=''/>
  <input type='hidden' name='action' value='mail_us'/>
  <div><b>Name</b></div>
  <input type='text' style='width : 200px' name='name'>
  <div class='spacer'></div>
  <div><b>Email</b></div>
  <input type='text' style='width : 200px' name='email'>
  <div class='spacer'></div>
  <div><b>How did you hear<br/>about The New Hive?</b></div>
  <input type='text' style='width : 200px' name='referral'>
  <div class='spacer'></div>
  <div><b>How do you<br/>express yourself?</b></div>
  <input type='text' style='width : 200px' name='message'>
  <div class='spacer'></div>
  <div class='spacer'></div>
  <div><input type='submit' id='send_msg' class='btn black rounded' value='Send'></div>
 </form>
</div>

<script>
$(function() {
 var dia;
 $('#signup_button, .signup_button').click(function() {
     dia = showDialog('#dia_signup');
     $(this).addClass('open');
     $('input[name=forward]').val(window.location);
 });
 
 $('#signup_form').submit(function() {
    if($(this).hasClass('inactive')) { return false; }
    $(this).addClass('inactive');
    return asyncSubmit($('#signup_form'), function(data) {
        $('#send_msg').removeClass('inactive');
        if(!data) alert('Sorry, there was a problem sending your message. Did you include your e-mail address?');
        else {
            $('#message').val('');
            dia.close();
            showDialog(data);
        }
    });
 });
});
</script>
