<div id='dia_signup' class='dialog border selected' style='padding : 0px 30px 25px 30px; width : 350px'>
 <h2 style='font-family : Museo; font-size : 30px; white-space : nowrap;'>Want to join<br>The New Hive?<br>Request a beta account.</h2>
 {% set form_id='signup_form' %}
 {% include 'page_parts/signup_form.html' %}
</div>

<script>
$(function() {
 var dia;
 $('#signup_button, .signup_button').click(function() {
     dia = showDialog('#dia_signup');
     $(this).addClass('open');
     $('input[name=forward]').val(window.location);
 });
 
 });
</script>
