<div id='dia_sign_in_or_join' class='dialog border selected'>
    <div class="column left">
        <img class='centered' src='{{ 'skin/1/facebook_flat_lg.png'|asset_url }}'>
        <h3>
            <span class="line1">Log in below to connect</span><br/>
            <span class="line2">TNH with Facebook:</span>
        </h3>
        {% include "page_parts/log_in.html" %}
    </div>
    <div class="column right">
        <h3>
            <span class="line1">Don't have an account yet?</span><br/>
            <span class="line2">Request a beta invitation:</span>
        </h3>
        {% include "page_parts/signup_form.html" %}
    </div>
</div>

