<div id="card">
    {% call link(expr) %}
        <img src="{{ expr.thumb }}" />
    {% endcall %}
    <div class="data">
        <h3 class="title">
            {% call link(expr) %}
                {{ expr.title or expr.fullname }}
            {% endcall %}
        </h3>
        <p class="tags">
            {% if expr.tags_index %}
                {% for tag in expr.tags_index %}#{{tag}} {% endfor %}
            {% endif %}
        </p>
        <h4 class="name">
            {% call link(expr.owner) %}
                {% if expr.owner_name %}
                    {{ expr.owner_name }}
                {% else %}
                    {{ expr.expr_count }} expressions
                {% endif %}
            {% endcall %}
        </h4>
    </div>
</div>
<h3 id="text_link">
    {% call link(expr) %}{{ expr.url | clean_url }}{% endcall %}
</h3>
