{% set table_width = 'width="586px"' %}
<html>
<head></head>

<body style="font-family: Helvetica, Verdana, sans-serif;">

  {# Main layout table #}
  <table {{ table_width }} style="border-collapse: collapse; border-spacing: 0;">
    <tr><td {{ table_width }} style="padding: 0;">
      <table {{ table_width }} style="border-collapse: collapse; border-spacing: 0;" border="0">

      {% block header %}
      {% endblock %}

        {# logotype approximation #}
        <tr height="50px">
          <td style="background-color: #696e76; color: #ffffff; font-size: 37px; letter-spacing: -2px; font-weight: bold; vertical-align: bottom; padding-left: 15px;" colspan="9">
            <a href="http://thenewhive.com" style="text-decoration: none; color: #ffffff">thenewhive.com</a>
          </td>
        </tr>

      </table>
    </td></tr>
    <tr><td style="background-color: {% block body_color %}#D0E0F0{% endblock %};" {{ table_width }} >
      {% block body %}
      {% endblock %}
    </td></tr>
    <tr><td style="background-color: #696e76;" height="30px" {{ table_width }}>
      {% block footer %}
      <p style="text-align: center; color: #ffffff;">
        <a href="mailto:info@thenewhive.com" style="text-decoration: none; color: #ffffff;">info@thenewhive.com</a> 
        | <a href="http://thenewhive.com" style="text-decoration: none; color: #ffffff;">thenewhive.com</a> 
        | <a href="http://www.facebook.com/pages/The-New-Hive/122884201115568" style="text-decoration: none; color: #ffffff;">facebook </a>
        | <a href="http://twitter.com/#!/NewHive" style="text-decoration: none; color: #ffffff;">twitter</a>
      </p>
      {% endblock %}
    </td></tr>
</body>
</html>

