{# paragraph styles #}
{% set p_basic="font-size: 14px; line-height: 21px; margin: 0 0 20px 0;" %}
{% set p_outside_box= p_basic ~ "padding: 0 57px;" %}
{% set basic_title="font-size: 25px; color: #f73627; margin: 0px;"%}
{% set basic_h2="font-size: 29px; margin: 0 0 30px 0;"%}
{% set basic_h1="background-color: #FFF673; font-size: 35px; margin: 43px 0 20px 45px; padding-left: 12px; width: 462px;"%}

{% macro p(title=False, class=p_basic, title_class=basic_title) %}
{% if title %}
<h3 style="{{title_class}}">{{title}}</h3>
{% endif %}
<p style="{{ class }}">
{{ caller() }}
</p>
{%- endmacro %}

{% macro h2(class=basic_h2) -%}
<h2 style="{{class}}">{{ caller() }}</h2>
{%- endmacro %}

{% macro h1(class=basic_h1, style="") -%}
<h1 style="{{class}} {{style}}">
  {{ caller() }}
</h1>
{%- endmacro %}

{% set table_width = 'width="586px"' %}

<html>
<head></head>

<body style="font-family: Helvetica, Verdana, sans-serif;">

  {# Main layout table #}
  <table {{ table_width }} style="border-collapse: collapse; border-spacing: 0;">
    <tr><td {{ table_width }} style="padding: 0;">
      <table {{ table_width }} style="border-collapse: collapse; border-spacing: 0;" border="0">

      {% block header %}
      {% endblock %}

        {# logotype approximation #}
        <tr height="50px">
          <td style="background-color: #696e76; color: #ffffff; font-size: 37px; letter-spacing: -2px; font-weight: bold; vertical-align: bottom; padding-left: 15px;" colspan="9">
            <a href="http://newhive.com" style="text-decoration: none; color: #ffffff">newhive.com</a>
          </td>
        </tr>

      </table>
    </td></tr>
    <tr><td id="body" style="background-color: {% block body_color %}#D0E0F0{% endblock %};" {{ table_width }} >
      {% block body %}
      {% endblock %}
    </td></tr>
    <tr><td style="background-color: #696e76;" height="30px" {{ table_width }}>
      {% block footer %}
      <p style="text-align: center; color: #ffffff;">
        <a href="mailto:info@thenewhive.com" style="text-decoration: none; color: #ffffff;">info@thenewhive.com</a> 
        | <a href="http://newhive.com" style="text-decoration: none; color: #ffffff;">newhive.com</a> 
        | <a href="http://www.facebook.com/pages/The-New-Hive/122884201115568" style="text-decoration: none; color: #ffffff;">facebook </a>
        | <a href="http://twitter.com/#!/NewHive" style="text-decoration: none; color: #ffffff;">twitter</a>
      </p>
      {% endblock %}
    </td></tr>
</body>
</html>

