{% extends "emails/colorful.html" %}

{% block body_classes%}{{super()}} {{type}}{% endblock %}
{% block body %}

{% macro link(entity, class='', id='') -%}
<a href="{{ entity.url }}" title="{{ entity.title or entity.fullname }}" class="{{ class }}" id="{{ id}}">
    {{ caller() }}
</a>
{%- endmacro %}

{% if recipient and recipient.name %}
    <h2 id="greeting" class="line">
        Hi {{ recipient.name }},
    </h2>
{% endif %}

{% block main_message scoped %}
    {% if header %}
    <h2 id="main_message">
            <div class="line" id="line1">
                {% if initiator %}
                    {% call link(initiator, class="sender") -%}
                        {{ initiator.name }}
                    {%- endcall %}
                {% endif %}
                {{ header[0] | safe }}
                {% block action_icon %}
                <img src="{{icon}}"/>
                {% endblock %}
            </div>
            <div class="line" id="line2">
                {{ header[1] | safe }}
            </div>
        </h2>
    {% endif %}
{% endblock %}

{% if message %}
    <p id="message">
        {% if message_safe %}
        {{ message | safe }}
        {% else %}
        {{ message | escape | html_breaks }}
        {% endif %}
    </p>
{% endif %}

{% if expr %}
  {% include 'emails/parts/expr_card.html' %}
{% endif %}

{% block below_card %}{% endblock %}

{% if featured_exprs %}
  {% from "emails/parts/featured_exprs.html" import expr_cards %}
  {{ expr_cards(featured_exprs, None if featured_type == 'site' else initiator) }}
{% endif %}

{% block footer_message scoped %}
    <h4 id="footer_message">
        {% if recipient and recipient.id %}
            Love NewHive?<br/>
            <a class="highlight" href="{{ server_url | modify_query({'loadDialog': 'email_invites'}) }}" title="Invite your friends">Invite your friends!</a>
        {% else %}
            Want to make your own expression?<br/>
            <a class="highlight" href="{{signup_url}}" title="Create your account">Create your NewHive account!</a>
        {% endif %}
    </h4>
{% endblock %}

{% endblock %}
