{% extends "emails/site.html" %}

{% block main_message %}
  <h2>
    {% if initiator %}
      Congratulations!<br/>
      Your friend <a href={{initiator.url}} class="active">{{ initiator.fullname }}</a>
      has invited you to join <span class="active">NewHive</span>,
      your online blank canvas <span class="plus">+</span>
      self-publishing toolkit.
    {% else %}
      <span class="active">Congratulations!</span> You've<br/>
      been invited to join NewHive,<br/>
      your online blank canvas <span class="plus">+</span><br/>
      self-publishing toolkit.
    {% endif %}
  </h2>
{% endblock %}

{% block lower_content %}
  <h2 id="create_account" class="cta"><a href="{{url}}">
      <span>
          Click here to
      </span><br/><span>
          create your account
      </span>
  </a></h2>
{% endblock lower_content %}
