{% extends "emails/expr_action.html" %}

{% block main_message %}
<div id="milestone_card">
    <table><tr>
        <td width="310px">
            <h1>{{ milestone | large_number }}</h1>
        </td>
        <td>
            <img src="{{ 'skin/nav/views-lg.png'
              |asset_url(abs=True, http=True) }}">
        </td>
    </tr></table>
    <h3>
        Your newhive has<br/>
        been viewed {{ milestone | number }} times!
    </h3>
</div>
{% endblock %}

{% block footer_message %}
    <h3 id="footer_message">
        <a class="color_selected" href="{{ server_url }}edit" title="Create a new newhive">
            Create a new newhive
        </a>
    </h3>
{% endblock %}
