{% extends "emails/site.html" %}

{% block main_message %}
<p>
  You have requested to reset the password for<br/>
  {% if users|count > 1 %}
    one of your newhive.com accounts.
  {% else %}
    <b class="active">{{ recipient.name }}</b> on <b class="active">newhive.com</b>.
  {% endif %}
</p>

<br>
{% for user in users %}
  <h2><a class="highlight" href="{{ user.recovery_link}}">
    Click here to<br>
    reset your password for {{ user.name }}
  </a></h2><br>
{% endfor %}

<p>
  Thank you,<br/>
  <b>NewHive</b>
</p>

{% endblock %}
