{% extends "emails/colorful.html" %}
{% block body %}
<h2 style="margin: 20px 0 0 45px; font-size: 40px; letter-spacing: -2px; padding-left: 12px; background-color: #ffffff; width: 484px;">
  Hi <span style="color: #f72e4d;">{{user_fullname}}</span>,
</h2>
<p style="font-size: 18px; padding: 0 57px; line-height: 21px; margin-top: 30px;">
  You have requested to reset the password for {{ user_name }} on thenewhive.com.
</p>

<p style="font-size: 18px; padding: 0 57px; line-height: 21px; margin-top: 30px;">
  Your new password is <span style="font-size: 22px; font-family: courier, monospace;">{{password}}</span>
</p>

<p style="font-size: 18px; padding: 0 57px; line-height: 21px; margin-top: 30px;">
  After logging in with this temporary password, please visit 
  <a href="https://thenewhive.com/settings" style="text-decoration: none; color: #7ba008;">settings</a> 
  to change your password.
</p>

<p style="font-size: 18px; padding: 0 57px; line-height: 21px; margin-top: 30px; margin-bottom: 50px;">
  <strong>Thank you,</strong><br/> 
  The New Hive team
</p>
{% endblock %}
