{% extends "emails/site.html" %}
{% from "emails/parts/featured_exprs.html" import expr_cards with context %}

{% block main_message %}
    <h2>
      Welcome to NewHive!
     <hr>
    </h2>
    <h3>
      NewHive is your new blank canvas.
      Create Newhives (private or public)
      and find people + tags to follow.
    </h3>
{% endblock %}


{% block lower_content %}
  <div id="profile"><a href="{{profile_link}}" title="View Your Profile"
    ><img src="{{profile_icon}}"/></a></div>
  <div id="create"><a href="{{create_link}}" title="Create an Newhive"
      ><img src="{{create_icon}}"/></a></div>
  <div id="follow"><a href="{{follow_link}}" title="Follow People and Collections"
      ><img src="{{follow_icon}}"/></a></div>
{% endblock %}
