<div id='dia_share_shield'></div>
<div id='dia_share' class='dialog border selected' >
    <div id="btn_dialog_close"></div>
    <div id="congrats_message" class="line center">
        <h1>Share this expression:</h1>
    </div>
    <div class="line">
        <div class="label medbold">Link</div>
        <code id="expression_url">test.thenewhive.com/dummyurl</code>
        <div id="btn_url_copy_wrapper" style="position:relative">
          <div id="btn_url_copy"></div>
        </div>
    </div>
    <div class="line"></div>
    <div id="like_buttons" class="line center">
        <img src='/lib/skin/1/twitter.png' title='Share on Twitter' style='width:32px;height:32px' onclick="
            _gaq.push(['_trackEvent', 'share', 'twitter']); 
            new_window('http://twitter.com/share?url=' + encodeURIComponent(window.location), 550, 425)"/>
        <img src='/lib/skin/1/facebook.png' title='Share on Facebook' style='width:32px;height:32px' onclick="
            _gaq.push(['_trackEvent', 'share', 'facebook']); 
            new_window('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(window.location), 755, 425)"/>
        <a href="http://www.reddit.com/submit" onclick="
            _gaq.push(['_trackEvent', 'share', 'reddit']); 
            window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false">
        <img src="/lib/skin/1/reddit.png" alt="submit to reddit" border="0" />
        </a>
        <g:plusone count="false" onclick="_gaq.push(['_trackEvent', 'share', 'plusone']);"></g:plusone>
    </div>
    <form id='mail_form' action='{{ secure_server }}' method='POST'>
        <input type='hidden' name='forward' value='{{ url|e }}'/>
        <input type='hidden' name='action' value='mail_them'/>
        <input type='hidden' name='subject' value='{{ user.fullname|e }} has sent you an expression'/>
        <div class="line">
            <div class='medbold label'>Email(s) </div>
            <input type='text' size='35' name='to'/>
            <input id='send_copy' type='checkbox' name='send_copy' checked><label for='send_copy'> Send me a copy</label>
        </div>
        <div class="line">
            <div class='medbold label'>Message</div>
            <textarea id='email_message' class="element" cols='40' rows='4' name='message'>Check out this expression:
             {{ url }}</textarea>
            <input id='email_send' type='submit' class='btn black' value='Send' onclick="_gaq.push(['_trackEvent', 'share', 'email']);">
        </div>
    </form>

    <br/>
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
</div>
