<div id='dia_share_shield'></div>
<div id='dia_share' class='dialog border selected' >
  <div id="congrats_message">
    <h1><strong>Great work!</strong> Now your<br/>expression is ready to share. :)</h1>
  </div>
    <div id="expression_url">
        <pre>test.thenewhive.com/dummyurl</pre>
    </div>
    <h3>Share this link on your facebook, email, business cards, etc!</h3>

    <form style='display:none;' id='mail_form' action='{{ secure_server }}' method='POST'>
        <input type='hidden' name='forward' value='{{ url|e }}'/>
        <input type='hidden' name='action' value='mail_them'/>
        <div class='medbold'>Email(s)</div>
        <input type='text' size='30' name='to'/>
        <div class='spacer'></div>
        <input type='hidden' name='subject' value='{{ user.fullname|e }} has sent you an expression'/>
        <div class='medbold'>Message</div>
        <textarea cols='30' rows='5' name='message'>Check out this expression:

        {{ url }}</textarea>
        <div class='spacer'></div>
        <input id='send_copy' type='checkbox' name='send_copy' checked><label for='send_copy'> Send me a copy</label>
        <div class='spacer'></div>
        <div style='text-align : center'><input id='email_send' type='submit' class='btn black' value='Send'
         onclick="_gaq.push(['_trackEvent', 'share', 'email']);"></div>
        <div class='spacer'></div>
        <div class='spacer'></div>
    </form>
    <img src='/lib/skin/1/twitter.png' title='Share on Twitter' style='width:32px;height:32px' onclick="
        _gaq.push(['_trackEvent', 'share', 'twitter']); 
        new_window('http://twitter.com/share?url=' + encodeURIComponent(window.location), 550, 425)"/>
    <img src='/lib/skin/1/facebook.png' title='Share on Facebook' style='width:32px;height:32px' onclick="
        _gaq.push(['_trackEvent', 'share', 'facebook']); 
        new_window('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(window.location), 755, 425)"/>
    <a href="http://www.reddit.com/submit" onclick="
        _gaq.push(['_trackEvent', 'share', 'reddit']); 
        window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false">
        <img src="/lib/skin/1/reddit.png" alt="submit to reddit" border="0" />
    </a>
    <g:plusone count="false" onclick="_gaq.push(['_trackEvent', 'share', 'plusone']);"></g:plusone>
    <br/>
    <div id="btn_close_dialog" class="nav_icon medbold hoverable text">OK, View My Expression</div>
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
</div>
