{% extends "base.html" %}
{% from "macros/main.html" import listen_button, star_button, share_button, create_button, discussion_button, starrers_menu, context_to_string, person_thumb %} 

{% block head %}
<script>
  var fb_logged_in = false;
  window.fbAsyncInit = function() {
    FB.init({
      appId      : {{facebook_app_id|json}}, // App ID
      //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    FB.getLoginStatus(function(data){
        if (data.authResponse && data.authResponse.userID == fb_id) {
            fb_logged_in = true;
        }
    });
    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
{% endblock head %}
{% block body_classes %}{{ super() }} main {% endblock body_classes%}

{% block main %}
  <div id='user_nav_handle' class='menu_handle'></div>
  <div id='user_nav' class='nav'
    ><a href='{{ server_url }}'><div id='logo' class='hoverable icon left_edge'></div></a
    {% if user.logged_in %}
      {# ><div id='username' class='text center text_btn hoverable name'
        >{{ user.name }}<div class='count rounded{{ ' zero' if not user.notification_count }}'>{{ user.notification_count }}</div></div #}
      ><div id='user_btn' class='hoverable center text_btn'
        ><img class='user_thumb {{ 'none' if not user.has_thumb }}' src='{{ user.get_thumb(70) }}'
        ><div class='text name'>{{ user.name }}<div class='count rounded
          {{ ' zero' if not user.notification_count }}'>{{ user.notification_count }}</div></div
      ></div
    {% endif %}
    ><div id='create_btn' class='center hoverable right_edge'
      ><a href='{{ create }}' onclick='return require_login()'
        ><div class='text'>Create</div
        ><div id='create_icon' class='icon right_edge'></div
      ></a></div
  ></div>

  <div id='hive_menu' class='menu'>
    {% if user.logged_in %}
      <div id='hive_btns' class='btns'
        ><a href='{{ server_url }}'><div class='menu_item default'>My Network</div></a
        ><a href='{{ server_url }}/home/expressions'><div class='menu_item'>Featured</div></a
        ><a href='{{ server_url }}/home/people'><div class='menu_item'>People</div></a
      ></div>
    {% endif %}
    <a href='{{ server_url }}random'><div class='random_btn icon hoverable rounded' title="View Random Expression"></div></a>
    <form method='GET' action='{{ server_url }}search' name='search_form'>
      <input type="text" id="search_box" placeholder="Search" name='q' value='{{ q.q|e }}' class='scale'/>
      <div class='hoverable icon scale submit' title='Submit search' onclick='document.forms.search_form.submit()'></div>
    </form>
  </div>

  {% if user.logged_in %}
    <div id='user_menu' class='menu feed_menu'>
      <a href='{{ home_url }}'><div class='menu_item default'>Expressions</div></a>
      <div class='thumbs'>
        {% for expr in user.expr_page(limit=5) -%}
          <a href='{{ expr.url }}'><img src='{{ expr.thumb }}' class='thumb'></a>
        {%- endfor %}
      </div>
      <div id='user_btns' class='btns'
        ><div class='menu_item'>Invite friends!</div
        ><div class='menu_item'>Settings</div
        ><form id='logout_form' action='{{ secure_server }}' method='POST'
          ><div onclick='$("#logout_form").submit()' class='menu_item'>Log out</div
          ><input name='action' value='logout' type='hidden'
          ><input type='hidden' name='url' value='{{ url }}'
        ></form
      ></div>
      <div class='bar'></div>
      <a href='{{ feed_url }}'><div class='menu_item'>Activity</div></a>
      <div id='user_activity_feed' class='items'>
        {% for feed in user.feed_profile(viewer=user, limit=15) %}
          {% include "partials/feed.html" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if not editing %}
    <div id='owner_nav_handle' class='menu_handle'></div>
    <div id='owner_nav' class='nav'
      {% set nav_begin = True %}
      {% if not user.logged_in %}
        ><div class='center'><div id='login_btn' class='text center hoverable text_btn left_edge'>Log In</div></div
        {% set nav_begin = False %}
      {% endif %}
      {% if owner %}
        ><div id='owner_btn' class='hoverable center{% if nav_begin %} left_edge{% endif %} text_btn'
          ><img class='user_thumb {{ 'none' if not owner.has_thumb }}' src='{{ owner.get_thumb(70) }}'
          ><div class='text name'><span>by </span><span class='owner_name'>{{ owner.name }}</span></div
        ></div
        {% set nav_begin = False %}
      {% endif %}
      ><div id='share_btn' class='hoverable center{% if nav_begin %} rounded{% else %} right_edge{% endif %}'
        ><div id='share_icon' class='icon{% if nav_begin %} left_edge{% endif %}'></div
        ><div class='text'>Share</div
      ></div
    ></div>

    {% if not user.logged_in %}
      <div id='login_menu' class='menu top'>
        <a href="{{facebook_authentication_url}}" onclick="_gaq.push(['_trackEvent', 'fb_connect', 'log_in_via_facebook']);">
          <img src='{{ 'skin/1/fb_sign_in.png'|asset_url }}' style='margin: 2px 0 2px -4px;'>
        </a>
        {% include 'page_parts/log_in.html' %}
      </div>
    {% endif %}

    {% if owner %}
      <div id='owner_menu' class='menu'>
        <a href='{{ owner.url }}' class='owner_url'><div class='menu_item default'>Expressions</div></a>
        <div class='thumbs'>
          {% for expr in owner.expr_page(limit=5) -%}
            <a href='{{ expr.url }}'><img src='{{ expr.thumb }}' class='thumb'></a>
          {%- endfor %}
        </div>
        {#<div class='menu_item'>Profile</div>#}
        <div class='menu_item listen off'>
          <span class='off'>Listen to</span>
          <span class='on' title="Stop listening">Listening to</span>
          <span class='owner_name'>{{ owner.name }}</span>
          <div class='icon'></div>
        </div>
        {#<div class='menu_item message'>Send message <div class='icon'></div></div>#}
        <div class='bar'></div>
        <div class='menu_item'>Activity</div>
        <div class='items'><b>Loading...</b></div>
      </div>
    {% endif %}

    <div id='share_menu' class='menu'>
      {% set here = url | urlencode %}
      {% set large_thumb = (expr.thumb if expr else "") | urlencode %}
      <div id="like_buttons">
        <div>
          <a class='facebook' onClick="logShare('facebook');" target="_blank" href='http://www.facebook.com/sharer.php?u={{ here }}'>
            <div class="like_button facebook">
              <img src='{{ 'skin/1/social/facebook.png'|asset_url }}' title='Share on Facebook'>
              <div class="count">&nbsp;{{ exp.analytic_count('facebook') | no_zero | large_number if exp and exp.id else zero_count_string }}&nbsp;</div>
            </div>
          </a>
          <a class='twitter' onClick="logShare('twitter');" target="_blank" href='http://twitter.com/share?url={{ here }}'>
            <div class="like_button twitter">
              <img src='{{ 'skin/1/social/twitter.png'|asset_url }}' title='Share on Twitter'>
              <div class="count">&nbsp;{{ exp.analytic_count("twitter") | no_zero | large_number if exp and exp.id else zero_count_string }}&nbsp;</div>
            </div>
          </a>
          <a class='tumblr' onClick="logShare('tumblr');" target="_blank" href="http://www.tumblr.com/share?v=3&u={{here}}">
            <div class="like_button tumblr">
              <img src='{{ 'skin/1/social/tumblr.png'|asset_url }}' title='Share on Tumblr'>
              <div class="count">&nbsp;{{ exp.analytic_count("tumblr") | no_zero | large_number if exp and exp.id else zero_count_string }}&nbsp;</div>
            </div>
          </a>
          <a class='pinterest' onClick="logShare('pinterest');" target="_blank" href="http://pinterest.com/pin/create/button/?url={{here}}&media={{large_thumb}}">
            <div class="like_button pinterest">
              <img src='{{ 'skin/1/social/pinterest.png'|asset_url }}' title='Share on Pinterest'>
              <div class="count">&nbsp;{{ exp.analytic_count("pinterest") | no_zero | large_number if exp and exp.id else zero_count_string }}&nbsp;</div>
            </div>
          </a>
        </div>
        <div>
          <a class='stumble' onClick="logShare('stumble');" target="_blank" href='http://www.stumbleupon.com/submit?url={{ here }}&title={{ title | e | urlencode }}' title="Submit to Stumbleupon">
            <div class="like_button stumble">
              <img src='{{ 'skin/1/social/stumbleupon.png'|asset_url }}'/>
              <div class="count">&nbsp;{{ exp.analytic_count("stumble") | no_zero | large_number if exp and exp.id else zero_count_string }}&nbsp;</div>
            </div>
          </a>
          <a class='gplus' onClick="logShare('gplus');" target="_blank" href="https://plusone.google.com/_/+1/confirm?hl=en-US&url={{ here }}" title="Google+">
            <div class="like_button gplus">
              <img src="{{ 'skin/1/social/plus_one.png'|asset_url }}"/>
              <div class="count">&nbsp;{{ exp.analytic_count('gplus') | no_zero | large_number if exp and exp.id else zero_count_string }}&nbsp;</div>
            </div>
          </a>
          <a class='linkedin' onClick="logShare('linkedin');" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{ here }}&title={{ title | e | urlencode }}" >
            <div class="like_button linkedin">
              <img src="{{ 'skin/1/social/linkedin.png'|asset_url }}" title="Share to Linked In"/>
              <div class="count">&nbsp;{{ exp.analytic_count('linkedin') | no_zero | large_number if exp and exp.id else zero_count_string }}&nbsp;</div>
            </div>
          </a>
          <a class='reddit' onClick="logShare('reddit');" target="_blank" href='http://www.reddit.com/submit?url={{ here }}' title="Submit to Reddit">
            <div class="like_button reddit">
              <img src='{{ 'skin/1/social/reddit.png'|asset_url }}'>
              <div class="count">&nbsp;{{ exp.analytic_count("reddit") | no_zero | large_number if exp and exp.id else zero_count_string }}&nbsp;</div>
            </div>
          </a>
        </div>
      </div>

      <div class='bar'></div>
      <div class='menu_item message'>Email <div class='icon'></div></div>
      <div class='menu_item embed'>Embed</div>
    </div>
  {% endif %}

  {% if not expr %}
    <script>
      (function(){
          hover_menu( '#logo', '#hive_menu', { offset_y: 8, open: function(){
              $('#search_box').get(0).focus(); } });
          if(logged_in) hover_menu( '#user_btn', '#user_menu', { offset_y: 8 });
  
          if(!logged_in) {
              var login_menu = hover_menu( '#login_btn', '#login_menu', {
                      open: function() { $('#username').get(0).focus(); },
                      close_delay: 1000,
                      offset_y: 8,
                      layout_x: 'right',
                  } );
              {% if error %} login_menu.open().sticky = true; {% endif %}
          }
          {% if owner %}
              hover_menu('#owner_btn', '#owner_menu', { offset_y: 8, layout_x: 'right'});
          {% endif %}
          hover_menu('#share_btn', '#share_menu', { offset_y: 8 });
      })();
    </script>
  {% endif %}

  {% block body %}
  {% endblock body %}
  <div id="fb-root" style="position: fixed; top: 0; left: 0;"></div>
  <div id='content'>
    {% block content %}
      <div id="header">
        {% block header %}{% endblock %}
      </div>
      <div id="primary_content">
        <div id="left_column">
          {% block left_column %}{% endblock %}
        </div>
        <div id="right_column">
          {% block right_column %}{% endblock %}
        </div>
      </div>
    {% endblock content %}
  </div>

  <div id='dialogs'>
    {% block dialogs %}
    {% include 'dialogs/share.html' %}
      {% if user.logged_in %}
          {% include 'dialogs/referral.html' %}
          {% include 'dialogs/facebook_connect.html' %}
          {% include 'dialogs/sent_invites_thanks.html' %}
          {% include 'dialogs/relogin.html' %}
      {% else %}
          {% include 'dialogs/sign_in_or_join.html' %}
          {% include 'dialogs/signup.html' %}
          {% include 'dialogs/password_recovery.html' %}
          {% include 'dialogs/must_login.html' %}
      {% endif %}

      {% if dialog_to_show.name == '#dia_fb_account_duplicate' %}
          {% include 'dialogs/fb_account_duplicate.html' %}
      {% endif %}

      {% if new_fb_connect %}
          {% include 'dialogs/fb_connect_landing.html' %}
      {% endif %}

    {% endblock dialogs %}
  </div>
{% endblock main %}
