{% extends "base.html" %}
{% from "macros/main.html" import listen_button, star_button, share_button, create_button, discussion_button, starrers_menu, context_to_string, person_thumb %} 

{% block head %}
<script>
  var fb_logged_in = false;
  window.fbAsyncInit = function() {
    FB.init({
      appId      : {{facebook_app_id|json}}, // App ID
      //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    FB.getLoginStatus(function(data){
        if (data.authResponse && data.authResponse.userID == fb_id) {
            fb_logged_in = true;
        }
    });
    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
{% endblock head %}
{% block body_classes %}{{ super() }} main {% endblock body_classes%}

{% block main %}
  <div id='nav_hive' class='nav'
    ><div id='logo' class='hoverable icon'></div
    {% if user.logged_in %}
      ><div id='username' class='text center text_btn hoverable name'>{{ user.name|capitalize }}</div
    {% endif %}
    ><div id='create_btn' class='center hoverable'
      ><a href='{{ create }}' onclick='return require_login()'
        ><div class='text'>Create</div
        ><div id='create_icon' class='icon'></div
      ></a></div
  ></div>
  {% if user.logged_in %}
    <div id='user_menu' class='menu feed_menu'>
      <div id='user_btns'
        ><div class='menu_item'>Profile</div
        ><div class='menu_item'>Invite friends!</div
        ><div class='menu_item'>Settings</div
        ><form id='logout_form' action='{{ secure_server }}' method='POST'
          ><div onclick='$("#logout_form").submit()' class='menu_item'>Log out</div
          ><input name='action' value='logout' type='hidden'
        ></form
      ></div>
      <div class='bar'></div>
      {% for feed in user.feed_profile(viewer=user, limit=7) %}
        {% include "partials/feed.html" %}
      {% endfor %}
    </div>
    <script>hover_menu( '#username', '#user_menu', { offset_y: 5 } )</script>
  {% endif %}

  <div id='nav_content' class='nav'
    {% if not user.logged_in %}
      ><div class='center'><div id='login_btn' class='text center hoverable text_btn'>Log In</div></div
    {% endif %}
    {% if owner and not user_is_owner %}
      ><div id='owner_btn' class='hoverable center'
        {% if owner.has_thumb() %}
          ><img id='owner_thumb' src='{{owner.get_thumb(70)}}'
        {% endif %}
        ><div id='owner_name' class='text name'>{{ owner.name|capitalize }}</div
      ></div
    {% endif %}
    ><div id='share_btn' class='hoverable center'
      ><div id='share_icon' class='icon'></div
      ><div class='text'>Share</div
    ></div
    ><div id='plus_btn' class='icon hoverable'></div
  ></div>
  {% if not user.logged_in %}
    <div id='login_menu' class='menu top'>
      <a href="{{facebook_authentication_url}}" onclick="_gaq.push(['_trackEvent', 'fb_connect', 'log_in_via_facebook']);">
        <img src='{{ 'skin/1/fb_sign_in.png'|asset_url }}' style='margin: 2px 0 2px -4px;'>
      </a>
      {% include 'page_parts/log_in.html' %}
    </div>
    <script>
      $(function() {
          var login_menu = hover_menu( '#login_btn', '#login_menu', {
              open: function() { var e = $('#username').get(0); e.focus(); e.select(); },
              close_delay: 1000,
              auto_close: false,
              click_persist: '#login_menu',
              offset_y: 5
          } );
          {% if error %} login_menu.open(); {% endif %}
      });
    </script>
  {% endif %}
  {% if owner and not user_is_owner %}
    <div id='owner_menu' class='menu'>
      <div class='menu_item'>Expressions</div>
      <div class='bar'></div>
      <div class='menu_item'>Follow {{ owner['name'] }}</div>
      <div class='menu_item'>Send message</div>
      <div class='bar'></div>
    </div>
    <script>hover_menu('#owner_btn', '#owner_menu', { offset_y: 5 });</script>
  {% endif %}

  {% block body %}
  {% endblock body %}
  <div id="fb-root" style="position: fixed; top: 0; left: 0;"></div>
  <div id='content'>
    {% block content %}
      <div id="header">
        {% block header %}{% endblock %}
      </div>
      <div id="primary_content">
        <div id="left_column">
          {% block left_column %}{% endblock %}
        </div>
        <div id="right_column">
          {% block right_column %}{% endblock %}
        </div>
      </div>
    {% endblock content %}
  </div>

  {% if user.logged_in %}
    <img id='feedback_btn' style='position : fixed; bottom:0; right:0' src='{{ 'skin/1/feedback_btn.png'|asset_url }}' class='top hoverable tip_none' title='Send feedback'>
    <script>
      $('#feedback_btn').click(function() {
        new_window('{{ secure_server }}feedback?url=' + window.location, 470, 400);
      });
    </script>
  {% endif%}
  
  <div id='dialogs'>
    {% block dialogs %}
      {% include 'dialogs/ie_warning.html' %}
      {% include 'dialogs/share.html' %}
      {% include 'dialogs/password.html' %}

      {% if user.logged_in %}
          {% include 'dialogs/referral.html' %}
          {% include 'dialogs/facebook_connect.html' %}
          {% include 'dialogs/sent_invites_thanks.html' %}
          {% include 'dialogs/relogin.html' %}
      {% else %}
          {% include 'dialogs/sign_in_or_join.html' %}
          {% include 'dialogs/signup.html' %}
          {% include 'dialogs/password_recovery.html' %}
          {% include 'dialogs/must_login.html' %}
      {% endif %}

      {% if dialog_to_show == '#dia_fb_account_duplicate' %}
          {% include 'dialogs/fb_account_duplicate.html' %}
      {% endif %}

      {% if new_fb_connect %}
          {% include 'dialogs/fb_connect_landing.html' %}
      {% endif %}
    {% endblock dialogs %}
  </div>
{% endblock main %}
