{% extends "base.html" %}

{% block main %}
<div id='bg' {% if exp and exp.background and exp.background.color %}style='background-color : {{ exp.background.color }}'{% endif %}
>{#% if exp and exp.background.url and exp.background.fill == 'stretch' %}<img src='{{ exp.background.url }}' onload='background_fit(this)' style='width:100%'>{% endif %#}</div>

<div id='dialog_shield'></div>
{% include 'dialogs/share.html' %}
{% if user.logged_in %}
  {% include 'dialogs/referral.html' %}
{% endif %}
<div class='nav' id='nav_bg'></div>
<div class='nav' style='font-weight : bold'>
 <a href='{{ server }}'><img id='logo' class='hoverable' style='left : 5px; top : 0px; height : 50px; vertical-align : middle' src={{ icon }}></a>
 {% if user.logged_in %}
  <div class='nav_icon medbold' style='left : 50px; top : 0;'><a href='{{ home_url }}'>{{ user['name'] }}</a></div>
  <img id='user_menu_handle' src='{{ server }}lib/skin/1/drop_arrow.png'>
  <div id='user_menu' class='menu'>
   <form name='logout_form' action='{{ secure_server }}' method='POST'>
    <input name='action' value='logout' type='hidden'>
   </form>
   <div class='menu_item' onclick='document.logout_form.submit()'>Logout</div>
   {% if user.referrals > 0 %}
     <div class='menu_item' onclick='showDialog("#dia_referral")'>Referrals</div>
  {% endif %}
   <!--<div class='menu_item'>Change&nbsp;icon</div>
   <div class='menu_item'>Settings</div>-->
  </div>
  <script>hover_menu($('#user_menu_handle'), $('#user_menu'));</script>
 {% else %}
  <a href='{{ server }}'><div style='left : 42px; top : -2px;' class='nav nav_icon'><img src='/lib/skin/1/logotype.png'><img src='/lib/skin/1/logotype_beta.png'></div></a>
 {% endif %}
</div>

{% if not user.logged_in %}
 <div class='nav' style='right : 10px; top : 0px;'>
  <div id='login_btn' class='btn hoverable nav_icon text' value='Log In'>Log In</div>
  <div id='login_menu' class='menu top'>
   <form id='login_form' action='{{ secure_server }}' method='POST'>
    {% if error %}<div id='login_error' class='error'>{{ error }}</div><br>{% endif %}
    <span>Username</span><br>
    <input id='username' type='text' name='username' value='{{ user['name'] }}'>
    <div class='spacer'></div>
    <span>Password</span><br>
    <input type='password' name='secret'><br>
    <input id='expires' type='checkbox' name='no_expires'><label for='expires'> Remember me</label>
    <br><br>
    <div style='text-align : center'><input id='login_submit' type='submit' class='btn black rounded' value='Enter'></div>
    <input type='hidden' name='action' value='login'>
   </form>
  </div>
 </div>

 <script>
$(function() {
 var login_menu = click_dialogue($('#login_btn'), $('#login_menu'),
     { open : function() { $('#username').get(0).focus(); $('#username').get(0).select(); } });
 {% if error %} login_menu.open() {% endif %}
 mail_menu = click_dialogue($('#welcome_btn'), $('#welcome_menu'));
 
 $('#send_msg').click(function() {
    $.post('/', { name : $('[name=name]').val(), message : $('[name=message]').val(), referral : $('[name=referral]').val(), email : $('[name=email]').val(), action : 'mail_us' }, function(data) {
            if(!data) alert('Sorry, there was a problem sending your message. Did you include your e-mail address?');
            else {
                $('#message').val('');
                alert('Thank you for your feedback');
                mail_menu.close();
            }
        }, 'json') });
});
 </script>

 <!--<div id='right' class='nav' style='position : fixed; top : 0; right : 10px;'>
  <div id='welcome_btn' class='btn hoverable nav_icon text' value='Sign Up'>Sign Up</div>
  <div id='welcome_menu' class='menu top'>
   <div><b>Name</b></div>
   <input type='text' style='width : 200px' name='name'>
   <div class='spacer'></div>
   <div><b>Email</b></div>
   <input type='text' style='width : 200px' name='email'>
   <div class='spacer'></div>
   <div><b>How did you hear<br/>about The New Hive?</b></div>
   <input type='text' style='width : 200px' name='referral'>
   <div class='spacer'></div>
   <div><b>How do you<br/>express yourself?</b></div>
   <input type='text' style='width : 200px' name='message'>
   <div class='spacer'></div>
   <div class='spacer'></div>
   <div style='text-align : right'><input type='button' id='send_msg' class='btn black rounded' value='Enter'></div>
  </div>
 </div>
 -->
{% endif %}

{% block body %}
{% endblock %}

<div id='content'>{% block content %}{% endblock %}</div>

{% if user.logged_in %}
 <img id='feedback_btn' style='position : fixed; bottom:0; right:0' src='/lib/skin/1/feedback_btn.png' class='top hoverable' title='Send feedback'>
 <script>
$('#feedback_btn').click(function() {
    new_window('{{ server }}feedback', 470, 400);
});
 </script>
{% endif%}

</div>

{% endblock %}
