<!DOCTYPE HTML>
<html>
<head>
 <link id='css_minimal' rel='stylesheet' type='text/css' href='{{ asset_bundle('minimal.css')[0] }}'>
 {% if debug %}{# unminified version for development #}
   <script src='http://code.jquery.com/jquery-1.7.2.js'></script>
 {% else %}
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
 {% endif %}
 {% block head %}{% endblock %}
</head>
<body class='{% block body_classes %}{% endblock %}'>
{% block body %}{% endblock %}
</body>
</html>
