<!DOCTYPE HTML>
<html>
<head>
  {% block meta %}{% endblock %}
  <link id='css_minimal' rel='stylesheet' type='text/css' href='{{ asset_bundle('minimal.css')[0] }}'>

  {% for item in asset_bundle('curl.js') %}
    <script src='{{ item }}'></script>
  {% endfor %}
  <script>
// configure curl
curl({
    baseUrl: {{ ('/lib/libsrc' if debug else '/lib')|json }},
    pluginPath: 'curl/plugin'
});
  </script>

  {% block head %}{% endblock %}
</head>
<body class='{% block body_classes %}{% endblock %}'>{% block body %}{% endblock %}</body>
</html>