{% extends "minimal.html" %}

{% block head %}
  {{ super() }}
  <title>{{ ('NewHive' if not page_data.title else page_data.title)|e }}</title>
  <link rel='shortcut icon' type='image/png' href='{{ icon }}'>
  {% for item in asset_bundle('app.css') %}
    <link rel='stylesheet' type='text/css' href='{{ item }}'>
  {% endfor %}

  <script>
curl(['server/context', 'browser/js'], function(context, util){
    util.copy({
        user: {{ user.client_view(activity=20)|json }},
        error: {{ error|json }},
        is_secure: {{ is_secure|json }},
        page_data: {{ page_data|json }}
    }, context);
});
  </script>
{% endblock %}
