{% extends "minimal.html" %}

{% block head %}
  {{ super() }}
  <title>{{ ('NewHive' if not page_data.title else page_data.title)|e }}</title>
  <link rel='shortcut icon' type='image/png' href='{{ icon }}'>
  {% for item in asset_bundle('app.css') %}
    <link rel='stylesheet' type='text/css' href='{{ item }}'>
  {% endfor %}
  <script>
curl(['server/context', 'browser/js'], function(context, util){
    var server_data = {
        user: {{ user.client_view(activity=True)|json }},
        error: {{ error|json }},
        link_url: "{{ link_url }}",
        server_url: {{ server_url|json }}, secure_server: {{ secure_server|json }},
        content_server_url: {{ content_server_url|json }},
        secure_content_server_url: {{ secure_content_server_url|json }},
        is_secure: {{ is_secure|json }},
        config: {{ config.client_view()|json }}, /* streamified_url, streamified_client_id */
    };
    util.copy(server_data, context);
    context.page_data = {{ page_data|json }};
    if(context.page_data.owner.id == context.user.id) context.page_data.user_is_owner = true;
});
  </script>
{% endblock %}
