{% extends "base.html" %}

{% block head %}
 <script src='/lib/upload.js'      ></script>
 <script src='/lib/ee/main.js'     ></script>

 <script>
  Hive.Exp = {{ exp }}; // current expression from server
  Hive.Exp.path = {{ exp_path }};
 </script>

 <link rel='stylesheet' type='text/css' href='/lib/ee/main.css'>

 <style>
.control.drawer { position : fixed; text-align : left;
    background-color : white; display : none;
    border : 5px solid {{ colors['unselected'] }};
    }
.button.fontsize { width : 28px; height : 25px; background-image : url(/lib/skin/1/button.png);
    margin : 0; border : none; text-align : center; font-weight : bold; vertical-align : top; }
.fontsize .option.small { color : {{ colors[12] }}; text-align : center; vertical-align : bottom;
    width : 40px; height : 50px; line-height : .6em; padding : 10px; }
.fontsize .bigger .option.small { width : 70px; height : 135px; }
.fontsize .option.small:hover { background-color : {{ colors['selected'] }}; color : {{ colors[0] }} }
.drawer.fontname .option:hover { background-color : {{ colors['selected'] }}; }

#privacy { background-color : {{ colors['selected'] }}; color : {{ colors[0] }}; }
#save_submit { color : white; background-color : {{ colors[0] }}; }
 </style>
{% endblock %}

{% block body %}
<center class='top'>
 <div id='app_buttons'>
  <img id='insert_text'  class='insert_btn' src='/lib/skin/1/text.png' >
  <img id='insert_image' class='insert_btn' src='/lib/skin/1/image.png'>
  <img id='insert_video' class='insert_btn' src='/lib/skin/1/video.png'>
  <img id='insert_audio' class='insert_btn' src='/lib/skin/1/audio.png'>
  <img id='insert_shape' class='insert_btn' src='/lib/skin/1/shape.png'>
  <img id='insert_app'   class='insert_btn' src='/lib/skin/1/page.png' >
 </div>
</center>
<div id='menu_text' class='menu medbold'>
 <div class='menu_item'>Default</div>
 <div class='menu_item'>Header</div>
 <div class='menu_item'>Upload .txt</div>
</div>
<div id='menu_image' class='menu medbold'>
 <div class='menu_item'>image file</div>
 <div class='menu_item'>webcam</div>
</div>
<script>
hover_menu($('#insert_text'), $('#menu_text'));
hover_menu($('#insert_image'), $('#menu_image'));
</script>

<div id='right' class='top'>
 <img id='btn_grid' class='hoverable' src='/lib/skin/1/grid-off.png'>

 <span id='btn_save' class='medbold btn top'>
  Save
  <img id='user_menu_handle' src='/lib/skin/1/drop_arrow.png' class='hoverable'>
 </span>
</div>

<div id='menu_save' class='border top'>
 <div class='medbold'>{{ site }}/</div>
 <input id='url' type='text' value={{ exp_path }}>
 <div class='spacer'></div>
 <div class='medbold'>title</div>
 <textarea id='title'>{{ title }}</textarea>
 <div class='spacer'></div>
 <div class='spacer'></div>
 <div id='privacy' style='float : left;' class='medbold btn'>
  Private
  <img id='user_menu_handle' src='/lib/skin/1/drop_arrow.png'>
 </div>
 <div id='save_submit' style='float : right;' class='medbold btn'>Save</div>

 <div id='menu_privacy' class='menu' style='width : 125px'>
  <div class='menu_item selected'>Private</div>
  <div class='menu_item'>Share</div>
  <div class='menu_item'>Public</div>
 </div>
</div>
<script>
click_dialogue($('#btn_save'), $('#menu_save'));
hover_menu($('#privacy' ), $('#menu_privacy'));
$('#save_submit').click(save);
</script>

<div id='controls_common' class='controls'>
 <img class='control undo   hoverable' src='/lib/skin/1/undo.png'>
 <img class='control copy   hoverable' src='/lib/skin/1/copy.png'>
 <img class='control remove hoverable' src='/lib/skin/1/delete_sm.png'>
 <div class='control stack'><img class='stack_up hoverable' src='/lib/skin/1/stack_up.png'><img class='stack_down hoverable' src='{{ server }}lib/skin/1/stack_down.png'></div>
 <img class='control resize hoverable' src='/lib/skin/1/resize.png'>
</div>

<div id='controls_text' class='controls'>
 <img class='control resize_h hoverable' src='/lib/skin/1/resize_h.png'>
 <div class='control buttons'
  ><img class='button link hoverable'     src='/lib/skin/1/link.png'
  ><input value='13' class='button fontsize hoverable'            
  ><img class='button fontname'           src='/lib/skin/1/font.png'
  ><img class='button color'              src='/lib/skin/1/color.png'
  ><img class='button bold hoverable'     src='/lib/skin/1/bold.png'     cmd='bold'
  ><img class='button italic hoverable'   src='/lib/skin/1/italic.png'   cmd='italic'
  ><img class='button align'              src='/lib/skin/1/justify.png'  
  ><img class='button unformat hoverable' src='/lib/skin/1/unformat.png' cmd='removeformat'
 ></div
 ><div class='control drawer fontsize'
  ><div
   ><div class='option small' style='font-size :  .5em' val =  '.5em'>a</div
   ><div class='option small' style='font-size :   1em' val =   '1em'>a</div
   ><div class='option small' style='font-size : 1.5em' val = '1.5em'>a</div
   ><div class='option small' style='font-size :   2em' val =   '2em'>a</div
   ><div class='option small' style='font-size :   3em' val =   '3em'>a</div
  ></div><div class='bigger'
   ><div class='option small' style='font-size :   5em' val =   '5em'>a</div
   ><div class='option small' style='font-size :   8em' val =   '8em'>a</div
   ><div class='option small' style='font-size :  11em' val =  '11em'>a</div
  ></div
 ></div
 ><div class='control drawer fontname'
  ><div class='option' style='font-family:Arial'       cmd='fontname' val='Arial'      >Arial      </div
  ><div class='option' style='font-family:Georgia'     cmd='fontname' val='Georgia'    >Georgia    </div
  ><div class='option' style='font-family:Helvetica'   cmd='fontname' val='Helvetica'  >Helvetica  </div
  ><div class='option' style='font-family:Courier New' cmd='fontname' val='Courier New'>Courier New</div
  ><div class='option' style='font-family:Times'       cmd='fontname' val='Times'      >Times      </div
  ><div class='option' style='font-family:Trebuchet'   cmd='fontname' val='Trebuchet'  >Trebuchet  </div
 ></div
 ><div class='control drawer color'></div
 ><div class='control drawer align'
  ><div
   ><img class='option small hoverable' cmd='justifyleft'    src='/lib/skin/1/justify_left.png' 
   ><img class='option small hoverable' cmd='justifyright'   src='/lib/skin/1/justify_right.png'
  ></div
  ><div
   ><img class='option small hoverable' cmd='justifycenter'  src='/lib/skin/1/justify_center.png'
   ><img class='option small hoverable' cmd='justifyfull'    src='/lib/skin/1/justify_full.png'  
  ></div
 ></div>
</div>

<div id='image_src' class='controls'>
 <div class='buttons'
  ><div class='button link'     ><img src='/lib/skin/1/link.png'   ></div
 ></div>
</div>

<div id='shape_src' class='controls'>
 <div class='control buttons control'
  ><div class='button color fill'><img src='/lib/skin/1/color.png'  ></div
  ><div class='button color stroke'><img src='/lib/skin/1/color.png'  ></div
 ></div
 ><div class='control drawer color fill'></div
 ><div class='control drawer color stroke'></div
</div>

{% endblock %}
