{% extends "minimal.html" %}

{% block head %}
  {{ super() }}
  <title>{{ ('NewHive' if not context.title else title)|e }}</title>
  <link rel='shortcut icon' type='image/png' href='{{ icon }}'>
  {% for item in asset_bundle('app.css') %}
    <link rel='stylesheet' type='text/css' href='{{ item }}'>
  {% endfor %}
  <script>
curl(['server/context', 'browser/js'], function(context, util){
    var server_data = {
        user: {{ user.client_view(activity=True)|json }}, /* config? debug? */
        error: {{ error|json }},
        link_url: "{{ link_url }}",
        server_url: {{ server_url|json }}, secure_server: {{ secure_server|json }},
        content_server_url: {{ content_server_url|json }},
        secure_content_server_url: {{ secure_content_server_url|json }},
        is_secure: {{ is_secure|json }},
        config: {{ config.client_view()|json }}, /* streamified_url, streamified_client_id */
    };
    util.copy(server_data, context);
    console.log('set server_data');
    util.copy({{ context|json }}, context);
});
  </script>
{% endblock %}
