{% extends "base.html" %}

{% block head %}
 {{ css }}
 <script>
var home_url = '{{ home_url }}'
function create() {
    // server_url(subdomain, path)
    d = new Date();
    temp_name = d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate() +
        '_' + d.getHours() + ':' + d.getMinutes();
    window.location = home_url + temp_name;
}
 </script>
{% endblock %}

{% block body %}
<div id='head'>

 <div class='right'>
  <!--
  <div class='edit_ctrl'>
   <img class='state_btn' src='{{ server }}/static/skin/1/share.png' >
  </div>
  -->
  <div class='edit_ctrl'>
   <!--<form action='/create' method='POST'>-->
   <a href='javascript:create()'><img src='{{ server }}/static/skin/1/create.png'></a>
  </div>

  <div class='edit_ctrl'>
   <span id='user_menu'>{{ username }}</span>
   <img src='{{ server }}/static/skin/1/menu.png'>
  </div>
 </div>
</div>

<br><br>
{{ expressions }}

{% endblock %}
