  <img id='btn_share' src='/lib/skin/1/share.png' class='hoverable nav_icon' title='share'>
  <div id='dia_share' class='menu' style='padding : 10px'>
   {% if user.logged_in %}
    <form id='mail_form' action='{{ secure_server }}' method='POST'>
     <input type='hidden' name='forward' value='{{ url|e }}'>
     <input type='hidden' name='action' value='mail_them'>
     <div class='medbold'>Email(s)</div>
     <input type='text' size='30' name='to'>
     <div class='spacer'></div>
     <input type='hidden' name='subject' value='{{ user.fullname|e }} has sent you an expression'>
     <div class='medbold'>Message</div>
     <textarea cols='30' rows='5' name='message'>Check out this expression:

{{ url }}</textarea>
     <div class='spacer'></div>
     <input id='send_copy' type='checkbox' name='send_copy' checked><label for='send_copy'> Send me a copy</label>
     <div class='spacer'></div>
     <div style='text-align : center'><input id='email_send' type='submit' class='btn black' value='Send'></div>
     <div class='spacer'></div>
     <div class='spacer'></div>
    </form>
   {% endif %}
   <img style='width:32px;height:32px' onclick="javascript:new_window('http://twitter.com/share?url=' + encodeURIComponent(window.location), 550, 425)" src='/lib/skin/1/twitter.png' title='Share on Twitter'>
   <img style='width:32px;height:32px' onclick="javascript:new_window('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(window.location), 755, 425)" src='/lib/skin/1/facebook.png' title='Share on Facebook'>
   <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"><img src="/lib/skin/1/reddit.png" alt="submit to reddit" border="0" /></a>
  </div>
  <script>
share_menu = click_dialogue($('#btn_share'), $('#dia_share'));
  </script>
