<div id='dia_password_recovery' class='dialog border selected center'>
 <form method='POST' action='/'>
   <input type='hidden' name='action' value='password_recovery_1'/>
  <h2>Reset your password</h2>
  Enter your e-mail address:<br>
  <input type='text' name='email' style="width: 165px;">
  <input type='image' src='{{ 'skin/1/sm_arrow.png'|asset_url }}' class='hoverable' style='vertical-align : middle' 
          onclick="return asyncSubmit('#dia_password_recovery form', function(data){closeDialog('#dia_password_recovery'); alert(data.message);}, {'dataType': 'json'});"> 
 </form>
</div>
