{% extends "pages/analytics/base.html" %}

{% set environ = error.get('environ') %}
{% block content %}
{% if error %}
<h1>{{ error.get('exception') }}</h1>
<pre>{{traceback|e}}</pre>

<h3>Date</h3>
<pre>{{ error.created | epoch_to_string }}</pre>

<h3>IP</h3>
<pre>{{ environ.REMOTE_ADDR }}</pre>

<h3>User</h3>
<pre>{{ user.name }}</pre>

<h3>WSGI Environment</h3>
<table>
  {% for key, val in environ.iteritems() %}
  <tr>
    <td>{{ key }}</td>
    <td>{{ val | e}}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}
{% endblock %}
