{% extends "pages/analytics/base.html" %}

{% block head %}
{{ super() }}
<style>
  .section { 
    float: left; 
    margin-right: 20px;
  }
  .item h4 {
      margin-bottom: 0;
  }
</style>
{% endblock head %}


{% block content %}
<h1>{{user_object.name}}</h1>

<div>
    <div class="item">
        <h4>User since</h4>{{ user_object.created | time }}
    </div>
    <div class="item">
        <h4>Email</h4>{{ user_object.email }}
    </div>
    <div class="item">
        <h4>
            Email Subscriptions
            <a href="/analytics/email_log/?recipient_name={{user_object.name}}">(see emails)</a>
        </h4>
        {{ user_object.email_subscriptions | join(', ') }}
    </div>
</div>

<div class='section'>
    <h3>Private Expressions: ({{expression_counts.private}})</h3>
    <table class='tablesorter'>
        <tr><th>Expression Name</th><th>Date Created</th></tr>
        {% for expr in private_expressions %}
        <tr>
            <td>XXXXXX</td>
            <td data-type="epoch_date">{{expr.created}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class='section'>
    <h3>Public Expressions: ({{expression_counts.public}})</h3>
    <table class='tablesorter'>
        <tr><th>Expression Name</th><th>Date Created</th><th>Views</th></tr>
        {% for expr in public_expressions %}
            <tr>
                <td><a href="{{expr.url}}">{{expr.name}}</a></td>
                <td data-type="epoch_date">{{expr.created}}</td>
                <td>{{expr.views}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class='section'>
    <h3>Action Log</h3>
    <table class='tablesorter'>
        <tr><th>Date</th><th>Action</th><th>Expression ID</th></tr>
        {% for item in action_log %}
            <tr><td data-type="epoch_date">{{item.created}}</td><td>{{item.action}}</td><td>{{item.expr_id}}</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
