{% from "macros/main.html" import person_thumb, listen_button %} 

{% if item.type == 'FriendJoined' %}
  <a href='{{ item.initiator.url }}'><div class='user card item border_right border_bottom with_hide' draggable='false' onclick="loadDialogPost('facebook_listen')">
    <input type='hidden' class='entity_id' value='{{ item.id }}'>
    {{ person_thumb(item.initiator.thumb, item.initiator.fullname) }}
    <div class='title'>{{ item.initiator.fullname }} joined</div>
    <div class='other'><span>{{ item.initiator.name }}</span></div>
    <div class='stats inactive_hide'>{{ listen_button(item.initiator, user) }}</div>
  </div></a>
{% endif %}
